<li id="check-consistency-assessment-tasks">
  <h2 class="app-task-list__section">
    <%= t(".check_application") %>
  </h2>
  <ul class="app-task-list__items">
    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
        <%= link_to(
        t(".description_documents_and"),
        consistency_checklist_path(consistency_checklist),
        class: "govuk-link"
        ) %>
      </span>
      <%= render(
        StatusTags::ConsistencyChecklistComponent.new(
          consistency_checklist: consistency_checklist
        )
      ) %>
    </li>
    <li class="app-task-list__item">
      <%= @planning_application.assessment_detail_tasklist(
        :past_applications
      ) %>
    </li>
    <% if @planning_application.planning_history_enabled? %>
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <%= link_to(
            t(".history"),
            planning_application_planning_history_path(@planning_application),
            class: "govuk-link"
          ) %>
        </span>
      </li>
    <% end %>
    <li class="app-task-list__item" id="permitted-development-right-tasklist">
      <%= @planning_application.permitted_development_right_tasklist %>
    </li>
  </ul>
</li>
