<li id="check-consistency-assessment-tasks">
  <h2 class="app-task-list__section">
    <%= t(".check_application") %>
  </h2>
  <ul class="app-task-list__items">
    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
        <%= link_to(
        t(".description_documents_and"),
        consistency_checklist_path(consistency_checklist),
        class: "govuk-link"
        ) %>
      </span>
      <% if consistency_checklist.blank? %>
        <%= not_started_tag %>
      <% elsif consistency_checklist.in_assessment? %>
        <%= in_progress_tag %>
      <% else %>
        <%= complete_tag %>
      <% end %>
    </li>
    <% if @planning_application.planning_history_enabled? %>
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <%= link_to "History", planning_application_planning_history_path(@planning_application), class: "govuk-link" %>
        </span>
      </li>
    <% end %>
  </ul>
</li>
