<%= render "shared/task_header", task: @task, heading: "Cancel validation request" %>

<h2 class="govuk-heading-m"><%= @form.validation_request.model_name.human %></h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-6">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Reason</dt>
    <dd class="govuk-summary-list__value">
      <%= render(FormattedContentComponent.new(text: @form.validation_request.reason)) %>
    </dd>
  </div>
  <% if @form.validation_request.suggestion.present? %>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">What the applicant needs to do</dt>
      <dd class="govuk-summary-list__value">
        <%= render(FormattedContentComponent.new(text: @form.validation_request.suggestion)) %>
      </dd>
    </div>
  <% end %>
</dl>

<%= form_with model: @form, url: @form.url, method: :patch do |form| %>
  <%= form.govuk_error_summary %>

  <%= form.hidden_field :validation_request_id %>

  <%= form.govuk_text_area :cancel_reason,
        label: {text: "Explain to the applicant why this request is being cancelled"},
        rows: 5 %>

  <div class="govuk-button-group">
    <%= form.govuk_task_button "Confirm cancellation", action: "cancel" %>
    <%= govuk_button_link_to "Back", @form.redirect_url, secondary: true %>
  </div>
<% end %>
