<%= render "shared/task_header", task: @task, heading: "Cancel validation request" %>

<h2 class="govuk-heading-m"><%= @validation_request.model_name.human %></h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-6">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Reason</dt>
    <dd class="govuk-summary-list__value">
      <%= render(FormattedContentComponent.new(text: @validation_request.reason)) %>
    </dd>
  </div>
  <% if @validation_request.suggestion.present? %>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">What the applicant needs to do</dt>
      <dd class="govuk-summary-list__value">
        <%= render(FormattedContentComponent.new(text: @validation_request.suggestion)) %>
      </dd>
    </div>
  <% end %>
</dl>

<%= form_with model: @form, url: cancel_request_path(@planning_application, task_slug: @task.full_slug, validation_request_id: @validation_request.id), method: :patch do |form| %>
  <%= form.govuk_error_summary %>

  <%= form.govuk_text_area :cancel_reason,
        label: {text: "Explain to the applicant why this request is being cancelled"},
        rows: 5 %>

  <div class="govuk-button-group">
    <%= form.govuk_submit "Confirm cancellation" %>
    <%= govuk_button_link_to "Back", task_path(@planning_application, @task), secondary: true %>
  </div>
<% end %>
