<% content_for :page_title do %>
  Cancel other validation request - <%= t('page_title') %>
<% end %>

<%= render "validation_requests/validation_requests_breadcrumbs" %>

<% content_for :title, "Cancel validation request" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-padding-top-6">
      Cancel validation request
    </h1>

    <h2 class="govuk-heading-m">
      Other request to be cancelled <%= "(fee)" if @other_change_validation_request.fee_item? %>
    </h2>

    <h3 class="govuk-heading-s">
      You requested
    </h3>

    <div class="govuk-inset-text">
      <p class="govuk-body">
        <strong><%= simple_format(@other_change_validation_request.summary) %></strong>
      </p>
      <p class="govuk-body">
        <%= simple_format(@other_change_validation_request.suggestion) %>
      </p>
      <p class="govuk-body">
      <%= @other_change_validation_request.created_at %>
      </p>
    </div>

    <%= render "validation_requests/cancel_confirmation_form",
        validation_request: @other_change_validation_request,
        cancel_request_url: cancel_request_url(@planning_application, @other_change_validation_request) %>
  </div>
</div>
