<% content_for :page_title do %>
  Add heads of terms - <%= t("page_title") %>
<% end %>

<%= render(
      partial: "shared/assessment_task_breadcrumbs",
      locals: {planning_application: @planning_application}
    ) %>

<% content_for :title, "Add heads of terms" %>

<%= render(
      partial: "shared/proposal_header",
      locals: {heading: "Add heads of terms"}
    ) %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body govuk-!-margin-top-5">
        Select and add the relevant heads of terms
      </p>

      <%= render "shared/warning_text", message: "This information WILL be made publicly available." %>
      <%= render "form" %>
  </div>
</div>
