<% if @reporting_types.any? %>
  <table class="govuk-table application-types-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">
          <%= t(".code") %>
        </th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-half">
          <%= t(".description") %>
        </th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-third">
          <%= t(".category") %>
        </th>
        <th scope="col" class="govuk-table__header govuk-!-text-align-right">
          <%= t(".action") %>
        </th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">
      <% @reporting_types.each do |reporting_type| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <%= reporting_type.code %>
          </td>
          <td class="govuk-table__cell govuk-!-text-wrap-balance">
            <%= reporting_type.description %>
          </td>
          <td class="govuk-table__cell">
            <ul class="govuk-list govuk-!-margin-bottom-0">
              <% reporting_type.human_categories.each do |category| %>
                <li class="govuk-!-margin-bottom-0"><%= category %></li>
              <% end %>
            </ul>
          </td>
          <td class="govuk-table__cell govuk-!-text-align-right">
            <%= link_to t(".edit"), edit_reporting_type_path(reporting_type), class: "govuk-link" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
