<%= form_with model: @planning_application,
      url: planning_application_review_cil_liability_url(@planning_application),
      class: "govuk-!-margin-top-7" do |form| %>
  <%= form.govuk_error_summary %>

  <%= render "planning_applications/review/cil_liability/audit_trail" %>

  <%= form.govuk_radio_buttons_fieldset(
        :cil_liability,
        small: true,
        legend: {size: "s", text: "Is the application liable for CIL?"}
      ) do %>
    <% if @planning_application.cil_liable.nil? %>
      <%= form.govuk_radio_button(:cil_liable, true, checked: @planning_application.likely_cil_liable?, label: {text: "Yes"}) %>
      <%= form.govuk_radio_button(:cil_liable, false, checked: @planning_application.cil_liability_planx_answer? && !@planning_application.likely_cil_liable?, label: {text: "No"}) %>
    <% else %>
      <%= form.govuk_radio_button(:cil_liable, true, checked: @planning_application.cil_liable, label: {text: "Yes"}) %>
      <%= form.govuk_radio_button(:cil_liable, false, checked: !@planning_application.cil_liable, label: {text: "No"}) %>
    <% end %>
  <% end %>

  <div class="govuk-button-group">
    <%= form.submit(
          t("form_actions.save_and_mark_as_complete"),
          class: "govuk-button",
          data: {module: "govuk-button"},
          disabled: local_assigns.fetch(:disabled, false)
        ) %>
  </div>
<% end %>
