<% content_for(:page_title) do %>
  <%= t(".page_title", id: @planning_application.id) %> - <%= page_title %>
<% end %>

<h1>
  Review pre-commencement condition
</h1>

<p>
  Pre-commencement conditions have been added to your application.
</p>

<h2>
  What you need to do:
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>review the term and select if you agree or disagree</li>
  <li>if you disagree, add a reason why</li>
  <li>submit your response</li>
</ul>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div id="pre-commencement-condition-suggestion">
  <h3 class="govuk-!-margin-bottom-1">
    Condition: <%= @validation_request.condition_title %>
  </h3>

  <%= render(FormattedContentComponent.new(text: @validation_request.condition_text)) %>
</div>

<div id="pre-commencement-condition-reason">
  <h3 class="govuk-!-margin-bottom-1">
    Reason
  </h3>

  <%= render(FormattedContentComponent.new(text: @validation_request.condition_reason)) %>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div id="validation-request-form">
  <%= form_with model: @validation_request, scope: :validation_request do |form| %>
    <%= hidden_field_tag(:planning_application_reference, @planning_application.reference) %>
    <%= hidden_field_tag(:change_access_id, @planning_application.change_access_id) %>

    <%= form.govuk_radio_buttons_fieldset(:approved, legend: {text: t(".legend")}) do %>
      <%= form.govuk_radio_button :approved, true, label: {text: t(".approved_label")} %>
      <%= form.govuk_radio_button :approved, false, label: {text: t(".rejected_label")} do %>
        <%= form.govuk_text_area :rejection_reason, label: {text: t(".rejection_reason_label")}, rows: 6 %>
      <% end %>
    <% end %>

    <%= form.govuk_submit "Submit" do %>
      <%= govuk_button_link_to "Back", validation_requests_path(
            planning_application_reference: @planning_application.reference,
            change_access_id: @planning_application.change_access_id
          ), secondary: true %>
    <% end %>
  <% end %>
</div>
