<% content_for :page_title do %>
  Add planning considerations and advice - <%= t("page_title") %>
<% end %>

<%= render(
      partial: "shared/assessment_task_breadcrumbs",
      locals: {planning_application: @planning_application}
    ) %>

<% content_for :title, "Add planning considerations and advice" %>

<%= render(
      partial: "shared/proposal_header",
      locals: {heading: "Add planning considerations and advice"}
    ) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render "tabs" %>

    <% @considerations.group_by(&:policy_area).each do |policy_area, considerations| %>
      <%= govuk_summary_card(title: policy_area, html_attributes: {id: policy_area.parameterize}) do |card| %>

        <% considerations.each do |consideration| %>
          <% if consideration.draft? %>
            <% if considerations.length == 1 %>
              <% card.with_action do %>
                <%= govuk_link_to("Remove", planning_application_assessment_consideration_guidance_path(@planning_application, consideration), method: :delete, data: {confirm: "Are you sure?"}) %>
              <% end %>
            <% end %>
          <% else %>
            <div class="govuk-grid-row" id="consideration_<%= consideration.id %>">
              <div class="govuk-grid-column-three-quarters">
                <p class="govuk-body-s"><strong><%= consideration.proposal %></strong></p>
              </div>
              <div class="govuk-grid-column-one-quarter" style="text-align: right;">
                <%= govuk_link_to "Edit", edit_planning_application_assessment_consideration_guidance_path(@planning_application, consideration) %> |
                <%= govuk_link_to "Remove", planning_application_assessment_consideration_guidance_path(@planning_application, consideration), method: :delete, data: {confirm: "Are you sure?"} %>
              </div>
            </div>

            <ul class="govuk-list">
              <li><%= summary_tag_label(consideration.summary_tag) %></li>
              <p class="govuk-body">
                <% consideration.policy_references.each do |reference| %>
                  <li class="govuk-body-xs"><%= reference.code_and_description %></li>
                <% end %>
              </p>
            </ul>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
          <% end %>
        <% end %>

        <%= govuk_details(
              summary_text: "Add advice", open: @consideration.errors.any? && @consideration.policy_area == policy_area
            ) do %>
          <div class="govuk-grid-row">
            <%= render "form", policy_area: policy_area, form_url: planning_application_assessment_consideration_guidances_path(@planning_application), form_method: :post %>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <%= govuk_details(summary_text: "Add a new consideration", open: @considerations.none? || @consideration.errors.any?) do %>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds" data-controller="consideration-form">
          <%= form_with model: @consideration, url: planning_application_assessment_consideration_guidances_path(@planning_application) do |form| %>
            <%= form.govuk_fieldset legend: {text: "Add a new consideration"} do %>
              <%= form.govuk_collection_select :policy_area,
                    current_local_authority.policy_areas.menu,
                    :last, :last, options: {include_blank: true},
                    label: {text: "Select policy area"},
                    data: {consideration_form_target: "policyAreaSelect"} %>
              <%= form.govuk_submit("Add consideration", secondary: true, class: "govuk-!-margin-bottom-2") %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

    <%= govuk_button_link_to(t("back"), planning_application_assessment_tasks_path(@planning_application), secondary: true) %>
  </div>
</div>
