<%= form_with(model: current_local_authority, url: profile_path, id: "profile-form") do |form| %>
  <%= form.govuk_error_summary %>

  <% if current_local_authority.notify_error_status.present? %>
  <div class="govuk-error-summary" data-module="govuk-error-summary">
    <div role="alert">
      <h2 class="govuk-error-summary__title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li>
            <% if current_local_authority.notify_error_status == "bad_notify_api_key" %>
              <a href="#">
                Enter a valid <%= t(".notify_api_key") %>
              </a>
            <% else %>
              <a href="#">
                Enter a valid <%= t(current_local_authority.notify_error_status.delete_prefix("bad_")) %> for the configured GOV.UK Notify account
              </a>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <% end %>

  <%= form.govuk_fieldset(legend: {text: nil}) do %>

  <%= form.govuk_text_field(
        :signatory_name,
        label: {text: t(".signatory_name"), class: "govuk-label govuk-label--m"},
        hint: {text: t(".signatory_name_hint")},
        class: "govuk-input--width-30"
      ) %>

  <%= form.govuk_text_field(
        :signatory_job_title,
        label: {text: t(".signatory_job_title"), class: "govuk-label govuk-label--m"},
        hint: {text: t(".signatory_job_title_hint")},
        class: "govuk-input--width-30"
      ) %>

  <%= form.govuk_text_field(
        :enquiries_paragraph,
        label: {text: t(".enquiries_paragraph"), class: "govuk-label govuk-label--m"},
        hint: {text: t(".enquiries_paragraph_hint")},
        class: "govuk-input--width-30"
      ) %>

  <%= form.govuk_text_field(
        :email_address,
        label: {text: t(".email_address"), class: "govuk-label govuk-label--m"},
        hint: {text: t(".email_address_hint")},
        class: "govuk-input--width-30"
      ) %>

  <%= form.govuk_text_field(
        :feedback_email,
        label: {text: t(".feedback_email"), class: "govuk-label govuk-label--m"},
        hint: {text: t(".feedback_email_hint")},
        class: "govuk-input--width-30"
      ) %>

  <%= form.govuk_text_field(
        :telephone_number,
        label: {text: t(".telephone_number"), class: "govuk-label govuk-label--m"},
        hint: {text: t(".telephone_number_hint")},
        class: "govuk-input--width-30"
      ) %>

  <%= form.govuk_text_field(
        :press_notice_email,
        label: {text: t(".press_notice_email"), class: "govuk-label govuk-label--m"},
        hint: {text: t(".press_notice_email_hint")},
        class: "govuk-input--width-30"
      ) %>

  <%= form.govuk_text_field(
        :reviewer_group_email,
        label: {text: t(".reviewer_group_email"), class: "govuk-label govuk-label--m"},
        hint: {text: t(".reviewer_group_email_hint")},
        class: "govuk-input--width-30"
      ) %>

  <%= form.govuk_text_field(
        :notify_api_key,
        label: {text: t(".notify_api_key"), class: "govuk-label govuk-label--m"},
        hint: {text: t(".notify_api_key_hint_html", notify_notion_link: govuk_link_to("Read our guide to Notify set up.", t(".notify_notion_link"), new_tab: true))},
        class: "govuk-input--width-30",
        type: "password"
      ) %>

  <%= form.govuk_text_field(
        :public_register_base_url,
        label: {text: t(".public_register_base_url"), class: "govuk-label govuk-label--m"},
        hint: {text: t(".public_register_base_url_hint")},
        class: "govuk-input--width-30"
      ) %>

  <%= form.govuk_text_field(
        :letter_template_id,
        label: {text: t(".letter_template_id"), class: "govuk-label govuk-label--m"},
        hint: {text: t(".letter_template_id_hint")},
        class: "govuk-input--width-30"
      ) %>

  <%= form.govuk_text_field(
        :email_reply_to_id,
        label: {text: t(".email_reply_to_id"), class: "govuk-label govuk-label--m"},
        hint: {text: t(".email_reply_to_id_hint")},
        class: "govuk-input--width-30"
      ) %>

  <%= form.govuk_text_field(
        :document_checklist,
        label: {text: t(".document_checklist"), class: "govuk-label govuk-label--m"},
        hint: {text: t(".document_checklist_hint")},
        class: "govuk-input--width-30"
      ) %>

  <%= form.govuk_text_field(
        :planning_policy_and_guidance,
        label: {text: t(".planning_policy_and_guidance"), class: "govuk-label govuk-label--m"},
        hint: {text: t(".planning_policy_and_guidance_hint")},
        class: "govuk-input--width-30"
      ) %>
  <% end %>

  <div class="govuk-button-group">
    <%= form.govuk_submit(t(".submit")) %>
    <%= back_link %>
  </div>
<% end %>
