<% content_for :page_title do %>
  <%= t(".profile") %> - <%= t("page_title") %>
<% end %>

<% add_parent_breadcrumb_link "Home", root_path %>

<% content_for :title, t(".profile") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <%= render "side_navigation" %>
  </div>
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-l">
      <%= t(".profile") %>
    </h1>

    <% if current_local_authority.notify_error_status.present? %>
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <% if current_local_authority.notify_error_status == "bad_notify_api_key" %>
                <a href="#">
                  Enter a valid <%= t(".notify_api_key") %>
                </a>
              <% else %>
                <a href="#">
                  Enter a valid <%= t(current_local_authority.notify_error_status.delete_prefix("bad_")) %> for the configured GOV.UK Notify account
                </a>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <% end %>

    <p class="govuk-body">
      Some councils use several teams to complete key tasks within the assessment and review process. Add the correct email addresses for each task.
    </p>

    <div class="govuk-form-group govuk-!-margin-top-5">
      <ol class="govuk-list">
        <li>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-5"><%= t(".signatory_name") %></h2>
          <div class="govuk-hint govuk-!-margin-bottom-2"><%= t(".signatory_name_hint") %></div>
          <p class="govuk-body">
            <%= current_local_authority.signatory_name %>
          </p>
        </li>
        <li>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-5"><%= t(".signatory_job_title") %></h2>
          <div class="govuk-hint govuk-!-margin-bottom-2"><%= t(".signatory_job_title_hint") %></div>
          <p class="govuk-body">
            <%= current_local_authority.signatory_job_title %>
          </p>
        </li>
        <li>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-5"><%= t(".enquiries_paragraph") %></h2>
          <div class="govuk-hint govuk-!-margin-bottom-2"><%= t(".enquiries_paragraph_hint") %></div>
          <p class="govuk-body">
            <%= current_local_authority.enquiries_paragraph %>
          </p>
        </li>
        <li>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-5"><%= t(".email_address") %></h2>
          <div class="govuk-hint govuk-!-margin-bottom-2"><%= t(".email_address_hint") %></div>
          <p class="govuk-body">
            <%= current_local_authority.email_address %>
          </p>
        </li>
        <li>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-5"><%= t(".feedback_email") %></h2>
          <div class="govuk-hint govuk-!-margin-bottom-2"><%= t(".feedback_email_hint") %></div>
          <p class="govuk-body">
            <%= current_local_authority.feedback_email %>
          </p>
        </li>
        <li>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-5"><%= t(".telephone_number") %></h2>
          <div class="govuk-hint govuk-!-margin-bottom-2"><%= t(".telephone_number_hint") %></div>
          <p class="govuk-body">
            <%= current_local_authority.telephone_number %>
          </p>
        </li>
        <li>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-5"><%= t(".reviewer_group_email") %></h2>
          <div class="govuk-hint govuk-!-margin-bottom-2"><%= t(".reviewer_group_email_hint") %></div>
          <p class="govuk-body">
            <%= current_local_authority.reviewer_group_email %>
          </p>
        </li>
        <li>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-5"><%= t(".press_notice_email") %></h2>
          <div class="govuk-hint govuk-!-margin-bottom-2"><%= t(".press_notice_email_hint") %></div>
          <p class="govuk-body">
            <%= current_local_authority.press_notice_email %>
          </p>
        </li>
        <li>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-5"><%= t(".public_register_base_url") %></h2>
          <div class="govuk-hint govuk-!-margin-bottom-2"><%= t(".public_register_base_url_hint") %></div>
          <p class="govuk-body">
            <% if current_local_authority.public_register_base_url? %>
              <%= govuk_link_to nil, current_local_authority.public_register_base_url, new_tab: "" %>
            <% else %>
              –
            <% end %>
          </p>
        </li>
        <li>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-5"><%= t(".notify_api_key") %></h2>
          <div class="govuk-hint govuk-!-margin-bottom-2"><%= t(".notify_api_key_hint_html", notify_notion_link: govuk_link_to("Read our guide to Notify set up.", t(".notify_notion_link"), new_tab: true)) %></div>
          <p class="govuk-body">
            Redacted for security
          </p>
        </li>
        <li>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-5"><%= t(".letter_template_id") %></h2>
          <div class="govuk-hint govuk-!-margin-bottom-2"><%= t(".letter_template_id_hint") %></div>
          <p class="govuk-body">
            <%= current_local_authority.letter_template_id %>
          </p>
        </li>
        <li>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-5"><%= t(".email_reply_to_id") %></h2>
          <div class="govuk-hint govuk-!-margin-bottom-2"><%= t(".email_reply_to_id_hint") %></div>
          <p class="govuk-body">
            <%= current_local_authority.email_reply_to_id %>
          </p>
        </li>
        <li>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-5"><%= t(".document_checklist") %></h2>
          <div class="govuk-hint govuk-!-margin-bottom-2"><%= t(".document_checklist_hint") %></div>
          <p class="govuk-body">
            <% if current_local_authority.document_checklist? %>
              <%= govuk_link_to nil, current_local_authority.document_checklist, new_tab: "" %>
            <% else %>
              –
            <% end %>
          </p>
        </li>
        <li>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-5"><%= t(".planning_policy_and_guidance") %></h2>
          <div class="govuk-hint govuk-!-margin-bottom-2"><%= t(".planning_policy_and_guidance_hint") %></div>
          <p class="govuk-body">
            <% if current_local_authority.planning_policy_and_guidance? %>
              <%= govuk_link_to nil, current_local_authority.planning_policy_and_guidance, new_tab: "" %>
            <% else %>
              –
            <% end %>
          </p>
        </li>
      </ol>
    </div>

    <div class="govuk-button-group govuk-!-margin-top-7">
      <%= back_link %>
      <%= govuk_link_to "Edit profile", edit_profile_path, class: "govuk-body" %>
    </div>
  </div>
</div>
