<% content_for :page_title do %>
  <%= t(".profile") %> - <%= t("page_title") %>
<% end %>

<% add_parent_breadcrumb_link "Home", root_path %>

<% content_for :title, t(".profile") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <%= t(".profile") %>
    </h1>
    <p class="govuk-body">
      Some councils use several teams to complete key tasks within the assessment and review process. Add the correct email addresses for each task.
    </p>

    <div class="govuk-form-group govuk-!-margin-top-5">
      <ol class="govuk-list">
        <% if current_local_authority.default_api_token.present? %>
          <li>
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-5"><%= t(".api_key") %></h2>
            <div class="govuk-hint govuk-!-margin-bottom-2"><%= t(".api_key_hint_html", swagger_link: govuk_link_to("swagger", bops_api.v2_docs_path, new_tab: true)) %></div>
            <p class="govuk-body govuk-!-margin-0">
              <%= current_local_authority.default_api_token %>
            </p>
          </li>
        <% end %>
        <li>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-5"><%= t(".signatory_name") %></h2>
          <div class="govuk-hint govuk-!-margin-bottom-2"><%= t(".signatory_name_hint") %></div>
          <p class="govuk-body">
            <%= current_local_authority.signatory_name %>
          </p>
        </li>
        <li>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-5"><%= t(".signatory_job_title") %></h2>
          <div class="govuk-hint govuk-!-margin-bottom-2"><%= t(".signatory_job_title_hint") %></div>
          <p class="govuk-body">
            <%= current_local_authority.signatory_job_title %>
          </p>
        </li>
        <li>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-5"><%= t(".enquiries_paragraph") %></h2>
          <div class="govuk-hint govuk-!-margin-bottom-2"><%= t(".enquiries_paragraph_hint") %></div>
          <p class="govuk-body">
            <%= current_local_authority.enquiries_paragraph %>
          </p>
        </li>
        <li>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-5"><%= t(".email_address") %></h2>
          <div class="govuk-hint govuk-!-margin-bottom-2"><%= t(".email_address_hint") %></div>
          <p class="govuk-body">
            <%= current_local_authority.email_address %>
          </p>
        </li>
        <li>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-5"><%= t(".feedback_email") %></h2>
          <div class="govuk-hint govuk-!-margin-bottom-2"><%= t(".feedback_email_hint") %></div>
          <p class="govuk-body">
            <%= current_local_authority.feedback_email %>
          </p>
        </li>
        <li>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-5"><%= t(".telephone_number") %></h2>
          <div class="govuk-hint govuk-!-margin-bottom-2"><%= t(".telephone_number_hint") %></div>
          <p class="govuk-body">
            <%= current_local_authority.telephone_number %>
          </p>
        </li>
        <li>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-5"><%= t(".reviewer_group_email") %></h2>
          <div class="govuk-hint govuk-!-margin-bottom-2"><%= t(".reviewer_group_email_hint") %></div>
          <p class="govuk-body">
            <%= current_local_authority.reviewer_group_email %>
          </p>
        </li>
        <li>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-5"><%= t(".press_notice_email") %></h2>
          <div class="govuk-hint govuk-!-margin-bottom-2"><%= t(".press_notice_email_hint") %></div>
          <p class="govuk-body">
            <%= current_local_authority.press_notice_email %>
          </p>
        </li>
        <li>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-5"><%= t(".notify_api_key") %></h2>
          <div class="govuk-hint govuk-!-margin-bottom-2"><%= t(".notify_api_key_hint_html", notify_notion_link: govuk_link_to("Read our guide to Notify set up.", t(".notify_notion_link"), new_tab: true)) %></div>
          <p class="govuk-body">
            Redacted for security
          </p>
        </li>
        <li>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-5"><%= t(".letter_template_id") %></h2>
          <div class="govuk-hint govuk-!-margin-bottom-2"><%= t(".letter_template_id_hint") %></div>
          <p class="govuk-body">
            <%= current_local_authority.letter_template_id %>
          </p>
        </li>
        <li>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-5"><%= t(".email_reply_to_id") %></h2>
          <div class="govuk-hint govuk-!-margin-bottom-2"><%= t(".email_reply_to_id_hint") %></div>
          <p class="govuk-body">
            <%= current_local_authority.email_reply_to_id %>
          </p>
        </li>
        <li>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-5"><%= t(".document_checklist") %></h2>
          <div class="govuk-hint govuk-!-margin-bottom-2"><%= t(".document_checklist_hint") %></div>
          <p class="govuk-body">
            <% if current_local_authority.document_checklist? %>
              <%= govuk_link_to nil, current_local_authority.document_checklist, new_tab: "" %>
            <% else %>
              –
            <% end %>
          </p>
        </li>
      </ol>
    </div>

    <div class="govuk-button-group govuk-!-margin-top-7">
      <%= back_link %>
      <%= govuk_link_to "Edit profile", edit_profile_path, class: "govuk-body" %>
    </div>
  </div>
</div>
