<% content_for :page_title do %>
  <%= t("planning_applications.assessment.assessment_details.#{@assessment_detail.category}.show") %> - <%= t('page_title') %>
<% end %>

<%= render(
  partial: "shared/assessment_task_breadcrumbs",
  locals: { planning_application: @planning_application  }
) %>

<% content_for :title, t("planning_applications.assessment.assessment_details.#{@assessment_detail.category}.title") %>

<%= render(
  partial: "shared/proposal_header",
  locals: { heading: t("planning_applications.assessment.assessment_details.#{@assessment_detail.category}.show")  }
) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-body">
      <%= render(
        "planning_applications/assessment/assessment_details/#{@assessment_detail.category}/information",
        category: @assessment_detail.category,
        read_only: true,
        rejected_assessment_detail: nil
      ) %>

      <%= render(
        partial: "#{assessment_detail_fields_partial_path(@assessment_detail.category)}/fields",
        locals: { assessment_detail: @assessment_detail }
      ) %>
    </div>

    <div class="govuk-button-group">
      <%= back_link %>

      <%= link_to(
        t("planning_applications.assessment.assessment_details.#{@assessment_detail.category}.edit"),
        edit_planning_application_assessment_assessment_detail_path(
          @planning_application,
          @assessment_detail,
          category: @category
        ),
        class: "govuk-link"
      )%>
    </div>
  </div>
</div>
