<div class="govuk-grid-column-one-half">
  <%= document_thumbnail_link @document, thumbnail_args: {resize: "500x500"}, image_args: {style: "max-width:100%"} %>
  <p>
    <%= link_to_document "View in new window", @document %>
  </p>
</div>
<div class="govuk-grid-column-one-half" id="document-summary">
  <p>
    <strong>File name:</strong> <%= @document.name %>
  </p>

  <p>
    <strong>Date received:</strong> <%= @document.received_at_or_created %>
  </p>

  <p>
    <strong>Applicant reason for submitting document:</strong>
    <% if @document.applicant_description.present? %>
      <%= render(FormattedContentComponent.new(text: @document.applicant_description)) %>
    <% else %>
      No reason submitted
    <% end %>
  </p>

  <p>
    <%= created_by(@document) %>
  </p>

  <p>
    <strong>This document has been marked as invalid</strong>
  </p>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
