<div class="govuk-grid-column-full">
  <%= form_with model: [@planning_application, :validation, @validation_request], scope: :validation_request do |form| %>

    <%= form.hidden_field :old_document_id, value: @document.id %>
    <% return_to = params[:return_to].presence || params[:redirect_to].presence %>
    <% if return_to.nil? && @planning_application.pre_application? %>
      <% return_to = BopsPreapps::Engine.routes.url_helpers.task_path(
           reference: @planning_application.reference,
           slug: "check-and-validate/check-tag-and-confirm-documents/check-and-request-documents"
         ) %>
    <% end %>
    <%= form.hidden_field :return_to, value: return_to if return_to.present? %>

    <%= form.govuk_error_summary %>

    <%= form.hidden_field :type, value: "ReplacementDocumentValidationRequest" %>
    <%= form.govuk_text_area :reason, label: {size: "m", text: "List all issues with the document"}, required: true %>

    <%= render "shared/planning_guides_link" %>

    <%= render "shared/validation_request_form_actions", form: form, allow_submit: true %>
  <% end %>
</div>
