<%= form_with model: @form, url: @form.url do |form| %>
  <%= render "shared/task_header", task: @task, heading: "Send validation decision" %>

    <% if @planning_application.not_started? && @planning_application.validation_requests.pending.none? %>
      <p>
        <strong>
          The application has not been marked as valid or invalid yet.
        </strong>
      </p>
      <p>
        When all parts of the application have been checked and are correct, mark the application as valid.
      </p>
      <div class="govuk-button-group">
        <%= form.govuk_task_button "Mark the application as valid" %>
      </div>
    <% elsif @planning_application.not_started? && @planning_application.validation_requests.pending.any? %>
      <h2>You have marked items as invalid, so you cannot validate this application.</h2>
      <p>
        If you mark the application as invalid then the applicant or agent will be sent an invalid notification.
        This notification will contain a link to allow the applicant or agent to view all validation requests and to accept and reject requests.
      </p>
      <div class="govuk-button-group">
        <%= form.govuk_task_button "Mark the application as invalid", action: "save_and_invalidate" %>
      </div>
    <% elsif @planning_application.invalidated? %>
      <p>
        <strong>
          <%= "The application is marked as invalid. The applicant was notified on #{@planning_application.invalidated_at.to_fs}" %>
        </strong>
      </p>
      <h2>
        Validation requests
      </h2>
      <%= validation_request_summary(@planning_application.validation_requests, @planning_application) %>

        <%= govuk_link_to "View existing requests", main_app.planning_application_validation_validation_requests_path(@planning_application) %>
      </p>
      <p>
        Once the application has been checked and all validation requests resolved, mark the application as valid.
      </p>
      <div class="govuk-button-group">
        <%= form.govuk_task_button "Mark the application as valid" %>
      </div>
    <% elsif @planning_application.validated? %>
      <p>
        <strong>
          The application is marked as valid<%= @planning_application.may_invalidate? ? "." : " and cannot be marked as invalid." %><br>
          The applicant was notified on <%= @planning_application.validated_at.to_fs %>
        </strong>
      </p>
      <p>
        <%= govuk_link_to "View notification", main_app.validation_notice_planning_application_path(@planning_application) %>
      </p>
      <h2>
        Validation requests
      </h2>
      <p>
        <%= validation_request_summary(@planning_application.validation_requests, @planning_application) %>
      </p>
    <% end %>
<% end %>
