<% content_for :page_title do %>
  Planning History - <%= t('page_title') %>
<% end %>

<%= render(
  partial: "shared/proposal_header",
  locals: { heading: "Review the planning history"  }
) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      <strong>Planning application for UPRN <%= @planning_application.uprn %></strong>
    </p>

    <% if @planning_history.empty? %>
      <p class="govuk-body">
        There is no planning history for this property
      </p>
    <% else %>
      <%= render "table" %>
    <% end %>

    <%= link_to "Back", planning_application_assessment_tasks_path(@planning_application), class: "govuk-button" %>
  </div>
</div>
