<%= render "shared/task_header", task: @task %>

<% if @planning_application.site_visits.any? %>
  <table class="govuk-table" id="site-visit-history">
    <caption class="govuk-table__caption govuk-table__caption--m">
      Site visit history
    </caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Site visit date</th>
        <th scope="col" class="govuk-table__header">Address visited</th>
        <th scope="col" class="govuk-table__header">Created by</th>
        <th scope="col" class="govuk-table__header">Comment</th>
      </tr>
    </thead>
    <% @planning_application.site_visits.by_created_at_desc.includes(:created_by).find_each do |site_visit| %>
      <% if site_visit.persisted? %>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              <%= site_visit.visited_at&.to_date&.to_fs %>
            </th>
            <td class="govuk-table__cell">
              <% if site_visit.neighbour.present? %>
                <%= site_visit.neighbour.address %>
              <% elsif site_visit.address.present? %>
                <%= site_visit.address %>
              <% end %>
            </td>
            <td class="govuk-table__cell"><%= site_visit.created_by.name %></td>
            <td class="govuk-table__cell"><%= site_visit.comment %></td>
          </tr>
        </tbody>
      <% end %>
    <% end %>
  </table>
<% else %>
  <div class="govuk-!-padding-3 govuk-!-margin-bottom-6 background-light-grey">
    <p class="govuk-!-margin-bottom-2 govuk-!-margin-top-3">
      <strong>No site visits have been recorded yet.</strong>
    </p>
    <p>Add new site visit to start recording site visit history.</p>
  </div>
<% end %>

<% unless @planning_application.determined? %>
  <%= govuk_details(summary_text: "Add new site visit", open: @planning_application.site_visits.none?) do %>
    <%= render "bops_preapps/tasks/check-and-assess/additional-services/site-visit/form" %>
  <% end %>
<% end %>

<%= render "shared/task_submit_form" %>
