<%= form_with model: @form, url: @form.url do |form| %>
  <%= form.govuk_error_summary %>

  <%= render "shared/task_header", task: @task %>

  <% if @form.site_visits.any? %>
    <table class="govuk-table" id="site-visit-history">
      <caption class="govuk-table__caption govuk-table__caption--m">
        Site visit history
      </caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Site visit date</th>
          <th scope="col" class="govuk-table__header">Address visited</th>
          <th scope="col" class="govuk-table__header">Created by</th>
          <th scope="col" class="govuk-table__header">Comment</th>
        </tr>
      </thead>
      <% @form.each_site_visit do |site_visit| %>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              <%= site_visit.visited_on %>
            </th>
            <td class="govuk-table__cell">
              <%= site_visit.address %>
            </td>
            <td class="govuk-table__cell"><%= site_visit.created_by %></td>
            <td class="govuk-table__cell"><%= site_visit.comment %></td>
          </tr>
        </tbody>
      <% end %>
    </table>
  <% else %>
    <div class="govuk-!-padding-3 govuk-!-margin-bottom-6 background-light-grey">
      <p class="govuk-!-margin-bottom-2">
        <strong>No site visits have been recorded yet.</strong>
      </p>
      <p class="govuk-!-margin-bottom-0">
        Add new site visit to start recording site visit history.
      </p>
    </div>
  <% end %>

  <% unless @planning_application.determined? %>
    <%= govuk_details(summary_text: "Add new site visit", open: @form.add_site_visit_open?) do %>
      <%= render "bops_preapps/tasks/check-and-assess/additional-services/site-visit/form", form: form %>
    <% end %>

    <div class="govuk-button-group">
      <%= form.govuk_task_button "Save and mark as complete" do %>
        <% if !@task.completed? %>
          <%= form.govuk_task_button "Save changes", action: "save_draft", secondary: true %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
