<% content_for :page_title do %>
  <%= t(".review_assessment_summaries") %> - <%= t("page_title") %>
<% end %>
<%= render(
  partial: "breadcrumbs",
  locals: { planning_application: planning_application}
) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t(".review_assessment_summaries") %></h1>
    <%= render(partial: "shared/planning_application_address_and_reference") %>
    <h2 class="govuk-heading-m"><%= t(".assessor_remarks") %></h2>
    <p class="govuk-body">
      <%= t(".assessor_recommendation") %>
      <%= tag.strong(
        t(".#{planning_application.decision}"),
        class: "govuk-tag govuk-tag--#{planning_application.granted? ? :green : :red}"
      ) %>
    </p>
    <%= render(
      partial: "shared/warning_text",
      locals: { message: t(".this_information_will") }
    ) %>
    <%= yield %>
  </div>
</div>
