<%= form_with model: [@planning_application, @term], url: url do |form| %>
  <fieldset class="govuk-fieldset govuk-!-margin-top-3">
    <legend class="govuk-fieldset__legend">
      <h2 class="govuk-heading-s">
        <% if @term.new_record? %>
          Add a new heads of term
        <% else %>
          Edit heads of term
        <% end %>
      </h2>
    </legend>

    <%= form.govuk_error_summary %>

    <%= form.govuk_text_field :title, label: {text: "Enter title"} %>
    <%= form.govuk_text_area :text, rows: 5, label: {text: "Enter details"} %>

    <% if @term.new_record? %>
      <%= form.govuk_submit(t("form_actions.term.add"), class: "govuk-button--secondary") %>
    <% else %>
      <%= form.govuk_submit(t("form_actions.term.update")) do %>
        <%= govuk_button_link_to "Back", planning_application_assessment_terms_path, secondary: true %>
      <% end %>
    <% end %>
  </fieldset>
<% end %>
