<% if planning_application_constraints.any? %>
  <%= tag.table(class: ["govuk-table", "#{identifier}-constraints-table"]) do %>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-width-one-third">
          Category
        </th>
        <th scope="col" class="govuk-table__header">
          Constraint
        </th>
        <% if show_source %>
          <th scope="col" class="govuk-table__header">
            Source
          </th>
        <% end %>
        <% if show_action %>
          <th
            scope="col"
            class="govuk-table__header govuk-table__header--numeric">
            Action
          </th>
        <% end %>
      </tr>
    </thead>

    <tbody class="govuk-table__body">
      <% planning_application_constraints.each do |constraint| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--grey"><%= constraint.category.humanize %></strong>
          </td>
          <td class="govuk-table__cell">
            <%= constraint.type_code %>

            <% if show_entity && constraint.entities.present? %>
              <ul class="govuk-list">
                <% constraint.entities.each do |name, entity| %>
                  <% entity_name = name.present? ? name.titleize : "Entity ##{entity}" %>
                  <li>
                    <%= govuk_link_to entity_name, planning_data_entity_url(entity), new_tab: true %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </td>
          <% if show_source %>
            <td class="govuk-table__cell">
              <%= constraint.identified_by %>
            </td>
          <% end %>
          <% if show_action %>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <%= form_with model: @form, url: @form.url do |form| %>
                <%= form.hidden_field :constraint_id, value: constraint.id %>
                <% if !constraint.added? %>
                  <%= form.govuk_task_button_link "Add", action: "add_constraint" %>
                <% elsif !constraint.identified %>
                  <%= form.govuk_task_button_link "Remove", action: "remove_constraint" %>
                <% else %>
                  -
                <% end %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  <% end %>
<% else %>
  <div class="background-light-grey govuk-!-padding-6">
    <p class="govuk-!-margin-bottom-0">
      <strong>No constraints have been added or identified</strong>
    </p>
  </div>
<% end %>
