<%= content_tag(
  "div",
  data: {
    show_hide_target: ("hideable" if auto_answered?)
  }
) do %>
  <div class="proposal-details-sub-heading">
    <h4 class="govuk-heading-s" id=<%= id %>><%= title %></h4>
    <div>
      <%= render(
        partial: "shared/back_to_top_link",
        locals: { target_id: "#accordion-default-heading-3" }
      ) %>
    </div>
  </div>
  <ul class="govuk-body proposal-details-sub-list">
    <% group.proposal_details.each do |proposal_detail| %>
      <%= render(
        ProposalDetails::SummaryComponent.new(proposal_detail: proposal_detail)
      ) %>
    <% end %>
  </ul>
<% end %>
