<%# locals: (documents:, additional_document_validation_requests:, allow_cancel: true, task_slug: nil, redirect_to: nil) %>

<% documents = local_assigns.fetch(:documents) { @planning_application.documents.active } %>
<% additional_document_validation_requests = local_assigns.fetch(:additional_document_validation_requests) do %>
  @planning_application.additional_document_validation_requests.pre_validation.open_or_pending
<% end %>
<% task_slug = local_assigns[:task_slug] %>
<% allow_cancel = local_assigns.fetch(:allow_cancel, true) %>
<% redirect_to = local_assigns[:redirect_to] %>

<h2>Check for missing documents</h2>
<p class="govuk-body-m">
  Check all necessary documents have been provided and add requests for any missing documents.
</p>

<% unless documents.any? && documents.all?(&:representable?) %>
  <%= govuk_warning_text(text: "One or more documents that the applicant submitted are not available due to a security issue. Ask the applicant or agent for replacements.") %>
<% end %>

<% if @planning_application.local_authority.document_checklist? %>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  <p class="govuk-body-m">
    <%= govuk_link_to(@planning_application.local_authority.document_checklist, new_tab: true) do %>
      Checklist for <%= @planning_application.application_type.name.humanize.downcase %>
    <% end %>
  </p>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
<% end %>

<%= govuk_tabs do |tabs| %>
  <% Document::DEFAULT_TABS.each do |tab| %>
    <% tab_documents = @planning_application.documents_for(tab) %>
    <% tabs.with_tab(label: "#{tab} (#{tab_documents.size})", id: tab.parameterize) do %>
      <h2><%= tab %></h2>
      <%= render(partial: "documents/active_documents_table", locals: {documents: tab_documents, redirect_to: redirect_to}) %>
    <% end %>
  <% end %>
<% end %>

<% if additional_document_validation_requests.any? %>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <%= render "planning_applications/validation/additional_document_validation_requests/additional_document_validation_requests_table",
        validation_requests: additional_document_validation_requests,
        task_slug: task_slug,
        allow_cancel: allow_cancel,
        redirect_to: redirect_to %>
<% else %>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
<% end %>

<p class="govuk-!-margin-bottom-6 govuk-!-margin-top-0">
  <%= govuk_link_to "Add a request for a missing document", main_app.new_planning_application_validation_validation_request_path(@planning_application, type: "additional_document"), class: "govuk-body-m" %>
</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
