<% content_for :page_title do %>
  Missing documents - <%= t("page_title") %>
<% end %>

<%= render "planning_applications/validation/validation_requests/validation_requests_breadcrumbs" %>
<% content_for :title, "Missing documents" %>

<%= render(
      partial: "shared/proposal_header",
      locals: {heading: "Check and request documents"}
    ) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render "planning_applications/validation/documents/check_and_request_documents",
          documents: @documents,
          additional_document_validation_requests: @additional_document_validation_requests %>

    <%= form_with model: @planning_application, url: planning_application_validation_documents_path(@planning_application) do |form| %>
      <%= form.hidden_field :documents_missing, value: @additional_document_validation_requests.any? %>

      <div class="govuk-button-group">
        <%= form.submit "Save and mark as complete", class: "govuk-button", data: {module: "govuk-button"} %>

        <%= govuk_button_link_to "Back", planning_application_validation_tasks_path(@planning_application), secondary: true %>
      </div>
    <% end %>
  </div>
</div>
