<% content_for :page_title do %>
  Resend confirmation instructions - <%= t('page_title') %>
<% end %>

<h1 class="govuk-heading-l">
  Resend confirmation instructions
</h1>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "govuk-input govuk-input--width-20", autofocus: true %>
  </div>

  <%= f.submit "Resend confirmation email", class: "govuk-button govuk-!-margin-top-7  govuk-!-margin-bottom-4", data: { module: "govuk-button" } %>
<% end %>

<%= render "devise/shared/links" %>
