<%= render "task_header", task: @task %>

<% if @planning_application.section_55_development.nil? %>
  <%= govuk_warning_text(text: "Proposal not checked if it is not development") %>
  <p>
    Before assessing against legislation, the proposal must be checked to see
    whether it is development or not.
  </p>
  <p>
    <%= govuk_link_to "Check if proposal is development", task_path(@planning_application, "check-and-assess/assess-against-legislation/check-if-proposal-is-development") %>
  </p>
<% else %>
  <%= form_with model: @form, url: @form.url do |form| %>
    <%= form.govuk_error_summary %>

    <% case @form.action %>
    <% when "add_part" %>
      <%= render "#{@form.partial_path}/add_part", form: form %>
    <% when "add_classes" %>
      <% if @form.errors.any? %>
        <%= render "#{@form.partial_path}/add_part", form: form %>
      <% else %>
        <%= render "#{@form.partial_path}/add_classes", form: form %>
      <% end %>
    <% when "add_assessment_area" %>
      <%= render "#{@form.partial_path}/add_classes", form: form %>
    <% else %>
      <%= render "#{@form.partial_path}/default", form: form %>
    <% end %>
  <% end %>
<% end %>
