<% content_for :page_title do %>
  Pre-application report - <%= t("page_title") %>
<% end %>

<% add_parent_breadcrumb_link "Home", main_app.root_path %>
<% add_parent_breadcrumb_link "Application", main_app.planning_application_path(@planning_application) %>
<% add_parent_breadcrumb_link "Review pre-application", main_app.planning_application_review_root_path(@planning_application) %>
<% content_for :title, "Pre-application report" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds" id="planning-application-details">
    <p class="govuk-caption-m">Preview and submit</p>
    <h1 class="govuk-heading-l">Pre-application report</h1>
    <p class="govuk-body">
      This report gives clear guidance on your proposal, helping you to
      understand what to expect when submitting your formal planning
      application.
    </p>
    <p class="govuk-body">
      <strong><%= @planning_application.full_address %></strong><br>
      Pre-application number: <strong><%= @planning_application.reference %></strong><br>
      Case officer: <strong><%= @planning_application.user&.name || "Unassigned" %></strong><br>
      Date of report: <strong><%= @planning_application.determined_at&.to_date&.to_fs %></strong><br>
      </p>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<%= render BopsCore::TableOfContentsComponent.new(items: [
      {links: [
        ["Pre-application outcome", "#pre-application-outcome"],
        ["Your pre-application details", "#pre-application-details"]
      ]}
    ]) %>

<section id="pre-application-outcome">
  <div class="flex-between govuk-!-margin-bottom-2">
    <h2 class="govuk-heading-m">Pre-application outcome</h2>
    <% if @summary_of_advice&.summary_tag %>
      <%= govuk_link_to "Edit", main_app.edit_planning_application_assessment_assessment_detail_path(
            @planning_application, @summary_of_advice, category: "summary_of_advice", return_to: "report"
          ) %>
    <% else %>
      <%= govuk_link_to "Add outcome", main_app.new_planning_application_assessment_assessment_detail_path(
            @planning_application, category: "summary_of_advice", return_to: "report"
          ) %>
    <% end %>
  </div>

  <% if @summary_of_advice&.summary_tag %>
    <% content = summary_advice_content(@summary_of_advice.summary_tag) %>
    <%= bops_notification_banner(
          title: "Outcome",
          **content
        ) %>
  <% else %>
    <p class="govuk-body">The pre-application outcome has not been set.</p>
  <% end %>
</section>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<section id="pre-application-details">
  <h2 class="govuk-heading-m">
    Your pre-application details
  </h2>

  <%= govuk_table(id: "pre-application-details-table") do |table| %>
    <% table.with_caption(size: "s", text: "This section summarises your proposal and key dates in the pre-application process.") %>

    <% table.with_head do |head| %>
      <% head.with_row do |row| %>
        <% row.with_cell(text: "Event") %>
        <% row.with_cell(text: "Date") %>
        <% row.with_cell(text: "Action") %>
      <% end %>
    <% end %>

    <% table.with_body do |body| %>
      <% body.with_row do |row| %>
        <% row.with_cell(text: "Date made valid") %>
        <% row.with_cell(text: time_tag(@planning_application.validated_at)) %>
        <% row.with_cell(text: "-") %>
      <% end %>

      <% body.with_row do |row| %>
        <% row.with_cell(text: "Site visit") %>
        <% if @planning_application.site_visit_visited_at %>
          <% row.with_cell(text: time_tag(@planning_application.site_visit_visited_at)) %>
        <% else %>
          <% row.with_cell(text: "-") %>
        <% end %>
        <% row.with_cell do %>
          <%= govuk_link_to "Edit", main_app.planning_application_assessment_site_visits_path(@planning_application, return_to: "report") %>
        <% end %>
      <% end %>

      <% body.with_row do |row| %>
        <% row.with_cell(text: "Meeting") %>
        <% if @planning_application.meeting_occurred_at %>
          <% row.with_cell(text: time_tag(@planning_application.meeting_occurred_at)) %>
        <% else %>
          <% row.with_cell(text: "-") %>
        <% end %>
          <% row.with_cell do %>
            <%= govuk_link_to "Edit", main_app.planning_application_assessment_meetings_path(@planning_application, return_to: "report") %>
          <% end %>
      <% end %>
    <% end %>
  <% end %>

  <div id="proposal-description">
    <div class="flex-between govuk-!-margin-bottom-2">
      <h3 class="govuk-heading-s">Description of your proposal</h3>
      <%= govuk_link_to "Edit", main_app.new_planning_application_validation_validation_request_path(
            @planning_application,
            type: "description_change",
            return_to: "report"
          ) %>
    </div>
    <p class="govuk-body"><%= @planning_application.description %></p>

    <% if @planning_application.description_change_validation_requests.approved.any? %>
      <%= govuk_inset_text do %>
        <p>
          <strong>Note:</strong> The case officer has updated the description to accurately reflect the proposed development.
        </p>
      <% end %>
    <% end %>
  </div>
</section>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
 <%= render(
       partial: "form",
       locals: {
         planning_application: @planning_application,
         recommendation: @recommendation
       }
     ) %>
<%= govuk_button_link_to "Back", main_app.planning_application_path(@planning_application), secondary: true %>
