<% content_for :page_title do %>
  Pre-application report - <%= t("page_title") %>
<% end %>

<% if current_user %>
  <% add_parent_breadcrumb_link "Home", main_app.root_path %>
  <% add_parent_breadcrumb_link "Application", main_app.planning_application_path(@planning_application) %>
  <% add_parent_breadcrumb_link "Review pre-application", main_app.planning_application_review_root_path(@planning_application) %>
<% end %>

<% content_for :title, "Pre-application report" %>

<% if current_user && current_user.reviewer? %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <%= render(
            SiteMapComponent.new(
              planning_application: @planning_application
            )
          ) %>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-0 govuk-!-margin-top-5">
    <div class="govuk-grid-column-full">
      <%= render "shared/overview_tabs", planning_application_constraints: @planning_application.planning_application_constraints %>
    </div>
  </div>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds" id="planning-application-details">
    <% if current_user %>
      <p class="govuk-caption-m">Preview and submit</p>
    <% end %>
    <h1 class="govuk-heading-l">Pre-application report</h1>
    <p class="govuk-body">
      This report gives clear guidance on your proposal, helping you to
      understand what to expect when submitting your formal planning
      application.
    </p>
    <p class="govuk-body">
      <strong><%= @planning_application.full_address %></strong><br>
      Pre-application number: <strong><%= @planning_application.reference %></strong><br>
      Case officer: <strong><%= @planning_application.user&.name || "Unassigned" %></strong><br>
      <% if @planning_application.determined_at %>
        Date of report: <strong><%= @planning_application.determined_at.to_date.to_fs %></strong><br>
      <% end %>
    </p>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<%= render BopsCore::TableOfContentsComponent.new(items: [
      {links: [
        ["Pre-application outcome", "#pre-application-outcome"],
        ["Officer contact details", "#contact-details"],
        ["Your pre-application details", "#pre-application-details"],
        ["Site map", "#site-map"],
        ["Site constraints", "#site-constraints"],
        ["Site history", "#site-history"],
        ["Site and surroundings", "#site-and-surroundings"],
        ["Considerations and advice", "#considerations-advice"],
        ["Policies and guidance", "#policies-guidance"],
        ["Requirements", "#requirements"],
        ["Next steps", "#next-steps"],
        ["Disclaimer", "#disclaimer"]
      ]}
    ]) %>

<section id="pre-application-outcome">
  <div class="flex-between govuk-!-margin-bottom-2">
    <h2 class="govuk-heading-m">Pre-application outcome</h2>
    <% if current_user && !@planning_application.determined? %>
      <p class="govuk-body-m">
        <% if @summary_of_advice&.summary_tag %>
          <%= govuk_link_to "Edit", main_app.edit_planning_application_assessment_assessment_detail_path(
                @planning_application, @summary_of_advice, category: "summary_of_advice", return_to: "report"
              ) %>
        <% else %>
          <%= govuk_link_to "Add outcome", main_app.new_planning_application_assessment_assessment_detail_path(
                @planning_application, category: "summary_of_advice", return_to: "report"
              ) %>
        <% end %>
      </p>
    <% end %>
  </div>

  <% if @summary_of_advice&.summary_tag %>
    <% content = summary_advice_content(@summary_of_advice.summary_tag) %>
    <%= bops_notification_banner(
          title: "Outcome",
          **content
        ) %>
  <% else %>
    <p class="govuk-body">The pre-application outcome has not been set.</p>
  <% end %>
</section>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<section id="contact-details">
  <h3 class="govuk-heading-s">
    Officer contact details
  </h3>

  <%= govuk_inset_text do %>
    <% if @planning_application.user %>
      <p><strong>Case officer:</strong> <%= @planning_application.user.name %></p>
    <% elsif current_user %>
      <% unless @planning_application.determined? %>
        <p class="govuk-body">
          No case officer has been assigned yet.<br>
          <%= govuk_link_to "Assign case officer", main_app.planning_application_assign_users_path(@planning_application, return_to: "report") %>
        </p>
      <% end %>
    <% end %>
    <p><strong>Email:</strong> <%= mail_to @current_local_authority.email_address %></p>
  <% end %>
</section>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<section id="pre-application-details">
  <h3 class="govuk-heading-s">
    Your pre-application details
  </h3>

  <%= govuk_table(id: "pre-application-details-table") do |table| %>
    <% table.with_caption(size: "s", text: "This section summarises your proposal and key dates in the pre-application process.") %>

    <% table.with_head do |head| %>
      <% head.with_row do |row| %>
        <% row.with_cell(text: "Event") %>
        <% row.with_cell(text: "Date") %>
        <% if current_user && !@planning_application.determined? %>
          <% row.with_cell(classes: %w[govuk-!-text-align-right], text: "Action") %>
        <% end %>
      <% end %>
    <% end %>

    <% table.with_body do |body| %>
      <% body.with_row do |row| %>
        <% row.with_cell(text: "Date made valid") %>
        <% row.with_cell(text: time_tag(@planning_application.validated_at)) %>
        <% if current_user && !@planning_application.determined? %>
          <% row.with_cell(classes: %w[govuk-!-text-align-right], text: "-") %>
        <% end %>
      <% end %>

      <% body.with_row do |row| %>
        <% row.with_cell(text: "Site visit") %>
        <% if @planning_application.site_visit_visited_at %>
          <% row.with_cell(text: time_tag(@planning_application.site_visit_visited_at)) %>
        <% else %>
          <% row.with_cell(text: "-") %>
        <% end %>
        <% if current_user && !@planning_application.determined? %>
          <% row.with_cell(classes: %w[govuk-!-text-align-right]) do %>
            <%= govuk_link_to "Edit", main_app.planning_application_assessment_site_visits_path(@planning_application, return_to: "report") %>
          <% end %>
        <% end %>
      <% end %>

      <% body.with_row do |row| %>
        <% row.with_cell(text: "Meeting") %>
        <% if @planning_application.meeting_occurred_at %>
          <% row.with_cell(text: time_tag(@planning_application.meeting_occurred_at)) %>
        <% else %>
          <% row.with_cell(text: "-") %>
        <% end %>
          <% if current_user && !@planning_application.determined? %>
            <% row.with_cell(classes: %w[govuk-!-text-align-right]) do %>
              <%= govuk_link_to "Edit", main_app.planning_application_assessment_meetings_path(@planning_application, return_to: "report") %>
            <% end %>
          <% end %>
      <% end %>
    <% end %>
  <% end %>

  <div id="proposal-description">
    <div class="flex-between govuk-!-margin-bottom-2">
      <h3 class="govuk-heading-s">Description of your proposal</h3>
      <% if current_user && !@planning_application.determined? %>
        <p class="govuk-body-m">
          <%= govuk_link_to "Edit", main_app.new_planning_application_validation_validation_request_path(
                @planning_application,
                type: "description_change",
                return_to: "report"
              ) %>
        </p>
      <% end %>
    </div>
    <p class="govuk-body"><%= @planning_application.description %></p>

    <% if @planning_application.description_change_validation_requests.approved.any? %>
      <%= govuk_inset_text do %>
        <p>
          <strong>Note:</strong> The case officer has updated the description to accurately reflect the proposed development.
        </p>
      <% end %>
    <% end %>
  </div>
</section>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<section id="site-map">
  <h2 class="govuk-heading-m">
    Site map
  </h2>
  <p class="govuk-body">
    This map shows the area of the proposed development. It has been checked by the case officer.
  </p>
  <%= render(
        partial: "shared/location_map",
        locals: {
          locals: {
            geojson: @planning_application.boundary_geojson
          }
        }
      ) %>
  <div class="govuk-!-margin-bottom-2 govuk-!-margin-top-5">
    <div class="grey-border-box" id="officer-map-comments">
      <div class="flex-between">
        <h3 class="govuk-heading-s">
          Officer comments
        </h3>
        <% if current_user && !@planning_application.determined? %>
          <%= govuk_link_to "Edit", main_app.edit_planning_application_assessment_consistency_checklist_path(
                @planning_application,
                anchor: "site-map-title-field",
                return_to: "report"
              ) %>
        <% end %>
      </div>
      <% if @planning_application.consistency_checklist&.site_map_correct == "no" %>
        <p class="govuk-body">
          <%= @planning_application.consistency_checklist.site_map_correct_comment %>
        </p>
      <% else %>
        <p class="govuk-body">The site map was marked as correct.</p>
      <% end %>
    </div>
  </div>
</section>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<section id="site-constraints">
  <div class="flex-between govuk-!-margin-bottom-2">
    <h2 class="govuk-heading-m">Relevant site constraints</h2>
    <% if current_user && !@planning_application.determined? %>
      <%= govuk_link_to "Edit", main_app.planning_application_validation_constraints_path(
            @planning_application,
            return_to: "report"
          ) %>
    <% end %>
  </div>
  <p class="govuk-body">
    Site constraints are factors that could affect the development, such as zoning, environmental protections, or nearby conservation areas.
  </p>
  <%= render "bops_reports/planning_applications/constraints_table", constraints: @constraints %>
</section>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<section id="site-history">
  <div class="flex-between govuk-!-margin-bottom-2">
    <h2 class="govuk-heading-m">Relevant site history</h2>
    <% if current_user && !@planning_application.determined? %>
      <%= govuk_link_to "Edit", main_app.planning_application_assessment_site_histories_path(
            @planning_application,
            return_to: "report"
          ) %>
    <% end %>
  </div>
  <p class="govuk-body">
    Past applications for this site or relevant nearby locations
  </p>
  <%= render "bops_reports/planning_applications/site_history_table" %>
</section>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<section id="site-and-surroundings">
  <div class="flex-between govuk-!-margin-bottom-2">
    <h2 class="govuk-heading-m">Site and surroundings</h2>
    <% if @site_description %>
      <% if current_user && !@planning_application.determined? %>
        <%= govuk_link_to "Edit", main_app.edit_planning_application_assessment_assessment_detail_path(
              @planning_application, @site_description,
              category: "site_description",
              return_to: "report"
            ) %>
        </div>
      <% end %>
      <p class="govuk-body">
        <%= @site_description.entry %>
      </p>
    <% else %>
      <% if current_user %>
        <%= govuk_link_to "Edit", main_app.new_planning_application_assessment_assessment_detail_path(
              @planning_application,
              category: "site_description",
              return_to: "report"
            ) %>
      <% end %>
      </div>
      <p class="govuk-body">
        No site description set.
      </p>
    <% end %>
</section>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<section id="considerations-advice">
  <div class="flex-between govuk-!-margin-bottom-2">
    <h2 class="govuk-heading-m">Planning considerations and advice</h2>
    <% if current_user && !@planning_application.determined? %>
      <%= govuk_link_to "Edit", main_app.planning_application_assessment_consideration_guidances_path(
            @planning_application,
            return_to: "report"
          ) %>
    <% end %>
  </div>

  <p class="govuk-body"> This section includes the case officer's assessment of your proposal against relevant policy and guidance. The elements of the proposal are grouped by how acceptable they are:</p>

  <%= govuk_table(html_attributes: {class: "govuk-table--borderless"}) do |table| %>
    <% table.with_body do |body|
         body.with_row do |row|
           row.with_cell(text: "‘Supported’", header: true)
           row.with_cell(text: "means that the current proposal is likely to be supported")
         end
         body.with_row do |row|
           row.with_cell(text: "‘Needs changes’", header: true)
           row.with_cell(text: "means that an element of the proposal is likely to be supported subject to suggested changes")
         end
         body.with_row do |row|
           row.with_cell(text: "‘Does not comply’", header: true)
           row.with_cell(text: "means that an element of the proposal will not be acceptable and permission is likely to be refused")
         end
       end %>
  <% end %>

  <%= govuk_table(html_attributes: {id: "considerations-overview"}) do |table| %>
    <% table.with_head do |head|
         head.with_row do |row|
           row.with_cell(text: "Consideration")
           row.with_cell(text: "Element of proposal")
           row.with_cell(text: "Status")
         end
       end %>
    <% table.with_body do |body|
         @considerations.select(&:proposal?).each do |consideration|
           body.with_row do |row|
             row.with_cell(text: consideration.policy_area)
             row.with_cell(text: consideration.proposal)
             row.with_cell(text: render(StatusTags::PreappComponent.new(status: consideration.summary_tag)))
           end
         end
       end %>
  <% end %>

  <% @considerations.group_by(&:policy_area).each do |policy_area, considerations| %>
    <%= govuk_summary_card(title: policy_area) do %>
      <% considerations.each do |consideration| %>
        <div class="flex-between">
          <strong class="govuk-heading-s"><%= consideration.proposal %></strong>
          <% if current_user && !@planning_application.determined? %>
            <%= govuk_link_to "Edit", main_app.edit_planning_application_assessment_consideration_guidance_path(
                  @planning_application,
                  consideration,
                  return_to: "report"
                ) %>
          <% end %>
        </div>

        <%= render StatusTags::PreappComponent.new(status: consideration.summary_tag) %><br>

        <div class="govuk-body govuk-!-margin-top-4"><strong>Relevant policies</strong><br>
          <ul class="govuk-list">
            <% consideration.policy_references.each do |reference| %>
              <li class="govuk-body">
                <% if reference.url.present? %>
                  <%= govuk_link_to reference.code_and_description, reference.url %>
                <% else %>
                  <%= reference.code_and_description %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>

        <p class="govuk-body">
          <%= consideration.advice %>
        </p>
      <% end %>
    <% end %>
  <% end %>

  <% if @summary_of_advice.present? %>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <section id="summary-advice">
      <div class="flex-between">
        <h2 class="govuk-heading-m">Summary</h2>
        <% if current_user && !@planning_application.determined? %>
          <%= govuk_link_to "Edit", main_app.edit_planning_application_assessment_assessment_detail_path(
                @planning_application, @summary_of_advice, category: "summary_of_advice", return_to: "report"
              ) %>
        <% end %>
      </div>

      <p class="govuk-body">This is the case officer's summary of the conclusions and advice.</p>
      <p class="govuk-body grey-border-box">
        <%= @summary_of_advice.entry %>
      </p>
    </section>
  <% end %>
</section>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<section id="policies-guidance">
  <h2 class="govuk-heading-m">List of relevant policies and guidance</h2>
  <% if @planning_application.local_authority.submission_guidance_url.present? %>
    <p class="govuk-body">You can view all relevant planning policy and guidance at <%= govuk_link_to @planning_application.local_authority.submission_guidance_url, @planning_application.local_authority.submission_guidance_url, new_tab: true %>.</p>
  <% end %>

  <% references = @planning_application.considerations.map(&:policy_references).flatten.uniq(&:description) %>
  <ul class="govuk-list">
    <% references.each do |reference| %>
      <li><%= govuk_link_to reference.code_and_description, reference.url %></li>
    <% end %>
  </ul>
</section>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<section id="requirements">
  <div class="flex-between">
    <h2 class="govuk-heading-m">Requirements</h2>
    <% if current_user && !@planning_application.determined? %>
      <%= govuk_link_to "Edit", main_app.planning_application_assessment_requirements_path(@planning_application, return_to: "report") %>
    <% end %>
  </div>

  <p class="govuk-body">Should you wish to submit an application, the following requirements are needed:</p>
  <% @planning_application.requirements.group_by(&:category).each do |category, requirements| %>
    <%= govuk_summary_card(title: category.humanize) do %>
      <ul class="govuk-list govuk-list--divided">
        <% requirements.each do |requirement| %>
          <li>
            <p class="govuk-body"><%= govuk_link_to requirement.description, requirement.url %></p>
            <% if requirement.guidelines.present? %>
              <p class="govuk-body govuk-hint"><%= requirement.guidelines %></p>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
  <!-- TODO pdf link -->
</section>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<section id="next-steps">
  <h3 class="govuk-heading-s"><%= t(".next_steps_heading") %></h3>

  <% if @current_local_authority.submission_url && @current_local_authority.submission_guidance_url %>
    <p class="govuk-body">
      <%= t(".next_steps_intro_html") %>
    </p>

    <%= t(".next_steps_list_html") %>

    <p class="govuk-body">
      <%= t(
            ".next_steps_outro_html",
            planning_service_link: @current_local_authority.submission_url,
            application_type: @planning_application.recommended_application_type.human_name
          ) %>
    </p>
  <% else %>
    <% if current_user %>
      <p class="govuk-body">
        You must set the application submission url in local authority settings before displaying next steps.
      </p>
    <% end %>
  <% end %>
</section>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<section id="disclaimer">
  <h3 class="govuk-heading-s"><%= t(".disclaimer_heading") %></h3>
  <%= govuk_warning_text do %>
    <%= @planning_application.disclaimer %>
  <% end %>
</section>

<% if current_user.present? %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <% if @planning_application.can_assess? %>
        <%= render "bops_reports/planning_applications/assessment_actions" %>
      <% elsif @planning_application.awaiting_determination? %>
        <%= render "bops_reports/planning_applications/review_actions" %>
      <% else %>
        <%= render "bops_reports/planning_applications/determined_actions" %>
      <% end %>
    </div>
  </div>
<% end %>
