<%= render "task_header", task: @task %>

<div class="govuk-grid-row">
  <%= content_tag :div, class: "govuk-grid-column-full", data: {
        controller: "address-fill polygon-search",
        address_fill_url: os_places_api_index_path,
        address_fill_id: "neighbour-address",
        address_fill_name: "consultation[neighbours_attributes][][address]",
        polygon_search_url: search_addresses_by_polygon_path(planning_application: @planning_application),
        polygon_search_id: "neighbour-addresses",
        polygon_search_name: "consultation[neighbours_attributes][][address]"
      } do %>

    <%= render "#{@form.partial_path}/select_neighbours", planning_application: @planning_application %>

    <%= form_with model: @form, url: @form.url, id: "consultation-neighbour-addresses-form", scope: :consultation do |form| %>
      <%= form.govuk_text_area :polygon_geojson, label: {class: "govuk-visually-hidden"}, class: "govuk-visually-hidden" %>

      <div id="address-container" class="govuk-!-margin-top-1">
      </div>

      <div id="manual-address-container" class="govuk-!-margin-top-1">
      </div>

      <%= form.govuk_task_button "Add addresses", action: "add_addresses", secondary: true %>
    <% end %>

    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--s" for="neighbour-address">
        Manually add an address
      </label>
      <div class="govuk-hint"> Start typing address or postcode</div>
      <div id="neighbour-address-container"></div>
    </div>

    <% if @planning_application.neighbour_addresses_inline.any? %>
      <h3 class="govuk-!-margin-top-5">Neighbours submitted by applicant</h3>
      <ul class="govuk-list">
        <% @planning_application.neighbour_addresses_inline.each do |address| %>
          <li><%= address %></li>
        <% end %>
      </ul>
    <% end %>

    <%= form_with model: @form, url: @form.url, scope: :consultation do |form| %>
      <%= render "#{@form.partial_path}/selected_list", planning_application: @planning_application, form: form %>

      <%= render "task_submit_buttons", form: form %>
    <% end %>
  <% end %>
</div>
