<% content_for :page_title do %>
  Add informatives - <%= t("page_title") %>
<% end %>

<%= render(
      partial: "shared/assessment_task_breadcrumbs",
      locals: {planning_application: @planning_application}
    ) %>

<% content_for :title, "Add informatives" %>

<%= render(
      partial: "shared/proposal_header",
      locals: {heading: "Add informatives"}
    ) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render(ReviewerCommentComponent.new(comment: @informative_set.current_review)) %>

    <%= govuk_error_summary(@informative) %>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Add, edit and sort informatives</h2>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <% if @informatives.any? %>
      <ol data-controller="sortable" class="govuk-list sortable-list">
        <% @informatives.each do |informative| %>
          <%= render(Sortable::ListItemComponent.new(
                record: informative,
                record_class: "informative",
                record_controller: "",
                record_sortable_url: planning_application_assessment_informatives_item_position_path(@planning_application, informative),
                edit_record_url: edit_planning_application_assessment_informatives_item_path(@planning_application, informative),
                remove_record_url: planning_application_assessment_informatives_item_path(@planning_application, informative)
              )) %>
        <% end %>
      </ol>
      <p class="govuk-body"><%= t(".drag_and_drop") %></p>
    <% else %>
      <p class="govuk-body">
        <strong>No informatives added yet</strong>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </p>
    <% end %>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-5">
  <div class="govuk-grid-column-two-thirds" data-controller="informative-form">
    <%= form_with model: @informative, url: planning_application_assessment_informatives_path(@planning_application) do |form| %>
      <%= form.govuk_fieldset legend: {text: "Add an informative"} do %>
        <%= form.govuk_text_field :title,
              label: {text: "Enter a title"},
              hint: {text: "Start typing to find an existing informative or create a new one"},
              form_group: {data: {informative_form_target: "container"}},
              data: {informative_form_target: "titleInput"} %>

        <%= form.govuk_text_area :text,
              label: {text: "Enter details of the informative"},
              data: {informative_form_target: "textInput"} %>
      <% end %>

      <%= form.govuk_submit("Add informative", secondary: true) %>
    <% end %>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-5">
  <div class="govuk-grid-column-full">
    <%= form_with model: @review, url: planning_application_assessment_informatives_path(@planning_application) do |form| %>
      <%= form.govuk_submit "Save and mark as complete", name: "review[status]", value: "complete" do %>
        <%= form.govuk_submit "Save and come back later", name: "review[status]", value: "in_progress", secondary: true %>
        <%= govuk_button_link_to(t("back"), planning_application_assessment_tasks_path(@planning_application), secondary: true) %>
      <% end %>
    <% end %>
  </div>
</div>
