<% content_for :page_title do %>
  Add informatives - <%= t("page_title") %>
<% end %>

<%= render(
      partial: "shared/assessment_task_breadcrumbs",
      locals: { planning_application: @planning_application }
    ) %>

<% content_for :title, "Add informatives" %>

<%= render(
      partial: "shared/proposal_header",
      locals: { heading: "Add informatives" }
    ) %>

<div class="govuk-grid-row" data-controller="informatives">
  <div class="govuk-grid-column-two-thirds">
    <% if @informative_set.informatives.select(&:persisted?).any? %>
      <ul data-controller="sortable" class="govuk-list">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <% @informative_set.informatives.select(&:persisted?).each do |informative| %>
          <%= content_tag :li, 
                          class: "sortable-list",
                          id: dom_id(informative),
                          data: { 
                            model_name: informative.class.name, 
                            sortable_url: planning_application_assessment_informative_positions_path(@planning_application, informative),
                            sortable_handle: true 
                          } do %>
            <span class="govuk-hint">Informative <%= informative.position %></span>
            <h2 class="govuk-heading-m"><%= informative.title %></h2>
            <%= render(FormattedContentComponent.new(text: informative.text)) %>
            <%= govuk_link_to "Edit", edit_planning_application_assessment_informative_path(@planning_application, informative) %>
            <%= govuk_link_to "Remove", planning_application_assessment_informative_path(@planning_application, informative), method: :delete %>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
          <% end %>
        <% end %>
      </ul>
    <% else %>
      <p class="govuk-body"><strong>No informatives added yet</strong></p>
    <% end %>

    <% if @informative_set.current_review&.complete? && params[:show_form] != "true" %>
      <%= govuk_link_to "+ Add informative", planning_application_assessment_informatives_path(@planning_application, show_form: true), class: "govuk-body" %>
    <% end %>

    <div class="govuk-!-margin-top-8">
      <%= render "form", url: new_planning_application_assessment_informative_path(@planning_application), text: "Add informative" %>

      <div class="govuk-button-group">
        <% unless @informative_set.current_review&.complete? %>
          <%= link_to "Save and mark as complete", complete_planning_application_assessment_informatives_path(@planning_application), class: "govuk-button", method: :post %>
          <button class="govuk-button govuk-button--secondary" data-action="click->informatives#addInformative" type="button">
            Save and come back later
          </button>
        <% end %>
        <%= link_to "Back", planning_application_assessment_tasks_path(@planning_application), class: "govuk-button govuk-button--secondary" %>
      </div>
    </div>
  </div>
</div>
