<%= render "shared/task_header", task: @task, heading: "View consultee responses" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render ConsulteeSummaryComponent.new(consultee: @consultee) %>
    <%= render ConsulteeResponseListComponent.new(responses: @consultee.responses, redact_and_publish: false) %>

    <div class="govuk-button-group govuk-!-margin-top-5">
      <%= govuk_button_link_to "Upload new response", new_consultee_response_path(reference: @planning_application.reference, consultee_id: @consultee.id, task_slug: @task.full_slug), secondary: true %>
      <%= govuk_button_link_to "Back", back_to_task_path, secondary: true %>
    </div>
  </div>
</div>
