<% content_for :page_title do %>
  View consultee responses - <%= t("page_title") %>
<% end %>

<% add_parent_breadcrumb_link "Home", main_app.root_path %>
<% add_parent_breadcrumb_link "Application", main_app.planning_application_path(@planning_application) %>
<% add_parent_breadcrumb_link "Consultation", main_app.planning_application_consultation_path(@planning_application) %>
<% add_parent_breadcrumb_link "View consultee responses", back_to_task_path %>
<% content_for :title, "View consultee responses" %>

<%= render(
      partial: "shared/proposal_header",
      locals: {heading: "View consultee responses"}
    ) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render ConsulteeSummaryComponent.new(consultee: @consultee) %>
    <%= render ConsulteeResponseListComponent.new(responses: @consultee.responses, redact_and_publish: false) %>

    <div class="govuk-button-group govuk-!-margin-top-5">
      <%= govuk_button_link_to "Upload new response", new_consultee_response_path(reference: @planning_application.reference, consultee_id: @consultee.id, task_slug: @task.full_slug), secondary: true %>
      <%= govuk_button_link_to "Back", back_to_task_path, secondary: true %>
    </div>
  </div>
</div>
