<%= form_with model: [@planning_application, @note], url: planning_application_notes_path(@planning_application) do |form| %>
  <%= form.govuk_error_summary %>

  <%= form.govuk_text_area :entry, rows: 5, required: true %>

  <div class="govuk-button-group">
    <%= form.submit "Add new note", class: "govuk-button", data: {module: "govuk-button"} %>
    <%= govuk_button_link_to "Back", planning_application_path(@planning_application), secondary: true %>
  </div>
<% end %>
