<% content_for :page_title do %>
  Pre-application services - <%= t("page_title") %>
<% end %>

<% add_parent_breadcrumb_link "Home", root_path %>
<% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>

<% content_for :title, "Pre-application services" %>

<%= render(
      partial: "shared/proposal_header",
      locals: {heading: "Edit pre-application services"}
    ) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @planning_application,
          url: planning_application_additional_services_url(@planning_application) do |form| %>
      <%= form.govuk_error_summary %>

      <%= form.govuk_check_boxes_fieldset :additional_services,
            legend: {text: "Select required services"} do %>
            <% PreapplicationService::TYPES.each do |type| %>
              <%= form.govuk_check_box :additional_services, type, label: {text: type.to_s.humanize}, checked: @planning_application.additional_services.map(&:name).include?(type) %>
            <% end %>
      <% end %>

      <div class="govuk-button-group">
        <%= form.submit "Save", class: "govuk-button", data: {module: "govuk-button"} %>
        <%= govuk_button_link_to "Back", planning_application_path(@planning_application), secondary: true %>
      </div>
    <% end %>
  </div>
</div>
