<%# locals: (title: "Enforcement case", with_dates: false, with_assignment: false, enforcement: nil) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds" id="case-details">
    <h1 class="govuk-heading-l"><%= title %></h1>
    <p class="govuk-body">
      <strong><%= @enforcement.address %></strong>
      <br>
      Case reference <strong><%= @enforcement.case_record.id %></strong>
    </p>

    <div id="case-statuses-tags">
      <p class="govuk-body">
        <span class="govuk-!-margin-left-1">
          <span class="govuk-tag"><%= @enforcement.status.humanize %></span>
        </span>
        <% if @enforcement.urgent? %>
          <span class="govuk-!-margin-left-1">
            <span class="govuk-tag govuk-tag--orange">urgent</span>
          </span>
        <% end %>
      </p>
    </div>

    <p class="govuk-body">
      <%= @enforcement.description || "No description" %>
    </p>
  </div>
</div>

<% if local_assigns[:with_assignment] %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds" id="dates-and-assignment-details">
    <p class="govuk-body">
      Assigned to: <strong><%= @enforcement.user&.name || "Unassigned" %></strong>
      <%= govuk_link_to (@enforcement.user.present? ? "Change assignee" : "Assign application"), "#" %>
    </p>
  </div>
</div>
<% end %>

<% if local_assigns[:with_dates] %>
  <div class="status-bar-container" id="dates-details">
    <div class="status-bar">
      <div class="status-panel" id="received-date">
        <p class="govuk-body">Received</p>
        <h3 class="govuk-heading-s">
          <%= @enforcement.received_at.to_date.to_fs %>
        </h3>
      </div>
      <div class="status-panel" id="started-date">
        <p class="govuk-body">Started</p>
        <h3 class="govuk-heading-s">
          <% if @enforcement.started_at %>
            <%= @enforcement.started_at.to_date.to_fs %>
          <% else %>
            Not yet started
          <% end %>
        </h3>
      </div>
      <div class="status-panel" id="expiry-date">
        <p class="govuk-body">Notice served</p>
        <h3 class="govuk-heading-s">
          <% if @enforcement.notice_served_at %>
            <%= @enforcement.notice_served_at_at.to_date.to_fs %>
          <% else %>
            None served
          <% end %>
        </h3>
      </div>
    </div>
  </div>
<% end %>
