<% content_for :page_title do %>
  Cancel replacement document validation request - <%= t('page_title') %>
<% end %>

<%= render "validation_requests/validation_requests_breadcrumbs" %>

<% content_for :title, "Cancel validation request" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-padding-top-6">
      Cancel validation request
    </h1>

    <h2 class="govuk-heading-m">
      Replacement document request to be cancelled
    </h2>

    <h3 class="govuk-heading-s">
      You requested
    </h3>

    <div class="govuk-inset-text">
      <p class="govuk-body">
        <strong>Replacement for:
        <%= link_to @replacement_document_validation_request.old_document.name, url_for_document(@replacement_document_validation_request.old_document), target: :_new, class: "govuk-link" %>
        </strong>
      </p>
      <p class="govuk-body">
        Reason: <%= @replacement_document_validation_request.invalidated_document_reason %>
      </p>
      <p class="govuk-body">
      <%= @replacement_document_validation_request.created_at %>
      </p>
    </div>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        The existing version of this document will continue to be used for this application after this request is cancelled.
      </strong>
    </div>

    <%= render "validation_requests/cancel_confirmation_form",
        validation_request: @replacement_document_validation_request,
        cancel_request_url: cancel_request_url(@planning_application, @replacement_document_validation_request) %>
  </div>
</div>
