<% content_for :page_title do %>
  <%= t(".check_email_settings") %> - <%= t("page_title") %>
<% end %>

<% add_parent_breadcrumb_link "Home", root_path %>
<% add_parent_breadcrumb_link "Local authorities", local_authorities_path %>
<% add_parent_breadcrumb_link @local_authority.short_name, local_authority_path(@local_authority) %>
<% add_parent_breadcrumb_link "GOV.UK Notify Settings", edit_local_authority_notify_path(@local_authority) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <%= t(".check_email_settings") %>
    </h1>

    <%= form_with(model: @email_form, url: local_authority_notify_email_path(@local_authority), id: "notify-form") do |form| %>
      <%= form.govuk_error_summary %>

      <%= form.govuk_text_field(
            :email_address,
            label: {text: t(".labels.email_address")}
          ) %>

      <%= form.govuk_text_field(
            :subject,
            label: {text: t(".labels.subject")}
          ) %>

      <%= form.govuk_text_area(
            :body, rows: 7,
            label: {text: t(".labels.body")}
          ) %>

      <% if @email_form.checked? %>
        <%= form.govuk_submit(t(".buttons.continue"), name: "continue", value: "true") do %>
          <%= form.govuk_submit(t(".buttons.send_again"), secondary: true) %>
          <%= govuk_button_link_to t(".buttons.back"), edit_local_authority_notify_path(@local_authority), secondary: true %>
        <% end %>
      <% else %>
        <%= form.govuk_submit(t(".buttons.send")) do %>
          <%= form.govuk_submit(t(".buttons.skip"), name: "continue", value: "true", secondary: true) %>
          <%= govuk_button_link_to t(".buttons.back"), edit_local_authority_notify_path(@local_authority), secondary: true %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
