<% if proposal_details.any? %>
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">
      <%= t(".related_questions") %>
    </caption>
    <% proposal_details.each do |proposal_detail| %>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">
          <%= proposal_detail.question %>
        </th>
        <td class="govuk-table__cell">
          <%= proposal_detail.responses.map(&:value).compact.join(", ") %>
          <% if proposal_detail.metadata.policy_refs.present? %>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  <%= t(".related_legislation") %>
                </span>
              </summary>
              <div class="govuk-details__text">
                <%= formatted_policy_refs(
                  proposal_detail.metadata.policy_refs
                ) %>
              </div>
            </details>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
