<%= form_with(
      model: @site_visit,
      class: "govuk-!-margin-top-5",
      url: planning_application_assessment_site_visits_path(@planning_application, @site_visit),
      method: :post
    ) do |form| %>

  <%= form.govuk_error_summary %>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <%= form.govuk_radio_buttons_fieldset(
            :decision,
            legend: {text: "Add site visit", size: "s"}
          ) do %>
        <%= form.govuk_radio_button(
              :decision, true, label: {text: "Yes"}
            ) do %>
          <%= form.govuk_date_field(:visited_at, rows: 6, legend: {text: "Site visited at"}) %>

          <%= content_tag :div, data: {
                controller: "address-search",
                address_search_url: os_places_api_index_path,
                address_search_id: "address",
                address_search_default_address_value: form.object.address.presence || @planning_application.address
              } do %>
            <label for="address" class="govuk-heading-s govuk-!-margin-bottom-1">Search for address</label>
            <span id="address-hint" class="govuk-hint">
              Start typing address or postcode
            </span>
            <div id="address-container" class="govuk-input--width-50 govuk-!-margin-bottom-3"></div>
            <%= form.hidden_field :address, id: "address-hidden-field", value: form.object.address.presence || @planning_application.address %>
          <% end %>

          <%= form.govuk_file_field :documents,
                label: {size: "s", text: t(".upload_photos")},
                accept: acceptable_file_mime_types,
                multiple: true %>
        <% end %>

        <%= form.govuk_radio_button(:decision, false, label: {text: "No"}) %>

        <%= form.govuk_text_area(:comment, rows: 6, label: {text: "Comment"}) %>
      <% end %>
    </fieldset>

    <div class="govuk-button-group govuk-!-padding-top-7">
      <%= form.submit "Save and mark as complete", class: "govuk-button govuk-button--primary" %>

      <%= back_link %>
    </div>
  </div>
<% end %>
