<p>Site visit needed: <%= site_visit.decision? ? "Yes" : "No" %></p>
<p>Response created by: <%= site_visit.created_by.name %></p>
<p>Response created at: <%= site_visit.created_at.to_fs %></p>
<% if site_visit.decision? %>
  <p>Visited at: <%= site_visit.visited_at&.to_date&.to_fs %></p>
<% end %>
<% if site_visit.neighbour.present? %>
  <p>Neighbour: <%= site_visit.neighbour.address %></p>
<% elsif site_visit.address.present? %>
  <p>Address: <%= site_visit.address %></p>
<% end %>
<p>Comment: <%= site_visit.comment %></p>
