<% content_for :page_title do %>
  Site visit - <%= t("page_title") %>
<% end %>

<%= render(
      partial: "shared/assessment_task_breadcrumbs",
      locals: {planning_application: @planning_application}
    ) %>
<% content_for :title, "Site visit" %>

<%= render(
      partial: "shared/proposal_header",
      locals: {heading: "View site visits"}
    ) %>

<% if @consultation && @consultation.neighbour_responses.objection.any? %>
  <h2>Objected neighbour responses</h2>
  <%= render "planning_applications/neighbour_responses/responses", neighbour_responses: @consultation.neighbour_responses.objection %>
<% end %>

<% if @site_visits.any? %>
  <h2>Site visits</h2>

  <details class="govuk-details govuk-!-padding-top-5" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        See previous site visit responses
      </span>
    </summary>
    <div class="govuk-details__text">
      <% @site_visits.each do |site_visit| %>
        <%= render "overview", site_visit: site_visit %>
        <p><%= site_visit.documents.count %> document<%= (site_visit.documents.count == 1) ? "" : "s" %> added</p>

        <p><%= govuk_link_to "View", planning_application_assessment_site_visit_path(@planning_application, site_visit) %></p>
        <hr>
      <% end %>
    </div>
  </details>
<% else %>
  <p>
    No site visit responses have been added yet.
  </p>
<% end %>

<% unless @planning_application.determined? %>
  <%= govuk_link_to "Add site visit response", new_planning_application_assessment_site_visit_path(@planning_application) %>
<% end %>

<div class="govuk-button-group govuk-!-padding-top-7">
  <%= back_link %>
</div>
