<% content_for :page_title do %>
  Site visit - <%= t("page_title") %>
<% end %>

<%= render(
      partial: "shared/assessment_task_breadcrumbs",
      locals: {planning_application: @planning_application}
    ) %>
<% content_for :title, "Site visit" %>

<%= render(
      partial: "shared/proposal_header",
      locals: {heading: "Add a site visit"}
    ) %>

<% if @consultation && @consultation.neighbour_responses.objection.any? %>
  <h2 class="govuk-!-margin-top-7">Objected neighbour responses</h2>
  <%= render "planning_applications/neighbour_responses/responses", neighbour_responses: @consultation.neighbour_responses.objection %>
<% end %>

<%= render "form" %>
