<% content_for :page_title do %>
  Site visit - <%= t("page_title") %>
<% end %>

<%= render(
      partial: "shared/assessment_task_breadcrumbs",
      locals: {planning_application: @planning_application}
    ) %>
<% content_for :title, "View site visit" %>

<%= render(
      partial: "shared/proposal_header",
      locals: {heading: "View site visit"}
    ) %>

<h2>Site visit response</h2>

<%= render "overview", site_visit: @site_visit %>

<% if @site_visit.documents.any? %>
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-width-one-third">Document</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-third">Tags</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-third">Date uploaded</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @site_visit.documents.with_file_attachment.each do |document| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-width-one-third">
            <p class="govuk-!-margin-bottom-1">
              <%= document_thumbnail_link document, thumbnail_args: {resize: "300x212"} %>
            </p>
            <p>
              <%= truncate(document.name.to_s, length: 50) %><br>
              <%= link_to_document "View in new window", document %>
            </p>
          </td>
          <td class="govuk-table__cell govuk-!-width-one-third">
            <% document.tags.each do |tag| %>
              <strong class="govuk-tag govuk-tag--turquoise"><%= I18n.t(:"#{tag}", scope: :document_tags) %></strong>
            <% end %>
          </td>
          <td class="govuk-table__cell govuk-!-width-one-third">
            <p class="govuk-!-margin-bottom-1">
              <%= document.created_at.to_fs %>
            </p>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<div class="govuk-button-group govuk-!-padding-top-7">
  <%= back_link %>
</div>
