<%= render "shared_information" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "planning_application/permitted_development_rights/information" %>

    <%= render(
        PlanningApplications::ImmunityDetailsAssessmentComponent.new(planning_application: @planning_application, evidence_groups: @planning_application.immunity_detail.evidence_groups)
      ) 
    %>
    
    <%= render "planning_application/permitted_development_rights/previous", permitted_development_rights: @permitted_development_rights %>
    <%= render "previous_review_immunity_details", review_immunity_details: @review_immunity_details %>

    <%= render "form", planning_application: @planning_application, form_url: planning_application_assess_immunity_detail_permitted_development_right_path(@planning_application), form_method: :patch %>
  </div>
</div>
