<% content_for :page_title do %>
  Add and assign consultees - <%= t("page_title") %>
<% end %>

<% add_parent_breadcrumb_link "Home", root_path %>
<% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>
<% add_parent_breadcrumb_link "Consultation", planning_application_consultation_path(@planning_application) %>
<% content_for :title, "Add and assign consultees" %>

<%= render(
      partial: "shared/proposal_header",
      locals: {heading: "Add and assign consultees"}
    ) %>

<div class="govuk-grid-row">
  <%= content_tag :div, class: "govuk-grid-column-full", data: {
        controller: "consultees",
        consultees_planning_application_id: @planning_application.reference,
        consultees_confirmation_message: "Send emails to consultees",
        consultees_prompt_message: "Select a consultee",
        consultees_error_message: "Unable to add consultee",
        consultees_target: "allConsultees"

      } do %>

    <section class="consultee-selection govuk-!-margin-top-6">
      <h2 class="govuk-heading-m">Select constraints that require consultation</h2>
      <p class="govuk-body">Review the planning constraints and select which ones require consultation.</p>

      <div class="govuk-checkboxes consultee-selection__list" data-module="govuk-checkboxes">
        <% manageable_consultees = !@planning_application.determined? %>
        <% @planning_application.planning_application_constraints.each do |constraint| %>
          <% form_data_attributes = {} %>
          <% form_data_attributes[:controller] = "auto-submit" if manageable_consultees %>

          <%= form_with scope: :planning_application_constraint,
                url: planning_application_consultees_assign_constraint_path(@planning_application),
                method: :post,
                local: true,
                data: form_data_attributes,
                class: "consultee-selection__form" do |constraint_form| %>
            <%= constraint_form.hidden_field :constraint, value: constraint.id %>
            <div class="govuk-checkboxes__item">
              <% checkbox_options = {
                   class: "govuk-checkboxes__input",
                   id: dom_id(constraint, :consultation_required),
                   data: manageable_consultees ? {action: "change->auto-submit#submit"} : nil,
                   disabled: !manageable_consultees
                 } %>
              <%= check_box_tag(
                    "planning_application_constraint[consultation_required][]",
                    "true",
                    constraint.consultation_required?,
                    **checkbox_options
                  ) %>
              <%= label_tag dom_id(constraint, :consultation_required),
                    constraint.type_code,
                    class: "govuk-label govuk-checkboxes__label" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </section>

    <%= form_with(model: @consultation,
          url: planning_application_consultation_path(@planning_application),
          data: {
            consultees_target: "form"
          }) do |form| %>

      <section class="govuk-!-margin-top-7">
        <h2 class="govuk-heading-m">Assign consultees to each constraint</h2>
        <%= render "shared/consultees_table", planning_application: @planning_application, consultation: @consultation, show_assign: true %>
        <%= render AddConsulteeComponent.new(consultees: @consultees, form: form) %>
      </section>

      <%= form.hidden_field :consultees_not_required, value: true %>

      <%= form.govuk_submit "Save" do %>
        <%= govuk_button_link_to "Back", planning_application_consultation_path(@planning_application), secondary: true, class: "back-button" %>
      <% end %>
    <% end %>
  <% end %>
</div>
