<% content_for :page_title do %>
  Assign consultees - <%= t("page_title") %>
<% end %>

<% add_parent_breadcrumb_link "Home", root_path %>
<% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>
<% add_parent_breadcrumb_link "Consultation", planning_application_consultation_path(@planning_application) %>
<% content_for :title, "Assign consultees" %>

<%= render(
      partial: "shared/proposal_header",
      locals: {heading: "Assign consultees"}
    ) %>

<div class="govuk-grid-row">
  <%= content_tag :div, class: "govuk-grid-column-full", data: {} do %>

    <%= render ErrorSummaryComponent.new(errors: @consultation.errors) %>

    <%= form_with model: @constraint,
          url: planning_application_consultees_assign_constraint_path(@planning_application),
          method: "POST",
          class: "govuk-!-margin-top-7" do |form| %>
      <%= form.govuk_error_summary %>

      <%= form.hidden_field :constraint, value: @constraint.id %>
      <%= form.govuk_collection_check_boxes :consultee_ids,
            @consultation.consultees,
            :id,
            :name,
            legend: {text: "Select consultees for #{@constraint.type_code}", size: "s"} %>

      <%= form.govuk_check_box :consultation_required, true, false, label: {text: "Consultation required?"} %>

      <div class="govuk-button-group">
        <%= form.submit "Assign consultees", class: "govuk-button", data: {module: "govuk-button"} %>
        <%= govuk_button_link_to "Back", planning_application_consultation_path(@planning_application), secondary: true %>
      </div>
    <% end %>
  <% end %>
</div>
