<p>
  Review the documents submitted by the applicant
</p>

<div class="govuk-grid-row" data-controller="download" data-application-reference-value="<%= @planning_application.reference %>">
  <div class="govuk-grid-column-full">
    <table class="govuk-table current-documents govuk-!-margin-bottom-3" data-download-target="documentsElement">
      <tbody class="govuk-table__body">
        <% @planning_application.documents.for_consultees.each do |document| %>
          <tr class="govuk-table__row" id="<%= dom_id(document) %>"
              data-document-title-value="<%= document.file.filename %>"
              data-document-url-value="<%= url_for_document(document) %>">
            <td class="govuk-table__cell govuk-!-width-one-quarter">
              <% if document.representable? %>
                <%= image_tag(main_app.uploaded_file_url(document.representation(resize_to_fill: [360, 240, gravity: "North"]))) %>
              <% else %>
                <%= image_tag("placeholder/blank_image.png", style: "max-width: 100%; max-height: 6em;", alt: "Blank image") %>
              <% end %>
            </td>
            <td class="govuk-table__cell govuk-!-width-one-half">
              <p><%= document.name %><% if document.numbers? %> — <%= document.numbers %><% end %></p>

              <p>
                <% document.tags.each do |tag| %>
                  <strong class="govuk-tag govuk-tag--turquoise">
                    <%= I18n.t(:"#{tag}", scope: :document_tags) %>
                  </strong>
                <% end %>
              </p>

              <p>
                <%= govuk_link_to "Download",
                      main_app.uploaded_file_url(document.blob, sgid: params[:sgid]),
                      new_tab: "" %>
              </p>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
      <div data-download-target="button" class="govuk-body govuk-!-margin-top-3 govuk-!-margin-bottom-6 display-flex">
        <%= govuk_link_to "Download all documents", data: {action: "click->download#submit"} %>
      </div>
    <hr>
  </div>
</div>
