<% content_for :page_title do %>
  <%= t(".consultee_overview") %>
  -
  <%= t("page_title") %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      BOPS Consultees
    </h1>

    <% if @not_required %>
      <p><strong>Your comments are no longer required</strong></p>
      <p>This consultation has now closed and comments are no longer required.</p>
      <p>
        Contact <%= govuk_mail_to(current_local_authority.feedback_email) %> if you think there's a problem.
      </p>

    <% elsif @expired_resource %>
      <h2 class="govuk-heading-s">Magic link expired</h2>
      <%= form_with model: @form,
            url: resend_link_planning_application_path(params[:reference], sgid: params[:sgid]),
            method: :post,
            class: "govuk-!-margin-top-5" do |form| %>

        <%= form.govuk_error_summary %>

        <%= form.govuk_text_field :email,
              label: {text: "Request a new email for"},
              hint: {text: "The email must be a #{@consultee.email_address.split("@").last} address."} %>

        <p>
          Contact <%= govuk_mail_to(current_local_authority.feedback_email) %> if you think there's a problem.
        </p>

        <div class="govuk-button-group">
          <%= form.submit "Request a new magic link",
                class: "govuk-button govuk-button--primary govuk-!-margin-top-5" %>
        </div>
      <% end %>

    <% elsif params[:sgid].blank? %>
      <h2 class="govuk-heading-s">You are not authenticated</h2>
      <p>
        Contact <%= govuk_mail_to(current_local_authority.feedback_email) %> if you think there's a problem.
      </p>
    <% end %>
  </div>
</div>
