<% content_for :page_title do %>
  <%= t(".overview") %> - <%= t("page_title") %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <%= @planning_application.full_address %>
    </h1>

    <p>
      <%= t(".application_number") %> <strong><%= @planning_application.reference %></strong>
    </p>

    <p class="govuk-!-margin-bottom-6">
      <%= @planning_application.status_tag %>
      <%= @planning_application.days_status_tag %>
    </p>
      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
      <% unless @planning_application.consultation.complete? %>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            Submit your comments by
            <%= @planning_application.consultation.end_date.to_fs(:day_month_year_slashes) %>
          </p>
          <p>
            Jump to
            <a class="govuk-notification-banner__link" href="#comments-form">comments section</a>.
          </p>
        </div>
      </div>
      <% else %>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            Consulation for this planning application has ended
          </p>
          <p>
            Please contact the planning officer if you have further comments.
          </p>
        </div>
      </div>
      <% end %>
  </div>
  <div class="govuk-grid-column-full">
    <% if @planning_application.boundary_geojson.present? %>
      <%= tag.div id: :"map-container", data: {
            controller: :map,
            latLong: [@planning_application.latitude, @planning_application.longitude].join(","),
            layers: {
              redline: @planning_application.boundary_geojson
            }
          } do %>
        <%= tag.div id: :map %>
      <% end %>
    <% else %>
      <p><%= t(".no_digital_sitemap") %></p>
    <% end %>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m"><% if @planning_application.pre_application? %>Pre-application<% else %>Application<% end %> details</h2>
    <div id="description">
      <p class="govuk-heading-s govuk-!-margin-bottom-2">Description</p>
      <p>
        <%= @planning_application.description %>
      </p>
    </div>
    <div id="application-type">
      <p class="govuk-heading-s govuk-!-margin-bottom-2">Application type</p>
      <p>
        <%= @planning_application.application_type.description %>
      </p>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <p class="govuk-body-s govuk-!-margin-bottom-2"><strong>Planning Officer</strong></p>
    <% if @planning_application.user %>
      <p class="govuk-body-s govuk-!-margin-bottom-2"> <%= @planning_application.user.name %></p>
      <%= mail_to @planning_application.user.email, @planning_application.user.email, class: "govuk-link govuk-link--no-visited-state govuk-!-margin-top-1" %>
    <% else %>
      <p class="govuk-body-s govuk-!-margin-bottom-2"> No planning officer assigned</p>
    <% end %>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2 class="govuk-heading-m">Submitted documents</h2>

<%= render "bops_consultees/planning_applications/documents_list" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full" id="comments-form">
    <% unless @planning_application.consultation.complete? %>
      <%= render "bops_consultees/consultee_responses/form", planning_application: @planning_application, consultee_response: @consultee_response, sgid: params[:sgid] %>
      <hr class="govuk-!-margin-top-5 govuk-!-margin-bottom-5">
      <%= render ConsulteeResponseListComponent.new(responses: @consultee.responses, redact_and_publish: false) %>
    <% end %>
  </div>
</div>
