<h3 class="govuk-heading-m">Payment information</h3>
<table class="govuk-table fee-table govuk-!-margin-bottom-2">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><%= t(".fee_paid") %></th>
      <td class="govuk-table__cell">
        <%= number_to_currency(
              @planning_application.payment_amount || 0,
              unit: "£"
            ) %>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        <%= t(".payment_reference") %>
      </th>
      <td class="govuk-table__cell">
        <%= @planning_application.payment_reference || t(".exempt") %>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><%= t(".session_id") %></th>
      <td class="govuk-table__cell"><%= @planning_application.session_id %></td>
    </tr>
  </tbody>
</table>
