<table class="govuk-table fee-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header"><%= t(".item") %></th>
      <th scope="col" class="govuk-table__header"><%= t(".detail") %></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><%= t(".fee_paid") %></th>
      <td class="govuk-table__cell">
        <%= number_to_currency(
          @planning_application.payment_amount || 0,
          unit: '£'
        ) %>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        <%= t(".payment_reference") %>
      </th>
      <td class="govuk-table__cell">
        <%= @planning_application.payment_reference || t(".exempt")  %>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><%= t(".description") %></th>
      <td class="govuk-table__cell"><%= render(FormattedContentComponent.new(text: @planning_application.description)) %></td>
    </tr>
  </tbody>
</table>
