<% content_for :page_title do %>
  Fee validation request - <%= t('page_title') %>
<% end %>

<%= render "planning_applications/validation/validation_requests/validation_requests_breadcrumbs" %>
<% content_for :title, "Fee validation" %>

<%= render(
  partial: "shared/proposal_header",
  locals: { heading: "Check the fee" }
) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= render "fee_item_table" %>

    <% if @planning_application.fee_calculation %>
      <h3 class="govuk-heading-m">Fee calculation</h3>
      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              Application Fee
            </th>
            <td class="govuk-table__cell">
              £<%= @planning_application.fee_calculation.total_fee || 0 %>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              Exemptions
            </th>
              <td class="govuk-table__cell">
              <% if @planning_application.fee_calculation.exemptions.present? %>
                <%= @planning_application.fee_calculation.exemptions.map(&:humanize).to_sentence %>
              <% else %>
                None
              <% end %>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              Reductions
            </th>
            <td class="govuk-table__cell">
              <% if @planning_application.fee_calculation.reductions.present? %>
                <%= @planning_application.fee_calculation.reductions.map(&:humanize).to_sentence %>
              <% else %>
                None
              <% end %>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              Discount
            </th>
            <td class="govuk-table__cell">
              -£<%= @planning_application.fee_calculation.total_fee.to_d - @planning_application.fee_calculation.payable_fee.to_d %>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              Total
            </th>
            <td class="govuk-table__cell">
              £<%= @planning_application.fee_calculation.requested_fee || @planning_application.fee_calculation.payable_fee || 0 %>
            </td>
            <% if  @planning_application.fee_calculation.requested_fee.present? %>
              <td>(set by PO)</td>
            <% end %>
          </tr>
        </tbody>
      </table>
    <% end %>

    <%= render(
      partial: "proposal_details_table",
      locals: {
        proposal_details: @planning_application.fee_related_proposal_details
      }
    ) %>

    <% if @planning_application.documents.for_fee_exemption.any? %>
      <%= render(
        partial: "planning_applications/validation/fee_change_validation_requests/supporting_documents",
        locals: { documents: @planning_application.documents.for_fee_exemption }
      ) %>
    <% end %>

    <%= form_with model: @planning_application, url: validate_planning_application_validation_fee_items_path(@planning_application) do |form| %>
      <%= form.govuk_radio_buttons_fieldset :valid_fee do %>
        <p class="govuk-!-margin-top-0 govuk-!-margin-bottom-4">
          <a href="https://ecab.planningportal.co.uk/uploads/english_application_fees.pdf" class="govuk-link" target="_blank">
            A guide to the Fees for Planning Applications in England
          </a>
        </p>
        <%= form.govuk_radio_button :valid_fee, true, label: { text: "Yes"} %>
        <%= form.govuk_radio_button :valid_fee, false, label: { text: "No" } %>
      <% end %>

      <div class="govuk-button-group">
        <%= form.submit "Save", class: "govuk-button", data: { module: "govuk-button" } %>

        <%= link_to "Back", planning_application_validation_tasks_path(@planning_application), class: "govuk-button govuk-button--secondary" %>
      </div>
    <% end %>
  </div>
</div>
