<%= form_with(model: @local_authority, url: local_authority_notify_path(@local_authority), id: "notify-form") do |form| %>
  <%= form.govuk_error_summary %>

  <%= form.govuk_fieldset(legend: {text: t(".settings")}) do %>
    <%= form.govuk_password_field(
          :notify_api_key,
          label: {text: t(".notify_api_key")},
          value: @local_authority.notify_api_key
        ) %>

    <%= form.govuk_text_field(
          :email_reply_to_id,
          label: {text: t(".email_reply_to_id")}
        ) %>
  <% end %>

  <div class="govuk-form-group">
    <label class="govuk-label" for="notify_email_template_id"><%= t(".email_template_id") %></label>
    <div class="govuk-input__wrapper">
      <input
              class="govuk-input govuk-input--width-one-third"
              id="notify_email_template_id"
              type="text"
              name="local_authority[email_template_id]"
              value="<%= @local_authority.email_template_id %>"
              autocomplete="off">
      <div class="govuk-input__suffix">
        <%= govuk_link_to(
              "Send test email",
              main_app.bops_admin_notify_send_test_path(email_template_id: @local_authority.email_template_id)
            ) %>
      </div>
    </div>
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="notify_sms_template_id"><%= t(".sms_template_id") %></label>
    <div class="govuk-input__wrapper">
      <input
              class="govuk-input govuk-input--width-one-third"
              id="notify_sms_template_id"
              type="text"
              name="local_authority[sms_template_id]"
              value="<%= @local_authority.sms_template_id %>"
              autocomplete="off">
      <div class="govuk-input__suffix">
        <%= govuk_link_to(
              "Send test SMS",
              main_app.bops_admin_notify_send_test_path(sms_template_id: @local_authority.sms_template_id)
            ) %>
      </div>
    </div>
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="notify_letter_template_id"><%= t(".letter_template_id") %></label>
    <div class="govuk-input__wrapper">
      <input
              class="govuk-input govuk-input--width-one-third"
              id="notify_letter_template_id"
              type="text"
              name="local_authority[letter_template_id]"
              value="<%= @local_authority.letter_template_id %>"
              autocomplete="off">
      <div class="govuk-input__suffix">
        <%= govuk_link_to(
              "Preview letter",
              main_app.bops_admin_notify_preview_letter_path(letter_template_id: @local_authority.letter_template_id)
            ) %>
      </div>
    </div>
  </div>

  <%= form.govuk_submit(t(".submit")) do %>
    <%= back_link %>
  <% end %>
<% end %>
