
<% content_for :page_title do %>
  <%= t(".local_authorities") %> - <%= t("page_title") %>
<% end %>

<% add_parent_breadcrumb_link "Home", root_path %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1>
      <%= t(".local_authorities") %>
    </h1>

    <div class="govuk-tabs" data-module="govuk-tabs">
      <%= govuk_tabs do |tabs| %>
        <% tabs.with_tab(label: "All") do %>
          <%= render("table", local_authorities: @local_authorities) %>
        <% end %>

        <% tabs.with_tab(label: "Active") do %>
          <%= render("table", local_authorities: @local_authorities.select(&:active?)) %>
        <% end %>

        <% tabs.with_tab(label: "Inactive") do %>
          <%= render("table", local_authorities: @local_authorities.select(&:inactive?)) %>
        <% end %>
      <% end %>

      <div class="govuk-button-group">
        <%= govuk_button_link_to "Onboard local authority", new_local_authority_path, secondary: true %>
        <%= back_link %>
      </div>
    </div>
  </div>
</div>
