<% content_for :page_title do %>
  <%= t(".update_application_type_status") %> - <%= t("page_title") %>
<% end %>

<% add_parent_breadcrumb_link "Home", root_path %>
<% add_parent_breadcrumb_link "Application Types", application_types_path %>

<% content_for :title, t(".update_application_type_status") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @application_type, url: [@application_type, :status] do |form| %>
       <%= form.govuk_error_summary(presenter: ApplicationTypeStatusErrorPresenter.new(@application_type.errors.messages, @application_type)) %>

      <%= form.govuk_radio_buttons_fieldset :status,
        legend: {text: t(".update_application_type_status_html",
        description: @application_type.description)} do %>

        <% if @application_type.status_was == "inactive" %>
          <%= form.govuk_radio_button :status, "inactive", label: {text: t(".inactive")}, hint: {text: t(".inactive_hint")} %>
        <% end %>

        <%= form.govuk_radio_button :status, "active", label: {text: t(".active")}, hint: {text: t(".active_hint")} %>
        <%= form.govuk_radio_button :status, "retired", label: {text: t(".retired")}, hint: {text: t(".retired_hint")} %>
      <% end %>

      <%= form.govuk_submit(t(".continue")) do %>
        <%= link_to t(".cancel"), @application_type, class: "govuk-button govuk-button--secondary" %>
      <% end %>
    <% end %>
  </div>
</div>
