<% content_for :page_title do %>
  <%= t(".title") %> - <%= t("page_title") %>
<% end %>

<% content_for :title, t(".breadcrumb") %>

<%= render(partial: "shared/assessment_task_breadcrumbs", locals: {planning_application: @planning_application}) %>
<%= render(partial: "shared/proposal_header", locals: {heading: t(".title")}) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "shared/notification_banner",
          banner_class: "govuk-notification-banner",
          role: "region",
          title: "View neighbour responses",
          heading: updated_neighbour_responses_summary_text(@neighbour_responses, @assessment_detail) %>

    <%= render(ReviewerCommentComponent.new(comment: @rejected_assessment_detail&.comment)) %>

    <%= form_with model: [@planning_application, :assessment, @assessment_detail] do |form| %>
      <%= form.govuk_error_summary %>

      <% NeighbourResponse::TAGS.select { |tag| @neighbour_responses.any? { |response| response.tags.include? tag.to_s } }.each_with_index do |tag, index| %>
          <%= govuk_accordion do |accordion| %>
            <% accordion.with_section(heading_text: "#{tag.to_s.humanize} responses (#{@neighbour_responses.count { |response| response.tags.include? tag.to_s }})") do %>
              <% @neighbour_responses.select { |response| response.tags.include? tag.to_s }.group_by { |response| response.summary_tag }.each do |opinion, resp| %>
                <div class="neighbour-response">
                  <% resp.each do |response| %>
                    <div class="neighbour-response-section">
                      <div class="govuk-inset-text">
                        <div class="neighbour-response-top-section">
                          <div class="neighbour-response-content">
                            <%= render(StatusTags::BaseComponent.new(status: response.summary_tag)) %>
                            <% if response.neighbour.selected? %>
                              <strong class="govuk-tag app-task-list__task-tag govuk-!-margin-left-1">Adjoining neighbour</strong>
                            <% end %>
                            <br><br>
                            <ul class="govuk-list">
                              <li>
                                <strong><%= response.name %></strong> <span class="govuk-hint"><%= response.email %></span>
                              </li>
                              <li class="govuk-hint">
                                <%= response.neighbour.address %>
                              </li>
                              <li class="govuk-hint">
                                Received on <%= response.received_at.to_fs(:day_month_year_slashes) %>
                              </li>
                            </ul>
                            <%= render ShowMoreTextComponent.new(text: response.comment, length: 100) %>
                          </div>
                          <div class="neighbour-tags">
                            <% response.tags.each do |tag| %>
                              <div class="govuk-!-margin-bottom-3">
                                <strong class="govuk-tag govuk-tag--grey"><%= tag.humanize.upcase %></strong>
                              </div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          <% end %>

          <%= form.govuk_text_area(
                :"#{tag}",
                label: {text: "Summary of #{tag.to_s.humanize.downcase} comments", size: "m"},
                rows: 10,
                value: @rejected_assessment_detail&.entry&.[](/(?<=#{tag.to_s.humanize}:)(.*)/)
              ) %>
        <% end %>

        <% if @neighbour_responses.without_tags.any? %>
          <%= govuk_accordion do |accordion| %>
            <% accordion.with_section(heading_text: "Untagged responses (#{@neighbour_responses.without_tags.count})") do %>
              <% @neighbour_responses.without_tags.each_with_index do |response, index| %>
                <div class="neighbour-response">
                  <div id="accordion-default-content-<%= index %>" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-no-tag">
                    <div class="neighbour-response-section">
                      <div class="govuk-inset-text">
                        <div class="neighbour-response-top-section">
                          <div class="neighbour-response-content">
                            <%= render(StatusTags::BaseComponent.new(status: response.summary_tag)) %>
                            <% if response.neighbour.selected? %>
                              <strong class="govuk-tag app-task-list__task-tag govuk-!-margin-left-1">Adjoining neighbour</strong>
                            <% end %>
                            <br> <br>
                            <ul class="govuk-list">
                              <li>
                                <strong><%= response.name %></strong> <span class="govuk-hint"><%= response.email %></span>
                              </li>
                              <li class="govuk-hint">
                                <%= response.neighbour.address %>
                              </li>
                              <li class="govuk-hint">
                                Received on <%= response.received_at.to_fs(:day_month_year_slashes) %>
                              </li>
                            </ul>
                            <%= render ShowMoreTextComponent.new(text: response.comment, length: 100) %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>

          <%= form.govuk_text_area(
                :untagged,
                label: {text: "Summary of untagged comments", size: "m"},
                rows: 10,
                value: (@assessment_detail.entry[/(?<=untagged:)(.*)/] unless @assessment_detail.entry.nil?)
              ) %>
      <% end %>

        <%= form.hidden_field(:category, value: @category) %>
        <%= render(partial: "shared/submit_buttons", locals: {form: form}) %>
    <% end %>
  </div>
</div>
