<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p>
      This section is to select requirements to add to the application type.
    </p>
    <div class="govuk-tabs" data-module="govuk-tabs">
    <%= form_with model: @application_type, url: application_type_requirements_path(@application_type), method: :patch do |form| %>
      <%= govuk_tabs do |tabs| %>
        <% @categories.each do |category| %>
          <% tabs.with_tab(label: category.humanize) do %>
            <% if @requirements.where(category: category).length > 0 %>
                <div class="govuk-checkboxes govuk-checkboxes--small">
                  <%= form.collection_check_boxes :requirement_ids,
                        @requirements.where(category: category),
                        :id,
                        :description,
                        legend: {text: category.humanize},
                        small: true do |b| %>
                    <div class="govuk-checkboxes__item">
                      <% existing_requirement = @application_type_requirements.pluck(:local_authority_requirement_id).include?(b.object.id) %>
                      <%= b.check_box(class: "govuk-checkboxes__input", checked: existing_requirement) %>
                      <%= b.label(class: "govuk-label govuk-checkboxes__label") do %>
                        <%= b.object.description %>
                      <% end %>
                    </div>
                    <% end %>
                </div>
            <% else %>
              <p>There are no requirements of this type available.</p>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <div class="govuk-!-margin-top-4">
        <%= form.govuk_submit("Update requirements") %>
        <%= govuk_button_link_to t("back"), secondary: true %>
      </div>
    <% end %>
    </div>
  </div>
</div>
