<div class="govuk-!-margin-bottom-7">
  <h2><%= t(".check_press_notice") %></h2>

  <% if @planning_application.press_notice.nil? %>
    <p>
      <%= t(".press_notice_incomplete") %>
    </p>
  <% elsif @planning_application.press_notice.required? %>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-third"><%= t(".reasons_for_press_notice") %></th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter"><%= t(".publication_date") %></th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter"><%= t(".uploaded_by") %></th>
          <th scope="col" class="govuk-table__header"><%= t(".expiry_date") %></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <%= @planning_application.press_notice.reason %>
          </td>
          <td class="govuk-table__cell">
            <%= @planning_application.press_notice.published_at&.to_fs(:day_month_year_slashes) || "–" %>
          </td>
          <td class="govuk-table__cell">
            <%= @planning_application.press_notice.uploaded_by&.name || "–" %>
          </td>
          <td class="govuk-table__cell">
            <%= @planning_application.press_notice.expiry_date&.to_fs(:day_month_year_slashes) || "–" %>
          </td>
        </tr>
      </tbody>
    </table>
    <h3><%= t(".evidence_of_press_notice") %></h3>
    <% if document = @planning_application.press_notice.last_document %>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <p class="govuk-!-margin-bottom-1">
            <%= link_to_document(image_tag(document.representation(resize_to_fill: [360, 240]), style: "width:100%"), document) %>
          </p>
          <ul class="govuk-list">
            <li><%= link_to_document(t(".view_in_new_window"), document, no_visited_state: true) %></li>
            <li><%= govuk_link_to t(".view_more_documents"), planning_application_press_notice_confirmation_path(@planning_application, @planning_application.press_notice), no_visited_state: true %></li>
          </ul>
        </div>
        <div class="govuk-grid-column-two-thirds">
          <ul class="govuk-list">
            <li>File name: <%= document.name %></li>
            <li>Date uploaded: <%= document.created_at.to_date.to_fs %></li>
          </ul>
        </div>
      </div>
    <% else %>
      <p>
        <%= t(".no_documents_uploaded") %><br>
      </p>
    <% end %>

  <% else %>
    <p>
      <%= t(".press_notice_not_required") %><br>
    </p>
  <% end %>
</div>
