<% content_for :page_title do %>
  <%= t(".title") %> - <%= t("page_title") %>
<% end %>

<% content_for :title, t(".breadcrumb") %>

<%= render(partial: "shared/review_task_breadcrumbs", locals: {planning_application: @planning_application}) %>

<%= render(partial: "shared/proposal_header", locals: {heading: t(".title")}) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-!-margin-top-5" id="site-notice-check">
      <h2 class="govuk-heading-m"><%= t(".check_site_notice") %></h2>

      <% if @site_notice.nil? %>
        <p class="govuk-body">
          <%= t(".site_notice_incomplete") %>
        </p>
      <% elsif @site_notice.required? %>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-third"><%= t(".display_date") %></th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-third"><%= t(".uploaded_by") %></th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-third"><%= t(".expiry_date") %></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <%= @site_notice.displayed_at&.to_fs(:day_month_year_slashes) || "–" %>
              </td>
              <td class="govuk-table__cell">
                <%= @site_notice.uploaded_by&.name || "–" %>
              </td>
              <td class="govuk-table__cell">
                <%= @site_notice.expiry_date&.to_fs(:day_month_year_slashes) || "–" %>
              </td>
            </tr>
          </tbody>
        </table>

        <h3 class="govuk-heading-s"><%= t(".evidence_of_site_notice") %></h3>

        <% if document = @site_notice.last_document %>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <p class="govuk-body govuk-!-margin-bottom-1">
                <%= link_to_document(image_tag(document.file.representation(resize_to_fill: [360, 240]), style: "width:100%"), document) %>
              </p>
              <ul class="govuk-list">
                <li><%= link_to_document(t(".view_in_new_window"), document, no_visited_state: true) %></li>
                <li><%= govuk_link_to t(".view_more_documents"), planning_application_site_notice_path(@planning_application, @site_notice), no_visited_state: true %></li>
              </ul>
            </div>
            <div class="govuk-grid-column-two-thirds">
              <ul class="govuk-list">
                <li>File name: <%= document.name %></li>
                <li>Date uploaded: <%= document.created_at.to_date.to_fs %></li>
              </ul>
            </div>
          </div>
        <% else %>
          <p class="govuk-body">
            <%= t(".no_documents_uploaded") %><br>
          </p>
        <% end %>
      <% else %>
        <p class="govuk-body">
          <%= t(".site_notice_not_required") %><br>
        </p>
      <% end %>
    </div>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <div class="govuk-!-margin-bottom-7" id="press-notice-check">
      <h2 class="govuk-heading-m"><%= t(".check_press_notice") %></h2>

      <% if @press_notice.nil? %>
        <p class="govuk-body">
          <%= t(".press_notice_incomplete") %>
        </p>
      <% elsif @press_notice.required? %>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-third"><%= t(".reasons_for_press_notice") %></th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter"><%= t(".publication_date") %></th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter"><%= t(".uploaded_by") %></th>
              <th scope="col" class="govuk-table__header"><%= t(".expiry_date") %></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <%= @press_notice.reason %>
              </td>
              <td class="govuk-table__cell">
                <%= @press_notice.published_at&.to_fs(:day_month_year_slashes) || "–" %>
              </td>
              <td class="govuk-table__cell">
                <%= @press_notice.uploaded_by&.name || "–" %>
              </td>
              <td class="govuk-table__cell">
                <%= @press_notice.expiry_date&.to_fs(:day_month_year_slashes) || "–" %>
              </td>
            </tr>
          </tbody>
        </table>
        <h3 class="govuk-heading-s"><%= t(".evidence_of_press_notice") %></h3>
        <% if document = @press_notice.last_document %>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <p class="govuk-body govuk-!-margin-bottom-1">
                <%= link_to_document(image_tag(document.file.representation(resize_to_fill: [360, 240]), style: "width:100%"), document) %>
              </p>
              <ul class="govuk-list">
                <li><%= link_to_document(t(".view_in_new_window"), document, no_visited_state: true) %></li>
                <li><%= govuk_link_to t(".view_more_documents"), planning_application_press_notice_confirmation_path(@planning_application), no_visited_state: true %></li>
              </ul>
            </div>
            <div class="govuk-grid-column-two-thirds">
              <ul class="govuk-list">
                <li>File name: <%= document.name %></li>
                <li>Date uploaded: <%= document.created_at.to_date.to_fs %></li>
              </ul>
            </div>
          </div>
        <% else %>
          <p class="govuk-body">
            <%= t(".no_documents_uploaded") %><br>
          </p>
        <% end %>

      <% else %>
        <p class="govuk-body">
          <%= t(".press_notice_not_required") %><br>
        </p>
      <% end %>
    </div>

    <%= render "form", disabled: true %>
  </div>
</div>
