<%= form_with model: [@planning_application, @press_notice],
              local: true,
              builder: GOVUKDesignSystemFormBuilder::FormBuilder do |form| %>
  <%= form.govuk_error_summary(presenter: ErrorPresenter) %>

  <%= form.govuk_radio_buttons_fieldset(
    :required,
    legend: nil
  ) do %>
    <%= form.govuk_radio_button(
      :required, true, checked: @press_notice.required, disabled: @press_notice.published_at, label: { text: "Yes" }
    ) do %>
      <fieldset class="govuk-fieldset govuk-!-margin-top-3">
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <% PressNotice.reasons_list.each do |key, values| %>
            <div class="govuk-checkboxes__item">
              <%= check_box_tag(
                "press_notice[reasons][#{key}]",
                values.first,
                @press_notice.reasons&.key?(key.to_s),
                class: "govuk-checkboxes__input",
                id: "press_notice_reason_#{key}",
                disabled: @press_notice.published_at
              ) %>
              <%= label_tag(
                "press_notice_reason_#{key}",
                values.first,
                class: "govuk-label govuk-checkboxes__label",
              ) %>
            </div>
          <% end %>

          <p class="govuk-body-s">or</p>

          <%= form.govuk_check_box :other_reason_selected, 1, 0, multiple: false, disabled: @press_notice.published_at, label: { text: "Other" }, checked: @press_notice.reasons&.key?("other") do %>
            <%= form.govuk_text_area :"reasons[other]", value: @press_notice.reasons&.dig("other"), disabled: @press_notice.published_at, label: { text: "Provide an other reason why this application requires a press notice" } %>
          <% end %>
        </div>
      </fieldset>

      <% unless @press_notice.published_at %>
        <div class="govuk-inset-text">
          <p class="govuk-body">
            <% if @press_notice.press_notice_email.present? %>
              An email notification will be sent to <strong><%= @planning_application.local_authority.press_notice_email %></strong> if a press notice is required.
            <% else %>
              No press notice email has been set. This can be done by an administrator in the admin dashboard.
            <% end %>
          </p>
        </div>
      <% end %>
    <% end %>

    <%= form.govuk_radio_button(
      :required, false, checked: @press_notice.required == false, disabled: @press_notice.published_at, label: { text: "No" }
    ) %>
  <% end %>

  <% if @press_notice.published_at %>
    <div class="govuk-inset-text">
      <p class="govuk-body">
        Press notice was published on <%= @press_notice.published_at.to_date.to_fs %>
      </p>
    </div>
  <% end %>

  <div class="govuk-button-group">
    <% unless @press_notice.published_at %>
      <%= form.submit "Save and mark as complete", class: "govuk-button", data: { module: "govuk-button" } %>
    <% end %>
    <%= back_link %>
  </div>
<% end %>


