<% content_for :page_title do %>
  Evidence of immunity - <%= t('page_title') %>
<% end %>

<%= render(
  partial: "shared/assessment_task_breadcrumbs",
  locals: { planning_application: @planning_application  }
) %>

<% content_for :title, "Evidence of immunity" %>

<%= render(
  partial: "shared/proposal_header",
  locals: { heading: "Evidence of immunity"  }
) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render(PlanningApplications::ImmunityDetailsComponent.new(immunity_details: @planning_application.immune_proposal_details)) %>

    <%= render "previous" %>

    <%= render(
      EvidenceGroups::AccordionComponent.new(
        planning_application: @planning_application,
        sections: @planning_application.immunity_detail.evidence_groups
      )
    ) %>
  </div>
</div>
