<% content_for :page_title do %>
  Recommendation to committee - <%= t("page_title") %>
<% end %>

<%= render(
      partial: "shared/review_task_breadcrumbs",
      locals: {planning_application: @planning_application}
    ) %>

<% content_for :title, "Recommendation to committee" %>

<%= render(
      partial: "shared/proposal_header",
      locals: {heading: "Recommendation to committee"}
    ) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">
      Assessor recommendation
    </h2>

    <% if @committee_decision.recommend? %>
      <p class="govuk-body">
        The case officer has marked this application as requiring decision by Committee for the following reasons:
      </p>

      <div class="grey-box">
        <h3 class="govuk-heading-s">
          Reasons selected:
        </h3>

        <ul class="govuk-list">
          <% @committee_decision.reasons.each do |reason| %>
            <li><%= reason %></li>
          <% end %>
        </ul>
      </div>
    <% else %>
      <p class="govuk-body">
        The case officer has marked this application as not requiring decision by Committee.
      </p>
    <% end %>

    <h3 class="govuk-heading-s">
      Submitted recommendation
    </h3>
    <p class="govuk-body">
      by <%= @planning_application.user&.name %>, <%= @planning_application.in_assessment_at.to_fs %>
    </p>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<%= form_with(
      model: @committee_decision,
      url: planning_application_review_committee_decision_path(@planning_application, @committee_decision)
    ) do |form| %>

    <%= form.fields_for :reviews_attributes, @committee_decision.current_review do |review_form| %>
    <%= review_form.govuk_radio_buttons_fieldset :action, small: true, legend: {size: "s", text: "Do you agree with the recommendation?"} do %>
      <%= review_form.govuk_radio_button(
            :action, :accepted, checked: @committee_decision.current_review.accepted?, label: {text: "Yes"}
          ) %>

      <%= review_form.govuk_radio_button(
            :action, :rejected, checked: @committee_decision.current_review.rejected?, label: {text: "No (return the case for assessment)"}
          ) do %>
        <%= review_form.govuk_text_area(
              :comment, value: @committee_decision.current_review.comment, rows: 6, label: {text: "Explain why you do not agree with the recommendation"}
            ) %>
      <% end %>
    <% end %>
  <% end %>
  <div class="govuk-button-group">
    <%= form.submit "Save and mark as complete", class: "govuk-button" %>
    <%= govuk_button_link_to "Back", planning_application_review_tasks_path(@planning_application), secondary: true %>
  </div>
<% end %>
