<% content_for :page_title do %>
  Send letters to neighbours - <%= t('page_title') %>
<% end %>

<% add_parent_breadcrumb_link "Home", root_path %>
<% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>
<% add_parent_breadcrumb_link "Consultation", planning_application_consultations_path(@planning_application) %>
<% content_for :title, "Send letters to neighbours" %>

<%= render(
  partial: "shared/proposal_header",
  locals: { heading: "Send letters to neighbours" }
) %>

<div class="govuk-grid-row">
  <%= content_tag :div, class: "govuk-grid-column-full", data: {
    controller: "address-fill polygon-search",
    address_fill_url: os_places_api_index_path,
    polygon_search_url: search_addresses_by_polygon_path
  } do %>
    <%= render "select_neighbours", geojson: @geojson_features || @planning_application.boundary_geojson, consultation: @consultation %>

    <%= render "neighbour_addresses_form", planning_application: @planning_application, consultation: @consultation %>

    <p class="govuk-body">or</p>

    <%= render "form", locals: { planning_application: @planning_application, consultation: @consultation, url: planning_application_consultation_path(@planning_application, @consultation) } %>

    <%= render "neighbours_added", planning_application: @planning_application, consultation: @consultation %>

    <%= render "selected_list", planning_application: @planning_application, consultation: @consultation %>
  <% end %>

  <%= link_to "Back", planning_application_path(@planning_application), class: "govuk-button govuk-button--secondary" %>
</div>
