<% content_for :page_title do %>
  Consultation
<% end %>

<% if flash[:sent_consultee_emails] %>
  <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
    aria-labelledby="govuk-notification-banner-title"
    data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Success
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <h3 class="govuk-notification-banner__heading">
        Emails have been sent to the selected consultees.
      </h3>
      <p class="govuk-body">Contact <a class="govuk-notification-banner__link" href="https://www.notifications.service.gov.uk/support">GOV.UK Notify</a> if you think there’s a problem.</p>
    </div>
  </div>
<% end %>

<% add_parent_breadcrumb_link "Home", root_path %>
<% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>
<% content_for :title, "Consultation" %>

<%= render(
  partial: "shared/proposal_header",
  locals: { heading: "Consultation" }
) %>

<%= render "shared/dates_and_assignment_header" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <ol class="app-task-list govuk-!-margin-top-8">
      <li id="neighbour-tasks">
        <h2 class="govuk-heading-m">Neighbours</h2>
        <ul class="app-task-list__items" id="neighbour-section">
          <%= render(
            TaskListItems::SendLettersToNeighboursComponent.new(
              planning_application: @planning_application
            )
          ) %>
          <%= render(
            TaskListItems::NeighbourResponsesComponent.new(
              planning_application: @planning_application
            )
          ) %>
          <% if @consultation.site_visits.any? || @consultation.neighbour_responses.objection.any? %>
            <%= render(
              TaskListItems::SiteVisitComponent.new(
                planning_application: @planning_application
              )
            ) %>
          <% end %>
        </ul>
      </li>
      <li id="consultee-tasks">
        <h2 class="govuk-heading-m">Consultees</h2>
        <ul class="app-task-list__items" id="consultation-section">
          <%= render(
            TaskListItems::EmailConsulteesComponent.new(
              planning_application: @planning_application
            )
          ) %>
          <%= render(
            TaskListItems::ConsulteeResponsesComponent.new(
              planning_application: @planning_application
            )
          ) %>
        </ul>
      </li>
      <li id="publicity-tasks">
        <h2 class="govuk-heading-m">Publicity</h2>
        <ul class="app-task-list__items" id="publicity-section">
          <%= render(
            TaskListItems::SiteNoticeComponent.new(
              planning_application: @planning_application
            )
          ) %>
          <% if @planning_application.site_notices&.last&.required %>
            <%= render(
              TaskListItems::ConfirmSiteNoticeComponent.new(
                planning_application: @planning_application
              )
            ) %>
          <% end %>
          <%= render(
            TaskListItems::PressNoticeComponent.new(
              planning_application: @planning_application
            )
          ) %>
          <% if @planning_application.press_notice.try(:required) %>
            <%= render(
              TaskListItems::ConfirmPressNoticeComponent.new(
                planning_application: @planning_application
              )
            ) %>
          <% end %>
        </ul>
      </li>
    </ol>
    <%= link_to "Back", planning_application_path(@planning_application), class: "govuk-button govuk-button--secondary" %>
  </div>
</div>
