<%= form_with model: [@planning_application], url: planning_application_validation_environment_impact_assessment_url(@planning_application) do |form| %>
  <%= form.govuk_error_summary(presenter: ErrorPresenter) %>

  <%= form.govuk_radio_buttons_fieldset(
      :environment_impact_assessment,
      legend: { size: "m" }
    ) do %>
      <p class="govuk-body">
        <%= link_to(
          "Check EIA guidance",
          t("environment_impact_assessment.guidance_link"),
          class: "govuk-link",
          target: "_blank"
        ) %>
      </p>
      <%= form.govuk_radio_button(
        :environment_impact_assessment, 
        true, 
        checked: @planning_application.environment_impact_assessment, 
        label: { text: t(".label.yes") }, 
        hint: { text: t(".hint") }
      ) %>
      <%= form.govuk_radio_button(
        :environment_impact_assessment, 
        false, 
        checked: @planning_application.environment_impact_assessment == false, 
        label: { text: t(".label.no") }
      ) %>
  <% end %>

  <div class="govuk-button-group">
    <%= form.submit(
      t("form_actions.save_and_mark_as_complete"),
      class: "govuk-button",
      data: { module: "govuk-button" }
    ) %>
    <%= back_link %>
  </div>
<% end %>
