<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: [@environment_impact_assessment], url: planning_application_validation_environment_impact_assessment_url(@planning_application) do |form| %>
      <% if @environment_impact_assessment.errors.any? %>
        <div class="govuk-error-summary" data-module="govuk-error-summary">
          <div role="alert">
            <h2 class="govuk-error-summary__title">
              There is a problem
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                <li>
                  <% if @environment_impact_assessment.errors.include? :address %>
                    <%= t("environment_impact_assessment.address_error") %>
                  <% else %>
                    <%= t("environment_impact_assessment.fee_error") %>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      <% end %>

      <%= form.govuk_radio_buttons_fieldset(
          :title,
          legend: { size: "m" }
        ) do %>
        <p class="govuk-body">
          <%= link_to(
            "Check EIA guidance",
            t("environment_impact_assessment.guidance_link"),
            class: "govuk-link",
            target: "_blank"
          ) %>
        </p>
        <% if editable %>
          <%= form.govuk_radio_button(
            :required, 
            true, 
            checked: @environment_impact_assessment.required, 
            label: { text: t(".label.yes") }, 
            hint: { text: t(".hint") }
          ) do %>
            <%= form.govuk_text_field :address, 
              hint: { text: "Enter the address where members of the public can view or purchase a hard copy of the Environmental Statement (optional)" },
              label: { text: "Enter the address where members of the public can view or purchase a hard copy of the Environmental Statement (optional)", hidden: true }
            %>
            <%= form.govuk_text_field :fee, 
              hint: { text: "Enter the fee to obtain a hard copy of the Environmental Statement (optional)" },
              label: { text: "Enter the fee to obtain a hard copy of the Environmental Statement (optional)", hidden: true },
              prefix_text: '£',
              width: 'one-quarter' 
            %>
          <% end %>
          <%= form.govuk_radio_button(
            :required, 
            false, 
            checked: @environment_impact_assessment.required == false, 
            label: { text: t(".label.no") },
          ) %>
        <% else %>
          <%= form.govuk_radio_button(
            :required, 
            true, 
            checked: @environment_impact_assessment.required, 
            label: { text: t(".label.yes") }, 
            hint: { text: t(".hint") },
            disabled: true
          ) do %>
            <%= form.govuk_text_field :address, 
              hint: { text: "Enter the address where members of the public can view or purchase a hard copy of the Environmental Statement (optional)" },
              label: { text: "Enter the address where members of the public can view or purchase a hard copy of the Environmental Statement (optional). Include building name/number, street, town, postcode.", hidden: true },
              disabled: true
            %>
            <%= form.govuk_text_field :fee, 
              hint: { text: "Enter the fee to obtain a hard copy of the Environmental Statement (optional)" },
              label: { text: "Enter the fee to obtain a hard copy of the Environmental Statement (optional)", hidden: true },
              prefix_text: '£',
              width: 'one-quarter',
              disabled: true
            %>
          <% end %>
          <%= form.govuk_radio_button(
            :required, 
            false, 
            checked: @environment_impact_assessment.required == false, 
            label: { text: t(".label.no") },
            disabled: true
          ) %>
        <% end %>
      <% end %>

      <div class="govuk-button-group">
        <% if editable %>
          <%= form.submit(
            t("form_actions.save_and_mark_as_complete"),
            class: "govuk-button",
            data: { module: "govuk-button" }
          ) %>
        <% end %>
        <%= back_link %>
        <% if !editable %>
          <%= link_to "Edit information", edit_planning_application_validation_environment_impact_assessment_path(@planning_application), class: "govuk-body govuk-link" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
