<%= form_with(
  model: search,
  builder: GOVUKDesignSystemFormBuilder::FormBuilder,
  data: { action: "submit->search#handleSubmit" }
) do |form| %>
  <%= form.govuk_error_summary(presenter: ErrorPresenter) %>
  <% planning_applications.pluck(:id).each do |id| %>
    <%= form.hidden_field(
      :planning_application_ids,
      multiple: true,
      value: id
    ) %>
  <% end %>
  <div class="search-form-inputs">
    <%= form.govuk_fieldset(legend: { text: nil }) do %>
      <%= form.govuk_text_field(
        :query,
        class: "govuk-input--width-30",
        label: { text: t(".find_an_application") },
        hint: { text: t(".you_can_search") }
      ) %>
    <% end %>
    <%= form.govuk_submit(t(".search")) %>
  </div>
<% end %>
