<% content_for :page_title do %>
  Edit constraints - <%= t('page_title') %>
<% end %>

<% add_parent_breadcrumb_link "Home", planning_applications_path %>
<% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>
<% content_for :title, "Edit constraints" %>

<h1 class="govuk-heading-l">Edit constraints</h2>

<%= render "shared/planning_application_address_and_reference" %>

<div class="govuk-grid-row">
  <%= form_with model: @planning_application, url: planning_application_constraints_path(@planning_application), local: true do |form| %>
    <div class="govuk-grid-column-two-thirds">
      <% t("constraints").each do |type, constraints| %>
        <fieldset class="govuk-fieldset govuk-!-margin-top-3">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <h2 class="govuk-fieldset__heading">
              <%= type.to_s.humanize %>
            </h2>
          </legend>
          <div class="form-group">
            <div class="govuk-checkboxes govuk-checkboxes--small">
              <%= form.collection_check_boxes :constraints, constraints, :itself, :itself do |b| %>
                <div class="govuk-checkboxes__item">
                  <%= b.check_box class: "govuk-checkboxes__input" %>
                  <%= b.label class: "govuk-label govuk-checkboxes__label tag_checkbox_label" %>
                </div>
              <% end %>
            </div>
          </div>
        </fieldset>
      <% end %>

      <% if @planning_application.custom_constraints.any? %>
        <fieldset class="govuk-fieldset govuk-!-margin-top-3">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <h2 class="govuk-fieldset__heading">
              Local constraints
            </h2>
          </legend>
          <div class="form-group">
            <div class="govuk-checkboxes govuk-checkboxes--small">
              <%= form.collection_check_boxes :constraints, @planning_application.custom_constraints, :itself, :itself do |b| %>
                <div class="govuk-checkboxes__item">
                  <%= b.check_box class: "govuk-checkboxes__input" %>
                  <%= b.label class: "govuk-label govuk-checkboxes__label tag_checkbox_label" %>
                </div>
              <% end %>
            </div>
          </div>
        </fieldset>
      <% end %>

      <div class="form-group">
        <%= form.label :constraints, "Add a local constraint", class: 'govuk-heading-s govuk-!-margin-top-6' %>
        <%= form.text_area :constraints, class: "govuk-textarea", rows: "3", "aria-describedby": "constraints-hint", multiple: true, value: "" %>
      </div>

      <div class="govuk-button-group">
        <%= form.submit "Save", class: "govuk-button", data: { module: "govuk-button" } %>
        <%= back_link %>
      </div>
    </div>
  <% end %>
</div>
