<% content_for :page_title do %>
  Edit constraints - <%= t('page_title') %>
<% end %>

<% add_parent_breadcrumb_link "Home", root_path(filter_options: PlanningApplication::FILTER_OPTIONS) %>
<% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>
<% content_for :title, "Edit constraints" %>

<%= render(
  partial: "shared/proposal_header",
  locals: { heading: "Edit constraints"  }
) %>

<div class="govuk-grid-row">
  <%= form_with model: @planning_application, url: planning_application_constraints_path(@planning_application), local: true do |form| %>
    <%= form.hidden_field(:return_to, value: @back_path) %>

    <div class="govuk-grid-column-two-thirds">
      <% Constraint.grouped_by_category(@planning_application.local_authority_id).each do |category, constraints| %>
        <fieldset class="govuk-fieldset govuk-!-margin-top-3">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <h2 class="govuk-fieldset__heading">
              <% if category == "local" %>
                Local constraints
              <% else %>
                <%= category.to_s.humanize %>
              <% end %>
            </h2>
          </legend>

          <div class="form-group">
            <div class="govuk-checkboxes govuk-checkboxes--small">         
              <% constraints.each do |constraint| %>
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <%= check_box_tag(
                      "constraint_ids[]",
                      constraint.id,
                      @constraint_ids.include?(constraint.id),
                      class: "govuk-checkboxes__input",
                      id: "constraint_id_#{constraint.id}",
                      ) %>
                    <%= label_tag(
                      "constraint_id_#{constraint.id}",
                      constraint.name,
                      class: "govuk-label govuk-checkboxes__label",
                    ) %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </fieldset>
      <% end %>

      <div class="form-group">
        <%= form.label :name, "Add a local constraint", class: 'govuk-heading-s govuk-!-margin-top-6' %>
        <%= form.text_area :name, class: "govuk-textarea", rows: "3", "aria-describedby": "constraints-hint" %>
      </div>

      <div class="govuk-button-group">
        <%= form.submit "Save", class: "govuk-button", data: { module: "govuk-button" } %>
        <%= back_link %>
      </div>
    </div>
  <% end %>
</div>
