<% content_for :page_title do %>
  Constraints - <%= t("page_title") %>
<% end %>

<%= render(
      partial: "shared/proposal_header",
      locals: { heading: "Check the constraints" }
    ) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if @planning_application.api_user.present? %>
      <h2 class="govuk-heading-m">Constraints identified by <%= @planning_application.api_user.name %></h2>
    <% end %>

    <p class="govuk-body" id="constraints-review">Review the following constraints and update as necessary.</p>
    <%= render(
          partial: "constraints/info",
          locals: {
            planning_application: @planning_application,
            constraints: @planning_application.planning_application_constraints.active
          }
        ) %>

    <p class="govuk-body" id="constraints-removed">Removed constraints</p>
    <%= render(
          partial: "constraints/info",
          locals: {
            planning_application: @planning_application,
            constraints: @planning_application.planning_application_constraints.removed
          }
        ) %>

    <%= form_with model: @planning_application, url: check_planning_application_constraints_path(@planning_application), method: :patch do |form| %>
      <div class="govuk-button-group">
        <%= form.submit "Marked as checked", class: "govuk-button", data: { module: "govuk-button" } unless @planning_application.constraints_checked? %>
        <%= link_to "Back", planning_application_validation_tasks_path(@planning_application), class: "govuk-button govuk-button--secondary" %>
      </div>
    <% end %>
  </div>
</div>
