<%= render "task_header", task: @task %>
<%= render "planning_applications/site_notices/status",
      planning_application: @planning_application,
      site_notice: @planning_application.last_site_notice,
      config: current_local_authority.site_notice %>
<% unless @planning_application.last_site_notice.displayed_at? %>
  <%= form_with(model: @form, url: @form.url, class: "govuk-!-margin-top-5") do |form| %>
    <%= form.govuk_error_summary %>

    
    <%= form.govuk_date_field :displayed_at, legend: {text: "1. What date was the site notice displayed?"} %>

    <%= form.govuk_file_field :documents,
          label: {text: "2. Upload evidence of site notice in place", size: "m"},
          hint: {text: "Add any photos of the site notice being displayed"},
          accept: acceptable_file_mime_types,
          multiple: true %>

    <%= render "task_submit_buttons", form: form, save_draft: false %>
  <% end %>
<% end %>

<% if @planning_application.last_site_notice.documents.any? %>
  <table class="govuk-table govuk-!-margin-top-6">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-width-one-third">Document</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-third">Tags</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-third">Date displayed</th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">
      <% @planning_application.last_site_notice.documents.each do |document| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-width-one-third">
            <p class="govuk-!-margin-bottom-1">
              <%= document_thumbnail_link document, thumbnail_args: {resize: "300x212"} %>
            </p>
            <p>
              <%= truncate(document.name.to_s, length: 50) %><br>
              <%= link_to_document "View in new window", document %>
            </p>
          </td>
          <td class="govuk-table__cell govuk-!-width-one-third">
            <% document.tags.each do |tag| %>
              <strong class="govuk-tag govuk-tag--turquoise">
                <%= I18n.t(:"#{tag}", scope: :document_tags) %>
              </strong>
            <% end %>
          </td>
          <td class="govuk-table__cell govuk-!-width-one-third">
            <p class="govuk-!-margin-bottom-1">
              <%= @planning_application.last_site_notice.displayed_at.to_date.to_fs %>
            </p>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p><strong>Date displayed:</strong> <%= @planning_application.last_site_notice.displayed_at.to_date.to_fs %></p>
<% end %>
