<h2 class="govuk-heading-m">
  <%= t(".header") %>
</h2>

<%= details_tag do %>
  <%= summary_tag do %>
    <%= t(".view_or_edit_email_template") %>
  <% end %>

  <%= wrapper_tag do %>
    <%= form_group_tag do %>
      <%= text_field_tag :consultee_email_subject, label: { text: t(".message_subject_label"), size: "s" } %>
    <% end %>

    <%= form_group_tag do %>
      <%= text_area_tag :consultee_email_body, rows: 25, label: { text: t(".message_body_label"), size: "s" } %>
    <% end %>

    <%= hint_tag do %>
      <%= t(".formatting_hint_html") %>
    <% end %>

    <%= button_tag do %>
      <%= t(".reset_message_to_default") %>
    <% end %>
  <% end %>
<% end %>
