<%= wrapper_tag do %>
  <%= header_tag do %>
    <%= t(".header") %>
  <% end %>

  <table class="govuk-table govuk-!-margin-bottom-3">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">
          <%= t(".name") %>
        </th>
        <th scope="col" class="govuk-table__header govuk-table__header--centred">
          <%= t(".consulted") %>
        </th>
        <th scope="col" class="govuk-table__header govuk-table__header--centred">
          <%= t(".expires") %>
        </th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">
          <%= t(".status") %>
        </th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% if consultees.none? %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" colspan="4">
            <strong><%= t(".no_consultees") %></strong>
          </td>
        </tr>
      <% else %>
        <% consultees.each do |consultee| %>
          <%= render ConsulteeOverviewRowComponent.new(consultee: consultee) %>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <% if awaiting_responses? %>
    <p>
      <%= link_tag chase_outstanding_consultees_path do %>
        <%= t(".chase_outstanding_consultees") %>
      <% end %>
    </p>
  <% elsif complete? %>
    <p>
      <%= link_tag reconsult_existing_consultees_path do %>
        <%= t(".reconsult_existing_consultees") %>
      <% end %>
    </p>
  <% end %>
<% end %>
