<h2 class="govuk-heading-m">
  <%= t(".heading") %>
</h2>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <%= t(".name") %>
    </dt>
    <dd class="govuk-summary-list__value">
      <%= name %>
    </dd>
  </div>

  <% if role? %>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= t(".role") %>
      </dt>
      <dd class="govuk-summary-list__value">
        <%= role %>
      </dd>
    </div>
  <% end %>

  <% if organisation? %>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= t(".organisation") %>
      </dt>
      <dd class="govuk-summary-list__value">
        <%= organisation %>
      </dd>
    </div>
  <% end %>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <%= t(".email_address") %>
    </dt>
    <dd class="govuk-summary-list__value">
      <%= email_address %>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <%= t(".consulted_on") %>
    </dt>
    <dd class="govuk-summary-list__value">
      <%= consulted_on %>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <%= t(".last_response_on") %>
    </dt>
    <dd class="govuk-summary-list__value">
      <%= last_response_on %>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <%= t(".status") %>
    </dt>
    <dd class="govuk-summary-list__value">
      <%= consultee_status %>
    </dd>
  </div>
</dl>
