<%= wrapper_tag do %>
  <%= header_tag do %>
    <%= consultee_name %> <%= consultee_suffix %>
  <% end %>

  <div class="govuk-inset-text" %>
    <% if responded? %>
      <p class="govuk-body-s govuk-!-margin-bottom-2">
        <%= last_received_at %>
      </p>
    <% elsif awaiting_response? %>
      <p class="govuk-body-s govuk-!-margin-bottom-2">
        <%= last_email_delivered_at %>
      </p>
    <% end %>

    <p class="govuk-body">
      <%= consultee_status %>
    </p>

    <% if responded? %>
      <p class="govuk-body">
        <%= last_response.response %>
      </p>

      <% if last_response.documents.present? %>
        <ul class="govuk-list govuk-body-s">
          <% last_response.documents.each do |document| %>
            <li><%= document_link_tag(document) %></li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </div>

  <p class="govuk-body govuk-!-margin-top-2">
    <%= view_responses_link_tag if responses? %>
    <%= upload_new_response_link_tag %>
  </p>

  <%= section_break_tag %>
<% end %>
