<%= govuk_table(html_attributes: {id: "consultees", data: {consultees_target: "allConsultees"}}) do |table| %>
  <%= table.with_head do |head| %>
    <%= head.with_row do |row|
    row.with_cell(html_attributes:{class: "govuk-!-padding-0"}) do %>
      <div
        class="govuk-checkboxes govuk-checkboxes--small"
        data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <%= toggle_all_tag %>
          <label
            class="govuk-label govuk-checkboxes__label"
            for="toggle-consultees">
            <span class="govuk-visually-hidden"><%= t(".toggle_selection") %></span>
          </label>
        </div>
      </div>
    <% end
    row.with_cell(text: "Consultee")
    row.with_cell(text: "Constraint")
    row.with_cell(text: "Type")
    row.with_cell(text: "Last contacted")
    row.with_cell(text: "Status", numeric: true)
    end %>
  <% end %>
  <%= table.with_body do |body| %>
    <% consultees.each do |consultee| %>
      <% body.with_row(html_attributes: {id: dom_id(consultee), class: "#{consultee.origin}-consultee"}) do |row|
          row.with_cell do
              fields_for("consultation[consultees_attributes]", consultee, index: consultee.id) do |fields| %>
        <%= fields.hidden_field :id %>
        <div
          class="govuk-checkboxes govuk-checkboxes--small"
          data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <%= fields.check_box :selected, class: "govuk-checkboxes__input" %>
            <%= fields.label :selected, class: "govuk-label govuk-checkboxes__label" do %>
              <span class="govuk-visually-hidden"><%= t(".select_consultee") %></span>
            <% end %>
          </div>
        </div>
      <% end
          end

      row.with_cell(text: consultee_name(consultee), html_attributes: {class: "consultee-name"})
      row.with_cell(text: consultee_constraint(consultee), html_attributes: {class: "consultee-constraint"})
      row.with_cell(text: consultee.origin, html_attributes: {class: "consultee-origin"})
      row.with_cell(text: consultee_date_consulted(consultee), html_attributes: {class: "consultee-last-contacted"})
      row.with_cell(text: consultee_status(consultee), numeric: true, html_attributes: {class: "consultee-status"})
      end %>
    <% end %>
  <% end %>
<% end %>
