<div class="govuk-form-group" id="resend-consultees">
  <fieldset class="govuk-fieldset" aria-describedby="reconsult-hint">
    <legend class="govuk-fieldset__legend">
      <h2 class="govuk-heading-m"><%= t(".legend") %></h2>
    </legend>
    <div id="reconsult-hint" class="govuk-hint">
      <%= t(".hint") %>
    </div>
    <div class="govuk-radios" data-module="govuk-radios">
      <%= form.govuk_radio_button(:reconsult, "false", label: { text: t(".no") }) %>
      <%= form.govuk_radio_button(:reconsult, "true", label: { text: t(".yes") }, data: { "aria-controls": "conditional-reconsult" }) %>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-reconsult">
        <%= form.govuk_text_area :reconsultation_message, label: { text: t(".message_label") }, rows: 5 %>
        <p class="govuk-hint"><%= t(".formatting_hint_html") %></p>
        <%= form.govuk_date_field :reconsultation_date, legend: { text: t(".date_label"), size: "s" } %>
      </div>
    </div>
  </fieldset>
</div>
