<%= render "shared_information" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "information" %>

    <% if @planning_application.possibly_immune? %>
      <%= render(
          PlanningApplications::ImmunityDetailsAssessmentComponent.new(planning_application: @planning_application, evidence_groups: @planning_application.immunity_detail.evidence_groups)
        ) 
      %>
    <% end %>

    <%= render "previous", permitted_development_rights: @permitted_development_rights %>

    <%= render "form", planning_application: @planning_application %>
  </div>
</div>
