<%= render "shared_information" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "information" %>

    <%= render "previous", permitted_development_rights: @permitted_development_rights %>

    <p class="govuk-body govuk-!-padding-top-5">
      <strong>Have the permitted development rights relevant for this application been removed?</strong>
    </p>

    <% if @permitted_development_right.removed %>
      <p class="govuk-body"><strong>Yes</strong></p>
      <p class="govuk-body"><%= @permitted_development_right.removed_reason %></p>
    <% else %>
      <p class="govuk-body"><strong>No</strong></p>
    <% end %>

    <% if @permitted_development_right.accepted && @permitted_development_right.reviewed_at %>
      <p class="govuk-body">
        <strong><%= @permitted_development_right.reviewer.name %> accepted this response on <%= @permitted_development_right.reviewed_at %></strong>
      </p>
    <% end %>

    <div class="govuk-button-group">
      <%= back_link %>

      <% unless @permitted_development_right.accepted %>
        <%= link_to(
          "Edit permitted development rights",
          edit_planning_application_permitted_development_right_path(@planning_application),
          class: "govuk-link"
        ) %>
      <% end %>
    </div>
  </div>
</div>
