<%= form_for(:confirmation, url: planning_application_drawing_validate_step_path) do |form| %>
  <div class="govuk-form-group">
    <%= hidden_field_tag :current_step, 'confirm' %>
    <fieldset class="govuk-fieldset">
      <div class="govuk-form-group <%= @drawing_form.errors.any? ? 'govuk-form-group--error' : '' %>">
        <% @drawing_form.errors.each do |attribute, error| %>
          <span id="status-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span><%= error %>
          </span>
         <% end %>
        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios" style="margin-bottom: 20px;">
          <div class="govuk-radios govuk-radios--small">
            <div class="govuk-radios__item">
              <%= hidden_field_tag :archive_reason, @drawing_form.archive_reason %>
              <%= form.radio_button :confirm, "yes", class: "govuk-radios__input", id:"archive-yes", "aria-controls":"archive-yes" %>
              <%= form.label :confirm, "Yes", class: "govuk-label govuk-radios__label", for: "archive-yes" %>
            </div>
            <div class="govuk-radios__item">
              <%= form.radio_button :confirm, "no", class: "govuk-radios__input", id: "archive-no", "aria-controls":"archive-no" %>
              <%= form.label :confirm, "No", class: "govuk-label govuk-radios__label", for: "archive-no" %>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <p>
      <%= form.submit "Save", class: "govuk-button", data: { module: "govuk-button" } %>
    </p>
  </div>
<% end %>
