<% add_parent_breadcrumb_link "Home", planning_applications_path %>
<% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>

<% content_for :title, "Documents" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l" style="margin-bottom: 7px;">
      Fast track application: <%= @planning_application.reference %>
    </h1>
    <h2 class="govuk-heading-m" style="margin-bottom: 75px;">
      <%= display_address(@site) %>
    </h2>

    <%= render "success_flash" %>

    <%  if filter_current(@drawings).count > 0 %>
      <h2 class="govuk-heading-m">
        Proposal documents
      </h2>
    <% end %>
  </div>

  <div class="govuk-grid-column-one-third upload-container">
    <% if current_user.assessor? && @planning_application.in_assessment? %>
      <%= link_to "Upload documents", new_planning_application_drawing_path(@planning_application), role: "button", class: "govuk-button", data: { module: "govuk-button" } %>
    <% elsif current_user.assessor? %>
      <%= tag.button "Upload documents", disabled: "disabled", "aria-disabled": true, class: "govuk-button govuk-button--disabled", data: { module: "govuk-button" } %>
    <% end %>
  </div>
</div>

<div class="current-drawings">
  <% filter_current(@drawings).each_slice(2) do |drawings| %>
    <div class="govuk-grid-row">
      <% drawings.each.with_index do |drawing, index| %>
        <div class="govuk-grid-column-one-half">
          <div class="drawing-card<%= " right" if index % 2 == 1 %>">
            <p class="govuk-body">
              <strong><%= drawing.name %></strong><br/>
              <%= drawing.created_at.strftime("%e %B %Y") %><br/>
              <%= link_to "View in new window",
              rails_blob_path(drawing.plan), target: :_new %><br/>
            </p>

            <ul class="govuk-list">
              <% drawing.tags.each do |tag| %>
                <li><strong class="govuk-tag govuk-tag--turquoise"><%= tag %></strong></li>
              <% end %>
            </ul>

            <%= link_to image_tag(drawing.plan.representation(resize: "300x212")),
                        rails_blob_path(drawing.plan), target: :_blank %>
            <p class="govuk-body">
              <%= link_to "Archive document", planning_application_drawing_archive_path(drawing_id: drawing.id) if current_user.assessor? && @planning_application.in_assessment? %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="govuk-grid-row">
  <table class="govuk-table archived-drawings">
    <caption class="govuk-table__caption">Archived documents</caption>
    <thead class="govuk-table__head">
      <% if filter_archived(@drawings).count < 1 %>
        <th scope="row" class="govuk-table__cell" style="font-weight: 100">No documents archived</th>
      <% else %>
        <th scope="col" class="govuk-table__header">Document name</th>
        <th scope="col" class="govuk-table__header">Tags </th>
        <th scope="col" class="govuk-table__header">Date uploaded</th>
        <th scope="col" class="govuk-table__header">Officer's comment</th>
      </tr>
    </thead>
        <% filter_archived(@drawings).each do |drawing| %>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell archive-data"><%= link_to drawing.name, rails_blob_path(drawing.plan), target: :_new %></td>
        <td class="govuk-table__cell archive-data tags">
          <ul class="govuk-list">
            <% drawing.tags.each do |tag| %>
              <li><strong class="govuk-tag govuk-tag--turquoise"><%= tag %></strong></li>
            <% end %>
          </ul>
        </td>
        <td class="govuk-table__cell archive-data"><%= drawing.created_at.strftime("%e %b %Y") %></td>
        <td class="govuk-table__cell archive-data"><%= t(drawing.archive_reason) %></td>
      </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  </div>
</div>
