<% add_parent_breadcrumb_link "Home", planning_applications_path %>
<% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>

<% content_for :title, "Documents" %>

<h1 class="govuk-heading-l" style="margin-bottom: 7px;">
  Fast track application: <%= @planning_application.reference %>
</h1>
<p class="govuk-body">
  <%= display_address(@site) %>
</p>

<%= render "success_flash" %>

<h2 class="govuk-heading-m">
  Proposal documents
</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if current_user.assessor? && @planning_application.not_started? %>
      <%= form_with model: @planning_application, url: validate_documents_planning_application_path(@planning_application), local: true, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |form| %>
        <fieldset class="govuk-fieldset">
          <% if form.object.errors[:planning_application].any? %>
            <% form.object.errors[:planning_application].each do |error| %>
              <span id="status-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span><%= error %></span>
            <% end %>
          <% end %>
            <%= form.govuk_radio_buttons_fieldset(:status, legend: { size: 's', text: 'Are the documents valid?' }) do %>
              <%= form.govuk_radio_button :status, 'in_assessment', label: { text: 'Yes', size: 's'} do %>
                <%= form.govuk_date_field :documents_validated_at, legend: { text: 'Documents validated on:', size: 's', hint: 'For example, 31 03 2021', placeholder: true } %>
                <% end %>
              <%= form.govuk_radio_button :status, 'invalidated', label: { text: 'No' } %>
            <% end %>
          </fieldset>
              <p>
                <%= form.submit "Save", class: "govuk-button", data: { module: "govuk-button" } %>
                <%= link_to 'Cancel', planning_application_path(@planning_application), class: "govuk-button govuk-button--secondary" %>
              </p>
           </div>
      <% end%>
    <% end %>
  </div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body" style="line-height: 1.6;">
      Check documents and attach drawing numbers to all proposed documents. These will be published in the decision notice.
    </p>
  </div>
  <div class="govuk-grid-column-one-third" style="text-align: right">
    <% if current_user.assessor? && @planning_application.in_assessment? || @planning_application.not_started? %>
      <%= link_to "Upload documents", new_planning_application_drawing_path(@planning_application), role: "button", class: "govuk-button", data: { module: "govuk-button" } %>
    <% elsif current_user.assessor? %>
      <%= tag.button "Upload documents", disabled: "disabled", "aria-disabled": true, class: "govuk-button govuk-button--disabled", data: { module: "govuk-button" } %>
    <% end %>
  </div>
</div>

<ul class="app-task-list current-drawings" style="margin-bottom: 2em;">
  <% unless @drawings.nil? %>
  <% filter_current(@drawings).each do |drawing| %>
    <li class="app-task-list__item">
      <div class="govuk-grid-column-one-quarter">
        <%= link_to image_tag(drawing.plan.representation(resize: "300x212"), class: "govuk-!-width-full"),
                    rails_blob_path(drawing.plan), target: :_blank %>
        <p class="govuk-body">
          <%= link_to "View in new window", rails_blob_path(drawing.plan), target: :_new %>
        </p>
      </div>

      <div class="govuk-grid-column-one-half">
        <p class="govuk-body">
          <strong><%= drawing.name %></strong><br/>
          Date received: <%= drawing.created_at.strftime("%e %B %Y") %><br/>
          <% if drawing.numbers.present? %>
            Drawing number(s): <%= drawing.numbers %>
          <% end %>
        </p>

        <ul class="govuk-list">
          <% drawing.tags.each do |tag| %>
            <li><strong class="govuk-tag govuk-tag--turquoise"><%= tag %></strong></li>
          <% end %>
        </ul>
      </div>

      <div class="govuk-grid-column-one-quarter">
        <p style="text-align: right" class="govuk-body">
          <%= link_to "Edit", edit_planning_application_drawing_path(@planning_application, drawing) %><br />
          <%= link_to "Archive document", planning_application_drawing_archive_path(drawing_id: drawing.id) if current_user.assessor? && @planning_application.in_assessment? %>
        </p>
      </div>
    </li>
    <% end %>
  <% end %>
</ul>

<% unless @drawings.nil? %>
  <div class="govuk-grid-row">
  <table class="govuk-table archived-drawings">
    <caption class="govuk-table__caption">Archived documents</caption>
    <thead class="govuk-table__head">
      <tr>
        <% if filter_archived(@drawings).present? %>
          <th scope="col" class="govuk-table__header">Document name</th>
          <th scope="col" class="govuk-table__header">Tags </th>
          <th scope="col" class="govuk-table__header">Date uploaded</th>
          <th scope="col" class="govuk-table__header">Officer's comment</th>
        <% else %>
          <th scope="row" class="govuk-table__cell" style="font-weight: 100">No documents archived</th>
        <% end %>
      </tr>
    </thead>
    <% if filter_archived(@drawings).present? %>
      <tbody class="govuk-table__body">
        <% filter_archived(@drawings).each do |drawing| %>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell archive-data"><%= link_to drawing.name, rails_blob_path(drawing.plan), target: :_new %></td>
            <td class="govuk-table__cell archive-data tags">
              <ul class="govuk-list">
                <% drawing.tags.each do |tag| %>
                  <li><strong class="govuk-tag govuk-tag--turquoise"><%= tag %></strong></li>
                <% end %>
              </ul>
            </td>
            <td class="govuk-table__cell archive-data"><%= drawing.created_at.strftime("%e %b %Y") %></td>
            <td class="govuk-table__cell archive-data"><%= t(drawing.archive_reason) %></td>
          </tr>
        <% end %>
      </tbody>
    <% end %>
  </table>
  </div>
</div>
<% end %>
