<% navigation_add "Documents", planning_application_drawings_path(@planning_application) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-breadcrumbs" style="margin-bottom: 20px;">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item" aria-current="page"></li>
      </ol>
    </div>
    <h1 class="govuk-heading-l" style="margin-bottom: 7px;">
      Fast track application: <%= @planning_application.reference %>
    </h1>
    <h2 class="govuk-heading-m" style="margin-bottom: 75px;">
      <%= display_address(@site) %>
    </h2>
    <h2 class="govuk-heading-m">
      Proposal documents
    </h2>
  </div>
</div>
<div class="govuk-grid-row">
  <% filter_current(@drawings).each_with_index do |doc, index| %>
    <%  if index.odd? %>
        <div class="thumbnail-right">
          <p class="govuk-body">
            <%= link_to "Archive document", planning_application_drawing_archive_path(drawing_id: doc.plan.id) %>
          </p>
          <%= link_to image_tag(doc.plan.representation(resize: "300x212")),
                      rails_blob_path(doc.plan), target: :_blank %>
        </div>
    <% else %>
        <div class="thumbnail-left">
          <p class="govuk-body">
            <%= link_to "Archive document", planning_application_drawing_archive_path(drawing_id: doc.plan.id) %>
          </p>
          <%= link_to image_tag(doc.plan.representation(resize: "300x212")),
                      rails_blob_path(doc.plan), target: :_blank %>
        </div>
    <% end %>
  <% end %>
</div>
<div class="govuk-grid-column-two-thirds">
  <h2 class="govuk-heading-m">
    Archived documents
  </h2>
  <% if filter_archived(@drawings).count > 0 %>
    <% filter_archived(@drawings).each_with_index do |doc, index| %>
      <%  if index % 2 == 1 %>
        <span class="thumbnail-right">
          <%= link_to image_tag(doc.plan.representation(resize: "300x212")),
                      rails_blob_path(doc.plan), target: :_blank %>
        </span>
      <% else %>
        <span class="thumbnail-left">
          <%= link_to image_tag(doc.plan.representation(resize: "300x212")),
                      rails_blob_path(doc.plan), target: :_blank %>
        </span><br/>
      <% end %>
    <% end %>
  <%else %>
    <p class="govuk-body">No documents archived</p>
  <% end %>
  </div>
</div>
