<%= form_with model: [@planning_application, @decision], local: true, class: "decision" do |form| %>
  <div class="govuk-form-group" data-controller="comment">
    <fieldset class="govuk-fieldset">
      <h2 class="govuk-heading-m">Permitted development requirements</h2>
      <p class="govuk-body">
        The applicant has submitted the following application. Please review each answer to determine whether what they say and their plans align with the policy questions.
      </p>
      <%= render "policy_consideration_list", policy_considerations: @policy_evaluation.policy_considerations %>
      <p class="govuk-body">
        <br>
        <strong>Have permitted development requirements been met?</strong>
      </p>
      <div class="govuk-radios" style="margin-bottom: 20px;">
        <div class="govuk-radios govuk-radios--small">
          <div class="govuk-radios__item">
            <%= form.radio_button :status, "granted", class: "govuk-radios__input", id:"status-granted-conditional", "data-action":"click->comment#addComment", "aria-controls": "conditional-status-granted-conditional", "aria-expanded": "false" %>
            <%= form.label :status_granted, "Yes", class: "govuk-label govuk-radios__label",  for: "status-granted-conditional" %>
          </div>
          <div class="govuk-radios__item">
            <%= form.radio_button :status, "refused", class: "govuk-radios__input", id: "status-refused-conditional", "data-action":"click->comment#addComment", "aria-controls": "conditional-status-refused-conditional", "aria-expanded": "false" %>
            <%= form.label :status_refused, "No", class: "govuk-label govuk-radios__label", for: "status-refused-conditional" %>
          </div>
        </div>
      </div>
      <div>
      </div>
    </fieldset>
    <div class="add-comment"  data-target="comment.commentDiv">
      <p class="govuk-body">
        <br />
        Please add any comments that can be inserted into the decision notice.
      </p>
      <%= form.text_area :comment_met, class: "govuk-textarea", "data-target":"comment.textArea", rows: "3" %>
    </div>
    <p>
      <%= form.submit "Save", class: "govuk-button", data: { module: "govuk-button" } %>
    </p>
  </div>
<% end%>
