<%= form_with model: [planning_application, decision], local: true, class: "decision" do |form| %>
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <% if @planning_application.awaiting_determination? && @planning_application.reviewer_decision.present? %>
        <h2 class="govuk-heading-m">Reassess the proposal</h2>
        <p class="govuk-body">
          <br>
          Your manager sent the following comment about your recommendation below. Please take action based on their comment.
        </p>
        <div style="border: 1px solid; padding: 10px;">
          <%# if @planning_application.reviewer_decision.present? %>
          <p class="govuk-body"><%= @planning_application.reviewer_decision.correction %></p>
          <br>
        </div>
          <%# end %>
      <% else %>
        <h2 class="govuk-heading-m">Assess the proposal</h2>
      <% end %>
      <p class="govuk-body">
        Please review the applicant's answers:
      </p>
      <%= render "policy_consideration_list", policy_considerations: policy_evaluation.policy_considerations %>
      <div class="govuk-form-group <%= form.object.errors.any? ? 'govuk-form-group--error' : '' %>">
        <p class="govuk-body">
          <br>
          <strong>Have permitted development requirements been met?</strong>
        </p>
        <% if form.object.errors.any? %>
          <% form.object.errors.each do |attribute, error| %>
            <span id="status-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span><%= error %></span>
          <% end %>
        <% end %>
        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios" style="margin-bottom: 20px;">
          <div class="govuk-radios govuk-radios--small">
            <div class="govuk-radios__item">
              <%= form.radio_button :status, "granted", class: "govuk-radios__input", id:"status-granted-conditional", "aria-controls": "conditional-status-granted-conditional", "aria-expanded": "false" %>
              <%= form.label :status_granted, "Yes", class: "govuk-label govuk-radios__label", for: "status-granted-conditional" %>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-status-granted-conditional">
              <div class="govuk-form-group">
                <p class="govuk-body">
                  By selecting yes, you are saying that this proposal complies with the GDPO.
                  <br>
                  <br>
                  Please add any comments that you would like to share with your manager.
                </p>
                <%= form.text_area :comment_met, class: "govuk-textarea", id: "comment_met", rows: "3", "aria-describedby": "comment-met-hint" %>
              </div>
            </div>
            <div class="govuk-radios__item">
              <%= form.radio_button :status, "refused", class: "govuk-radios__input", id: "status-refused-conditional", "aria-controls": "conditional-status-refused-conditional", "aria-expanded": "false" %>
              <%= form.label :status_refused, "No", class: "govuk-label govuk-radios__label", for: "status-refused-conditional" %>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-status-refused-conditional">
              <div class="govuk-form-group">
                <p class="govuk-body">
                  Please add any comments for your manager to see.
                  This will <strong>not</strong> appear on the decision notice.
                </p>
                <%= form.text_area :comment_unmet, class: "govuk-textarea", id: "comment_unmet", rows: "3", "aria-describedby": "comment-unmet-hint" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <p>
      <%= form.submit "Save", class: "govuk-button", data: { module: "govuk-button" } %>
    </p>
  </div>
<% end%>
