<%= form_with model: [planning_application, decision], local: true, class: "decision" do |form| %>
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <h2 class="govuk-heading-m">Review the recommendation</h2>
    <p class="govuk-body">
      The planning officer recommends that the application is
      <strong><%= "#{assessor_decision.status}. " %></strong>
      <%= "The following policy requirement(s) have not been met:" if assessor_decision.public_comment? %>
    </p>
    <% if assessor_decision.refused_with_public_comment? %>
      <p class="govuk-body"><%= assessor_decision.public_comment %></p>
    <% end %>

    <% if assessor_decision.private_comment.present? %>
      <p class="govuk-body">The officer has submitted the following comment for you:</p>
      <div style="border: 1px solid; padding: 10px;">
        <p class="govuk-body"><%= assessor_decision.private_comment %></p>
      </div>
      <br>
    <% end %>

    <p class="govuk-body">
      The planning officer has made their recommendation after reviewing the information provided by the applicant and checking the proposal documents against the GDPO
    </p>
    <p class="govuk-body"><strong> Information provided by the applicant:</strong></p>
    <%= render "policy_consideration_list", policy_considerations: policy_evaluation.policy_considerations %>
    <div class="govuk-form-group <%= form.object.errors.any? ? 'govuk-form-group--error' : '' %>">
      <p class="govuk-body">Do you agree with the recommendation?</p>
      <% if form.object.errors.any? %>
        <% form.object.errors.each do |attribute, error| %>
          <span id="status-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span><%= error %></span>
        <% end %>
      <% end %>

      <% reviewer_agrees_status = assessor_decision.status %>
      <% reviewer_disagrees_status = Decision.statuses.keys.find { |s| s != assessor_decision.status } %>

      <div class="govuk-radios govuk-radios--small govuk-radios--conditional" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <%= form.radio_button :status, reviewer_agrees_status, class: "govuk-radios__input" %>
          <%= form.label :"status_#{reviewer_agrees_status}", "Yes", class: "govuk-radios__label" %>
        </div>
        <div class="govuk-radios__item">
          <%= form.radio_button :status, reviewer_disagrees_status, class: "govuk-radios__input" %>
          <%= form.label :"status_#{reviewer_disagrees_status}", "No", class: "govuk-radios__label" %>
        </div>
      </div>
    </div>
  </fieldset>
  <p>
    <%= form.submit "Save", class: "govuk-button", data: { module: "govuk-button" } %>
  </p>
</div>
<% end%>
