<%= form_with model: [@planning_application, @condition], url: url do |form| %>
  <fieldset class="govuk-fieldset govuk-!-margin-top-3">
    <legend class="govuk-fieldset__legend">
      <h2 class="govuk-heading-s">
        <% if @condition.new_record? %>
          Add a new pre-commencement condition
        <% else %>
          Edit pre-commencement condition
        <% end %>
      </h2>
    </legend>

    <%= form.govuk_error_summary %>

    <%= form.govuk_text_field :title, label: {text: "Enter title"} %>
    <%= form.govuk_text_area :text, rows: 5, label: {text: "Enter condition"} %>
    <%= form.govuk_text_area :reason, rows: 5, label: {text: "Enter reason"} %>

    <% if @condition.new_record? %>
      <%= form.govuk_submit(t("form_actions.pre_commencement_condition.add"), class: "govuk-button--secondary") %>
    <% else %>
      <%= form.govuk_submit(t("form_actions.pre_commencement_condition.update")) do %>
        <%= govuk_button_link_to "Back", planning_application_assessment_pre_commencement_conditions_path, secondary: true %>
      <% end %>
    <% end %>
  </fieldset>
<% end %>
