<%= render(
      partial: "shared/proposal_header",
      locals: {heading: "Proposed red line boundary change"}
    ) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div data-controller="unsaved-changes"
         data-action="beforeunload@window->unsaved-changes#handleBeforeUnload">
      <%= form_with model: [@planning_application, :validation, @validation_request], scope: :validation_request,
            data: {unsaved_changes_target: "form", action: "submit->unsaved-changes#handleSubmit"} do |form| %>
      <%= form.govuk_error_summary %>

      <%= form.govuk_text_area :new_geojson,
            label: {text: @planning_application.boundary_geojson ? "Applicant's existing red line boundary" : "No digital red line boundary has been previously set",
                    size: "s",
                    class: "govuk-label govuk-label--s govuk-!-padding-bottom-4"},
            class: "govuk-visually-hidden" %>
      <%= render(
            "shared/location_map",
            locals: {
              draw_geojson_data: @validation_request.new_geojson,
              geojson: @planning_application.boundary_geojson,
              geojson_field: "validation-request-new-geojson-field",
              invalid_red_line_boundary: true
            }
          ) %>

      <% if action_name.eql?("edit") %>
        <h2 class="govuk-!-padding-top-6">
          Proposed red line boundary
        </h2>
        <%= render "shared/location_map", locals: {geojson: @validation_request.new_geojson} %>
      <% end %>

      <h3 class="govuk-!-padding-top-6">
        Red line drawings shown on map
      </h3>
      <div class="govuk-grid-row govuk-!-padding-bottom-2">
        <p class="govuk-!-margin-left-3">
          <img src="/images/submitted_square.png" alt="submitted solid line square" width="60px" style="float:left; padding-right:20px">
          Submitted red line boundary
        </p>
      </div>
      <div class="govuk-grid-row govuk-!-padding-bottom-4">
        <p class="govuk-!-margin-left-3">
          <img src="/images/proposed_square.png" alt="proposed square with dotted border" width="60px" style="float:left; padding-right:20px">
          Proposed red line boundary
        </p>
      </div>
      <%= form.hidden_field :type, value: "RedLineBoundaryChangeValidationRequest" %>
      <%= form.govuk_text_area :reason,
            label: {text: "Explain to the applicant why changes are proposed to the red line boundary", size: "s", class: "govuk-label govuk-label--s govuk-!-padding-bottom-4"},
            rows: 5 %>
      <%= render "shared/validation_request_form_actions", form: form, allow_submit: true %>
      <% end %>
    </div>
  </div>
</div>
