<%= form_with(
  model: [planning_application, consistency_checklist],
  url: planning_application_consistency_checklist_path(planning_application),
  builder: GOVUKDesignSystemFormBuilder::FormBuilder,
  class: "consistency-checklist-form"
) do |form| %>
  <%= form.govuk_error_summary(presenter: ErrorPresenter) %>
  <%= render(
    partial: "site_map_correct",
    locals: {
      form: form,
      consistency_checklist: consistency_checklist,
      planning_application: planning_application,
      can_edit: can_edit
    }
  ) %>
  <%= render(
    partial: "description_matches_documents",
    locals: {
      form: form,
      consistency_checklist: consistency_checklist,
      planning_application: planning_application,
      can_edit: can_edit
    }
  ) %>
  <%= render(
    partial: "documents_consistent",
    locals: {
      form: form,
      consistency_checklist: consistency_checklist,
      planning_application: planning_application,
      can_edit: can_edit
    }
  ) %>
  <%= render(
    partial: "proposal_details_match_documents",
    locals: {
      form: form,
      can_edit: can_edit,
      consistency_checklist: consistency_checklist
    }
  ) %>
  <% if can_edit %>
    <%= render(partial: "shared/submit_buttons", locals: { form: form }) %>
  <% else %>
    <div class="govuk-button-group">
      <%= back_link %>
      <%= link_to(
        t(".edit_check_description"),
        edit_planning_application_consistency_checklist_path(planning_application),
        class: "govuk-link"
      ) %>
    </div>
  <% end %>
<% end %>
