<% content_for :page_title do %>
  <%= t(".check_description_documents") %> - <%= t("page_title") %>
<% end %>

<% content_for :title, t(".check_description_documents") %>

<%= render(
  partial: "shared/assessment_task_breadcrumbs",
  locals: { planning_application: @planning_application  }
) %>
<%= render(
  partial: "shared/proposal_header",
  locals: { heading: t(".check_description_documents")  }
) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds application">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-margin-top-5">
      <%= t(".application_details") %>
    </h2>
    <%= render(
      AccordionComponent.new(planning_application: @planning_application)
    ) %>
    <h3 class="govuk-heading-s govuk-!-margin-top-8">
      <%= t(".checking_plans_and") %>
    </h3>
    <p class="govuk-body govuk-!-margin-bottom-8">
      <%= t(".review_the_items") %>
    </p>
    <%= yield %>
  </div>
</div>
