<% content_for :page_title do %>
 <%= t(".make_draft_recommendation") %> - <%= t("page_title") %>
<% end %>
<% render(
     partial: "shared/review_task_breadcrumbs",
     locals: {
       planning_application: @planning_application,
       current_page: t(".make_draft_recommendation")
     }
   ) %>
<%= render(
      partial: "shared/proposal_header",
      locals: {heading: t(".make_draft_recommendation")}
    ) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render(
          partial: "events",
          locals: {
            recommendations: @planning_application.recommendations.reviewed
          }
        ) %>
    <% if @planning_application.open_post_validation_requests.any? %>
      <%= render(
            partial: "shared/alert_banner",
            locals: {
              message: t(
                ".there_are_outstanding_change_requests_html",
                last_request: @planning_application.open_post_validation_requests.last.created_at.to_fs,
                href: post_validation_requests_planning_application_validation_validation_requests_path(@planning_application)
              )
            }
          ) %>
    <% end %>
    <% if @planning_application.consultation.try(:publicity_active?) %>
      <%= render(
            partial: "shared/alert_banner",
            locals: {
              message: "The consultation is still ongoing. It will end on the #{@planning_application.consultation.end_date.to_fs(:day_month_year_slashes)}. Are you sure you still want to make the recommendation?"
            }
          ) %>
    <% end %>
    <%= form_with(
          model: @recommendation,
          url: planning_application_review_recommendations_path(@planning_application)
        ) do |form| %>
      <% if form.object.planning_application.present? && form.object.planning_application.errors.any? %>
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
          <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <% form.object.planning_application.errors.each do |error| %>
                <li><%= error.message.html_safe %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>

      <h2 class="govuk-heading-m">Add Committee recommendation</h2>

      <%= render "shared/warning_text", message: "This information will appear on the decision notice." %>

      <p class="govuk-body">
        This will be reviewed before a decision is published.
      </p>

      <%= form.govuk_collection_radio_buttons(
            :decision,
            @planning_application.application_type.all_decisions,
            :code,
            :description,
            legend: {text: "Enter Committee recommendation", size: "s"},
            hint: {}
          ) %>
      <div class="govuk-form-group">
        <%= form.govuk_text_area(
              :public_comment,
              label: {text: "Enter the Committee's reasons for this recommendation"},
              rows: 9
            ) %>
      </div>

      <% if @planning_application.awaiting_determination? %>
        <div class="govuk-button-group">
          <%= back_link %>
        </div>
      <% else %>
        <%= render(partial: "shared/submit_buttons", locals: {form: form}) %>
      <% end %>
    <% end %>
  </div>
</div>
