<h3 class="govuk-heading-m"><%= t(".legislation") %></h3>
<% if policy_classes.empty? %>
  <p class="govuk-body"><%= t(".no_legislation_assessed") %></p>
<% end %>
<% policy_classes.each do |policy_class| %>
  <h4 class="govuk-body policy-class-title">
    <%= link_to(
      "#{policy_class} - #{policy_class.name}",
      planning_application_policy_class_path(planning_application, policy_class),
      class: "govuk-link"
    ) %>
  </h4>
  <p class="govuk-body">
    <strong>
      <%= policies_summary(policy_class.policies) %>
    </strong>
  </p>
  <% if policy_class.policies.to_be_determined.none? %>
    <% policy_class.policies.does_not_comply.each do |policy| %>
      <div class="policy">
        <h5 class="govuk-heading-s">
          <%= "#{policy_class.id}.#{policy["id"]}" %>
        </h5>
        <p class="govuk-body policy-description"><%= policy["description"] %></p>
        <p class="govuk-body"><strong><%= t(".does_not_comply") %></strong></p>
      </div>
    <% end %>
  <% end %>
<% end %>
