<% content_for :page_title do %>
  Review form - <%= t('page_title') %>
<% end %>
<%= render(
  partial: "shared/review_task_breadcrumbs",
  locals: {
    planning_application: @planning_application,
    current_page: t(".recommendation")
  }
) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds application">
    <h1 class="govuk-heading-l"><%= t(".sign_off_recommendation") %></h1>
    <%= render(partial: "shared/planning_application_address_and_reference") %>
    <h2 class="govuk-heading-m"><%= t(".assessor_recommendation") %></h2>
    <%= render(
      StatusTags::DecisionComponent.new(
        planning_application: @planning_application
      )
    ) %>
    <p class="govuk-body">
      <%= render("shared/warning_text", message: t(".this_information_will")) %>
    </p>
    <%= simple_format(
      @planning_application.public_comment,
      class: "govuk-body"
    ) %>
    <%= link_to(
      t(".edit_information_on"),
      edit_public_comment_planning_application_path(@planning_application),
      class: "govuk-link govuk-body"
    ) %>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <%= render(
      partial: "documents_table",
      locals: {
        planning_application: @planning_application,
        documents: @planning_application.documents.referenced_in_decision_notice
      }
    ) %>
    <%= render(
      partial: "events",
      locals: { recommendations: @recommendations }
    ) %>
    <% if @planning_application.updates_required? %>
      <p class= "govuk-body govuk-!-font-weight-bold">
        <%= t(".you_have_suggested") %>
      </p>
      <p>
        <%= link_to(
          t(".review_changes"),
          planning_application_review_tasks_path(@planning_application),
          class: "govuk-link govuk-body"
        ) %>
      </p>
    <% else %>
      <p class= "govuk-body govuk-!-font-weight-bold">
        <%= t(".you_have_not") %>
      </p>
    <% end %>
    <%= render(
      partial: "form",
      locals: {
        planning_application: @planning_application,
        recommendation: @recommendation
      }
    ) %>
  </div>
</div>
