<% content_for :page_title do %>
  Additional document validation request - <%= t('page_title') %>
<% end %>

<% add_parent_breadcrumb_link "Home", root_path %>
<% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>
<% add_parent_breadcrumb_link "Validation tasks", planning_application_validation_tasks_path(@planning_application) %>
<% content_for :title, "Additional document validation request" %>

<%= render(
  partial: "shared/proposal_header",
  locals: { heading: "View request for a additional document(s)" }
) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-s">
      Officer request
    </h3>
    <div class="govuk-inset-text" id="replacement-document-details">
      <p class="govuk-body">
        Additional document type: <%= @validation_request.document_request_type %>
      </p>
      <p class="govuk-body">
        Reason: <%= render(FormattedContentComponent.new(text: @validation_request.reason)) %>
      </p>
      <p class="govuk-body">
        <%= @validation_request.created_at.to_fs %>
      </p>
    </div>
    <%= render "shared/validation_request_show_actions",
        planning_application: @planning_application, validation_request: @validation_request %>
  </div>
</div>
