<% content_for :page_title do %>
  Notes - <%= t('page_title') %>
<% end %>

<% add_parent_breadcrumb_link "Home", root_path(filter_options: PlanningApplication::FILTER_OPTIONS) %>
<% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>

<% content_for :title, "Notes" %>

<%= render(
  partial: "shared/proposal_header",
  locals: { heading: "Notes"  }
) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "form" %>

    <% if @notes.empty? %>
      <p class="govuk-body">There are no notes yet.</p>
    <% else %>
      <ul id="notes" class="govuk-list">
        <% @notes.each_with_index do |note, i| %>
          <% if i == 0 %>
            <h2 class="govuk-heading-m">Latest note</h2>
          <% end %>
          <% if i == 1 %>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <h2 class="govuk-heading-m">Previous notes</h2>
          <% end %>
          <%= content_tag(:li, id: dom_id(note), class: "govuk-!-margin-bottom-7") do %>
            <p class="govuk-body">
              <%= note.user.name %> on <%= note.created_at.to_fs %>
            </p>
            <p class="govuk-body">
              <%= render(FormattedContentComponent.new(text: note.entry)) %>
            </p>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
