<% neighbour_responses.each do |response| %>
  <div class="display-flex" style="align-items: baseline">
    <div class="neighbour-response-section">
      <%= render(StatusTags::BaseComponent.new(status: response.summary_tag)) %><br><br>
      <ul class="govuk-list">
        <li>
          <strong>Date received:</strong> <%= response.received_at.to_formatted_s(:day_month_year_slashes) %>
        </li>
        <li>
          <strong>Respondent:</strong> <%= response.name %>
        </li>
        <li>
          <strong>Email:</strong> <%= response.email %>
        </li>
        <li>
          <strong>Address:</strong> <%= response.neighbour.address %>
        </li>
      </ul>
    </div>
    <div style="width: 35%">
      <% response.tags.each do |tag| %>
        <strong class="govuk-tag govuk-tag--grey"><%= tag.upcase %></strong>
      <% end %>
    </div>
    <div style="width: 4%;">
      <%= link_to "Edit", edit_planning_application_consultation_neighbour_response_path(@planning_application, @consultation, response) %>
    </div>
  </div>
  <div class="govuk-inset-text govuk-!-margin-top-2" data-controller="show-more-text">
    <span class="truncated-comment">
      <%= simple_format(response.truncated_comment) %>
    </span>
    
    <% if response_been_truncated?(response) %>
      <span class="display-none hidden-comment">
        <%= simple_format(response.comment[truncated_length(response)..-1]) %>
      </span>
      <a href="#" class="show-more" data-action="click->show-more-text#handleClick">show more</a>
    <% end %>
  </div>
  <hr>
<% end %>
