<% content_for :page_title do %>
  Upload neighbour responses - <%= t('page_title') %>
<% end %>

<% add_parent_breadcrumb_link "Home", root_path %>
<% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>
<% add_parent_breadcrumb_link "Publicity", planning_application_path(@planning_application) %>
<% content_for :title, "Upload neighbour responses" %>

<%= render(
  partial: "shared/proposal_header",
  locals: { heading: "Upload neighbour responses" }
) %>

<h2 class="govuk-heading-m govuk-!-margin-top-7">Date consultation will end</h2>
<p class="govuk-body"><%= @consultation.end_date.to_formatted_s(:day_month_year_slashes) %></p>

<h2 class="govuk-heading-m govuk-!-margin-top-7">Responses (<%= @neighbour_responses.count %>)</h2>
<% if @neighbour_responses.any? %>
  <%= render "responses", neighbour_responses: @neighbour_responses %>
<% else %>
  <p class="govuk-body">No neighbour responses yet</p>
<% end %>


<h2 class="govuk-heading-m govuk-!-margin-top-7">Add a new response</h2>
<%= form_with(
  model: [@planning_application, @consultation, @neighbour_response],
  builder: GOVUKDesignSystemFormBuilder::FormBuilder,
  class: "govuk-!-margin-top-5",
  method: :post
) do |form| %>
  <%= form.govuk_error_summary(presenter: ErrorPresenter) %>
  <% if @neighbour_response.errors.any? %>
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <% @neighbour_response.errors.full_messages.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <%= form.govuk_text_field :name %>
  <%= form.govuk_text_field :email %>
  <%= form.govuk_select :address, @consultation.neighbours.select(&:persisted?).select(&:selected?).map(&:address), options: { include_blank: true }, label: { text: "Select an existing neighbour address" } %>
  <%= form.govuk_text_field :new_address, label: { text: "Or add a new neighbour address" } %>
  <%= form.govuk_date_field :received_at, legend: { text: "Response received on", size: "s", tag: "p" } %>
  <%= form.govuk_radio_buttons_fieldset :summary_tag, legend: { text: 'Is the response', size: 'm' } do %>
    <%= form.govuk_radio_button :summary_tag, 'supportive', label: { text: 'Supportive' } %>
    <%= form.govuk_radio_button :summary_tag, 'neutral', label: { text: 'Neutral' } %>
    <%= form.govuk_radio_button :summary_tag, 'objection', label: { text: 'An objection' } %>
  <% end %>
  <%= form.govuk_collection_check_boxes :tags, NeighbourResponse::TAGS.map, :to_s, :to_s, legend: { text: 'Tags', size: 'm' } %>
  <%= form.govuk_text_area :response, hint: { text: "This won't be made public" } %>
  <%= form.govuk_text_area :redacted_response, label: { text: "Redacted response" }, hint: { text: 'This will be made public' } %>
  <div class="govuk-button-group">
    <%= form.submit(
      "Save response",
      class: "govuk-button govuk-button--primary govuk-!-margin-top-5"
    ) %>
    <%= link_to "Back", planning_application_path(@planning_application), class: "govuk-button govuk-button--secondary govuk-!-margin-top-5" %>
  </div>
<% end %>
