<% content_for :page_title do %>
  <%= t(".add_consultee") %> - <%= t('page_title') %>
<% end %>

<% add_parent_breadcrumb_link "Home", root_path %>
<% add_parent_breadcrumb_link "Consultees", consultees_path %>

<% content_for :title, t(".add_consultee") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      <%= t(".add_consultee") %>
    </h1>

    <%= form_with model: @consultee, url: consultees_path, scope: :consultee do |form| %>
      <%= render "form", form: form %>
    <% end %>
  </div>
</div>
