<div data-controller="neighbours">
  <%= form.govuk_collection_select :template, 
    ["Notification", "Renotification"], 
    :itself, 
    :itself, 
    label: { text: "3) Choose which letter to send", size: "m" },
    data: {
      action: "change->neighbours#toggleTemplates"
    }
  %>

  <div id="renotification-form" class="govuk-!-display-none">
    <%= form.hidden_field :resend_existing, value: "true" %>
    <%= form.govuk_text_area :resend_reason, label: { text: "Resend reason" }, hint: { text: "Enter a reason for renotification. This text will appear at the beginning of the letter." } %>
  </div>
</div>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      View/edit letter template
    </span>
  </summary>
  <div class="govuk-details__text">
    <%= form.label :neighbour_letter_text, "Neighbour letter", class: "govuk-!-display-none" %>
    <div class="govuk-inset-text">
      <p class="govuk-body">Text marked with a # (hashtag) will appear as a header in the printed letter.</p>
      <p class="govuk-body">Text marked with a * (asterisk) will appear as a bullet point in the printed letter.</p>
      <% if @planning_application.type == "Prior approval" %>
        <p class="govuk-body">
          Measurements in the letter have been taken from PlanX. If measurements are incorrect, <%= link_to "change the measurements in the consistency checklist", new_planning_application_assessment_consistency_checklist_path(planning_application) %> then return to this template.
        </p>
      <% end %>
    </div>
    <%= form.text_area :neighbour_letter_text, rows: 25, class: "govuk-body neighbour-letter-template" %>
  </div>
</details>

