<div id="selected-neighbours-list">
  <h2 class="govuk-heading-m govuk-!-margin-top-6">2) Check selected neighbours</h2>
  <p class="govuk-body">Add or remove neighbours before sending letters</p>
  <% if @consultation.neighbours.without_letters.any? %>
    <% @consultation.neighbours.without_letters.each do |neighbour| %>
      <hr>
      <div class="proposal-details-sub-heading" data-controller="edit-form">
        <div class="width-80 govuk-!-margin-top-1">
          <p class="govuk-body">
            <%= neighbour.address %>
          </p>
        </div>

        <%= form_with(
          model: neighbour,
          builder: GOVUKDesignSystemFormBuilder::FormBuilder,
          data: { action: "submit->submit-form#handleSubmit" },
          url: planning_application_consultation_neighbour_letter_path(planning_application, neighbour),
          class: "display-none"
        ) do |form| %>
          <%= form.govuk_error_summary(presenter: ErrorPresenter) %>
          <%= form.govuk_text_field :address %>
          <br>
          <%= form.submit(
            "Save",
            class: "govuk-button govuk-button--secondary"
          ) %>
        <% end %>

        <div class="neighbour-action-links">
          <%= link_to(
              "Edit",
              "#",
              class: "govuk-link",
              data: { action: "click->edit-form#handleClick" }
            )
          %>

          <%= link_to(
                "Remove",
                planning_application_consultation_neighbour_letter_path(
                    @planning_application,
                    neighbour
                ),
                method: :delete,
                class: "govuk-link"
          ) %>
        </div>
      </div>
    <% end %>
  <% else %>
    <p class="govuk-body">No neighbours selected yet</p>
  <% end %>
</div>
