<% content_for :page_title do %>
  Assess - <%= t('page_title') %>
<% end %>
<% render(
  partial: "shared/assessment_task_breadcrumbs",
  locals: {
    planning_application: @planning_application,
    current_page: t(".add_classes_to")
  }
) %>

<%= render(
  partial: "shared/proposal_header",
  locals: { heading: "Add classes to assess" }
) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
      url: planning_application_assessment_policy_classes_path(@planning_application),
      html: { data: unsaved_changes_data }
    ) do |form| %>
      <%= form.hidden_field :part, value: @part %>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="nationality-hint">
          <div id="policy-class-hint" class="govuk-hint">
            <p class="govuk-body">
              Select the relevant class(es) to assess. Classes are defined
              in The Town and Country Planning (General Permitted
              Development) (England) Order 2015 (GPDO), Schedule 2, Part <%= @part %>.
            </p>

            <p class="govuk-body">
              <%= 
                link_to "Open the Town and Country Planning (General Permitted Development) (England) Order 2015 in a new window",
                "https://www.legislation.gov.uk/uksi/2015/596/schedule/2/made", 
                class: "govuk-link", 
                target: "_blank" 
              %>
            </p>
          </div>
          <div class="govuk-checkboxes">
            <%= form.collection_check_boxes(
              :policy_classes,
              PolicyClass.classes_for_part(@part),
              :section,
              :name
            ) do |b| %>
              <div class="govuk-checkboxes__item">
                <% if @planning_application.policy_class?(b.object.section) %>
                  <%= b.check_box(class: "govuk-checkboxes__input", disabled: true, checked: true) %>
                <% else %>
                  <%= b.check_box(class: "govuk-checkboxes__input") %>
                <% end %>
                <%= b.label(class: "govuk-label govuk-checkboxes__label") do %>
                  <p class="govuk-body">
                    <strong>Class <%= b.value %></strong>
                    - <%= b.text %>
                  </p>
                <% end %>
              </div>
            <% end %>
          </div>
        </fieldset>
      </div>

      <div class="govuk-button-group">
        <%= form.submit "Add classes", class: "govuk-button" %>
        <%= link_to "Back", part_new_planning_application_assessment_policy_class_path(@planning_application, part: @part), class: "govuk-button govuk-button--secondary" %>
      </div>
    <% end %>
  </div>
</div>
