<div class="govuk-body">
  <% if action_name == "show" %>
    <p><strong>Summary</strong></p>
  <% end %>

  <%= render "shared/warning_text",
      message: "This information will be made publicly available." %>
  <%= render(
    partial: "comment",
    locals: { comment: rejected_assessment_detail&.comment }
  ) %>
  <% unless action_name == "show" %>
    <p>You can include:</p>
    <ul>
      <li>
        A list of the works involved in the project, such as alterations and extensions
      </li>
      <li>
        Key dimensions
        <% if @planning_application.proposal_measurement %>
          <br>
          Max height: <%= @planning_application.proposal_measurement.max_height %>m<br>
          Eaves height: <%= @planning_application.proposal_measurement.eaves_height %>m<br>
          Depth: <%= @planning_application.proposal_measurement.depth %>m<br>
        <% end %>
      </li>
      <li>Materials used in external works</li>
      <li>Specific features you want to draw attention to</li>
      <li>Details of a proposed use, such as opening hours</li>
    </ul>
  <% end %>
</div>
