<% content_for :page_title do %>
  <%= t(".manage_document_tags") %> - <%= t("page_title") %>
<% end %>

<% add_parent_breadcrumb_link "Home", root_path %>
<% add_parent_breadcrumb_link "Application Types", application_types_path %>

<% content_for :title, t(".manage_document_tags") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l govuk-!-margin-bottom-2">
        <%= @application_type.description %>
      </span>
      <%= t(".manage_document_tags") %>
    </h1>

    <%= form_with model: @application_type, url: [@application_type, :document_tags] do |form| %>
      <%= form.govuk_error_summary %>

      <div class="govuk-tabs govuk-!-margin-top-7" data-module="govuk-tabs">
        <ul class="govuk-tabs__list">
          <% @document_tags.tag_groups.each_with_index do |group, index| %>
            <%= tag.li(class: class_names("govuk-tabs__list-item", "govuk-tabs__list-item--selected": index == 0)) do %>
              <%= tag.a(class: "govuk-tabs__tab", href: "##{group}-tags") do %>
                <%= t(".groups.#{group}") %>
              <% end %>
            <% end %>
          <% end %>
        </ul>

        <%= form.fields :document_tags do |fields| %>
          <% @document_tags.tag_groups.each_with_index do |group, index| %>
            <%= tag.div(class: class_names("govuk-tabs__panel", "govuk-tabs__panel--hidden": index != 0), id: "#{group}-tags") do %>
              <%= fields.govuk_collection_check_boxes group.name, group.tag_list, :first, :last,
                    legend: {text: t(".groups.#{group}")}, hint: {text: t(".hints.#{group}")},
                    small: true, class: "govuk-!-column-count-2" %>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <%= form.govuk_submit(t(".continue")) do %>
        <%= govuk_button_link_to t("back"), @application_type, secondary: true %>
      <% end %>
    <% end %>
  </div>
</div>
