<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-7">
<div class="proposal-details-sub-heading govuk-!-margin-top-3 govuk-!-margin-bottom-3" data-controller="pdf">
  <p class="govuk-body govuk-!-margin-top-1">
    <%= @planning_application.last_site_notice_audit&.audit_comment %><br>
    <%= link_to "Download site notice PDF", "#", "data-action": "click->pdf#handleClick", class: "govuk-link" %>
  </p>
  <div class="consultation-letter-status">
    <div>
      <%= render(StatusTags::BaseComponent.new(status: :complete)) %>
    </div>
    <p class="govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-0">
      on <%= @planning_application.last_site_notice_audit&.created_at&.to_fs(:day_month_year_slashes) %>
    </p>
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-7">
<div class="govuk-!-display-none">
  <span id="application-reference"><%= @planning_application.reference %></span>
  <div id="site-notice-content">
    <div style="width: 430px;">
      <%= raw @planning_application.last_site_notice.preview_content %>
    </div>
  </div>
</div>
