<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-7">
<div class="proposal-details-sub-heading govuk-!-margin-top-3 govuk-!-margin-bottom-3" data-controller="pdf">
  <p class="govuk-body govuk-!-margin-top-1">
    <%= @planning_application.last_site_notice_audit&.audit_comment %><br>
    <%= govuk_link_to "Download site notice PDF", "#",
          "data-action": "click->pdf#handleClick",
          "data-pdf-element-selector-param": "#site-notice-content",
          "data-pdf-filename-param": "site-notice-#{@planning_application.reference}.pdf" %>
  </p>
  <div class="consultation-letter-status">
    <div>
      <%= render(StatusTags::BaseComponent.new(status: :complete)) %>
    </div>
    <p class="govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-0">
      on <%= @planning_application.last_site_notice_audit&.created_at&.to_fs(:day_month_year_slashes) %>
    </p>
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-7">
<div class="govuk-!-display-none">
  <div id="site-notice-content">
    <div style="width: 430px; font-family: Arial;">
      <%= raw @planning_application.last_site_notice.preview_content %> <%# erblint:disable ErbSafety %>
    </div>
  </div>
</div>
