<% content_for :page_title do %>
  View consultee responses - <%= t("page_title") %>
<% end %>

<% add_parent_breadcrumb_link "Home", root_path %>
<% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>
<% add_parent_breadcrumb_link "Consultation", planning_application_consultation_path(@planning_application) %>
<% content_for :title, "View consultee responses" %>

<%= render(
      partial: "shared/proposal_header",
      locals: {heading: "View consultee responses"}
    ) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render ConsulteeOverviewComponent.new(consultation: @consultation, consultees: @consultees.sorted) %>
    <%= render ConsulteeResponseGroupComponent.new(consultees: @consultees.external, group: "external") %>
    <%= render ConsulteeResponseGroupComponent.new(consultees: @consultees.internal, group: "internal") %>

    <div class="govuk-button-group">
      <%= govuk_button_link_to "Back", planning_application_consultation_path(@planning_application), secondary: true %>
    </div>
  </div>
</div>
