<% content_for :page_title do %>
  View consultee responses - <%= t('page_title') %>
<% end %>

<% add_parent_breadcrumb_link "Home", root_path %>
<% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>
<% add_parent_breadcrumb_link "Consultation", planning_application_consultation_path(@planning_application) %>
<% content_for :title, "View consultee responses" %>

<%= render(
  partial: "shared/proposal_header",
  locals: { heading: "View consultee responses" }
) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <% if @consultees.consulted? %>
      <%= render ConsulteeOverviewComponent.new(consultation: @consultation, consultees: @consultees.consulted) %>
      <%= render ConsulteeResponseGroupComponent.new(consultees: @consultees.external_consulted, group: "external") %>
      <%= render ConsulteeResponseGroupComponent.new(consultees: @consultees.internal_consulted, group: "internal") %>
    <% else %>
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          No emails have been sent to consultees yet
        </strong>
      </div>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <% end %>

    <div class="govuk-button-group">
      <%= link_to "Back", planning_application_consultation_path(@planning_application), class: "govuk-button govuk-button--secondary" %>
    </div>
  </div>
</div>
