<div class="govuk-grid-row govuk-!-margin-top-2">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_with(model:, url:) do |form| %>
      <%= form.govuk_error_summary %>

      <% if params[:return_to] %>
        <%= form.hidden_field :return_to, value: params[:return_to] %>
      <% end %>

      <%= form.govuk_text_field :reference, width: "one-half" %>
      <%= form.govuk_text_field :address, value: @planning_application.address %>
      <%= form.govuk_text_area :description, rows: 3 %>

      <%= form.govuk_radio_buttons_fieldset(:decision, legend: {text: "What was the decision?", size: "s"}) do %>
        <% Decision.all_codes.each do |label, value| %>
          <%= form.govuk_radio_button :decision, value, label: {text: label} %>
        <% end %>

        <%= form.govuk_radio_button :decision, "other", checked: model.other_decision?, label: {text: "Other"} do %>
          <%= form.govuk_text_field :other_decision, label: {text: "Description"} %>
        <% end %>
      <% end %>

      <%= form.govuk_date_field :date, legend: {text: "Decision received on", size: "s", tag: nil} %>

      <%= form.govuk_text_area :comment, rows: 4, label: {text: "Relevance to proposal"} %>

      <% if model.persisted? %>
        <%= form.govuk_submit "Update site history", class: "govuk-!-margin-bottom-2" do %>
          <% if params[:return_to] %>
            <%= govuk_button_link_to "Back", params[:return_to], secondary: true %>
          <% else %>
            <%= govuk_button_link_to "Back", planning_application_assessment_site_histories_path(@planning_application), secondary: true %>
          <% end %>
        <% end %>
      <% else %>
        <%= form.govuk_submit "Add site history", secondary: true, class: "govuk-!-margin-bottom-2" %>
      <% end %>
    <% end %>
  </div>
</div>
