<%= render "task_header", task: @task %>

<% if params[:new] %>
  <div class="govuk-form-group">
    <div class="govuk-inset-text">
        <% if @form.press_notice.press_notice_email.present? %>
          An email request for publication will be sent to <strong><%= @planning_application.local_authority.press_notice_email %></strong>.
        <% else %>
          No press notice email has been set. This can be done by an administrator in the admin dashboard.
        <% end %>
    </div>
  </div>
  <%= form_with model: @form, url: @form.url(new: true) do |form| %>
    <% form.hidden_field :required, value: true %>
    <%= form.govuk_error_summary %>

    <%= form.govuk_check_boxes_fieldset :reasons, legend: -> { content_tag(:h2, "Statutory reasons for press notice", class: "govuk-heading-m") } do %>
      <% PressNotice::REASONS.each do |reason| %>
        <% if reason == :other %>
          <%= form.govuk_check_box_divider "or" %>
          <%= form.govuk_check_box :reasons, reason.to_s, label: {text: t(reason, scope: :press_notice_reasons)} do %>
            <%= form.govuk_text_area :other_reason, label: {text: t("press_notice_reasons.other_reason")} %>
          <% end %>
        <% else %>
          <%= form.govuk_check_box :reasons, reason.to_s, label: {text: t(reason, scope: :press_notice_reasons)} %>
        <% end %>
      <% end %>
    <% end %>
    <%= form.govuk_task_button "Send request", action: "email_press_notice" %>
    <%= govuk_button_link_to "Back", @form.press_notice_url, secondary: true %>

  <% end %>

<% elsif @form.press_notices.where(required: true).any? %>
  <% @planning_application.press_notices.required.each_with_index do |press_notice, index| %>
    <%= render "tasks/consultees-neighbours-and-publicity/publicity/press-notice/table", press_notice: press_notice, index: index %>
  <% end %>
  <%= form_with model: @form, url: @form.url do |form| %>
    <div class="govuk-button-group" id="press-notice-form-actions">
      <%= render "task_submit_buttons", form: form, save_draft: false %>
      <%= govuk_button_link_to "Add another press notice", @form.new_press_notice_url, secondary: true, class: "govuk-!-margin-left-3" %>

    </div>
  <% end %>
<% elsif @form.press_notices.where.not(id: nil).empty? %>
  <p class="govuk-body govuk-!-margin-top-4"> No press notices have been created for this application</p>
  <%= form_with model: @form, url: @form.url do |form| %>
    <div class="govuk-button-group" id="press-notice-form-actions">
      <%= govuk_button_link_to "Create press notice", @form.new_press_notice_url %>
      <%= form.govuk_task_button "Mark as not required", action: "mark_not_required", secondary: true %>
    </div>
  <% end %>
<% else %>
  <div class="govuk-inset-text">
    Press notices are not required for this application
  </div>
  <%= form_with model: @form, url: @form.url do |form| %>
    <div class="govuk-button-group" id="press-notice-form-actions">
      <%= govuk_button_link_to "Create press notice", @form.new_press_notice_url %>
    </div>
  <% end %>
<% end %>
