<div class="bops-accordion" data-module="bops-accordion" data-remember-expanded="false" id="accordion-default">
  <% neighbour_responses.group_by(&:summary_tag).sort_by { |key, _value| key[0] }.reverse.each_with_index do |(tag, responses), index| %>
    <div class="govuk-accordion__section">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-<%= index %>">
            <%= "#{tag&.capitalize} responses (#{responses.count})" %>
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-<%= index %>" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-<%= index %>">
        <% responses.group_by { |response| response.neighbour.selected? }.sort_by { |key, _value| key ? 0 : 1 }.each do |selected, sorted_responses| %>
          <% sorted_responses.each do |response| %>
            <div class="neighbour-response-section">
              <div class="govuk-inset-text">
                <div class="neighbour-response-top-section">
                  <div class="neighbour-response-content">
                    <%= render(StatusTags::BaseComponent.new(status: response.summary_tag)) %>
                    <% if response.neighbour.selected? %>
                      <strong class="govuk-tag app-task-list__task-tag govuk-!-margin-left-1">Adjoining neighbour</strong>
                    <% end %>
                    <br><br>
                    <ul class="govuk-list">
                      <li>
                        <strong><%= response.name %></strong> <span class="govuk-hint"><%= response.email %></span>
                      </li>
                      <li class="govuk-hint">
                        <%= response.neighbour.address %>
                      </li>
                      <li class="govuk-hint">
                        Received on <%= response.received_at.to_fs(:day_month_year_slashes) %>
                      </li>
                    </ul>
                    <%= render ShowMoreTextComponent.new(text: response.comment, length: 100) %>
                  </div>
                  <div class="neighbour-tags">
                    <% response.tags.each do |tag| %>
                      <div class="govuk-!-margin-bottom-3">
                        <strong class="govuk-tag govuk-tag--grey"><%= tag.humanize.upcase %></strong>
                      </div>
                    <% end %>
                  </div>
                </div>
                <% if response.documents.any? %>
                  <tbody class="govuk-table__body">
                    <% response.documents.each do |document| %>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-!-width-one-third">
                          <p class="govuk-body govuk-!-margin-bottom-1">
                            <%= document_thumbnail_link document, thumbnail_args: {resize: "300x212"} %>
                          </p>
                          <p class="govuk-body">
                            <%= truncate(document.name.to_s, length: 50) %><br>
                            <%= link_to_document "View in new window", document %>
                          </p>
                        </td>
                        <td class="govuk-table__cell govuk-!-width-one-third">
                          <% document.tags.each do |tag| %>
                            <strong class="govuk-tag govuk-tag--turquoise"><%= I18n.t(:"#{tag}", scope: :document_tags) %></strong>
                          <% end %>
                        </td>
                        <td class="govuk-table__cell govuk-!-width-one-third">
                          <p class="govuk-body govuk-!-margin-bottom-1">
                            <%= document.created_at.to_fs %>
                          </p>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                <% end %>
                <br>
                <p class="govuk-body">
                  <%= govuk_link_to "Redact and publish", edit_planning_application_consultation_redact_neighbour_response_path(@planning_application, response) %>
                  <% if response.redacted_by.try(:name) %>
                    (Redacted by: <%= response.redacted_by.name %>)
                  <% end %>
                </p>
                <%= link_to "Edit", edit_planning_application_consultation_neighbour_response_path(@planning_application, response) %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
