<%= render(
  partial: "shared/proposal_header",
  locals: { heading: "Request other validation change (fee)" }
) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "planning_applications/validation/fee_items/fee_item_table" %>

    <% if @planning_application.documents.for_fee_exemption.any? %>
      <%= render(
        partial: "planning_applications/validation/fee_change_validation_requests/supporting_documents",
        locals: { documents: @planning_application.documents.for_fee_exemption }
      ) %>
    <% end %>

    <%= form_with model: [@planning_application, :validation, @validation_request], scope: :validation_request  do |form| %>
      <%= form.hidden_field :fee_item, value: @validate_fee %>
      <%= hidden_field_tag(:validate_fee, "yes") %>

      <% if @validation_request.errors.any? %>
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
          <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <% @validation_request.errors.full_messages.each do |error| %>
                <li><%= error %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>

      <%= form.govuk_text_area(
        :reason,
        label: {
          size: "s",
          class: "govuk-label govuk-label--s",
          text: "Tell the applicant why the fee is incorrect",
        },
        hint: { text: "Use plain English to explain why the fee is wrong. This message will be shown to the applicant" }, 
        rows: 5,
        readonly: @planning_application.validated?
      ) %>

      <%= form.govuk_text_area(
        :suggestion,
        label: {
          size: "s",
          class: "govuk-label govuk-label--s",
          text: "Tell the applicant what they need to do"
        },
        hint: { text: "If the applicant needs to provide evidence, give examples of what you can accept. If the fee exemption relates to disability, use the phrase 'documents to support your fee exemption' rather than 'evidence of your disability'." },
        rows: 5,
        readonly: @planning_application.validated?
      ) %>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            View guidance on supporting documents
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet">
            <li>PIP award letters</li>
            <li>supporting statements, such as from a council or therapist</li>
            <li>NHS letters</li>
            <li>disabled person's bus pass, blue badges or related documents</li>
          </ul>
        </div>
      </details>

      <%= form.hidden_field :type, value: "FeeChangeValidationRequest" %>

      <%= render "shared/validation_request_form_actions", form: form, allow_submit: true %>
    <% end %>
  </div>
</div>
