<% content_for :page_title do %>
  <%= t(".edit_policy_guidance") %> - <%= t("page_title") %>
<% end %>

<% add_parent_breadcrumb_link "Home", root_path %>
<% add_parent_breadcrumb_link "Considerations", policy_areas_path %>
<% add_parent_breadcrumb_link t(".policy_guidance"), policy_guidances_path %>

<% content_for :title, t(".edit_policy_guidance") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <%= render "side_navigation", current: "policy_guidance" %>
  </div>
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-l">
      <%= t(".edit_policy_guidance") %>
    </h1>

    <%= form_with model: @policy_guidance, url: policy_guidance_path(@policy_guidance), scope: :policy_guidance do |form| %>
      <%= render "form", form: form %>
    <% end %>
  </div>
</div>
