<%= form_with model: @form, url: @form.url do |form| %>
  <%= form.govuk_error_summary %>

  <%= render "shared/task_header", task: @task %>

  <div data-controller="autocomplete-select">
    <%= form.govuk_select :recommended_application_type_id,
          @form.application_type_menu,
          label: {text: "What application type would the applicant need to apply for next?", tag: "h2", size: "m"},
          options: {include_blank: true} %>
  </div>

  <% unless @planning_application.determined? %>
    <div class="govuk-button-group">
      <%= form.govuk_task_button "Save and mark as complete" %>
    </div>
  <% end %>
<% end %>
