<div data-controller="unsaved-changes"
     data-action="beforeunload@window->unsaved-changes#handleBeforeUnload">
  <%= form_with model: @form, url: @form.url,
        data: {unsaved_changes_target: "form", action: "submit->unsaved-changes#handleSubmit"} do |form| %>
    <%= form.govuk_error_summary %>

    <%= render "shared/task_header", task: @task %>

    <div data-controller="autocomplete-select">
      <%= form.govuk_select :recommended_application_type_id,
            @form.application_type_menu,
            label: {text: "What application type would the applicant need to apply for next?", tag: "h2", size: "m"},
            options: {include_blank: true} %>
    </div>

    <%= render "shared/task_submit_buttons", form: form, save_draft: false %>
  <% end %>
</div>
