<% content_for :page_title do %>
  <%= t(".users") %> - <%= t('page_title') %>
<% end %>

<% add_parent_breadcrumb_link "Home", root_path %>

<% content_for :title, t(".users") %>

<% if current_user.local_authority.users.any?(&:unconfirmed?) %>
  <%= render(
        partial: "status_prompt",
        locals: { users: @unconfirmed_users }
      ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      <%= t(".users") %>
    </h1>
    <div class="govuk-tabs" data-module="govuk-tabs">
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#confirmed">
            Confirmed
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#unconfirmed">
            Unconfirmed
          </a>
        </li>
      </ul>
      <div class="govuk-tabs__panel govuk-tabs__panel" id="confirmed">
        <%= render(
              partial: "table",
              locals: { users: @confirmed_users }
            ) %>
      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel" id="unconfirmed">
        <%= render(
              partial: "table",
              locals: { users: @unconfirmed_users }
            ) %>
      </div>
    </div>
    <div class="govuk-button-group">
      <%= link_to(
            t(".add_user"),
            new_administrator_user_path,
            class: "govuk-button",
            data: { module: "govuk-button" }
          ) %>

      <%= back_link %>
    </div>
  </div>
</div>
