<div class="govuk-tabs__panel" id="all">
  <h2 class="govuk-heading-l"><%= all_applications_tab_title %></h2>
  <%= render(
    partial: "search/form",
    locals: {
      search: search,
      planning_applications: planning_applications,
      tab_id: "all"
    }
  ) %>
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">
          <%= t(".expiry_date") %>
        </th>
        <th scope="col" class="govuk-table__header">
          <%= t(".application_number") %>
        </th>
        <th scope="col" class="govuk-table__header">
          <%= t(".status") %>
        </th>
        <th scope="col" class="govuk-table__header">
          <%= t(".site_address") %>
        </th>
        <th scope="col" class="govuk-table__header">
          <%= t(".description") %>
        </th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% planning_application_presenters(self, planning_applications).each do |planning_application| %>
        <tr class="govuk-table__row" id=<%= dom_id(planning_application) %>>
          <td class="govuk-table__cell">
            <%= planning_application.expiry_date.strftime("%e %b") %>
          </td>
          <td class="govuk-table__cell">
            <%= link_to(
              planning_application.reference,
              planning_application,
              class: "govuk-link"
            ) %>
          </td>
          <td class="govuk-table__cell">
            <%= planning_application.status_tag %>
          </td>
          <td class="govuk-table__cell">
            <%= planning_application.full_address %>
          </td>
          <td class="govuk-table__cell">
            <%= planning_application.description %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
