<ol class="app-task-list">
  <li>
    <h2 class="app-task-list__section">
      <span class="app-task-list__section-number"><%= t("#{@planning_application.status}.heading") %></span>
    </h2>
    <ul class="app-task-list__items">
      <li class="app-task-list__item">
        <% step_name = t("#{@planning_application.status}.validation_step") %>
        <% aria_attributes = @planning_application.in_assessment? ? { describedby: "#{step_name.parameterize}-completed" } : {} %>
        <% path = planning_application_drawings_path(@planning_application) %>
        <span class="app-task-list__task-name"><%= link_to step_name, path, aria: aria_attributes %></span>

        <% unless @planning_application.not_started? %>
          <%= tag.strong "Completed", id: "#{step_name.parameterize}-completed", class: "govuk-tag app-task-list__task-tag" %>
        <% end %>
      </li>

      <li class="app-task-list__item">
        <% step_name = t("#{@planning_application.status}.proposal_step") %>
        <% if current_user.assessor? %>
          <% aria_attributes = @planning_application.assessor_decision ? { describedby: "#{step_name.parameterize}-completed" } : {} %>
          <% path = assessor_decision_path(@planning_application) %>
          <span class="app-task-list__task-name"><%= link_to step_name, path, aria: aria_attributes %></span>
        <% elsif !@planning_application.in_assessment? && current_user.reviewer? %>
          <% aria_attributes = @planning_application.reviewer_decision ? { describedby: "#{step_name.parameterize}-completed" } : {} %>

          <% path = reviewer_decision_path(@planning_application) %>
          <span class="app-task-list__task-name"><%= link_to step_name, path, aria: aria_attributes %></span>
        <% else %>
          <span class="app-task-list__task-name"><%= step_name %></span>
        <% end %>

        <% if proposal_step_mark_completed?(step_name, @planning_application) %>
          <%= tag.strong "Completed", id: "#{step_name.parameterize}-completed", class: "govuk-tag app-task-list__task-tag" %>
        <% end %>
      </li>

      <% if (current_user.assessor?) %>
        <li class="app-task-list__item">
          <% step_name = "Attach drawing numbers" %>

          <% if @planning_application.awaiting_determination? || @planning_application.determined? %>
            <span class="app-task-list__task-name"><%= step_name %></span>

            <% if @planning_application.drawings_ready_for_publication? %>
              <%= tag.strong "Completed", id: "#{step_name.parameterize}-completed", class: "govuk-tag app-task-list__task-tag" %>
            <% end %>
          <% else %>
            <% if @planning_application.drawings_ready_for_publication? %>
              <% aria_attributes = { describedby: "#{step_name.parameterize}-completed" } %>

              <span class="app-task-list__task-name"><%= link_to step_name, edit_numbers_planning_application_drawings_path(@planning_application), aria: aria_attributes %></span>

              <%= tag.strong "Completed", id: "#{step_name.parameterize}-completed", class: "govuk-tag app-task-list__task-tag" %>
            <% elsif @planning_application.drawing_numbering_partially_completed? %>
              <% aria_attributes = { describedby: "#{step_name.parameterize}-in-progress" } %>

              <span class="app-task-list__task-name"><%= link_to step_name, edit_numbers_planning_application_drawings_path(@planning_application), aria: aria_attributes %></span>

              <%= tag.strong "In Progress", id: "#{step_name.parameterize}-in-progress", class: "govuk-tag govuk-tag--grey app-task-list__task-tag" %>
            <% else %>
              <span class="app-task-list__task-name"><%= link_to step_name, edit_numbers_planning_application_drawings_path(@planning_application) %></span>
            <% end %>
          <% end %>
        </li>
      <% end %>

      <li class="app-task-list__item">
        <% step_name = t("#{@planning_application.status}.recommendation_step") %>
        <% aria_attributes = @planning_application.awaiting_determination? ? { describedby: "#{step_name.parameterize}-completed" } : {} %>

        <% if current_user.assessor? && @planning_application.assessor_decision && @planning_application.drawings_ready_for_publication? %>
          <span class="app-task-list__task-name"><%= link_to step_name, edit_planning_application_path(@planning_application), aria: aria_attributes %></span>
        <% elsif current_user.reviewer? && @planning_application.reviewer_decision  && !@planning_application.awaiting_correction? %>
          <span class="app-task-list__task-name"><%= link_to step_name, edit_planning_application_path(@planning_application), aria: aria_attributes %></span>
        <% else %>
          <span class="app-task-list__task-name"><%= step_name %></span>
        <% end %>

        <% if recommendation_step_mark_completed?(step_name, @planning_application) %>
          <%= tag.strong "Completed", id: "#{step_name.parameterize}-completed", class: "govuk-tag app-task-list__task-tag" %>
        <% end %>
      </li>
    </ul>
  </li>
</ol>
