<ol class="app-task-list">
  <% if (current_user.assessor? || current_user.admin?)%>
    <li>
      <h2 class="app-task-list__section">
        <span class="app-task-list__section-number">Make recommendation</span>
      </h2>
      <ul class="app-task-list__items">
        <li class="app-task-list__item">
          <% step_name = "Assess the proposal" %>

          <% if (current_user.assessor? || current_user.admin?) && @planning_application.in_assessment? %>
            <% aria_attributes = @planning_application.assessor_decision ? { describedby: "#{step_name.parameterize}-completed" } : {} %>

            <%# TODO: Make a helper for this %>
            <%
              path = @planning_application.assessor_decision ?
                edit_planning_application_decision_path(@planning_application) :
                  new_planning_application_decision_path(@planning_application)
            %>

            <span class="app-task-list__task-name"><%= link_to step_name, path, aria: aria_attributes %></span>
          <% else %>
            <span class="app-task-list__task-name"><%= step_name %></span>
          <% end %>

          <% if @planning_application.assessor_decision&.valid? %>
            <%= tag.strong "Completed", id: "#{step_name.parameterize}-completed", class: "govuk-tag app-task-list__task-completed" %>
          <% end %>
        </li>

        <li class="app-task-list__item">
          <% step_name = "Submit the recommendation" %>

          <% if (current_user.assessor? || current_user.admin?) && @planning_application.assessor_decision %>
            <% aria_attributes = @planning_application.awaiting_determination? ? { describedby: "#{step_name.parameterize}-completed" } : {} %>

            <span class="app-task-list__task-name"><%= link_to_if @planning_application.in_assessment?, step_name, edit_planning_application_path(@planning_application), aria: aria_attributes %></span>
          <% else %>
            <span class="app-task-list__task-name"><%= step_name %></span>
          <% end %>

          <% if @planning_application.awaiting_determination? %>
            <%= tag.strong "Completed", id: "#{step_name.parameterize}-completed", class: "govuk-tag app-task-list__task-completed" %>
          <% end %>
        </li>
      </ul>
    </li>
  <% end %>
  <% if (current_user.reviewer? || current_user.admin?)%>
    <li>
      <h2 class="app-task-list__section">
        <span class="app-task-list__section-number">Determine the proposal</span>
      </h2>
      <ul class="app-task-list__items">
        <li class="app-task-list__item">
          <% step_name = "Review the recommendation" %>

          <% if current_user.reviewer? && @planning_application.awaiting_determination? %>
            <% aria_attributes = @planning_application.reviewer_decision ? { describedby: "#{step_name.parameterize}-completed" } : {} %>

            <%# TODO: Make a helper for this %>
            <%
              path = @planning_application.reviewer_decision ?
                edit_planning_application_decision_path(@planning_application) :
                  new_planning_application_decision_path(@planning_application)
            %>

            <span class="app-task-list__task-name"><%= link_to step_name, path, aria: aria_attributes %></span>
          <% else %>
            <span class="app-task-list__task-name"><%= step_name %></span>
          <% end %>

          <% if @planning_application.reviewer_decision&.valid? %>
            <%= tag.strong "Completed", id: "#{step_name.parameterize}-completed", class: "govuk-tag app-task-list__task-completed" %>
          <% end %>
        </li>

        <li class="app-task-list__item">
          <% step_name = "Publish the recommendation" %>

          <% if current_user.reviewer? && @planning_application.awaiting_determination? %>
            <% aria_attributes = @planning_application.awaiting_determination? ? { describedby: "#{step_name.parameterize}-completed" } : {} %>

            <span class="app-task-list__task-name"><%= link_to_if @planning_application.reviewer_decision, step_name, edit_planning_application_path(@planning_application), aria: aria_attributes %></span>
          <% else %>
            <span class="app-task-list__task-name"><%= step_name %></span>
          <% end %>

          <% if @planning_application.determined? %>
            <%= tag.strong "Completed", id: "#{step_name.parameterize}-completed", class: "govuk-tag app-task-list__task-completed" %>
          <% end %>
        </li>
      </ul>
    </li>
  <% end %>
</ol>
