<% add_parent_breadcrumb_link "Home", planning_applications_path %>

<% if current_page?(planning_application_path(@planning_application)) %>
  <% content_for :title, "Application" %>
<% else %>
  <% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l" style="margin-bottom: 7px;">
      Fast track application: <%= @planning_application.reference %>
    </h1>
    <h2 class="govuk-heading-m" style="margin-bottom: 75px;">
      <%= @planning_application.site.full_address %>
    </h2>
    <%= render "shared/status_panel" %>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds application">
    <% if @planning_application.cancellable? %>
      <p class="govuk-body">
        <%= link_to "Cancel application", cancel_confirmation_planning_application_path(@planning_application) %>
      </p>
    <% end %>
    <%= render "shared/application_information" %>

    <%= yield %>
  </div>
  <div class="govuk-grid-column-one-third supporting">
    <%= render "shared/supporting_information" %>
  </div>
</div>
