<ol class="app-task-list">
  <% if (current_user.assessor? || current_user.admin?)%>
    <li>
      <h2 class="app-task-list__section">
        <% if @planning_application.correction_requested? %>
          <span class="app-task-list__section-number">Make corrections</span>
        <% else %>
          <span class="app-task-list__section-number">Make recommendation</span>
        <% end %>
      </h2>
      <ul class="app-task-list__items">
        <li class="app-task-list__item">
          <% if @planning_application.correction?  %>
            <% step_name = "Reassess the proposal" %>
          <% else %>
            <% step_name = "Assess the proposal" %>
          <% end %>

          <% if (current_user.assessor? || current_user.admin?) %>
            <% aria_attributes = @planning_application.assessor_decision ? { describedby: "#{step_name.parameterize}-completed" } : {} %>

            <%# TODO: Make a helper for this %>
            <%
              path = @planning_application.assessor_decision ?
                         edit_planning_application_decision_path(@planning_application) :
                         new_planning_application_decision_path(@planning_application)
            %>

            <span class="app-task-list__task-name"><%= link_to step_name, path, aria: aria_attributes %></span>
          <% else %>
            <span class="app-task-list__task-name"><%= step_name %></span>
          <% end %>

          <% if (@planning_application.assessor_decision&.valid? && mark_completed?(step_name, @planning_application)) %>
            <%= tag.strong "Completed", id: "#{step_name.parameterize}-completed", class: "govuk-tag app-task-list__task-completed" %>
          <% end %>
        </li>

        <li class="app-task-list__item">
          <% if @planning_application.correction? %>
            <% step_name = "Resubmit the recommendation" %>
          <% else %>
            <% step_name = "Submit the recommendation" %>
          <% end %>

          <% if (current_user.assessor? || current_user.admin?) && @planning_application.assessor_decision %>
            <% aria_attributes = @planning_application.awaiting_determination? ? { describedby: "#{step_name.parameterize}-completed" } : {} %>

            <span class="app-task-list__task-name"><%= link_to step_name, edit_planning_application_path(@planning_application), aria: aria_attributes %></span>
          <% else %>
            <span class="app-task-list__task-name"><%= step_name %></span>
          <% end %>

          <% if @planning_application.awaiting_determination? && mark_completed?(step_name, @planning_application) %>
            <%= tag.strong "Completed", id: "#{step_name.parameterize}-completed", class: "govuk-tag app-task-list__task-completed" %>
          <% end %>
        </li>
      </ul>
    </li>
  <% end %>
  <% if (current_user.reviewer? || current_user.admin?) %>
    <li>
      <h2 class="app-task-list__section">
        <span class="app-task-list__section-number">Determine the proposal</span>
      </h2>
      <ul class="app-task-list__items">
        <li class="app-task-list__item">
          <% if @planning_application.correction? %>
            <% step_name = "Review the corrections" %>
          <% else %>
            <% step_name = "Review the recommendation" %>
          <% end %>
          <% if current_user.reviewer? && !@planning_application.correction_requested? %>
            <% aria_attributes = @planning_application.reviewer_decision ? { describedby: "#{step_name.parameterize}-completed" } : {} %>

            <%# TODO: Make a helper for this %>
            <%
              path = @planning_application.reviewer_decision ?
                         edit_planning_application_decision_path(@planning_application) :
                         new_planning_application_decision_path(@planning_application)
            %>

            <span class="app-task-list__task-name"><%= link_to step_name, path, aria: aria_attributes %></span>
          <% else %>
            <span class="app-task-list__task-name"><%= step_name %></span>
          <% end %>

          <% if @planning_application.reviewer_decision&.valid? && mark_completed?(step_name, @planning_application) %>
            <%= tag.strong "Completed", id: "#{step_name.parameterize}-completed", class: "govuk-tag app-task-list__task-completed" %>
          <% end %>
        </li>

        <li class="app-task-list__item">
          <% step_name = "Publish the recommendation" %>

          <% if current_user.reviewer? && @planning_application.reviewer_decision %>
            <% aria_attributes = @planning_application.awaiting_determination? ? { describedby: "#{step_name.parameterize}-completed" } : {} %>

            <span class="app-task-list__task-name"><%= link_to step_name, edit_planning_application_path(@planning_application), aria: aria_attributes %></span>
          <% else %>
            <span class="app-task-list__task-name"><%= step_name %></span>
          <% end %>

          <% if @planning_application.determined? %>
            <%= tag.strong "Completed", id: "#{step_name.parameterize}-completed", class: "govuk-tag app-task-list__task-completed" %>
          <% end %>
        </li>
      </ul>
    </li>
  <% end %>
</ol>
