<% add_parent_breadcrumb_link "Home", planning_applications_path %>

<% if current_page?(planning_application_path(@planning_application)) %>
  <% content_for :title, "Application" %>
<% else %>
  <% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>
<% end %>

<%= render(
  partial: "planning_applications/proposal_header",
  locals: { heading: local_assigns.fetch(:heading, nil) }
) %>

<div class="govuk-grid-column-two-thirds">
  <% if @planning_application.validation_requests %>
    <%= render "overdue_banner" if @planning_application.overdue_requests.present? %>
    <% if @planning_application.closed_validation_requests.any? %>
      <%= render "planning_applications/response_banner" %>
    <% end %>
  <% end %>
  <%= render "description_response_banner" if @planning_application.description_change_validation_requests.responded.present? %>
  <%= render "description_change_auto_closed_banner" if @planning_application.latest_auto_closed_description_request.present? %>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds application">
    <%= render "shared/application_information" %>

    <%= yield %>
  </div>
  <div class="govuk-grid-column-one-third supporting">
    <%= render "shared/supporting_information" %>
  </div>
</div>
