<div class="govuk-tabs__panel" id="closed">
  <h2 class="govuk-heading-l"><%= t(".closed") %></h2>
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">
          <%= t(".application_number") %>
        </th>
        <th scope="col" class="govuk-table__header">
          <%= t(".outcome") %>
        </th>
        <th scope="col" class="govuk-table__header">
          <%= t(".outcome_date") %>
        </th>
        <th scope="col" class="govuk-table__header">
          <%= t(".site_address") %>
        </th>
        <th scope="col" class="govuk-table__header">
          <%= t(".description") %>
        </th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% planning_application_presenters(self, planning_applications).each do |planning_application| %>
        <tr class="govuk-table__row" id=<%= dom_id(planning_application) %>>
          <td class="govuk-table__cell">
            <%= link_to(
              planning_application.reference,
              planning_application,
              class: "govuk-link"
            ) %>
          </td>
          <td class="govuk-table__cell">
            <%= planning_application.status_tag %>
          </td>
          <td class="govuk-table__cell">
            <%= planning_application.outcome_date.strftime("%e %b") %>
          </td>
          <td class="govuk-table__cell">
            <%= planning_application.full_address %>
          </td>
          <td class="govuk-table__cell">
            <%= planning_application.description %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
