<div class="decision-notice">
  <span class="govuk-caption-xl">
    <%= planning_application.local_authority.council_name %>
  </span>
  <br/>
  <h2 class="govuk-heading-s">
    Town and Country Planning Act 1990 (as amended): sections 191 and 192 <br>
    Town and Country Planning (Development Management Procedure) (England) Order 2015 (as amended): Article 39
  </h2>
  <h2 class="govuk-heading-m">
    Certificate of Lawful Use or Development <%= "Decision Notice" if @planning_application.refused? %><br/>
    <strong><%= planning_application.decision.capitalize %></strong>
  </h2>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <dl class="govuk-summary-list govuk-summary-list--no-border">
    <%
      {
        "Applicant" => planning_application.applicant_name,
        "Application number" => planning_application.reference,
        "Application received" => planning_application.received_at,
        "Decision date" => planning_application.determination_date || "TBD",
        "Site address" => planning_application.full_address,
        "Use/development" => planning_application.description,
      }.each do |key, value|
    %>
      <div class="govuk-summary-list__column">
        <dt class="govuk-summary-list__key">
          <%= key %>
        </dt>
      </div>
      <div class="govuk-summary-list__column">
        <dt class="govuk-summary-list__value">
          <%= value %>
        </dt>
      </div>
    <% end %>
  </dl>
  <p class="govuk-body">
    We certify that on the date of the application, the <%= @planning_application.work_status %> use or operations described in the application and supporting plans were <%= @planning_application.granted? ? "lawful" : "not lawful" %> for the purposes of <%= @planning_application.work_status == "proposed" ? "S.192" : "S.191" %> of the Town and Country Planning Act 1990.
  </p>
  <p class="govuk-body">
    <strong>
      The proposal <%= @planning_application.granted? ? "complies" : "does not comply" %> due to the following reason(s):
    </strong>
  </p>
  <p class="govuk-body">
    <%= planning_application.public_comment %>
  </p>
  <h3 class="govuk-heading-s">
    This decision is based on the following approved plans:
  </h3>
  <% if planning_application.documents_for_decision_notice.any? %>
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Planning application related documents</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header app-custom-class">Document reference</th>
          <th scope="col" class="govuk-table__header app-custom-class">Description</th>
          <th scope="col" class="govuk-table__header app-custom-class">Date received</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <% planning_application.documents_for_decision_notice.each do |document| %>
          <% document.numbers.split(",").each do |number| %>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><%= number %></td>
              <td class="govuk-table__cell">
                <% document.tags.each do |tag| %>
                  <%= tag.upcase %>
                <% end %>
              </td>
              <td class="govuk-table__cell"><%= document.created_at %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="govuk-body">
      No plans specified
    </p>
  <% end %>
  <h3 class="govuk-heading-s">
    Site location
  </h3>
  <% if @planning_application.boundary_geojson.present? %>
    <%= render "shared/location_map", locals: { geojson: @planning_application.boundary_geojson } %>
  <% else %>
    <p class="govuk-body">No digital sitemap provided</p>
  <% end %>
  <h3 class="govuk-heading-s">
    Notes:
  </h3>
  <p class="govuk-body">
    Enquiries regarding this document should include the application number and be sent to:
  </p>
  <h3 class="govuk-heading-s">
    Email
  </h3>
  <p class="govuk-body">
    <%= mail_to planning_application.local_authority.email_address, nil, class: "govuk-link" %>
  </p>
  <h3 class="govuk-heading-s">
    Post
  </h3>
  <p class="govuk-body">
    <%= planning_application.local_authority.signatory %>, <br>
    <%= planning_application.local_authority.council_name %>, <br>
    <%= planning_application.local_authority.enquiries_paragraph %>.
  </p>
  <% if @planning_application.refused? %>
    <h3 class="govuk-heading-s">
      Appeals to the Secretary of State
    </h3>
    <p class="govuk-body">
      If you are aggrieved by this decision, then you can appeal to the Secretary of State under section 195 of the Town and Country Planning Act 1990 (as amended). Appeals to the Secretary of State regarding this decision may be made online and in accordance with the guidance set out on the Government website at: <a href="https://www.gov.uk/appeal-lawful-development-certificate-decision">https://www.gov.uk/appeal-lawful-development-certificate-decision</a>
    </p>
  <% end %>
</div>
