<div class="decision-notice">
  <div class="decision-notice-main-section">
    <% unless planning_application.determined? %>
      <span class="govuk-tag govuk-tag--yellow app-task-list__task-tag">
        Draft
      </span>
    <% end %>
    <span class="govuk-caption-xl">
      <%= planning_application.local_authority.council_name %>
    </span>
    <br>

    <h1>Decision Notice</h1>

    <h3><%= planning_application.application_type.legislation_title %></h3>

    <h2>
      <strong>
        <%= t("recommendation.title", application_type: planning_application.application_type.description, decision: planning_application.decision.humanize) %>
      </strong>
    </h2>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <%= govuk_summary_list(actions: false, classes: "govuk-summary-list--no-border") do |summary_list|
          {
            "Applicant" => planning_application.applicant_name,
            "Application number" => planning_application.reference,
            "Application received" => planning_application.received_at.to_fs,
            "Decision date" => planning_application.determination_date&.to_fs || "TBD",
            "Site address" => planning_application.full_address,
            "Use/development" => planning_application.description
          }.each do |pair|
            summary_list.with_row do |row|
              row.with_key { pair[0] }
              row.with_value { pair[1] }
            end
          end
        end %>
    <% if @planning_application.lawfulness_certificate? %>
      <p>
        We certify that on the date of the application, the <%= @planning_application.work_status %> use or operations described in the application and supporting plans were <%= @planning_application.granted? ? "lawful" : "not lawful" %> for the purposes of <%= (@planning_application.work_status == "proposed") ? "S.192" : "S.191" %> of the Town and Country Planning Act 1990.
      </p>
    <% end %>
    <p>
      <strong>
        <%= t("recommendation.body", decision: planning_application.decision) %>
      </strong>
    </p>
    <p>
      <%= render(FormattedContentComponent.new(text: planning_application.public_comment)) %>
    </p>
    <% if @planning_application.assessment_details.select { |ad| ad.category == "amenity" }.any? &&  @planning_application.lawfulness_certificate? %>
      <p>
        <strong>
          Assessment of amenity:
        </strong>
      </p>
      <p>
        <%= @planning_application.assessment_details.find { |ad| ad.category == "amenity" }.entry %>
      </p>
    <% end %>
    <% if @planning_application.granted? && @planning_application.planning_conditions? %>
      <h3>
        Conditions:
      </h3>
      <ol class="govuk-list govuk-list--number" id="conditions-list">
        <% @planning_application.pre_commencement_condition_set.approved_conditions.each do |condition| %>
          <li>
            <%= condition.title %><br>
            <%= render(FormattedContentComponent.new(text: condition.text)) %>
            <%= render(FormattedContentComponent.new(text: condition.reason)) %>
          </li>
        <% end %>
        <% @planning_application.condition_set.conditions.each do |condition| %>
          <li>
            <%= render(FormattedContentComponent.new(text: condition.text)) %>
            <%= render(FormattedContentComponent.new(text: condition.reason)) %>
          </li>
        <% end %>
      </ol>
    <% end %>
    <% if @planning_application.application_type.informatives? %>
      <% if @planning_application.informative_set.informatives.any? %>
        <h3>
          Informatives:
        </h3>
        <ol class="govuk-list govuk-list--number" id="informatives-list">
          <% @planning_application.informative_set.informatives.each do |informative| %>
            <li>
              <%= informative.title %><br>
              <%= informative.text %>
            </li>
          <% end %>
        </ol>
      <% end %>
    <% end %>
    <% if @planning_application.committee_decision&.recommend? %>
      <h3>
        Committee recommendation
      </h3>
      <p>
        This application requires decision by Committee for the following reasons:
      </p>
      <ol class="govuk-list govuk-list--number">
        <% @planning_application.committee_decision.reasons.each do |reason| %>
          <li>
            <%= reason %>
          </li>
        <% end %>
      </ol>
    <% end %>
    <h3>
      This decision is based on the following approved plans:
    </h3>
    <% if planning_application.documents_for_decision_notice.any? %>
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Planning application related documents</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header app-custom-class">Document reference</th>
            <th scope="col" class="govuk-table__header app-custom-class">Description</th>
            <th scope="col" class="govuk-table__header app-custom-class">Date received</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <% planning_application.documents_for_decision_notice.each do |document| %>
            <% document.numbers.split(",").each do |number| %>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><%= number %></td>
                <td class="govuk-table__cell">
                  <% document.tags.each do |tag| %>
                    <%= I18n.t(:"#{tag}", scope: :document_tags) %>
                  <% end %>
                </td>
                <td class="govuk-table__cell"><%= document.created_at.to_fs %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>
        No plans specified
      </p>
    <% end %>
  </div>

  <div class="decision-notice-map-section govuk-!-padding-bottom-3">
    <h3>
      Site location
    </h3>

    <% if @planning_application.boundary_geojson.present? %>
      <%= render "shared/location_map", locals: {geojson: @planning_application.boundary_geojson} %>
    <% else %>
      <p>No digital sitemap provided</p>
    <% end %>
  </div>

  <h3>
    Notes:
  </h3>
  <p>
    Enquiries regarding this document should include the application number and be sent to:
  </p>
  <h3>
    Email
  </h3>
  <p>
    <%= mail_to planning_application.local_authority.email_address, nil, class: "govuk-link" %>
  </p>
  <h3>
    Post
  </h3>
  <p>
    <%= planning_application.local_authority.signatory %>, <br>
    <%= planning_application.local_authority.council_name %>, <br>
    <%= planning_application.local_authority.enquiries_paragraph %>
  </p>

  <% if @planning_application.refused? %>
    <p>
      TOWN & COUNTRY PLANNING (APPEALS) (WRITTEN REPRESENTATIONS) (ENGLAND)
      (AMENDMENT) (REGULATIONS 2013)
    </p>
    <p>TOWN AND COUNTRY PLANNING ACT 1990</p>
    <h3>Appeals to the Secretary of State</h3>
    <ul>
      <li>
        If you are aggrieved by the decision of your Local Planning Authority to
        refuse permission for the proposed development or to grant it subject to
        conditions, then you can appeal to the Secretary of State under section
        78 of the Town and Country Planning Act 1990.
      </li>
      <li>
        If you want to appeal against your Local Planning Authority’s decision,
        then you must do so within 12 weeks from the date of this notice for
        appeals being decided under the Commercial Appeals Service and 6 months
        from the date of this notice for all other minor and major applications.
      </li>
      <li>
        However, if an enforcement notice has been served for the same or very
        similar development within the previous 2 years, the time limit is:
        <ul>
          <li>
            28 days from the date of the LPA decision if the enforcement notice
            was served before the decision was made yet not longer than 2 years
            before the application was made.
          </li>
          <li>
            28 days from the date the enforcement notice was served if served on
            or after the date the decision was made (unless this extends the
            appeal period beyond 6 months).
          </li>
        </ul>
      </li>
      <li>
        Appeals must be made to the Planning Inspectorate and this can be done
        electronically via the GOV.UK website:
        <a href="https://www.gov.uk/appeal-planning-decision">https://www.gov.uk/appeal-planning-decision</a>
      </li>
      <li>
        If you are unable to appeal online, you can obtain a paper form from the
        Planning Inspectorate by contacting their Customer Support Team on 0303
        444 5000.
      </li>
    </ul>
    <h3>Commercial Appeals Service</h3>
    <ul>
      <li>
        This type of appeal proceeds by way of written representations, known as
        the "Commercial Appeals Service". Third parties will not have the
        opportunity to make further representations to the Planning Inspectorate
        on these.
      </li>
    </ul>
    <h3>All other Minor and Major Applications</h3>
    <ul>
      <li>
        The Secretary of State can allow a longer period for giving notice of an
        appeal, but he will not normally be prepared to use this power unless
        there are special circumstances which excuse the delay in giving notice
        of appeal.
      </li>
      <li>
        The Secretary of State need not consider an appeal if it seems to the
        Secretary of State that the Local Planning Authority could not have
        granted planning permission for the proposed development or could not
        have granted it without the conditions they imposed, having regard to
        the statutory requirements, to the provisions of any development order
        and to any directions given under a development order.
      </li>
      <li>
        In practice, the Secretary of State does not refuse to consider appeals
        solely because the Local Planning Authority based on their decision on a
        direction given by him.
      </li>
      <li>
        If you intend to submit an appeal that you would like examined by
        inquiry then you must notify the Local Planning Authority and Planning
        Inspectorate
        (<a href="inquiryappeals@planninginspectorate.gov.uk">inquiryappeals@planninginspectorate.gov.uk</a>)
        at least 10 days before submitting the appeal. Further details are on
        GOV.UK.
      </li>
    </ul>
    <h3>Purchase Notices</h3>
    <ul>
      <li>
        If either the Local Planning Authority or the Secretary of State refuses
        permission to development land or grants it subject to conditions, the
        owner may claim that he can neither put the land to a reasonably
        beneficial use in its existing state nor render the land capable of a
        reasonably beneficial use by the carrying out of any development which
        has been or would be permitted.
      </li>
      <li>
        In these circumstances, the owner may serve a purchase notice on the
        Council (District Council, London Borough Council or Common Council of
        the City of London) in whose area the land is situated. This notice will
        require the Council to purchase his interest in the land in accordance
        with the provisions of Part VI of the Town and Country Planning Act
        1990.
      </li>
    </ul>
  <% end %>
</div>

<p class="govuk-!-margin-top-3">
  <%= govuk_link_to "Download as PDF", decision_notice_api_v1_planning_application_path(@planning_application, format: "pdf") %>
</p>
