<div style="background-color: #f3f2f1; border: solid 1px; padding: 30px; clear: both; margin-top: 10px;">
  <span class="govuk-caption-xl"><%= planning_application.local_authority.name %> </span>
  <h2 class="govuk-heading-m">Town and country planning act 1990 (as amended)</h2>
  <p class="govuk-body"> <strong>Decision notice</strong> </p>
  <p class="govuk-body">Certificate of lawfulness of proposed use or development: <strong><%= "#{decision.status}." %></strong></p>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <p class="govuk-body">
    <strong>Applicant:</strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<%= @planning_application.applicant_first_name %> <%= @planning_application.applicant_last_name %><br>
    <strong>Date of Issue of this decision:</strong>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<%= planning_application.determined_at&.strftime("%e %B %Y") || "TBD" %><br>
    <strong>Application received:</strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<%= planning_application.created_at.strftime("%e %B %Y") %>
    <br>
    <strong>Address:</strong>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<%= display_address(planning_application.site) %><br>
    <strong>Application number:</strong>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<%= planning_application.reference %><br>
  </p>
  <p class="govuk-body">Proposed use or development:<br>
    Certificate of lawful development (proposed) for the construction of <%= planning_application.description %>
  </p>
  <% if decision.granted? %>
    <p class="govuk-body">
      IT IS HEREBY CERTIFIED that the use or operations described below are
      <strong>lawful</strong> for the purposes of S.192 of the Town and Country Planning Act 1990 in accordance with the valid application received on <%= planning_application.created_at.strftime("%d/%m/%Y") %> and supporting documents listed below. Full application is available on the planning register.
    </p>
    <p class="govuk-body">
      <strong>CONDITIONS<br>
        Permission is subject to the following Approved Plans Condition:
      </strong>
    </p>
    <p class="govuk-body">1 The development shall be carried out in accordance with the following approved plans:</p>
  <% elsif decision.refused? %>
    <p class="govuk-body">
      IT IS HEREBY CERTIFIED that the use or operations described below are
      <strong>not lawful</strong>
      for the purposes of S.192 of the Town and Country Planning Act 1990 on the date that the application for this Certificate was received.
    </p>
    <% if planning_application.assessor_decision.refused_with_public_comment? %>
      <p class="govuk-body">The proposal does not comply with:</p>
      <p class="govuk-body"> <%= planning_application.assessor_decision.public_comment %> </p>
    <% end %>
    <p class="govuk-body">
    The proposal was refused based on the following plans:
    </p>
  <% end %>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header app-custom-class">Plan reference number</th>
          <th scope="col" class="govuk-table__header app-custom-class">Date received</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <% planning_application.documents.for_publication.each do |document| %>
         <% if document.numbers.present? %>
          <% document.numbers.split(",").each do |number| %>
            <tr class="govuk-table__row">
            <td class="govuk-table__cell"><%= number %></td>
            <td class="govuk-table__cell"><%= document.created_at.strftime("%e %B %Y") %></td>
          </tr>
         <% end %>
        <% end %>
       <% end %>
      </tbody>
    </table>
  <p class="govuk-body">Signed: <%= planning_application.local_authority.signatory_name %>
    <br>
    <%= planning_application.local_authority.signatory_job_title %>
  </p>
  <p class="govuk-body">
    Your attention is drawn to the notes accompanying this document
  </p>

  <p class="govuk-body">
    Any enquiries regarding this document should quote the Application Number and be sent to
    the
    <%= planning_application.local_authority.signatory_job_title %>,
    <%= planning_application.local_authority.name %>,
    <%= planning_application.local_authority.enquiries_paragraph %>
    or by email to <%= planning_application.local_authority.email_address %>
  </p>
  <% if decision.refused? %>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <p class="govuk-body">INFORMATIVE NOTES TO APPLICANT RELATING TO THE PROPOSED DEVELOPMENT
    </p>
    <p class="govuk-body">
      <strong>
        [1] APPEAL TO THE SECRETARY OF STATE.
      </strong>If the applicant is aggrieved by this decision of the council to refuse an application for a Certificate of Lawfulness of Existing Use or Development or to refuse it in part the applicant may appeal to the Secretary of State in accordance
      with Section 195 of the Town and Country Planning Act 1990 within six months of the receipt of this notice. The Secretary of State can allow a longer period for giving notice of an appeal but will not normally use this power unless there are special
      circumstances which excuse the delay in giving notice of appeal. If you do decide to appeal you can do so using The Planning Inspectorate’s online appeals service. You can find the service through the appeals area of the Planning Portal at
      www.planningportal.gov.uk/pcs. You can also appeal by completing the appropriate form which you can get from The Planning Inspectorate, Customer Support Unit, Temple Quay House, 2 The Square, Temple Quay, Bristol BS1 6PN [tel. 0117-3726372]. The form
      can also be downloaded from the Inspectorate's website at www.planning-inspectorate.gov.uk. The Planning Inspectorate will publish details of your appeal on the internet on the appeals area of the Planning Portal. This may include a copy of the
      original planning application from and relevant supporting documents supplied to the council by you or your agent, together with the completed appeal form and information you submit to The Planning Inspectorate. Please ensure that you only provide
      information, including personal information belonging to you, that you are happy will be made available to others in this way. If you supply information belonging to someone else please ensure you have their permission to do so. More detailed
      information about data protection and privacy matters is available on the Planning Portal.
    </p>
  <% end %>
</div>
<br>
