<%= form_with model: @planning_application, local: true, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |form| %>

 <% if @planning_application.errors.any? %>
    <span id="status-error" class="govuk-error-message">
      <span class="govuk-visually-hidden">
        <h2>
          <%= pluralize(@planning_application.errors.count, "error") %>
          prohibited this @planning_application from being saved:
        </h2>
      </span>
      <ul>
        <% @planning_application.errors.map do |error| %>
          <li><%= error.type %></li>
        <% end %>
      </ul>
    </span>
  <% end %>

  <%= form.hidden_field :application_type, value: "lawfulness_certificate" %>
  <div class="govuk-form-group">
    <h2 class="govuk-heading-m">
      Description
    </h2>
    <p class="govuk-body">
      <%= @planning_application.description %>
    </p>
    <% if action_name == "new" || action_name == "create" %>
      <p class="govuk-body">
        <%= form.label :description, "Description", class: "govuk-heading-m govuk-!-margin-bottom-1" %>
        <%= form.text_area :description, class: "govuk-textarea", rows: "5" %>
      </p>
    <% else %>
      <p class="govuk-body">
        <% if @planning_application.open_description_change_requests.any? %>
          <%= link_to "View requested change", planning_application_description_change_validation_request_path(@planning_application, @planning_application.open_description_change_requests.last.id), class: "govuk-link" %>
        <% else %>
          <%= link_to "Propose a change to the description", new_planning_application_description_change_validation_request_path(@planning_application), class: "govuk-link" %>
        <% end %>
      </p>
    <% end %>
  </div>
  <div class="govuk-form-group govuk-!-margin-top-8">
    <%= form.govuk_date_field :created_at, legend: { text: 'Date received', size: 'm' } %>
  </div>
  <div class="govuk-form-group govuk-!-margin-top-8">
    <h2 class="govuk-heading-m">
      Site Details
    </h2>
    <%= form.label :address_1, class: "govuk-label" %>
    <%= form.text_field :address_1, class: "govuk-textarea" %>
    <%= form.label :address_2, class: "govuk-label" %>
    <%= form.text_field :address_2, class: "govuk-textarea" %>
    <%= form.label :town, class: "govuk-label" %>
    <%= form.text_field :town, class: "govuk-textarea govuk-input" %>
    <%= form.label :county, class: "govuk-label" %>
    <%= form.text_field :county, class: "govuk-textarea govuk-input" %>
    <%= form.label :postcode, class: "govuk-label" %>
    <%= form.text_field :postcode, class: "govuk-textarea govuk-input--width-10" %>
    <%= form.label :uprn, "UPRN", class: "govuk-label" %>
    <%= form.text_field :uprn, class: "govuk-textarea govuk-input--width-10" %>
  </div>
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">
        Has the work been started?
    </h2>
    </legend>
      <div class="govuk-form-group">
        <div class="govuk-radios--inline">
          <%= form.govuk_radio_button :work_status, "existing", label: { text: 'Yes' } %>
          <%= form.govuk_radio_button :work_status, "proposed", label: { text: 'No' } %>
        </div>
      </div>
  </fieldset>

  <% ["applicant", "agent"].each do |role| %>
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">
          <%= role.humanize %> information
        </h2>
      </legend>

      <div class="govuk-form-group">
        <%= form.label "#{role}_first_name", "First name", class: "govuk-label" %>
        <%= form.text_field "#{role}_first_name", class: "govuk-textarea govuk-input" %>
        <%= form.label "#{role}_last_name", "Last name", class: "govuk-label" %>
        <%= form.text_field "#{role}_last_name", class: "govuk-textarea govuk-input" %>
        <%= form.label "#{role}_email", "Email address", class: "govuk-label" %>
        <%= form.text_field "#{role}_email", class: "govuk-textarea govuk-input" %>
        <%= form.label "#{role}_phone", "UK telephone number", class: "govuk-label" %>
        <%= form.text_field "#{role}_phone", class: "govuk-textarea govuk-input" %>
      </div>
    </fieldset>
  <% end %>


  <div class="govuk-form-group govuk-!-margin-top-8 govuk-!-width-two-thirds">
    <%= form.label :payment_reference, class: "govuk-heading-m" %>
    <%= form.text_field :payment_reference, class: "govuk-textarea govuk-input" %>
  </div>
  <div class="govuk-button-group">
    <%= form.submit "Save", class: "govuk-button", data: { module: "govuk-button" } %>
    <%= link_to 'Cancel', planning_applications_path, class: "govuk-button govuk-button--secondary" %>
  </div>
<% end %>
