<%= form_with model: @planning_application do |form| %>
  <%= form.govuk_error_summary %>

  <%= form.hidden_field(
        :return_to,
        value: local_assigns[:return_to]
      ) %>
  <div class="govuk-form-group">
    <% if action_name == "new" || action_name == "create" %>
      <div class="govuk-form-group govuk-!-margin-bottom-4">
        <%= form.govuk_select(:application_type_id, current_local_authority.application_types.menu, options: {include_blank: true}, label: {text: "Application type"}) %>
      </div>

      <p class="govuk-body">
        <%= form.label :description, "Description", class: "govuk-heading-m govuk-!-margin-bottom-1" %>
        <%= form.text_area :description, class: "govuk-textarea", rows: "5" %>
      </p>
    <% else %>
      <p class="govuk-body">
        <% if @planning_application.description_change_validation_requests.open.any? %>
          <%= govuk_link_to "View requested change", planning_application_validation_validation_request_path(@planning_application, @planning_application.description_change_validation_request.id) %>
        <% elsif !@planning_application.closed_or_cancelled? %>
          <%= govuk_link_to "Propose a change to the description", new_planning_application_validation_validation_request_path(@planning_application, type: "description_change") %>
        <% end %>
      </p>

      <%= form.govuk_select(:application_type_id, current_local_authority.application_types.menu(type: @planning_application.application_type.name), label: {text: "Application type"}) %>
    <% end %>
  </div>
  <div class="govuk-form-group govuk-!-margin-top-8">
    <%= form.govuk_date_field :received_at %>
  </div>
  <div class="govuk-form-group govuk-!-margin-top-8">
    <h2 class="govuk-heading-m">
      Site Details
    </h2>
    <% if @planning_application.persisted? %>
      <div>
        <%= form.label :address_1, class: "govuk-label" %>
        <%= form.text_field :address_1, class: "govuk-textarea" %>
        <%= form.label :address_2, class: "govuk-label" %>
        <%= form.text_field :address_2, class: "govuk-textarea" %>
        <%= form.label :town, class: "govuk-label" %>
        <%= form.text_field :town, class: "govuk-textarea govuk-input" %>
        <%= form.label :county, class: "govuk-label" %>
        <%= form.text_field :county, class: "govuk-textarea govuk-input" %>
        <%= form.label :postcode, class: "govuk-label" %>
        <%= form.text_field :postcode, class: "govuk-textarea govuk-input--width-10" %>
        <%= form.label :uprn, "UPRN", class: "govuk-label" %>
        <%= form.text_field :uprn, class: "govuk-textarea govuk-input--width-10" %>
        <%= form.hidden_field :latitude %>
        <%= form.hidden_field :longitude %>
      </div>
    <% else %>
      <%= content_tag :div, data: {
            controller: "address-search",
            address_search_url: os_places_api_index_path,
            address_search_id: "address"
          } do %>
        <label for="address" class="govuk-heading-s govuk-!-margin-bottom-1">Search for address</label>
        <span id="address-hint" class="govuk-hint">
          Start typing address or postcode
        </span>
        <div id="address-container" class="govuk-input--width-50"></div>
      <% end %>
      <details class="govuk-details govuk-!-margin-top-3" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Add address manually
          </span>
        </summary>
        <div>
          <%= form.label :address_1, class: "govuk-label" %>
          <%= form.text_field :address_1, class: "govuk-textarea" %>
          <%= form.label :address_2, class: "govuk-label" %>
          <%= form.text_field :address_2, class: "govuk-textarea" %>
          <%= form.label :town, class: "govuk-label" %>
          <%= form.text_field :town, class: "govuk-textarea govuk-input" %>
          <%= form.label :county, class: "govuk-label" %>
          <%= form.text_field :county, class: "govuk-textarea govuk-input" %>
          <%= form.label :postcode, class: "govuk-label" %>
          <%= form.text_field :postcode, class: "govuk-textarea govuk-input--width-10" %>
          <%= form.label :uprn, "UPRN", class: "govuk-label" %>
          <%= form.text_field :uprn, class: "govuk-textarea govuk-input--width-10" %>
          <%= form.hidden_field :latitude %>
          <%= form.hidden_field :longitude %>
        </div>
      </details>
    <% end %>
  </div>

  <% ["applicant", "agent"].each do |role| %>
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">
          <%= role.humanize %> information
        </h2>
      </legend>

      <%= form.govuk_text_field :"#{role}_first_name", label: {text: "First name"}, width: "one-half" %>
      <%= form.govuk_text_field :"#{role}_last_name", label: {text: "Last name"}, width: "one-half" %>
      <%= form.govuk_text_field :"#{role}_email", label: {text: "Email address"}, width: "one-half" %>
      <%= form.govuk_text_field :"#{role}_phone", label: {text: "UK telephone number"}, width: "one-half" %>
    </fieldset>
  <% end %>

  <div class="govuk-form-group govuk-!-margin-top-8">
    <h2 class="govuk-heading-m">
      Fee information
    </h2>
    <%= form.label :payment_reference, class: "govuk-label" %>
    <%= form.text_field :payment_reference, class: "govuk-textarea govuk-input" %>

    <%= form.label :payment_amount, class: "govuk-label" %>
    <div class="govuk-input__wrapper">
      <div class="govuk-input__prefix" aria-hidden="true">£</div>
      <%= form.text_field :payment_amount, value: number_to_currency(@planning_application.payment_amount, unit: ""), class: "govuk-textarea govuk-input" %>
    </div>
  </div>

  <div class="govuk-button-group">
    <%= form.submit "Save", class: "govuk-button", data: {module: "govuk-button"} %>
    <%= govuk_button_link_to "Cancel", planning_applications_path, secondary: true %>
  </div>
<% end %>
