<div class="govuk-tabs__panel" id="<%= planning_application_status %>">
  <h1 class="govuk-heading-l"><%= title %></h1>
  <table class="govuk-table">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <% header_options(planning_application_status).each do |option| %>
        <th scope="col" class="govuk-table__header"><%= option %></th>
      <% end %>
      <th scope="col" class="govuk-table__header">Planning officer</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <% planning_applications.map { |p| PlanningApplicationPresenter.new(self, p) }.each do |planning_application| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <%= link_to planning_application.reference, planning_application, class: "govuk-link" %>
        </td>
        <td class="govuk-table__cell"><%= planning_application.full_address %></td>
        <td class="govuk-table__cell"><%= t("application_types.#{planning_application.application_type}") %></td>
        <td class="govuk-table__cell"><%= planning_application.expiry_date.strftime("%e %b") %></td>
        <% if planning_application_status != "closed" %>
          <td class="govuk-table__cell">
            <%= planning_application.remaining_days_status_tag %>
          </td>
        <% end %>
        <% if planning_application_status != "awaiting_determination" %>
          <td class="govuk-table__cell">
            <%= planning_application.status_tag %>
          </td>
        <% elsif planning_application_status == "awaiting_determination" %>
          <td class="govuk-table__cell"><%= planning_application.awaiting_determination_at.strftime("%e %b") %></td>
        <% elsif planning_application_status == "closed" %>
          <td class="govuk-table__cell"><%= planning_application.determination_date.strftime("%e %b") if planning_application.determined? %></td>
        <% end %>
        <td class="govuk-table__cell">
          <% if planning_application.user %>
            <%= planning_application.user.name %>
          <% end %>
        </td>
    <% end %>
    </tr>
    </tbody>
  </table>
</div>
