<div class="govuk-tabs__panel" id="<%= id %>">
  <h2 class="govuk-heading-l"><%= title %></h2>
  <table class="govuk-table">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Application number</th>
      <th scope="col" class="govuk-table__header">Site address</th>
      <th scope="col" class="govuk-table__header">Application type</th>
      <th scope="col" class="govuk-table__header">Target date</th>
      <% if id != "closed" %>
        <th scope="col" class="govuk-table__header">Days left</th>
      <% end %>
      <th scope="col" class="govuk-table__header">Status</th>
      <% if id == "awaiting_determination" %>
        <th scope="col" class="govuk-table__header">Recommendation date</th>
      <% elsif id == "closed" %>
        <th scope="col" class="govuk-table__header">Determination date</th>
      <% end %>
      <th scope="col" class="govuk-table__header">Planning officer</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <% planning_applications.each do |planning_application| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <%= link_to planning_application.reference, planning_application %>
        </td>
        <td class="govuk-table__cell"><%= planning_application.site.full_address %></td>
        <td class="govuk-table__cell"><%= t("application_types.#{planning_application.application_type}") %></td>
        <td class="govuk-table__cell"><%= planning_application.target_date.strftime("%e %b") %></td>
        <% if id != "closed" %>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--<%= days_color(planning_application.days_left) %>">
              <%= planning_application.days_left %>
            </strong>
          </td>
        <% end %>
        <td class="govuk-table__cell">
          <strong class="govuk-tag govuk-tag--<%= display_status(planning_application)[:color] %>">
            <%= display_status(planning_application)[:decision] %>
          </strong>
        </td>
        <% if id == "awaiting_determination" %>
          <td class="govuk-table__cell"><%= planning_application.awaiting_determination_at.strftime("%e %b") %></td>
        <% elsif id == "closed" %>
          <td class="govuk-table__cell"><%= planning_application.determined_at.strftime("%e %b") if planning_application.determined? %></td>
        <% end %>
        <td class="govuk-table__cell">
          <% if planning_application.user %>
            <%= planning_application.user.name %>
          <% end %>
        </td>
    <% end %>
    </tr>
    </tbody>
  </table>
</div>
