<div>
  <ul class="govuk-tabs__list" id="planning_applications_statusTab" role="tablist">
    <% if exclude_others? %>
      <li class="govuk-tabs__list-item" role="presentation">
        <%= link_to(
          all_applications_tab_title,
          "#all",
          class: "govuk-tabs__tab",
          role: "tab",
          aria_controls: "all",
          aria_selected: false,
          tabindex: 1
        ) %>
      </li>
      <li class="govuk-tabs__list-item" role="presentation">
        <%= link_to "Closed", "#closed", class: "govuk-tabs__tab", role: "tab", "aria-controls":"closed", "aria-selected": false, tabindex: 2 %>
      </li>
    <% else %>
      <li class="govuk-tabs__list-item" role="presentation">
        <%= link_to(
          all_applications_tab_title,
          "#all",
          class: "govuk-tabs__tab",
          role: "tab",
          aria_controls: "all",
          aria_selected: false,
          tabindex: 1
        ) %>
      </li>
      <li class="govuk-tabs__list-item" role="presentation">
        <%= link_to "Closed", "#closed", class: "govuk-tabs__tab", role: "tab", "aria-controls":"closed", "aria-selected": false, tabindex: 2 %>
      </li>
    <% end %>
    <li class="govuk-tabs__list-item" role="presentation">
      <%= link_to "Updated", "#updated", class: "govuk-tabs__tab", role: "tab", "aria-controls": "updated", "aria-selected": false, tabindex: 6 %>
    </li>
  </ul>
</div>
