<div>
  <ul class="govuk-tabs__list" id="planning_applications_statusTab" role="tablist">
        <% unless current_user.reviewer? && exclude_others? %>
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected" role="presentation">
            <%= link_to "Not started", "#not_started_and_invalid", class: "govuk-tabs__tab", role: "tab", "aria-controls":"not_started_and_invalid", "aria-selected": true, tabindex: 0 %>
          </li>
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected" role="presentation">
            <%= link_to "In assessment", "#under_assessment", class: "govuk-tabs__tab", role: "tab", "aria-controls":"under-assessment", "aria-selected": true, tabindex: 1 %>
          </li>
      <% end %>
    <li class="govuk-tabs__list-item" role="presentation">
      <%= link_to "Awaiting determination", "#awaiting_determination", class: "govuk-tabs__tab", role: "tab", "aria-controls":"awaiting-determination", "aria-selected": false, tabindex: 2 %>
    </li>
    <% if current_user.reviewer?%>
      <li class="govuk-tabs__list-item" role="presentation">
          <%= link_to "Corrections requested", "#awaiting_correction", class: "govuk-tabs__tab", role: "tab", "aria-controls":"awaiting_correction", "aria-selected": false, tabindex: 3 %>
      </li>
    <% end %>
    <li class="govuk-tabs__list-item" role="presentation">
      <%= link_to "Closed", "#closed", class: "govuk-tabs__tab", role: "tab", "aria-controls":"closed", "aria-selected": false, tabindex: 4 %>
    </li>
  </ul>
</div>
