<div class="govuk-accordion__section">
  <div class="govuk-accordion__section-header">
    <h3 class="govuk-accordion__section-heading">
      <button type="button" id="accordion-default-heading-3" aria-controls="accordion-default-heading-3" class="govuk-accordion__section-button" aria-expanded="false">
        <%= t(".proposal_details") %>
      </button>
        <span class="govuk-accordion__icon" aria-hidden="true"></span>
    </h3>
  </div>
  <div class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3" id="proposal-details-section">
    <% if @planning_application.updated_address_or_boundary_geojson %>
      <%= render "shared/warning_text",
        message: "This application has been updated. The proposal details may no longer be accurate. Please check all relevant details have been provided." %>
    <% end %>

    <% if find_property_feedback = @planning_application.feedback["find_property"] %>
      <%= render "shared/warning_text",
        message: "The applicant or agent believes the information about the property is inaccurate." %>

      <p class="govuk-body">
        <strong>Reason given:</strong> "<%= find_property_feedback %>"
      </p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <% end %>

    <% if @planning_application.proposal_details.any? %>
      <%= render(
        partial: "planning_applications/proposal_details",
        locals: { planning_application: @planning_application }
      ) %>
    <% end %>
  </div>
</div>
