<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l" style="margin-bottom: 7px;">
      <%= @planning_application.reference %>
    </h1>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      <%= @planning_application.full_address %>
    </p>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <%= render "shared/status_panel" %>
  </div>
</div>

<% if @planning_application.in_progress? %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds assigned_to">
      <p class="govuk-body">
      <strong>Assigned to: <%= @planning_application.user ? @planning_application.user.name : "Unassigned" %></strong>
        <span class="assignment_cta"><%= link_to "Change", assign_planning_application_path(@planning_application) %></span>
      </p>
    </div>
  </div>
<% elsif @planning_application.determined? %>
  <p class="govuk-body">
    <%= link_to "View decision notice", decision_notice_planning_application_path(@planning_application)%>
  </p>
<% end %>
