<%= content_tag(
  "div",
  data: {
    show_hide_target: ("hideable" if group.auto_answered?)
  }
) do %>
  <div class="proposal-details-sub-heading">
    <h4 class="govuk-heading-s" id=<%= proposal_details_group_id(group.portal_name) %>>
      <%= proposal_details_group_title(group.portal_name) %>
    </h4>
    <div>
      <%= render(
        partial: "shared/back_to_top_link",
        locals: { target_id: "#accordion-default-heading-3" }
      ) %>
    </div>
  </div>
  <ul class="govuk-body proposal-details-sub-list">
    <% group.proposal_details.each do |proposal_detail| %>
      <%= content_tag(
        "li",
        data: { show_hide_target: ("hideable" if proposal_detail.auto_answered) },
        class: "proposal-detail"
      ) do %>
        <div>
          <p class="govuk-body">
            <%= "#{proposal_detail.number}.&nbsp".html_safe %>
          </p>
        </div>
        <%= proposal_detail_item(proposal_detail) %>
      <% end %>
    <% end %>
  </ul>
<% end %>
