<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l"><%= @planning_application.reference %></span>
    <h1 class="govuk-heading-l"><%= @planning_application.full_address %></h1>

    <p class="govuk-body"><%= @planning_application.status_tag %></p>

    <p class="govuk-body">
      <%= @planning_application.type_and_work_status %>: <%= @planning_application.description %>
    </p>

    <p class="govuk-body">
      <%= @planning_application.next_relevant_date %>
    </p>

    <% if @planning_application.in_progress? %>
      <p class="govuk-body">
        Assigned to: <strong><%= @planning_application.user&.name || "Unassigned" %></strong>
        <span class="assignment_cta"><%= link_to "Change", assign_planning_application_path(@planning_application), class: "govuk-link" %></span>
      </p>
    <% elsif @planning_application.determined? %>
      <p class="govuk-body">
        <%= link_to "View decision notice", decision_notice_planning_application_path(@planning_application), class: "govuk-link" %>
      </p>
    <% end %>
  </div>
</div>

<%= render "flash_content" %>
