<div data-controller="show-hide">
  <%= render(
    partial: "planning_applications/filter_proposal_details_checkbox"
  ) %>
  <p class="govuk-body">
    <%= t(".the_proposal_details") %>
  </p>
  <ul class="govuk-body proposal-details-list">
    <strong>
      <% planning_application.formatted_proposal_detail_groups.each do |group| %>
        <%= content_tag(
          "li",
          data: {
            show_hide_target: ("hideable" if group.auto_answered?)
          }
        ) do %>
          <%= link_to(
            proposal_details_group_title(group.portal_name),
            "##{proposal_details_group_id(group.portal_name)}",
            class: "govuk-link"
          ) %>
        <% end %>
      <% end %>
    </strong>
  </ul>
  <% planning_application.formatted_proposal_detail_groups.each do |group| %>
    <%= render(
      partial: "planning_applications/proposal_details_group",
      locals: { group: group }
    ) %>
  <% end %>
</div>
