<% if recommendations.submitted.present? %>
  <div class="recommendations govuk-inset-text">
    <% recommendations.submitted.each do |recommendation| %>
      <div class="recommendation">
        <p class="govuk-body">
          <strong>Submitted recommendation</strong> by <%= recommendation.assessor.name %><br />
          <%= recommendation.created_at %>
        </p>

        <p class="govuk-body comment">
          <%= recommendation.assessor_comment %>
        </p>
      </div>
      <% if recommendation.reviewed? %>
        <div class="recommendation">
          <p class="govuk-body">
            <strong>Recommendation challenged</strong> by <%= recommendation.reviewer.name %> <br />
            <%= recommendation.reviewed_at %>
          </p>

          <p class="govuk-body comment">
            <%= recommendation.reviewer_comment %>
          </p>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>