<%= render "planning_applications/assessment_dashboard" do %>
  <% content_for :title, "Assign planning application" %>
  <h2 class="govuk-heading-m">Assign application</h2>

  <%= form_for @planning_application, url: assign_planning_application_path(@planning_application) do |form| %>
    <div class="govuk-radios govuk-radios--small">
      <div class="govuk-radios__item">
        <%= form.radio_button :user_id, 0, class: "govuk-radios__input" %>
        <%= form.label :user_id, "Unassigned", value: 0, class: "govuk-label govuk-radios__label" %>
      </div>

      <% current_local_authority.users.each do |user| %>
        <div class="govuk-radios__item">
          <%= form.radio_button :user_id, user.id, class: "govuk-radios__input" %>
          <%= form.label :user_id, user.name, value: user.id, class: "govuk-label govuk-radios__label" %>
        </div>
      <% end %>
    </div>

    <%= form.submit "Assign", class: "govuk-button", data: { module: "govuk-button" } %>
  <% end %>
<% end %>
