<% add_parent_breadcrumb_link "Home", planning_applications_path %>
<% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>

<% content_for :title, "Cancel application" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l" style="margin-bottom: 7px;">
      <%= @planning_application.reference %>
    </h1>

    <p class="govuk-body">
      <%= @planning_application.full_address %>
    </p>

    <%= form_with model: @planning_application, url: cancel_planning_application_path(@planning_application), local: true do |form| %>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <h2 class="govuk-heading-m">Cancel application</h2>
          <% if @planning_application.determined? %>
            <p class="govuk-body">
              This application has been determined and cannot be cancelled.
            </p>
          <% else %>
            <p class="govuk-body">
              <strong>Why is this application being cancelled?</strong>
            </p>
          <div class="govuk-form-group <%= form.object.errors.any? ? 'govuk-form-group--error' : '' %>">
            <% if form.object.errors.any? %>
              <% form.object.errors.each do |attribute, error| %>
              <span id="status-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span><%= error %></span>
              <% end %>
            <% end %>
            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios" style="margin-bottom: 20px;">
              <div class="govuk-radios govuk-radios--small">
                <div class="govuk-radios__item">
                  <%= form.radio_button :status, "withdrawn", class: "govuk-radios__input", id:"withdrawn", "aria-controls": "conditional-status-withdrawn-conditional", "aria-expanded": "false" %>
                  <%= form.label :withdrawn, "Withdrawn by applicant", class: "govuk-label govuk-radios__label", for: "withdrawn" %>
                </div>
                <div class="govuk-radios__item">
                  <%= form.radio_button :status, "returned", class: "govuk-radios__input", id: "returned", "aria-controls": "conditional-status-returned-conditional", "aria-expanded": "false" %>
                  <%= form.label :returned, "Returned as invalid", class: "govuk-label govuk-radios__label", for: "returned" %>
                </div>
              </div>
            </div>
          </div>
          <div class="govuk-form-group">
            <%= form.label :cancellation_comment, "Can you provide more detail?", class: 'govuk-label' %>
            <%= form.text_area :cancellation_comment, class: "govuk-textarea", rows: "3", "aria-describedby": "cancellation-comment-hint" %>
          </div>
        </fieldset>
        <p>
          <%= form.submit "Save", class: "govuk-button", data: { module: "govuk-button" } %>
          <%= link_to 'Cancel', planning_application_path(@planning_application), class: "govuk-button govuk-button--secondary" %>
        </p>
      </div>
    <% end%>
  <% end%>
  </div>
</div>
