<% content_for :page_title do %>
  Validate application - <%= t('page_title') %>
<% end %>

<% add_parent_breadcrumb_link "Home", planning_applications_path %>
<% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>
<% content_for :title, "Validate application" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Validate Application</h1>

    <%= render "shared/planning_application_address_and_reference" %>

    <p class="govuk-body">
      Once validated, the application cannot be invalidated. Ensure you have checked this application is valid.
    </p>
    <%= form_with model: @planning_application, url: validate_planning_application_path(@planning_application), local:true, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |form| %>
      <% if @planning_application.errors.any? %>
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
          <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <% @planning_application.errors.each do |error| %>
                <li><%= error.message.html_safe %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
      <%= form.govuk_date_field :documents_validated_at, legend: { text: '', size: 's' }, hint: { text: 'Enter valid date, e.g. 28 12 2021' } %>
      <p>
        <%= form.submit "Mark the application as valid", class: "govuk-button", data: { module: "govuk-button"} %>
      </p>
    <% end %>
  </div>
</div>
