<% content_for :page_title do %>
  Decision notice - <%= t('page_title') %>
<% end %>

<% add_parent_breadcrumb_link "Home", root_path(filter_options: PlanningApplication::FILTER_OPTIONS) %>
<% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>

<% content_for :title, "Decision notice" %>

<%= render(
  partial: "shared/proposal_header",
  locals: { heading: "Decision notice" }
) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "decision_notice", planning_application: @planning_application %>

    <p class="govuk-body">
      <%= link_to "Download as PDF", decision_notice_api_v1_planning_application_path(@planning_application, format: 'pdf'), class: "govuk-link" %>
    </p>

    <p class="govuk-body">
      <%= back_link %>
    </p>
  </div>
</div>
