<%= render "planning_applications/assessment_dashboard" do %>
  <% if current_user.assessor? %>
    <% content_for :title, t("#{@planning_application.status}.recommendation_step") %>

    <h2 class="govuk-heading-m"><%= t("#{@planning_application.status}.recommendation_step") %></h2>
    <p class="govuk-body">The following decision notice has been created based on your answers.</p>

    <%= render "decision_notice", planning_application: @planning_application, decision: @planning_application.assessor_decision  %>

    <p class="govuk-body">
      <br>
      <strong>
        If you agree with the decision notice, please submit it to your manager.
      </strong>
      If your manager disagrees with your recommendation they will send it back to you to make changes.
    </p>

    <%= form_with model: @planning_application, local: true do |form| %>
      <%= form.hidden_field :status, value: :awaiting_determination %>
      <%= form.submit "Submit to manager", class: "govuk-button", data: { module: "govuk-button" } %>
    <% end %>
  <% else %>
    <% content_for :title, t("#{@planning_application.status}.recommendation_step") %>

    <h2 class="govuk-heading-m"><%= t("#{@planning_application.status}.recommendation_step")%></h2>
    <p class="govuk-body">The following decision notice was created based on the planning officer's recommendation and comment. Please review and publish it.</p>

    <%= render "decision_notice", planning_application: @planning_application, decision: @planning_application.reviewer_decision %>

    <p class="govuk-body">By determining the application, the applicant will receive this decision notice. The decision notice will also be available publicly. </p>

    <%= form_with model: @planning_application, local: true do |form| %>
      <%= form.hidden_field :status, value: :determined %>
      <%= form.submit "Determine application", class: "govuk-button", data: { module: "govuk-button" } %>
    <% end %>
  <% end%>
<% end%>
