<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-3">
      Your fast track applications
    </h1>

    <h2 class="govuk-heading-m">
      <%= current_user.name %>, <%= current_user.role.capitalize %>
    </h2>

    <p class="govuk-body govuk-!-padding-top-2 govuk-!-padding-bottom-5">
      <%= link_to "Add new application", new_planning_application_path %>
    </p>

    <% if exclude_others? %>
      <p class="govuk-body"><%= link_to "View all applications", planning_applications_path, class: "govuk-button" %></p>
    <% else %>
      <p class="govuk-body"><%= link_to filter_text, planning_applications_path(q: "exclude_others"), class: "govuk-button" %></p>
    <% end %>
  </div>
</div>
<% if current_user.assessor? && @planning_applications.awaiting_correction.any? %>
  <%= render "assessor_corrections_banner" %>
<% elsif current_user.reviewer? && @planning_applications.select(&:correction_provided?).any? %>
  <%= render "reviewer_corrections_banner" %>
<% end %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <%= render "planning_application_tabs" %>
      <%= render "planning_application_table", planning_applications: @planning_applications.not_started_and_invalid, id: "not_started_and_invalid", title: "Not started" unless exclude_others? && current_user.reviewer?  %>
      <%= render "planning_application_table", planning_applications: @planning_applications.under_assessment, id: "under_assessment", title: "In assessment" unless exclude_others? && current_user.reviewer?  %>
      <%= render "planning_application_table", planning_applications: @planning_applications.awaiting_determination, id: "awaiting_determination", title: "Awaiting determination" %>
      <%= render "planning_application_table", planning_applications: @planning_applications.awaiting_correction, id: "awaiting_correction", title: "Corrections requested" unless current_user.assessor?%>
      <%= render "planning_application_table", planning_applications: @planning_applications.closed, id: "closed", title: "Closed" %>
    </div>
  </div>
</div>
