<% content_for :page_title do %>
  Planning Applications List - <%= t('page_title') %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if exclude_others? %>
      <h1 class="govuk-heading-l">
        Your planning applications
      </h1>
      <p class="govuk-body-m">
        <strong><%= current_user.name %>,</strong> <%= role_name %>
      </p>
      <p class="govuk-body">
        <%= link_to "Add new application", new_planning_application_path, class: "govuk-link" %>
      </p>
      <p class="govuk-body"><%= link_to "View all applications", planning_applications_path(filter_options: PlanningApplication::FILTER_OPTIONS), class: "govuk-button" %></p>
    <% else %>
      <h1 class="govuk-heading-l">
        All planning applications
      </h1>
      <p class="govuk-body-m">
        <strong><%= current_user.name %>,</strong> <%= role_name %>
      </p>
      <p class="govuk-body">
        <%= link_to "Add new application", new_planning_application_path, class: "govuk-link" %>
      </p>
      <p class="govuk-body">
        <%= 
          link_to "View my applications",
          planning_applications_path(
            q: "exclude_others",
            filter_options: current_user.reviewer? ? PlanningApplication::REVIEWER_FILTER_OPTIONS : PlanningApplication::FILTER_OPTIONS
          ),
          class: "govuk-button" 
        %>
      </p>
    <% end %>
  </div>
</div>
<% if @planning_applications.to_be_reviewed.any? %>
  <%= render(
    partial: "shared/alert_banner",
    locals: {
      message: t(".#{current_user.role}_alert", count: @planning_applications.to_be_reviewed.count).html_safe,
    }
  ) %>
<% end %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <%= render "planning_application_tabs" %>
      <%= render(
        PlanningApplications::PanelsComponent.new(
          planning_applications: @planning_applications,
          search_filter: @search_filter,
          current_user: current_user,
          exclude_others: exclude_others?,
          local_authority: current_local_authority
        )
      ) %>
    </div>
  </div>
</div>
