<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-breadcrumbs" style="margin-bottom: 20px;">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item" aria-current="page"></li>
      </ol>
    </div>
    <h1 class="govuk-heading-l">
      Your fast track applications
    </h1>
    <p class="govuk-body"><%= current_user.name %>, <%= current_user.role.capitalize %></p>
    <% if exclude_others? && current_user.assessor? %>
      <p class="govuk-body"><%= link_to "View all applications", planning_applications_path, class: "govuk-link" %></p>
    <% elsif !exclude_others? && current_user.assessor? %>
      <p class="govuk-body"><%= link_to "View my applications", planning_applications_path(q: "exclude_others"), class: "govuk-link" %></p>
    <% end %>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <%= render "planning_application_tabs" %>
      <%= render "planning_application_table", planning_applications: @planning_applications.in_assessment, id: "in_assessment", title: "In assessment" unless current_user.reviewer?%>
      <%= render "planning_application_table", planning_applications: @planning_applications.awaiting_determination.reject { |pa| pa.correction_requested? }, id: "awaiting_determination", title: "Awaiting manager's determination" %>
      <%= render "planning_application_table", planning_applications: @planning_applications.select { |pa| pa.correction_requested? }, id: "awaiting_correction", title: "Awaiting correction" %>
      <%= render "planning_application_table", planning_applications: @planning_applications.determined, id: "determined", title: "Determined" %>
    </div>
  </div>
</div>
