<% content_for :page_title do %>
  Planning Applications List - <%= t('page_title') %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if exclude_others? %>
      <h1 class="govuk-heading-l">
        Your planning applications
      </h1>
      <p class="govuk-body-m">
        <strong><%= current_user.name %>,</strong> <%= role_name %>
      </p>
      <p class="govuk-body">
        <%= link_to "Add new application", new_planning_application_path, class: "govuk-link" %>
      </p>
      <p class="govuk-body"><%= link_to "View all applications", planning_applications_path, class: "govuk-button" %></p>
    <% else %>
      <h1 class="govuk-heading-l">
        All planning applications
      </h1>
      <p class="govuk-body-m">
        <strong><%= current_user.name %>,</strong> <%= role_name %>
      </p>
      <p class="govuk-body">
        <%= link_to "Add new application", new_planning_application_path, class: "govuk-link" %>
      </p>
      <p class="govuk-body"><%= link_to filter_text, planning_applications_path(q: "exclude_others"), class: "govuk-button" %></p>
    <% end %>
  </div>
</div>
<% if @planning_applications.awaiting_correction.any? %>
  <%= render(
    partial: "shared/alert_banner",
    locals: {
      message: t(".#{current_user.role}_alert", count: @planning_applications.awaiting_correction.count).html_safe,
    }
  ) %>
<% end %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <%= render "planning_application_tabs" %>

      <%= render "planning_application_table", planning_applications: @planning_applications.not_started_and_invalid, planning_application_status: "not_started_and_invalid", title: "Not started" unless exclude_others? && current_user.reviewer?  %>
      <%= render "planning_application_table", planning_applications: @planning_applications.under_assessment, planning_application_status: "under_assessment", title: "In assessment" unless exclude_others? && current_user.reviewer?  %>
      <%= render "planning_application_table", planning_applications: @planning_applications.awaiting_determination, planning_application_status: "awaiting_determination", title: "Awaiting determination" %>
      <%= render "planning_application_table", planning_applications: @planning_applications.awaiting_correction, planning_application_status: "awaiting_correction", title: "Corrections requested" unless current_user.assessor?%>
      <%= render "planning_application_table", planning_applications: @planning_applications.closed, planning_application_status: "closed", title: "Closed" %>
      <%= render(
         "planning_application_table",
         planning_applications: @planning_applications,
         planning_application_status: "all",
         title: all_applications_tab_title,
         search: @search
      ) %>
    </div>
  </div>
</div>
