<% content_for :page_title do %>
  Planning Applications List - <%= t("page_title") %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1>
      Planning applications
    </h1>
    <p class="govuk-body-m">
      <strong><%= current_user.name %>,</strong> <%= role_name %>
    </p>
    <p>
      <%= govuk_link_to "Add new application", new_planning_application_path %>
    </p>
  </div>
</div>

<div class="status-bar-container status-bar-container--colored">
  <h2>Status update:</h2>
  <div class="status-bar govuk-!-margin-bottom-4 govuk-!-padding-bottom-4">
    <div class="status-panel<% if filter_enabled_uniquely?(status: 'to_be_reviewed') %> status-panel--highlighted<% end %>" id="reviewer-requests">
      <%= link_to planning_applications_path({view: params[:view]}.merge(filter_enabled_uniquely?(status: "to_be_reviewed") ? {} : {status: [:to_be_reviewed]})),
            class: "status-filter-link" do %>
        <h3><%= t ".reviewer_requests.title" %></h3>
        <p class="govuk-heading-m"><%= t ".reviewer_requests", count: @search.reviewer_planning_applications.count %></p>
      <% end %>
    </div>
    <div class="status-panel<% if filter_enabled_uniquely?(application_type: 'prior_approval') %> status-panel--highlighted<% end %>" id="not-started">
      <%= link_to planning_applications_path({view: params[:view]}.merge(filter_enabled_uniquely?(application_type: "prior_approval") ? {} : {application_type: [:prior_approval]})),
            class: "status-filter-link" do %>
        <h3><%= t ".prior_approvals.title" %></h3>
        <p class="govuk-heading-m"><%= t ".prior_approvals", count: @search.unstarted_prior_approvals.count %></p>
      <% end %>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <%= govuk_tabs do |tabs|
            tabs.with_tab(label: "Cases assigned to you", id: "mine") {
              render PlanningApplications::PanelComponent.new(
                planning_applications: @search.filtered_planning_applications.for_current_user,
                type: :mine,
                search: @search
              )
            }
            tabs.with_tab(label: "Unassigned cases", id: "unassigned") {
              render PlanningApplications::PanelComponent.new(
                planning_applications: @search.filtered_planning_applications.for_null_users,
                type: :unassigned,
                search: @search
              )
            }
            tabs.with_tab(label: "Closed") {
              render PlanningApplications::PanelComponent.new(
                planning_applications: @search.closed_planning_applications,
                type: :closed
              )
            }
            tabs.with_tab(label: "Updated") {
              render PlanningApplications::UpdatedPanelComponent.new(
                audits: current_local_authority.audits.most_recent_for_planning_applications.limit(20)
              )
            }
            tabs.with_tab(label: "All cases", id: "all") {
              render PlanningApplications::PanelComponent.new(
                planning_applications: @search.filtered_planning_applications,
                type: :all,
                search: @search
              )
            }
          end %>
    </div>
  </div>
</div>
