<% content_for :page_title do %>
  Planning Applications List - <%= t('page_title') %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if exclude_others? %>
      <h1 class="govuk-heading-l">
        Your planning applications
      </h1>
      <p class="govuk-body-m">
        <strong><%= current_user.name %>,</strong> <%= role_name %>
      </p>
      <p class="govuk-body">
        <%= link_to "Add new application", new_planning_application_path, class: "govuk-link" %>
      </p>
      <p class="govuk-body"><%= link_to "View all applications", planning_applications_path, class: "govuk-button" %></p>
    <% else %>
      <h1 class="govuk-heading-l">
        All planning applications
      </h1>
      <p class="govuk-body-m">
        <strong><%= current_user.name %>,</strong> <%= role_name %>
      </p>
      <p class="govuk-body">
        <%= link_to "Add new application", new_planning_application_path, class: "govuk-link" %>
      </p>
      <p class="govuk-body">
        <% options = current_user.reviewer? ?  PlanningApplication::FILTER_OPTIONS[3..4] : PlanningApplication::FILTER_OPTIONS %>
        <%= 
          link_to filter_text, 
          planning_applications_path(
            q: "exclude_others",
            planning_application_filter: { filter_options: options }
          ), 
          class: "govuk-button" 
        %>
      </p>
    <% end %>
  </div>
</div>
<% if @planning_applications.awaiting_correction.any? %>
  <%= render(
    partial: "shared/alert_banner",
    locals: {
      message: t(".#{current_user.role}_alert", count: @planning_applications.awaiting_correction.count).html_safe,
    }
  ) %>
<% end %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <%= render "planning_application_tabs" %>
      <%= render(
        PlanningApplications::PanelsComponent.new(
          planning_applications: @planning_applications,
          search: @search,
          filter: @filter,
          current_user: current_user,
          exclude_others: exclude_others?
        )
      ) %>
    </div>
  </div>
</div>
