<% content_for :page_title do %>
  Make application public - <%= t('page_title') %>
<% end %>

<% add_parent_breadcrumb_link "Home", root_path %>
<% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>

<% content_for :title, "Make application public" %>

<%= render(
  partial: "shared/proposal_header",
  locals: { heading: "Make application public" }
) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @planning_application, 
      url: planning_application_path(@planning_application), 
      local: true do |form| %>
      <% if @planning_application.errors.any? %>
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
          <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <% @planning_application.errors.each do |error| %>
                <li><%= error.message.html_safe %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
      <%= form.govuk_radio_buttons_fieldset :make_public, legend: { text: 'Publish application on BoPS Public Portal?' } do %>
        <%= form.govuk_radio_button :make_public, true, label: { text: 'Yes' } %>
        <%= form.govuk_radio_button :make_public, false, label: { text: 'No' } %>
      <% end %>
      <p>
        <%= form.submit "Update application", class: "govuk-button", data: { module: "govuk-button"} %>
      </p>
    <% end %>
  </div>
</div>

