<% content_for :page_title do %>
  Publish the recommendation - <%= t('page_title') %>
<% end %>

<%= render(
  layout: "shared/assessment_dashboard",
  locals: { heading: t(".review_and_publish_determination") }
) do %>
  <%= render(
    partial: "submit_recommendation_accordion",
    locals: { planning_application: @planning_application }
  ) %>
  <% content_for :title, "Publish the recommendation" %>

  <h2 class="govuk-heading-m">Decision notice</h2>
  <p class="govuk-body">The following decision notice was created based on the planning officer's recommendation and comment. You can review and publish it.</p>

  <%= render "decision_notice", planning_application: @planning_application %>
  <p class="govuk-body">
    <%= link_to "Download as PDF", decision_notice_api_v1_planning_application_path(@planning_application, format: 'pdf'), class: "govuk-link" %>
  </p>
  <% if @planning_application.awaiting_determination? %>
    <p class="govuk-body">By determining the application, the applicant will receive this decision notice. The decision notice will also be made publicly available. </p>

    <%= form_with model: @planning_application,
      url: determine_planning_application_path(@planning_application),
      local: true,
      builder: GOVUKDesignSystemFormBuilder::FormBuilder do |form| %>

       <% if @planning_application.errors.any? %>
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
          <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <% @planning_application.errors.each do |error| %>
                <li><%= error.message %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
      <% if @planning_application.open_description_change_request.present? %>
        <%= render(
          partial: "shared/alert_banner",
          locals: {
            message: t(".awaiting_approval_to", date: @planning_application.open_description_change_request.created_at.to_date.to_fs(:day_month_year_slashes))
          }
        ) %>
      <% end %>
      <%= form.govuk_date_field :determination_date, id: "determination-date" %>
      <div class="govuk-button-group">
        <%= form.submit "Publish determination", class: "govuk-button" %>
        <%= link_to(
              t(".back"),
              planning_application_path(@planning_application),
              class: "govuk-button govuk-button--secondary"
        ) %>
      </div>
    <% end %>
  <% else %>
    <%= link_to "Back", planning_application_path(@planning_application), class: "govuk-button" %>
  <% end %>
<% end%>
