<% content_for :page_title do %>
  Publish the recommendation - <%= t("page_title") %>
<% end %>

<%= render(
      layout: "shared/assessment_dashboard",
      locals: {heading: t(".review_and_publish_determination")}
    ) do %>
  <%= render(
        partial: "submit_recommendation_accordion",
        locals: {planning_application: @planning_application}
      ) %>
  <% content_for :title, "Publish the recommendation" %>

  <h2 class="govuk-heading-m">Decision notice</h2>
  <p class="govuk-body">The following decision notice was created based on the planning officer's recommendation and comment. You can review and publish it.</p>

  <%= render "decision_notice", planning_application: @planning_application %>

  <% if @planning_application.awaiting_determination? %>
    <p class="govuk-body">By determining the application, the applicant will receive this decision notice. The decision notice will also be made publicly available. </p>

    <%= form_with model: @planning_application,
          url: determine_planning_application_path(@planning_application) do |form| %>

      <%= form.govuk_error_summary %>

      <% if @planning_application.open_description_change_request.present? %>
        <%= render(
              partial: "shared/alert_banner",
              locals: {
                message: t(".awaiting_approval_to", date: @planning_application.open_description_change_request.created_at.to_date.to_fs(:day_month_year_slashes))
              }
            ) %>
      <% end %>
      <%= form.govuk_date_field :determination_date, id: "determination-date" %>
      <div class="govuk-button-group">
        <%= form.submit "Publish determination", class: "govuk-button" %>
        <%= govuk_button_link_to t(".back"), planning_application_path(@planning_application), secondary: true %>
      </div>
    <% end %>
  <% else %>
    <%= govuk_button_link_to "Back", planning_application_path(@planning_application), secondary: true %>
  <% end %>
<% end %>
