<% content_for :title, "Assess proposal" %>

<%= render "planning_applications/assessment_dashboard" do %>
  <h2 class="govuk-heading-m govuk-!-padding-top-3">Assess the proposal</h2>

  <p class="govuk-body">
    Please check all the information and evidence provided by the applicant.
  </p>

  <%= render "recommendations", { recommendations: @planning_application.recommendations.reviewed } %>
  <%= form_for @planning_application, url: recommend_planning_application_path(@planning_application) do |form| %>
    <div class="govuk-form-group <%= form.object.errors.any? ? 'govuk-form-group--error' : '' %>">
      <p class="govuk-body">
        <br>
        <strong>Is the use or operation lawful?</strong>
      </p>
      <% if form.object.errors.any? %>
        <% form.object.errors.each do |error| %>
          <span id="status-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>
            <%= error.type %>
          </span>
        <% end %>
      <% end %>
     <div class="govuk-form-group">
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios govuk-radios--small">
          <div class="govuk-radios__item">
            <%= form.radio_button :decision, "granted", class: "govuk-radios__input", id:"status-granted-conditional", "aria-controls": "conditional-status-granted-conditional", "aria-expanded": "false" %>
            <%= form.label :decision_granted, "Yes", class: "govuk-label govuk-radios__label", for: "status-granted-conditional" %>
          </div>
          <div class="govuk-radios__item">
            <%= form.radio_button :decision, "refused", class: "govuk-radios__input", id: "status-refused-conditional", "aria-controls": "conditional-status-refused-conditional", "aria-expanded": "false" %>
            <%= form.label :decision_refused, "No", class: "govuk-label govuk-radios__label govuk-!-margin-bottom-3", for: "status-refused-conditional" %>
          </div>
        </div>
      </div>
     </div>
      <div class="govuk-form-group">
        <span class="govuk-body">
          <%= form.label :public_comment, "State the reasons why this application is, or is not lawful.", class: "govuk-label govuk-!-font-weight-bold" %>
        </span>
        <span class="govuk-body">
          Refer to the specific permitted development rights being evoked.
          </span>
        <p class="govuk-hint">
          This information <strong>will</strong> appear on the decision notice.
        </p>
        <%= form.text_area :public_comment, class: "govuk-textarea", rows: "3" %>
      </div>
    </div>
    <div class="govuk-form-group">
      <span class="govuk-body">
        <%= label_tag :recommendation_assessor_comment, "Please provide supporting information for your manager.", class: "govuk-label govuk-!-font-weight-bold" %>
      </span>
      <span class="govuk-hint">
        Your comment will <strong>not</strong> appear on the decision notice.
      </span>
      <%= text_area_tag "recommendation[assessor_comment]", @recommendation.assessor_comment, class: "govuk-textarea", rows: "3" %>
    </div>
    <div class="govuk-!-padding-top-4">
      <%= form.submit "Save", class: "govuk-button", data: { module: "govuk-button" } %>
    </div>
  <% end %>
<% end %>
