<% content_for :page_title do %>
  Assess proposal - <%= t('page_title') %>
<% end %>

<% content_for :title, "Assess proposal" %>

<%= render "planning_applications/assessment_dashboard" do %>
  <h2 class="govuk-heading-m govuk-!-padding-top-3">Assess the proposal</h2>

  <p class="govuk-body">
    Please check all the information and evidence provided by the applicant.
  </p>

  <%= render "recommendations", { recommendations: @planning_application.recommendations.reviewed } %>

  <div id="decision-notice-documents">
    <p class="govuk-body">
      <strong>Documents included in the decision notice</strong>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    </p>

    <% if @planning_application.documents_for_decision_notice.any? %>
      <ul class="govuk-list">
        <% @planning_application.documents_for_decision_notice.each do |document| %>
          <li><%= link_to document_name_and_reference(document), edit_planning_application_document_path(document.planning_application, document.id), target: :_blank %></li>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <% end %>
      </ul>
    <% else %>
      <p class="govuk-body">No documents listed on decision notice.</p>
    <% end %>
  </div>

  <%= form_for @planning_application, url: recommend_planning_application_path(@planning_application) do |form| %>
    <div class="govuk-form-group <%= form.object.errors.any? ? 'govuk-form-group--error' : '' %>">
      <p class="govuk-body">
        <br>
        <strong>Is the use or operation lawful?</strong>
      </p>
      <% if form.object.errors.any? %>
        <% form.object.errors.each do |error| %>
          <span id="status-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>
            <%= error.type %>
          </span>
        <% end %>
      <% end %>
     <div class="govuk-form-group">
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios govuk-radios--small">
          <div class="govuk-radios__item">
            <%= form.radio_button :decision, "granted", class: "govuk-radios__input", id:"status-granted-conditional", "aria-controls": "conditional-status-granted-conditional", "aria-expanded": "false" %>
            <%= form.label :decision_granted, "Yes", class: "govuk-label govuk-radios__label", for: "status-granted-conditional" %>
          </div>
          <div class="govuk-radios__item">
            <%= form.radio_button :decision, "refused", class: "govuk-radios__input", id: "status-refused-conditional", "aria-controls": "conditional-status-refused-conditional", "aria-expanded": "false" %>
            <%= form.label :decision_refused, "No", class: "govuk-label govuk-radios__label govuk-!-margin-bottom-3", for: "status-refused-conditional" %>
          </div>
        </div>
      </div>
     </div>
      <div class="govuk-form-group">
        <span class="govuk-body">
          <%= form.label :public_comment, "State the reasons why this application is, or is not lawful.", class: "govuk-label govuk-!-font-weight-bold" %>
        </span>
        <p class="govuk-body">
          Refer to the specific permitted development rights being evoked.
        </p>
        <p class="govuk-body">
          This information <strong>will</strong> appear on the decision notice.
        </p>
        <%= form.text_area :public_comment, class: "govuk-textarea", rows: "9" %>
      </div>
    </div>
    <div class="govuk-form-group">
      <p class="govuk-body">
        <%= label_tag :recommendation_assessor_comment, "Please provide supporting information for your manager.", class: "govuk-label govuk-!-font-weight-bold" %>
      </p>
      <p class="govuk-body">
        This information <strong>will not</strong> appear on the decision notice or the public register, however FOI still apply.
      </p>
      <%= text_area_tag "recommendation[assessor_comment]", @recommendation.assessor_comment, class: "govuk-textarea", rows: "7" %>
    </div>
    <div class="govuk-!-padding-top-4">
    <% if @planning_application.assessment_complete? || @planning_application.awaiting_correction? %>
      <%= form.submit "Update assessment", class: "govuk-button", data: { module: "govuk-button" } %>
      <%= link_to "Back", planning_application_path(@planning_application), class: "govuk-button govuk-button--secondary" %>
    <% else %>
      <%= form.submit "Save and mark as complete", class: "govuk-button", data: { module: "govuk-button" } %>
      <%= form.submit "Save and come back later", class: "govuk-button govuk-button--secondary", formaction: "save_assessment", data: { module: "govuk-button" } %>
      <%= link_to "Back", planning_application_path(@planning_application), class: "govuk-button govuk-button--secondary" %>
    <% end %>
    </div>
  <% end %>
<% end %>
