<% content_for :page_title do %>
 <%= t(".assess_recommendation") %> - <%= t("page_title") %>
<% end %>
<% content_for(:title, t(".assess_recommendation")) %>
<%= render(
  layout: "planning_applications/assessment_dashboard",
  locals: { heading: t(".assess_recommendation") }
) do %>
  <%= render(
    partial: "legislation",
    locals: {
      planning_application: @planning_application,
      policy_classes: @planning_application.policy_classes
    }
  ) %>
  <%= render(
     partial: "recommendations",
     locals: { recommendations: @planning_application.recommendations.reviewed }
  ) %>
  <div id="decision-notice-documents">
    <p class="govuk-body">
      <strong>Documents included in the decision notice</strong>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    </p>

    <% if @planning_application.documents_for_decision_notice.any? %>
      <ul class="govuk-list">
        <% @planning_application.documents_for_decision_notice.each do |document| %>
          <li><%= link_to document_name_and_reference(document), edit_planning_application_document_path(document.planning_application, document.id), target: :_blank %></li>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <% end %>
      </ul>
    <% else %>
      <p class="govuk-body">No documents listed on decision notice.</p>
    <% end %>
  </div>
  <h2 class="govuk-heading-m"><%= t(".assess_recommendation") %></h2>
  <%= form_with(
    model: @planning_application,
    url: recommend_planning_application_path(@planning_application),
    builder: GOVUKDesignSystemFormBuilder::FormBuilder,
  ) do |form| %>
    <%= form.govuk_error_summary(presenter: ErrorPresenter) %>
    <%= form.govuk_collection_radio_buttons(
      :decision,
      [[:granted, t(".yes")], [:refused, t(".no")]],
      :first,
      :last,
      legend: { text: t(".is_the_use"), size: "s" }
    ) %>
    <div class="govuk-form-group <%= "govuk-form-group--error" if form.object.errors[:public_comment].any? %>">
      <%= form.label(:public_comment, t(".state_the_reason"), class: "govuk-label govuk-label--s") %>
      <div class="govuk-hint"><%= t(".refer_to_the") %></div>
      <%= render(
        partial: "shared/warning_text",
        locals: { message: t(".this_information_will") }
      ) %>
      <% if form.object.errors[:public_comment].any? %>
        <p id="planning-application-public-comment-field-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">
            <%= t(".error") %>
          </span>
          <%= form.object.errors[:public_comment].first %>
        </p>
      <% end %>
      <%= form.text_area(
        :public_comment,
        class: "govuk-textarea #{"govuk-textarea--error" if form.object.errors[:public_comment].any?}",
        rows: 9
      ) %>
    </div>
    <%= form.fields_for(:recommendations, @recommendation) do |fields| %>
      <%= fields.govuk_text_area(
        :assessor_comment,
        label: { text: t(".please_provide_supporting"), size: "s" },
        hint: { text: t(".this_information_will_not") },
        rows: 9
      ) %>
    <% end %>
    <div class="govuk-button-group">
      <% if @planning_application.assessment_submitted? %>
        <%= form.govuk_submit(t(".update_assessment")) %>
      <% else %>
        <%= form.govuk_submit(t(".save_and_mark")) %>
        <%= form.submit(
          t(".save_and_come"),
          class: "govuk-button govuk-button--secondary",
          formaction: "save_assessment",
          data: { module: "govuk-button" }
        ) %>
      <% end %>
      <%= link_to(
        t(".back"),
        planning_application_path(@planning_application),
        class: "govuk-button govuk-button--secondary"
      ) %>
    </div>
  <% end %>
<% end %>
