<% content_for :title, "Review form" %>

<%= render "planning_applications/assessment_dashboard" do %>
  <h2 class="govuk-heading-m">
    Review the recommendation
  </h2>
  <p class="govuk-body">
    The planning officer recommends that the application is
    <strong>
      <%= @planning_application.decision %>
    </strong>.
  </p>
  <p class="govuk-body">
    <strong>
      This information will appear on the decision notice:
    </strong>
  </p>
  <p class="govuk-body">
    <%= @planning_application.public_comment %>
  </p>

  <%= render "recommendations", { recommendations: @planning_application.recommendations } %>

  <%= form_for @recommendation, url: review_planning_application_path(@planning_application) do |form| %>
    <% if form.object.errors.any? %>
      <% form.object.errors.each do |error| %>
        <span id="status-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span>
          <%= error.type %>
        </span>
      <% end %>
    <% end %>
    <fieldset class="govuk-fieldset">
      <div class="<%= form.object.errors.any? ? 'govuk-form-group--error' : '' %>">
        <div class="govuk-form-group">
          <p class="govuk-body"><strong>Do you agree with the recommendation?</strong></p>
          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios" style="margin-bottom: 20px;">
            <div class="govuk-radios govuk-radios--small">
              <div class="govuk-radios__item">
                <%= form.radio_button :agree, "Yes", checked: @recommendation.challenged == false, class: "govuk-radios__input" %>
                <%= form.label :agree_yes, "Yes", class: "govuk-label govuk-radios__label" %>
              </div>
              <div class="govuk-radios__item">
                <%= form.radio_button :agree, "No", checked: @recommendation.challenged?, class: "govuk-radios__input" %>
                <%= form.label :agree_no, "No", class: "govuk-label govuk-radios__label" %>
              </div>
            </div>
          </div>
        </div>
        <div class="govuk-form-group">
          <%= form.label :reviewer_comment, "Review comment", class: "govuk-label" %>
          <%= form.text_area :reviewer_comment, class: "govuk-textarea", rows: "3", "aria-describedby": "private-comment-hint" %>
        </div>
      </div>
    </fieldset>
    <%= form.submit "Save", class: "govuk-button", data: { module: "govuk-button" } %>
  <% end %>
<% end %>
