<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-breadcrumbs" style="margin-bottom: 20px;">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item" aria-current="page"></li>
      </ol>
    </div>
    <h1 class="govuk-heading-l">
      Your fast track applications
    </h1>
    <p class="govuk-body"><%= current_user.name %>, <%= current_user.role.capitalize %></p>
    <%= link_to "View my applications", root_path, class: "govuk-link" %>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <%= render "planning_application_tabs" %>

      <%= render "planning_application_table", planning_applications: @planning_applications.in_assessment, id: "in_assessment", title: "In assessment" unless current_user.reviewer?%>
      <%= render "planning_application_table", planning_applications: @planning_applications.awaiting_determination, id: "awaiting_determination", title: "Awaiting manager's determination" %>
      <%= render "planning_application_table", planning_applications: @planning_applications.determined, id: "determined", title: "Determined" %>
    </div>
  </div>
</div>
