<% content_for :page_title do %>
  Planning Application - <%= t('page_title') %>
<% end %>

<%= render "shared/assessment_dashboard" do %>
  <% if @planning_application.in_progress? %>
    <%= render 'application_steps' %>
    <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><%= t(".details") %></h2>
  <% end %>
  <%= render(
    AccordionComponent.new(
      planning_application: @planning_application,
      sections: %i[key_application_dates contact_information audit_log notes]
    )
  ) %>

  <% if @planning_application.in_progress? || @planning_application.can_clone? %>
    <div class="govuk-button-group">
      <% if @planning_application.in_progress? %>
        <%= link_to(
          t(".withdraw_or_cancel"),
          planning_application_withdraw_or_cancel_path(
            @planning_application
          ),
          class: "govuk-button govuk-button--warning"
        ) %>
      <% end %>

      <% if @planning_application.can_clone? %>
        <%= link_to "Clone", clone_planning_application_path(@planning_application), class: "govuk-button govuk-button--secondary", method: :post, data: { confirm: "This will clone the planning application identical to how it was created via PlanX. Are you sure?" } %>
      <% end %>
    </div>
  <% end %>
<% end %>
