<%= render "layouts/breadcrumb_navigation" %>

<div class="govuk-grid-row">
  <div style="float: right; margin: 20px 0 30px 100px; ">
    <p class="govuk-body">
      <strong class="govuk-tag govuk-tag--green">
        Due: May 29<br>35 days remaining
      </strong>
    </p>
  </div>
  <h1 class="govuk-heading-l" style="margin-bottom: 7px;">
    Fast track application: <%= @planning_application.reference %>
  </h1>
  <div class="govuk-grid-column-two-thirds">
  <h2 class="govuk-heading-m" style="margin-bottom: 75px;">
    <%= display_address(@site) %>
  </h2>
    <%= render "application_information" %>
    <%= render "assess_proposal" %>
  </div>
  <div class="govuk-grid-column-one-third">
    <%= render "supporting_information" %>
  </div>
</div>
