<% content_for :page_title do %>
  Planning Application - <%= t("page_title") %>
<% end %>

<%= planning_application_notification_banner(@planning_application) %>

<%= render "shared/assessment_dashboard" do %>
  <% if @planning_application.in_progress? %>
    <h2 class="govuk-!-margin-bottom-0 govuk-!-margin-top-3">
      <%= t(".application_details") %>
    </h2>
    <%= render(
          AccordionComponent.new(
            planning_application: @planning_application,
            sections: %i[application_information proposal_details documents]
          )
        ) %>
    <%= render "application_steps" %>
    <h2 class="govuk-!-margin-top-9 govuk-!-margin-bottom-1"><%= t(".details") %></h2>

    <%= render(
          AccordionComponent.new(
            planning_application: @planning_application,
            sections: %i[key_application_dates contact_information audit_log notes]
          )
        ) %>
  <% end %>

  <% if @planning_application.closed_or_cancelled? %>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <%= render(
              SiteMapComponent.new(
                planning_application: @planning_application
              )
            ) %>

        <div class="govuk-!-margin-bottom-0 govuk-!-margin-top-5">
          <%= render "shared/overview_tabs", planning_application_constraints: @planning_application.planning_application_constraints %>
        </div>

        <%= render(
              AccordionComponent.new(
                planning_application: @planning_application,
                sections: %i[application_information proposal_details key_application_dates contact_information audit_log notes]
              )
            ) %>

        <%= render "application_steps" %>
      </div>
    </div>
  <% end %>

  <% if @planning_application.in_progress? %>
    <div class="govuk-button-group">
      <%= govuk_button_link_to t(".withdraw_or_cancel"), planning_application_withdraw_or_cancel_path(
            @planning_application
          ), warning: true %>
    </div>
  <% else %>
    <div class="govuk-button-group">
      <%= govuk_button_link_to t(".delete"), planning_application_withdraw_or_cancel_path(
            @planning_application
          ), warning: true %>
    </div>
  <% end %>
<% end %>
