<%= render "assessment_dashboard" do %>
  <% if @planning_application.in_progress? %>
    <h2 class="govuk-heading-l">
      Validation
    </h2>
    <ul class="app-task-list__items" id="validation-section">
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <% if @planning_application.can_validate? %>
            <%= link_to "Validate application", validate_form_planning_application_path(@planning_application), aria: { describedby: "validation-completed" }, class: "govuk-link" %>
          <% else %>
            Validate application
          <% end %>
        </span>
        <% if @planning_application.validation_complete? %>
          <%= tag.strong "Completed", id: "validation-completed", class: "govuk-tag app-task-list__task-tag" %>
        <% end %>
      </li>
    </ul>
    <h2 class="govuk-heading-l">Assess against policy</h2>
    <ul class="app-task-list__items" id="assess-policy-section">
      <% if @planning_application.assessment_complete? && @planning_application.policy_classes.none? %>
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            No policy classes were added.
          </span>
        </li>
      <% else %>
        <% @planning_application.policy_classes.each do |policy_class| %>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <%= link_to(
                  policy_class,
                  planning_application_policy_class_path(@planning_application, id: policy_class.to_param),
                  aria: { describedby: "assessment-completed" },
                  class: "govuk-link"
              ) %>
            </span>
            <%= tag.strong policy_class.status, class: class_for_policy_class_status(policy_class.status) %>
          </li>
        <% end %>
        <% unless @planning_application.assessment_complete? %>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <% if @planning_application.can_assess? %>
                <%= link_to "Add assessment area", part_new_planning_application_policy_class_path(@planning_application), class: "govuk-link" %>
              <% else %>
                Add assessment area
              <% end %>
            </span>
          </li>
        <% end %>
      <% end %>
    </ul>
    <h2 class="govuk-heading-l">Assessment</h2>
    <ul class="app-task-list__items" id="assess-section">
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <% if @planning_application.can_assess? %>
            <%= link_to "Assess proposal", recommendation_form_planning_application_path(@planning_application), aria: { describedby: "assessment-completed" }, class: "govuk-link" %>
          <% else %>
            Assess proposal
          <% end %>
        </span>
        <% if @planning_application.assessment_complete? %>
          <%= tag.strong "Completed", id: "validation-completed", class: "govuk-tag app-task-list__task-tag" %>
        <% end %>
      </li>
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <% if @planning_application.can_submit_recommendation? %>
            <%= link_to "Submit recommendation", submit_recommendation_planning_application_path(@planning_application), aria: { describedby: "submit_recommendation-completed" }, class: "govuk-link" %>
          <% else %>
            Submit recommendation
          <% end %>
        </span>
        <% if @planning_application.submit_recommendation_complete? %>
          <%= tag.strong "Completed", id: "submit_recommendation-completed", class: "govuk-tag app-task-list__task-tag" %>
        <% end %>
      </li>
    </ul>
    <div id="review-section">
      <h2 class="govuk-heading-l">Review</h2>
      <ul class="app-task-list__items">
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <% if @planning_application.can_review_assessment? && current_user.reviewer? %>
              <%= link_to "Review assessment", review_form_planning_application_path(@planning_application), aria: { describedby: "review_assessment-completed" }, class: "govuk-link" %>
            <% elsif @planning_application.can_review_assessment? && !current_user.reviewer? %>
              <%= link_to "View recommendation", view_recommendation_planning_application_path(@planning_application), aria: { describedby: "review_assessment-completed" }, class: "govuk-link" %>
            <% else %>
              Review assessment
            <% end %>
          </span>
          <% if @planning_application.review_assessment_complete? %>
            <%= tag.strong "Completed", id: "review_assessment-completed", class: "govuk-tag app-task-list__task-tag" %>
          <% elsif @planning_application.can_review_assessment? && current_user.assessor? %>
            <%= tag.strong "Awaiting determination", id: "review_assessment-waiting", class: "govuk-tag app-task-list__task-tag govuk-tag--grey" %>
          <% end %>
        </li>
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <% if @planning_application.can_publish? && current_user.reviewer? %>
              <%= link_to "Publish determination", publish_planning_application_path(@planning_application), aria: { describedby: "publish-completed" }, class: "govuk-link" %>
            <% else %>
              Publish determination
            <% end %>
          </span>
          <% if @planning_application.publish_complete? %>
            <%= tag.strong "Completed", id: "publish-completed", class: "govuk-tag app-task-list__task-tag" %>
          <% elsif @planning_application.can_publish? && current_user.assessor? %>
            <%= tag.strong "Waiting", id: "review_assessment-waiting", class: "govuk-tag app-task-list__task-tag" %>
          <% end %>
        </li>
      </ul>
    </div>
  <% end %>
<% end %>
