<% content_for :page_title do %>
  Submit recommendation - <%= t('page_title') %>
<% end %>

<% content_for :title, "Submit recommendation" %>

<%= render layout: "shared/assessment_dashboard", locals: { heading: t(".review_and_submit_recommendation") } do %>
  <h2 class="govuk-heading-m">Decision notice</h2>
  <p class="govuk-body">The following decision notice has been created based on your answers.</p>
  <%= render "decision_notice", planning_application: @planning_application %>
  <p class="govuk-body">
    <%= link_to "Download as PDF", decision_notice_api_v1_planning_application_path(@planning_application, format: 'pdf'), class: "govuk-link" %>
  </p>
  <p class="govuk-body">
    <br>
    <strong>
      If you agree with the decision notice, please submit it to your manager.
    </strong>
   If your manager disagrees with your recommendation they will send it back to you to make changes.
  </p>
  <div class="govuk-button-group">
    <%= form_with model: @planning_application, url: submit_planning_application_path(@planning_application), local: true do |form| %>
      <%= form.submit "Submit recommendation", class: "govuk-button", data: { module: "govuk-button" } %>
      <%= link_to(
        "Edit recommendation",
        new_planning_application_recommendation_path(@planning_application),
       class: "govuk-button govuk-button--secondary"
      ) %>
      <%= link_to(
        t(".back"),
        planning_application_path(@planning_application),
        class: "govuk-button govuk-button--secondary"
      ) %>
    <% end %>
  </div>
<% end %>
