<% content_for :title, "Validate documents" %>
<%= render "planning_applications/assessment_dashboard" do %>

<h2 class="govuk-heading-l govuk-!-padding-top-3">Validate application</h2>

<% if @planning_application.errors[:replacement_document_validation_request].any? %>
  <% @planning_application.errors[:replacement_document_validation_request].each do |error| %>
      <span id="status-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span><%= error %></span>
  <% end %>
<% end %>


<p class="govuk-body">
  <%= link_to "Check documents", planning_application_documents_path(@planning_application), class: "govuk-link" %>
</p>


<% if @planning_application.invalid_documents.present? %>
<div class="govuk-error-summary govuk-!-margin-top-6 govuk-!-margin-bottom-6" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
  <svg class="alert__icon" fill="red" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 25 25" height="25" width="25">
    <path d="M13.6,15.4h-2.3v-4.5h2.3V15.4z M13.6,19.8h-2.3v-2.2h2.3V19.8z M0,23.2h25L12.5,2L0,23.2z"></path>
  </svg>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        Invalid documents:
        <span class="govuk-!-font-weight-bold">
          <%= @planning_application.invalid_documents.count %>
        </span>
      </li>
    </ul>
  </div>
</div>
<% end %>

<% if @planning_application.invalidated? %>
  <h2 class="govuk-heading-m">
    Validation requests
  </h2>
  <p class="govuk-body govuk-!-margin-top-2">
    Request replacement or missing documents and information.
  </p>
  <p class="govuk-body govuk-!-padding-bottom-6">
    <%= link_to "Start new or view existing validation requests", planning_application_validation_requests_path(@planning_application), class: "govuk-link" %>
  </p>
<% end %>

<%= form_with model: @planning_application, url: validate_documents_planning_application_path(@planning_application), local:true, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |form| %>
<fieldset class="govuk-fieldset">
  <%= form.govuk_radio_buttons_fieldset(:status, legend: {size: 'm', text: 'Is the application valid?' }) do %>
      <%= form.govuk_radio_button :status, 'in_assessment', label: { text: 'Yes'} do %>
        <%= form.govuk_date_field :documents_validated_at, legend: { text: '', size: 's' }, hint: { text: 'Enter valid date, e.g. 28 12 2021' } %>
      <% end %>
      <%= form.govuk_radio_button :status, 'invalidated', label: { text: 'No' } %>
    <% end %>
  </fieldset>
  <p>
    <%= form.submit "Save", class: "govuk-button", data: { module: "govuk-button"} %>
    <%= link_to 'Cancel', planning_application_path(@planning_application), class: "govuk-button govuk-button--secondary" %>
  </p>
  <% end%>
<% end %>
