<% content_for :page_title do %>
  Check documents - <%= t('page_title') %>
<% end %>

<%= render "planning_applications/validation/validation_requests/validation_requests_breadcrumbs" %>
<% content_for :title, "Check documents" %>

<%= render(
  partial: "shared/proposal_header",
  locals: { heading: "Check the documents provided"  }
) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body-m">
      Check all necessary documents have been provided and add requests for any missing documents.
    </p>

    <% unless @documents.any? && @documents.all?(&:representable?) %>
      <%= render "shared/warning_text",
          message: "One or more documents that the applicant submitted are not available due to a security issue. Ask the applicant or agent for replacements." %>
    <% end %>

    <% if @planning_application.local_authority.document_checklist? %>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <a href="<%= t("council_documents.#{@planning_application.local_authority.subdomain}.document_checklist")%>" target="_blank" class="govuk-link govuk-body-m">
        Checklist for <%= @planning_application.application_type.name.humanize.downcase %> (opens in a new tab)
      </a>
    <% end %>

    <% if @additional_document_validation_requests.any? %>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <%= render "planning_applications/validation/additional_document_validation_requests/additional_document_validation_requests_table",
          validation_requests: @additional_document_validation_requests %>
    <% else %>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <% end %>

    <% if @documents.any? %>
      <%= render "documents/active_documents_table", documents: @documents.with_file_attachment %>
    <% end %>

    <p class="govuk-!-margin-bottom-6 govuk-!-margin-top-0">
      <%= link_to "Add a request for a missing document",
        new_planning_application_validation_validation_request_path(@planning_application, request_type: "additional_document"), class: "govuk-link govuk-body-m" %>
    </p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <%= form_with model: @planning_application, url: validate_documents_planning_application_path(@planning_application) do |form| %>
      <%= form.hidden_field :documents_missing, value: @additional_document_validation_requests.any? %>

      <div class="govuk-button-group">
        <%= form.submit "Save", class: "govuk-button", data: { module: "govuk-button" } %>

        <%= link_to "Back", planning_application_validation_tasks_path(@planning_application), class: "govuk-button govuk-button--secondary" %>
      </div>
    <% end %>
  </div>
</div>
