<% content_for :title, "Validate documents" %>
<%= render "planning_applications/assessment_dashboard" do %>

<h2 class="govuk-heading-m govuk-!-padding-top-3">Validate application</h2>

<p class="govuk-body">
  <%= link_to "Check documents", planning_application_documents_path(@planning_application) %>
</p>

<% if @planning_application.description_change_requests.present? %>
  <table class="govuk-table change-requests">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">
          Request
        </th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">
          Time remaining
        </th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">
          Status
        </th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @planning_application.description_change_requests.each do |description_change_request| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <%= link_to "Description", planning_application_description_change_request_path(@planning_application, description_change_request), class: "govuk-link" %>
        </td>
        <td class="govuk-table__cell">
          <strong class="govuk-tag govuk-tag--<%=display_request_date_state(description_change_request) %>">
            <% if description_change_request.state == "open" %>
              <%= description_change_request.days_until_response_due %> days
            <% else %>
              Closed
            <% end %>
          </strong>
        </td>
        <td class="govuk-table__cell">
          <strong class="govuk-tag govuk-tag--<%=display_request_status(description_change_request) %>">
            <% if description_change_request.state == "open" %>
              Open
            <% else %>
              <%= description_change_request.approved? ? 'Approved' : 'Rejected' %>
            <% end %>
          </strong>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if @planning_application.invalidated? %>
  <p class="govuk-body govuk-!-font-weight-bold">
    Submit new change request to applicant
  </p>
  <%= link_to "New request", new_planning_application_description_change_request_path(@planning_application), class: 'govuk-button govuk-button--secondary' %>
<% end %>

<%= form_with model: @planning_application, url: validate_documents_planning_application_path(@planning_application), local:true, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |form| %>
<fieldset class="govuk-fieldset">
  <% if form.object.errors.any? %>
    <% form.object.errors.each do |error| %>
    <span id="status-error" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span><%= error.message %>
    </span>
    <% end %>
  <% end %>

  <%= form.govuk_radio_buttons_fieldset(:status, legend: {size: 's', text: 'Is the application valid?' }) do %>
    <span class="govuk-hint">
      If the application is invalid, please contact the applicant via email.
    </span>
      <%= form.govuk_radio_button :status, 'in_assessment', label: { text: 'Yes'} do %>
        <%= form.govuk_date_field :documents_validated_at, legend: { text: '', size: 's' }, hint: { text: 'Enter valid date, e.g. 28 12 2021' } %>
      <% end %>
      <%= form.govuk_radio_button :status, 'invalidated', label: { text: 'No' } %>
    <% end %>
  </fieldset>
  <p>
    <%= form.submit "Save", class: "govuk-button", data: { module: "govuk-button"} %>
    <%= link_to 'Cancel', planning_application_path(@planning_application), class: "govuk-button govuk-button--secondary" %>
  </p>
  <% end%>
<% end %>
