<% add_parent_breadcrumb_link "Home", planning_applications_path %>
<% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>

<%= render "assessment_dashboard" do %>
  <h2 class="govuk-heading-m">
    View recommendation
  </h2>

  <p class="govuk-body">
    Recommendations submitted by <%= @assessor_name %> on <%= @recommended_date %>
  </p>

  <%= render "decision_notice", planning_application: @planning_application %>

  <%= link_to "Back", planning_application_path(@planning_application), class: "govuk-button" %>
<% end %>
