<% content_for :page_title do %>
  View recommendation - <%= t('page_title') %>
<% end %>
<%= render "assessment_dashboard" do %>
  <h2 class="govuk-heading-m">
    View recommendation
  </h2>

  <p class="govuk-body">
    Recommendations submitted by <%= @assessor_name %> on <%= @recommended_date %>
  </p>

  <%= render "decision_notice", planning_application: @planning_application %>

  <div class="govuk-button-group">
    <%= form_with model: @planning_application, url: withdraw_recommendation_planning_application_path(@planning_application) do |form| %>
      <%= link_to "Back", planning_application_path(@planning_application), class: "govuk-button" %>
      <% if @planning_application.may_withdraw_recommendation? %>
        <%= form.submit "Withdraw recommendation", data: { confirm: "Are you sure you want to withdraw this recommendation?" }, class: "govuk-button govuk-button--secondary" %>
      <% end %>
    <% end %>
  </div>
<% end %>
