<% content_for :page_title do %>
  <%= t(".title") %> - <%= t("page_title") %>
<% end %>

<% add_parent_breadcrumb_link "Home", root_path %>

<% content_for :title, t(".title") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      <%= t(".title") %>
    </h1>
    <p class="govuk-body">
      <%= govuk_button_link_to t(".create_decision"), new_decision_path %>
    </p>
    <%= render "table" %>
  </div>
</div>
