<% content_for :page_title do %>
  <%= t(".title") %> - <%= t("page_title") %>
<% end %>

<% content_for :title, t(".breadcrumb") %>

<%= render(partial: "shared/assessment_task_breadcrumbs", locals: {planning_application: @planning_application}) %>
<%= render(partial: "shared/proposal_header", locals: {heading: t(".title")}) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if @consultation && @consultation.consultees.present? %>
      <h2 class="govuk-heading-m"><%= t(".responses") %></h2>
      <%= govuk_accordion do |accordion|
            @consultation.consultees.each do |consultee|
              accordion.with_section(heading_text: consultee.name) do
                consultee.responses.map { |response| "<p class=\"govuk-body\">#{response.response}</p>" }.join
              end
            end
          end %>
    <% end %>

    <h2 class="govuk-heading-m">
      <%= label_tag("assessment-detail-entry-field", t(".heading")) %>
    </h2>

    <%= govuk_warning_text(text: t(".warning")) %>

    <%= form_with model: [@planning_application, :assessment, @assessment_detail] do |form| %>
      <%= form.govuk_error_summary(presenter: ConsultationSummaryErrorPresenter) %>

      <%= form.govuk_text_area(:entry, label: nil, rows: 10, value: @rejected_assessment_detail&.entry) %>
      <%= form.hidden_field(:category, value: @category) %>

      <%= render(partial: "shared/submit_buttons", locals: {form: form}) %>
    <% end %>
  </div>
</div>
