<% content_for :page_title do %>
  <%= t(".title") %> - <%= t("page_title") %>
<% end %>

<% content_for :title, t(".breadcrumb") %>

<%= render(partial: "shared/assessment_task_breadcrumbs", locals: {planning_application: @planning_application}) %>
<%= render(partial: "shared/proposal_header", locals: {heading: t(".title")}) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if @consultation && @consultation.consultees.present? %>
      <h2 class="govuk-heading-m"><%= t(".responses") %></h2>
      <div class="bops-accordion" data-module="bops-accordion" data-remember-expanded="false" id="consultation-responses">
        <% @consultation.consultees.each do |consultee| %>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <button type="button"
                        class="govuk-accordion__section-button"
                        id="accordion-default-heading-<%= consultee.id %>">
                          <%= consultee.name %>
                </button>
                <span class="govuk-accordion__icon"></span>
              </h2>
            </div>
            <div class="govuk-accordion__section-content">
              <% consultee.responses.map do |response| %>
                <p class="govuk-body"><%= response.response %></p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <h2 class="govuk-heading-m"><%= t(".heading") %></h2>

    <%= govuk_warning_text(text: t(".warning")) %>

    <p class="govuk-body">
      <%= render(FormattedContentComponent.new(text: @assessment_detail.entry)) %>
    </p>

    <div class="govuk-button-group">
      <%= back_link %>
      <%= govuk_link_to t(".edit"), [:edit, @planning_application, :assessment, @assessment_detail, category: @category] %>
    </div>
  </div>
</div>
