<% content_for :page_title do %>
  Planning guides - <%= t('page_title') %>
<% end %>

<div class="govuk-width-container">
  <h1 class="govuk-heading-l">
    Find out how to create a valid plan
  </h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">
        If you have been asked to upload a new or replacement plan you can find
        out all the requirements for your plan here.
      </p>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <h3 class="govuk-heading-s">All drawings</h3>
          <ul class="govuk-list">
            <li>
              <%= link_to "All drawings and plans", "/planning_guides/drawings", class: "govuk-link" %>
            </li>
          </ul>
          <h3 class="govuk-heading-s">Floor plans</h3>
          <ul class="govuk-list">
            <li>
              <%= link_to "Existing floor plans", "/planning_guides/floor_plans/existing", class: "govuk-link" %>
            </li>
            <li>
              <%= link_to "Proposed floor plans", "/planning_guides/floor_plans/proposed", class: "govuk-link" %>
            </li>
          </ul>
          <h3 class="govuk-heading-s">Site plans</h3>
          <ul class="govuk-list">
            <li>
              <%= link_to "Existing site plans", "/planning_guides/site_plans/existing", class: "govuk-link" %>
            </li>
            <li>
              <%= link_to "Proposed site plans", "/planning_guides/site_plans/proposed", class: "govuk-link" %>
            </li>
          </ul>
          <h3 class="govuk-heading-s">Elevations</h3>
          <ul class="govuk-list">
            <li>
              <%= link_to "Existing elevations", "/planning_guides/elevations/existing", class: "govuk-link" %>
            </li>
            <li>
              <%= link_to "Proposed elevations", "/planning_guides/elevations/proposed", class: "govuk-link" %>
            </li>
          </ul>
          <h3 class="govuk-heading-s">Sections</h3>
          <ul class="govuk-list">
            <li>
              <%= link_to "Existing sections", "/planning_guides/sections/existing", class: "govuk-link" %>
            </li>
            <li>
              <%= link_to "Proposed sections", "/planning_guides/sections/proposed", class: "govuk-link" %>
            </li>
          </ul>
        </div>
        <div class="govuk-grid-column-one-half">
          <h3 class="govuk-heading-s">Roof plans</h3>
          <ul class="govuk-list">
            <li>
              <%= link_to "Existing roof plans", "/planning_guides/roof_plans/existing", class: "govuk-link" %>
            </li>
            <li>
              <%= link_to "Proposed roof plans", "/planning_guides/roof_plans/proposed", class: "govuk-link" %>
            </li>
          </ul>
          <h3 class="govuk-heading-s">Unit plans</h3>
          <ul class="govuk-list">
            <li>
              <%= link_to "Existing unit plans", "/planning_guides/unit_plans/existing", class: "govuk-link" %>
            </li>
            <li>
              <%= link_to "Proposed unit plans", "/planning_guides/unit_plans/proposed", class: "govuk-link" %>
            </li>
          </ul>
          <h3 class="govuk-heading-s">Use plans</h3>
          <ul class="govuk-list">
            <li>
              <%= link_to "Existing use plans", "/planning_guides/use_plans/existing", class: "govuk-link" %>
            </li>
            <li>
              <%= link_to "Proposed use plans", "/planning_guides/use_plans/proposed", class: "govuk-link" %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
