<% content_for :page_title do %>
  Review assessment against policies and guidance - <%= t("page_title") %>
<% end %>

<%= render(
      partial: "shared/review_task_breadcrumbs",
      locals: {planning_application: @planning_application}
    ) %>

<% content_for :title, "Review assessment against policies and guidance" %>

<%= render(
      partial: "shared/proposal_header",
      locals: {heading: "Review assessment against policies and guidance"}
    ) %>

<% if @planning_application.local_authority.planning_policy_and_guidance? %>
  <p class="govuk-body govuk-!-margin-bottom-7">
    <%= govuk_link_to @planning_application.local_authority.planning_policy_and_guidance, new_tab: "" do %>
      Check your local policies and guidance (in a new tab)
    <% end %>
  </p>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Considerations</h2>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <% if @considerations.any? %>
      <ol class="govuk-list sortable-list">
        <% @considerations.each do |consideration| %>
          <li class="govuk-!-margin-bottom-7">
            <span class="govuk-caption-m">Consideration <%= consideration.position %></span>
            <h2 class="govuk-heading-m"><%= consideration.policy_area %></h2>

            <div data-controller="toggle">
              <dl class="govuk-!-display-none consideration-details" data-toggle-target="content">
                <div class="govuk-body">
                  <dt>Policy</dt>
                  <dd>
                    <%= consideration.policy_references.map(&:code_and_description).join("; ") %>
                  </dd>
                </div>
                <% if consideration.policy_guidance.present? %>
                  <div class="govuk-body">
                    <dt>Guidance</dt>
                    <dd><%= consideration.policy_guidance.map(&:description).join("; ") %></dd>
                  </div>
                <% end %>
                <div class="govuk-body">
                  <dt>Assessment</dt>
                  <dd>
                    <%= render(FormattedContentComponent.new(text: consideration.assessment)) %>
                  </dd>
                </div>
                <div class="govuk-body">
                  <dt>Conclusion</dt>
                  <dd>
                    <%= render(FormattedContentComponent.new(text: consideration.conclusion)) %>
                  </dd>
                </div>
              </dl>

              <button class="button-as-link" type="button" data-toggle-target="button" data-action="click->toggle#click">
                Show more
              </button>
            </div>
          </li>
        <% end %>
      </ol>
    <% else %>
      <p class="govuk-body">
        <strong>No considerations added yet</strong>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </p>
    <% end %>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-5">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @review, url: planning_application_review_considerations_path(@planning_application), html: {inert: true} do |form| %>
      <%= form.govuk_error_summary %>

      <%= form.govuk_radio_buttons_fieldset :languages, legend: {text: "Do you accept the assessment?", size: "m"} do %>
        <%= form.govuk_radio_button :action, "accepted", label: {text: "Yes"}, disabled: true %>
        <%= form.govuk_radio_button :action, "rejected", label: {text: "No"}, disabled: true do %>
          <%= form.govuk_text_area :comment, label: {text: "Enter comment"}, disabled: true %>
        <% end %>
      <% end %>
    <% end %>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
      <%= t(".actions.#{@review.action}") %>
    </h2>
    <p class="govuk-body govuk-!-margin-bottom-7">
      <% if @review.reviewer.present? %>
        <%= time_tag(@review.reviewed_at, title: @review.reviewed_at.iso8601) do %>
          <%= t(".review_info", reviewer: @review.reviewer.name, reviewed_on: @review.reviewed_at.to_date.to_fs) %>
        <% end %>
      <% else %>
        Reviewer information not available
      <% end %>
    </p>

    <div class="govuk-button-group">
      <%= govuk_button_link_to(t("back"), planning_application_review_tasks_path(@planning_application), secondary: true) %>
      <%= govuk_link_to("Edit review of assessment", edit_planning_application_review_considerations_path(@planning_application), secondary: true) %>
    </div>
  </div>
</div>
