<% content_for :page_title do %>
  Validation tasks - <%= t('page_title') %>
<% end %>

<% add_parent_breadcrumb_link "Home", planning_applications_path %>
<% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>
<% content_for :title, "Validation tasks" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds" id="planning-application-details">
    <span class="govuk-caption-l"><%= @planning_application.reference %></span>
    <h1 class="govuk-heading-l"><%= @planning_application.full_address %></h1>

    <p class="govuk-body"><%= @planning_application.status_tag %></p>

    <p class="govuk-body">
      <%= @planning_application.type_and_work_status %>: <%= @planning_application.description %>
    </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "items_counter" %>

    <ol class="app-task-list">
      <%= render "red_line_boundary" %>

      <%= render "fee_validation" %>

      <%= render "constraints" %>

      <%= render "document_validation" %>

      <%= render "additional_document_validation" %>

      <%= render "other_validation_request" %>

      <li id="review-tasks">
        <h2 class="app-task-list__section">
          Review
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <%= link_to "Review validation requests", planning_application_validation_requests_path(@planning_application), class: "govuk-link" %>
            </span>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
            <%= link_to "Send validation decision", validation_decision_planning_application_path(@planning_application), class: "govuk-link" %>
            </span>
          </li>
        </ul>
      </li>
    </ol>

    <%= link_to "Back", planning_application_path(@planning_application), class: "govuk-button govuk-button--secondary" %>
  </div>
</div>
