<% add_parent_breadcrumb_link "Home", planning_applications_path %>
<% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>
<% content_for :title, "Validation tasks" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if @planning_application.not_started? %>
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
        <strong>
          This application has not yet been marked as valid or invalid
        </strong>
      </h2>
    <% end %>

    <p class="govuk-body">
      <%= validation_request_summary(@planning_application.validation_requests, @planning_application) %>
    </p>

    <p class="govuk-body">
      <%= link_to "Check documents", planning_application_documents_path(@planning_application), class: "govuk-link" %>
    </p>

    <% if @planning_application.replacement_document_validation_requests.open_or_pending.with_active_document.any? %>
      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
        <svg class="alert__icon" fill="red" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 25 25" height="25" width="25">
          <path d="M13.6,15.4h-2.3v-4.5h2.3V15.4z M13.6,19.8h-2.3v-2.2h2.3V19.8z M0,23.2h25L12.5,2L0,23.2z"></path>
        </svg>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              Invalid documents:
              <strong>
                <%= @planning_application.replacement_document_validation_requests.open_or_pending.with_active_document.count %>
              </strong>
            </li>
          </ul>
        </div>
      </div>
    <% end %>

    <ol class="app-task-list">
      <%= render "constraints" %>
      <%= render "other_validation_request" %>

      <%= render "document_validation" %>

      <li id="review-tasks">
        <h2 class="app-task-list__section">
          Review
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <%= link_to "Review validation requests", planning_application_validation_requests_path(@planning_application), class: "govuk-link" %>
            </span>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
            <%= link_to "Send validation decision", validation_decision_planning_application_path(@planning_application), class: "govuk-link" %>
            </span>
          </li>
        </ul>
      </li>
    </ol>

    <%= link_to "Back", planning_application_path(@planning_application), class: "govuk-button govuk-button--secondary" %>
  </div>
</div>
