<%= render(
  partial: "shared/proposal_header",
  locals: { heading: "Check the digital red line boundary"  }
) %>

<p class="govuk-body">This digital red line boundary was submitted by the applicant on PlanX.</p>

<%= render "shared/location_map", locals: { in_accordion: true, geojson: @planning_application.boundary_geojson } %>

<br>
<%= form_with model: @planning_application, url: validate_planning_application_sitemap_path(@planning_application), local: true do |form| %>
  <%= form.govuk_radio_buttons_fieldset(:valid_red_line_boundary) do %>
    <%= form.govuk_radio_button :valid_red_line_boundary, true, label: { text: "Valid"} %>
    <%= form.govuk_radio_button :valid_red_line_boundary, false, label: { text: "Invalid" } %>
  <% end %>

  <div class="govuk-button-group">
    <%= form.submit "Save", class: "govuk-button", data: { module: "govuk-button" } %>

    <%= link_to "Back", planning_application_validation_tasks_path(@planning_application), class: "govuk-button govuk-button--secondary" %>
  </div>
<% end %>
