<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h3 class="govuk-accordion__section-heading">
        <button type="button" id="accordion-default-heading-1" aria-controls="accordion-default-content-1" class="govuk-accordion__section-button" aria-expanded="false">
          Application information
          <span class="govuk-accordion__icon" aria-hidden="true"></span></button>
      </h3>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Address:</strong></td>
            <td class="govuk-table__cell"><%= @planning_application.site.full_address %></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Ward:</strong></td>
            <td class="govuk-table__cell"><%= @planning_application.ward %></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Building type:</strong></td>
            <td class="govuk-table__cell">Residential</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Application type:</strong></td>
            <td class="govuk-table__cell">Proposed permitted development:
              <%= t(@planning_application.application_type) %>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Work already completed:</strong></td>
            <td class="govuk-table__cell"><%= proposed_or_existing(@planning_application) %>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Summary:</strong></td>
            <td class="govuk-table__cell">
              <p class="govuk-body">
                <%= @planning_application.description %>
              </p>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Payment Reference:</strong></td>
            <td class="govuk-table__cell">
              <p class="govuk-body">
                <%= @planning_application.payment_reference %>
              </p>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell noborder"><strong>Case officer:</strong></td>
            <td class="govuk-table__cell noborder">
              <p class="govuk-body"><%= @planning_application.user ? @planning_application.user.name : "Not assigned" %></p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
