<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h3 class="govuk-accordion__section-heading">
        <button type="button" id="accordion-default-heading-1" aria-controls="accordion-default-heading-1" class="govuk-accordion__section-button" aria-expanded="false">
            Application information
          <span class="govuk-accordion__icon" aria-hidden="true"></span></button>
      </h3>
    </div>
    <div class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <p class="govuk-body">
        <%= link_to 'Edit details', edit_planning_application_path(@planning_application), class: "govuk-link" %>
      </p>
      <hr>
      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Description:</strong></td>
            <td class="govuk-table__cell">
              <p class="govuk-body">
                <%= @planning_application.description %>
              </p>
              <p class="govuk-body">
                <% if @planning_application.open_description_change_requests.any? %>
                  <%= link_to "View requested change", planning_application_description_change_validation_request_path(@planning_application, @planning_application.open_description_change_requests.last.id), class: "govuk-link" %>
                <% else %>
                  <%= link_to "Propose a change to the description", new_planning_application_description_change_validation_request_path(@planning_application), class: "govuk-link" %>
                <% end %>
              </p>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Application type:</strong></td>
            <td class="govuk-table__cell">
              <%= @planning_application.type_and_work_status %>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Site address:</strong></td>
            <td class="govuk-table__cell"><%= @planning_application.full_address %></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Location:</strong></td>
            <td class="govuk-table__cell"><%= link_to 'View site on Google Maps', map_link(@planning_application.full_address), target: '_blank', class: "govuk-link" %></td>
          </tr>
          <tr class="govuk-table__row" id="ward">
            <td class="govuk-table__cell"><strong>Ward:</strong></td>
            <td class="govuk-table__cell">
            <% if @planning_application.postcode.present? %>
              <p class="govuk-body"><%= @planning_application.ward %></p>
              <%= link_to "View on mapit", mapit_link(@planning_application.postcode), target: '_blank', class: "govuk-link" %>
            <% else %>
              <p class="govuk-body">A postcode is required for ward information</p>
            <% end %>
            </td>
          </tr>
          <tr class="govuk-table__row" id="ward-type">
            <td class="govuk-table__cell"><strong>Ward type:</strong></td>
            <td class="govuk-table__cell">
            <% if @planning_application.postcode.present? %>
              <p class="govuk-body"><%= @planning_application.ward_type %></p>
              <%= link_to "View on mapit", mapit_link(@planning_application.postcode), target: '_blank', class: "govuk-link" %>
            <% else %>
              <p class="govuk-body">A postcode is required for ward information</p>
            <% end %>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>UPRN:</strong></td>
            <td class="govuk-table__cell"><%= @planning_application.uprn %></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Work already started:</strong></td>
            <td class="govuk-table__cell"><%= proposed_or_existing(@planning_application) %>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Payment Reference:</strong></td>
            <td class="govuk-table__cell">
              <p class="govuk-body">
                <%= @planning_application.payment_reference %>
              </p>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Payment Amount:</strong></td>
            <td class="govuk-table__cell">
              <p class="govuk-body">
                <%= number_to_currency (@planning_application.payment_amount_pounds), unit: '£' %>
              </p>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell noborder"><strong>Case officer:</strong></td>
            <td class="govuk-table__cell noborder">
              <p class="govuk-body"><%= @planning_application.user ? @planning_application.user.name : "Not assigned" %></p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h3 class="govuk-accordion__section-heading">
        <button type="button" id="accordion-default-heading-2" aria-controls="accordion-default-heading-2" class="govuk-accordion__section-button" aria-expanded="false">
          Site map
        </button>
        <span class="govuk-accordion__icon" aria-hidden="true"></span>
      </h3>
    </div>
    <div class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2" id="site-map-section">
      <% if @planning_application.boundary_geojson.present? %>
        <% if @planning_application.updated_address_or_boundary_geojson %>
          <%= render "shared/warning_text",
            message: "This application has been updated. Please check the site map is correct." %>
        <% end %>

        <p class="govuk-body">
          Sitemap drawn by <%= @planning_application.boundary_created_by.present? ? @planning_application.boundary_created_by.name : "Applicant" %>
        </p>
        <%= render "shared/location_map", locals: { in_accordion: true, geojson: @planning_application.boundary_geojson } %>
      <% else %>
        <p class="govuk-body">No digital sitemap provided</p>
      <% end %>
    </div>
  </div>

  <%= render "shared/result_information" %>
  <%= render "planning_applications/policy_consideration_list" %>
  <%= render "shared/proposal_documents" %>
</div>
