<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h3 class="govuk-accordion__section-heading">
        <button type="button" id="accordion-default-heading-1" aria-controls="accordion-default-content-1" class="govuk-accordion__section-button" aria-expanded="false">
          Application information
          <span class="govuk-accordion__icon" aria-hidden="true"></span></button>
      </h3>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Address:</strong></td>
            <td class="govuk-table__cell"><%= display_address(@site) %></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Ward:</strong></td>
            <td class="govuk-table__cell"><%= @planning_application.ward %></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Building type:</strong></td>
            <td class="govuk-table__cell">Residential</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Application type:</strong></td>
            <td class="govuk-table__cell">Proposed permitted development:
              <%= I18n.t(@planning_application.application_type) %>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Summary:</strong></td>
            <td class="govuk-table__cell">
              <p class="govuk-body">
                <%= @planning_application.description %>
              </p>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell noborder"><strong>Case officer:</strong></td>
            <td class="govuk-table__cell noborder">
              <p class="govuk-body"><%= @planning_application.user ? @planning_application.user.name : "Not started" %></p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h3 class="govuk-accordion__section-heading">
        <button type="button" id="accordion-default-heading-1" aria-controls="accordion-default-content-2" class="govuk-accordion__section-button" aria-expanded="false">
          Proposal documents
          <span class="govuk-accordion__icon" aria-hidden="true"></span></button>
      </h3>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
      <table class="govuk-table">
        <% @planning_application.drawings.each_slice(2) do |drawing| %>
          <tr class="govuk-table__row">
            <% drawing.each do |doc_1, doc_2| %>
              <td class="govuk-table__cell"><p class='govuk-body'>
                <p class='govuk-body'>
                  <%= doc_1.name %>
                </p>
                <p class='govuk-body'>
                  <%= link_to "View in new window", rails_blob_path(doc_1.plan) %>
                </p>
                <%= image_tag doc_1.plan.representation(resize: "300x212") %>
                <p class='govuk-body'>
                </p>
              </td>
              <td class="govuk-table__cell"><p class='govuk-body'>
                <p class='govuk-body'>
                  <%= doc_2.name if doc_2 %>
                </p>
                <p class='govuk-body'>
                  <%= link_to "View in new window", rails_blob_path(doc_2.plan) if doc_2 %>
                </p>
                <%= image_tag doc_2.plan.representation(resize: "300x212") if doc_2 %>
                <p class='govuk-body'>
                </p>
              </td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
