<% add_parent_breadcrumb_link "Home", root_path %>

<% if current_page?(planning_application_path(@planning_application)) %>
  <% content_for :title, "Application" %>
<% else %>
  <% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>
<% end %>

<%= render(
  partial: "shared/proposal_header",
  locals: { heading: "Application" }
) %>

<%= render "shared/dates_and_assignment_header" %>

<% if @planning_application.validation_requests %>
  <% if @planning_application.validation_requests.overdue.any? %>
    <%= render "shared/overdue_banner" %>
  <% end %>
  <% if @planning_application.validation_requests.closed.any? %>
    <%= render "shared/response_banner" %>
  <% end %>
<% end %>
<% if @planning_application.validation_requests.where(request_type: "description_change").any? %>
  <% if @planning_application.validation_requests.where(request_type: "description_change").responded.any? %>
    <%= render "shared/description_response_banner" %>
  <% end %>
<% end %>
<% if @planning_application.validation_requests.where(request_type: "description_change").where.not(auto_closed: nil).present? %>
  <%= render "shared/description_change_auto_closed_banner" %>
<% end %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= yield %>
  </div>
</div>
