<% planning_application ||= @planning_application %>
<% consultation ||= @consultation %>

<%= govuk_table(classes: "consultee-table") do |table| %>
  <% table.with_head do |head| %>
    <% head.with_row do |row| %>
      <% row.with_cell(text: "Constraint", header: true) %>
      <% row.with_cell(text: "Consultee", header: true) %>
      <% row.with_cell(text: "Status", header: true) %>
      <% row.with_cell(text: "Action", header: true) %>
    <% end %>
  <% end %>

  <% table.with_body do |body| %>
    <% consultees_unassigned = consultation.consultees.unassigned %>
    <% constraints = planning_application.planning_application_constraints %>

    <% if constraints.none? && consultees_unassigned.none? %>
      <% body.with_row(classes: "govuk-table__row", html_attributes: {data: {consultees_target: "noConsultees"}}) do |row| %>
        <% row.with_cell(
             colspan: 4,
             text: content_tag(:strong, "No reasons or constraints have been identified, so there are no suggested consultees.")
           ) %>
      <% end %>
    <% else %>
      <% can_manage_consultees = !planning_application.determined? %>

      <% constraints.each do |constraint| %>
        <% assigned_consultees = constraint.consultees.to_a %>
        <% next if assigned_consultees.empty? && !show_assign %>
        <% constraint_consultees_by_consultee = constraint.planning_application_constraint_consultees.index_by(&:consultee_id) %>

        <% body.with_row do |row| %>
          <% row.with_cell(
               classes: "consultee-table__constraint",
               text: constraint.type_code
             ) %>

          <% row.with_cell do %>
            <% if assigned_consultees.any? %>
              <ul class="govuk-list consultee-table__consultee-list">
                <% assigned_consultees.each do |consultee| %>
                  <li class="consultee-table__consultee-item">
                    <span class="consultee-table__consultee-name"><%= consultee.name %></span>
                  </li>
                <% end %>
              </ul>

              <% if can_manage_consultees %>
                <div class="consultee-table__secondary-link">
                  <%= govuk_link_to "Assign another consultee", main_app.new_planning_application_consultee_path(planning_application, constraint: constraint) %>
                </div>
              <% end %>
            <% elsif can_manage_consultees %>
              <%= govuk_link_to "Assign consultee", main_app.new_planning_application_consultee_path(planning_application, constraint: constraint) %>
            <% else %>
              &ndash;
            <% end %>
          <% end %>

          <% row.with_cell(classes: "consultee-table__status-cell") do %>
            <% if assigned_consultees.any? %>
              <ul class="govuk-list consultee-status-list">
                <% assigned_consultees.each do |consultee| %>
                  <li class="consultee-status-list__item">
                    <%= render StatusTags::BaseComponent.new(status: consultee.status) %>
                  </li>
                <% end %>
              </ul>
            <% else %>
              <ul class="govuk-list consultee-status-list">
                <li class="consultee-status-list__item">
                  <%= render StatusTags::BaseComponent.new(status: "not_assigned") %>
                </li>
              </ul>
            <% end %>

            <% unless constraint.consultation_required? %>
              <div class="consultee-status-list__constraint-status">
                <%= render StatusTags::BaseComponent.new(status: "not_required") %>
              </div>
            <% end %>
          <% end %>

          <% row.with_cell(classes: "consultee-table__action-cell") do %>
            <% if assigned_consultees.any? && can_manage_consultees %>
              <ul class="govuk-list consultee-table__action-list">
                <% assigned_consultees.each do |consultee| %>
                  <% constraint_consultee = constraint_consultees_by_consultee[consultee.id] %>
                  <li class="consultee-table__action-item" id="remove-consultee-<%= constraint_consultee.id %>">
                    <%= govuk_link_to "Remove",
                          main_app.planning_application_consultees_constraint_consultee_path(planning_application, constraint_consultee),
                          method: :delete,
                          class: "consultee-table__action-button",
                          form: {class: "consultee-table__action-form"} %>
                  </li>
                <% end %>
              </ul>
            <% else %>
              &ndash;
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <% consultees_unassigned.find_each do |consultee| %>
        <% body.with_row do |row| %>
          <% row.with_cell(classes: "consultee-table__constraint", text: "Other") %>

          <% row.with_cell do %>
            <ul class="govuk-list consultee-table__consultee-list">
              <li class="consultee-table__consultee-item">
                <span class="consultee-table__consultee-name"><%= consultee.name %></span>
              </li>
            </ul>
          <% end %>

          <% row.with_cell(classes: "consultee-table__status-cell") do %>
            <ul class="govuk-list consultee-status-list">
              <li class="consultee-status-list__item">
                <%= render StatusTags::BaseComponent.new(status: consultee.status) %>
              </li>
            </ul>
          <% end %>

          <% row.with_cell(classes: "consultee-table__action-cell") %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<template data-consultees-target="template">
  <tr class="govuk-table__row just-added">
    <td class="govuk-table__cell consultee-table__constraint">Other</td>
    <td class="govuk-table__cell">
      <ul class="govuk-list consultee-table__consultee-list">
        <li class="consultee-table__consultee-item">
          <span class="consultee-table__consultee-name consultee-name"></span>
        </li>
      </ul>
    </td>
    <td class="govuk-table__cell consultee-table__status-cell">
      <ul class="govuk-list consultee-status-list">
        <li class="consultee-status-list__item consultee-status">
          <span class="govuk-tag govuk-tag--grey">Not consulted</span>
        </li>
      </ul>
    </td>
    <td class="govuk-table__cell consultee-table__action-cell">&ndash;</td>
  </tr>
</template>
