<h3 class="govuk-body">Assign consultees based on identified constraints</h3>
<table class="govuk-table">
  <thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th class="govuk-table__header">Reason/constraint</th>
    <th class="govuk-table__header">Consultees</th>
    <th class="govuk-table__header govuk-!-text-align-right">Status</th>
  </tr>
  </thead>
  <tbody class="govuk-table__body">
  <% @planning_application.planning_application_constraints.each do |constraint| %>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><%= constraint.type_code %></td>
      <td class="govuk-table__cell">
        <% if constraint.consultee.present? %>
          <%= constraint.consultee.name %>
        <% else %>
          <%= link_to "Assign consultee", new_planning_application_consultee_path(@planning_application, constraint: constraint), class: "govuk-link" %>
        <% end %>
      </td>
      <td class="govuk-table__cell">
        <% if constraint.consultee.present? %>
          <%= render StatusTags::BaseComponent.new(status: constraint.consultee.status) %>
        <% else %>
          <%= render StatusTags::BaseComponent.new(status: "not_assigned") %>
        <% end %>
      </td>
    </tr>
  <% end %>
  <% @planning_application.consultation.consultees.unassigned.find_each do |consultee| %>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Other</td>
      <td class="govuk-table__cell">
        <%= consultee.name %>
      </td>
      <td class="govuk-table__cell govuk-table__cell--centred">
        <%= render StatusTags::BaseComponent.new(status: consultee.status) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<template id="consultee-template" data-consultees-target="template">
  <tr class=" govuk-table__row just=added">
    <td class=" govuk-table__cell ">Other</td>
    <td class=" govuk-table__cell consultee-name">
    <td class=" govuk-table__cell consultee-status">
      <span class="govuk-tag govuk-tag--grey"><%= "Not consulted" %></span>
    </td>
  </tr>
</template>
