<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds" id="dates-and-assignment-details">
    <% if @planning_application.consultation&.end_date %>
      <% if display_or_publish_required?(@planning_application, :site) %>
        <div id="confirm-site-notice-warning">
          <%= render(
                partial: "shared/warning_text",
                locals: {message: link_to("Confirm site notice display date", edit_planning_application_site_notice_path(@planning_application, @planning_application.site_notice))}
              ) %>
        </div>
      <% end %>

      <% if display_or_publish_required?(@planning_application, :press) %>
        <div id="confirm-press-notice-warning">
          <%= render(
                partial: "shared/warning_text",
                locals: {message: govuk_link_to("Confirm press notice publication date", planning_application_press_notice_confirmation_path(@planning_application))}
              ) %>
        </div>
      <% end %>
    <% end %>

    <% if @planning_application.in_progress? %>
      <p class="govuk-body">
        Assigned to: <strong><%= @planning_application.user&.name || "Unassigned" %></strong>
        <!-- FIXME: make the link explicit and remove the span (i.e "Assign application"/"Change assignee") -->
        <span class="assignment_cta"><%= govuk_link_to "Change", planning_application_assign_users_path(@planning_application) %></span>
      </p>
    <% elsif @planning_application.determined? %>
      <p class="govuk-body">
        <%= govuk_link_to "View decision notice", decision_notice_planning_application_path(@planning_application) %>
      </p>
    <% end %>

    <% if @planning_application.possibly_immune? %>
      <p class="govuk-body">
        <strong>Note: application may be immune from enforcement</strong>
      </p>
    <% end %>

    <p class="govuk-body">
      Public on BOPS Public Portal: <strong><%= @planning_application.make_public? ? "Yes" : "No" %></strong><span class="assignment_cta"><%= govuk_link_to "Change", make_public_planning_application_path(@planning_application) %></span>
    </p>
  </div>
</div>

<%= render(partial: "shared/dates_panel") %>
