<% error_messages = form.object.errors.messages[attribute] %>
<div class="govuk-form-group <%= "govuk-form-group--error" if error_messages.any?  %>">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="<%= attribute %>-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <%= legend %>
    </legend>
    <div id="<%= attribute %>-hint" class="govuk-hint">
      <%= hint %>
    </div>
    <% error_messages.each do |message| %>
      <p id="<%= attribute %>-error" class="govuk-error-message">
        <span class="govuk-visually-hidden"><%= t(".error") %></span>
        <%= message %>
      </p>
    <% end %>
    <div class="govuk-date-input" id="<%= attribute %>">
      <%= render(
        partial: "shared/date_input_item",
        locals: {
          form: form,
          label: t(".day"),
          field: "#{attribute}_day",
          error: error_messages.any?
        }
      ) %>
      <%= render(
        partial: "shared/date_input_item",
        locals: {
          form: form,
          label: t(".month"),
          field: "#{attribute}_month",
          error: error_messages.any?
        }
      ) %>
      <%= render(
        partial: "shared/date_input_item",
        locals: {
          form: form,
          label: t(".year"),
          field: "#{attribute}_year",
          error: error_messages.any?
        }
      ) %>
    </div>
  </fieldset>
</div>
