<% error_messages = form.object.errors.messages[attribute] %>
<div class="govuk-form-group <%= "govuk-form-group--error" if error_messages.any?  %>">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="<%= attribute %>-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <%= legend %>
    </legend>
    <div id="<%= attribute %>-hint" class="govuk-hint">
      <%= hint %>
    </div>
    <% error_messages.each do |message| %>
      <p id="<%= attribute %>-error" class="govuk-error-message">
        <span class="govuk-visually-hidden"><%= t(".error") %></span>
        <%= message %>
      </p>
    <% end %>
    <div class="govuk-date-input" id="<%= attribute %>">
      <% %i[day month year].each do |value| %>
        <%= render(
          partial: "shared/date_input_item",
          locals: {
            form: form,
            label: t(".#{value}"),
            field: "#{attribute}_#{value}",
            error: error_messages.any?
          }
        ) %>
      <% end %>
    </div>
  </fieldset>
</div>
