<div class="govuk-accordion__section">
  <div class="govuk-accordion__section-header">
    <h3 class="govuk-accordion__section-heading">
      <!-- We have removed aria controls due to a problem with the default npm gov-uk functionality, which forces accordions to stay open by using the aria controls classes to setState in the browser, and force them open.
      Our research suggests this makes the website harder to use as there is too much information on the screen overwhelming the user.
      For now we are removing these until we create our own version of the gov-uk library that stops the behaviour of forcing accordions open. -->
      <button type="button" id="accordion-default-heading-4" aria-controls="" class="govuk-accordion__section-button"
        aria-expanded="true">
        Documents
      </button>
      <span class="govuk-accordion__icon" aria-hidden="true"></span>
    </h3>
  </div>
  <div class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
    <p class="govuk-body">
      <%= link_to "Manage documents", planning_application_documents_path(@planning_application) %>
    </p>

      <div class="scroll-docs">
        <% filter_current(@planning_application.documents).each do |document| %>
          <hr>
        <div class="govuk-grid-row">
          <main class="govuk-main-wrapper">
          <div class="govuk-grid-column-one-third">
            <p class="govuk-body govuk-!-margin-bottom-1">
              <%= link_to image_tag(document.file.representation(resize: "200x110")),
              url_for_document(document), target: :_blank %>
            </p>
            <p class="govuk-body">
              <%= link_to "View in new window", url_for_document(document), target: :_blank %>
            </p>
          </div>

          <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
            <% if document.tags.present? %>
              <p class="govuk-body">
                <% document.tags.each do |tag| %>
                  <% if is_plan_tag(tag) %>
                    <strong class="govuk-tag govuk-tag--turquoise"><%= tag %></strong>
                  <% end %>
                <% end %>
              </p>
              <% document.tags.each do |tag| %>
                <% if is_evidence_tag(tag) %>
                  <p class="govuk-body">
                    <strong class="govuk-tag govuk-tag--turquoise">EVIDENCE</strong> <strong class="govuk-tag govuk-tag--turquoise"><%= tag  %></strong><br/>
                  </p>
                <% end %>
              <% end %>
            <% end %>
            <p class="govuk-body govuk-!-margin-bottom-1">
              File name: <%= document.name %>
            </p>
            <p class="govuk-body govuk-!-margin-bottom-1">
              Date received: <%= document.created_at.strftime('%d %b %Y') %>
            </p>
            <% if document.numbers.present? %>
              <p class="govuk-body govuk-!-margin-bottom-1">
                Document reference(s): <%= document.numbers %>
              </p>
              <p class="govuk-body govuk-!-margin-bottom-1">
                Included in decision notice: <%= document.referenced_in_decision_notice? ? "Yes" : "No" %>
              </p>
              <p class="govuk-body govuk-!-margin-bottom-1">
                Public: <%= document.publishable? ? "Yes" : "No" %>
              </p>
            <% end %>
          </div>
        </main>
        </div>
        <% end %>
      </div>

  </div>
</div>

