<% if locals[:geojson].present? %>
  <div class="map">
    <div id="<%= locals[:div_id] %>" style="width: 550px; height: 400px;"></div>
  </div>

  <script>
      var <%= locals[:div_id] %>Map = L.map(<%= locals[:div_id] %>, {minZoom: 8, maxZoom: 22});
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
          maxZoom: 22,
          maxNativeZoom: 19
      }).addTo(<%= locals[:div_id] %>Map);

      var boundary = L.geoJSON(<%= JSON.parse(locals[:geojson]).to_json.html_safe %>, {
          "color": "#DC143C",
          "weight": 3,
          "dashArray": [12,12],
          "fill": false,
          "opacity": 1
      }).addTo(<%= locals[:div_id] %>Map);

      <%= locals[:div_id] %>Map.fitBounds(boundary.getBounds(), {padding: [50, 50]});
  </script>
<% end %>
