<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds" id="planning-application-details">
    <% if local_assigns.fetch(:heading, nil).present? %>
      <h1 class="govuk-heading-l"><%= heading %></h1>
      <p class="govuk-body">
        <strong><%= @planning_application.full_address %></strong>
        <br>
        <%= t(".application_number") %> <strong><%= @planning_application.reference  %></strong>
      </p>
    <% else %>
      <span class="govuk-caption-l"><%= t(".application_number") %> <%= @planning_application.reference %></span>
      <h1 class="govuk-heading-l"><%= @planning_application.full_address %></h1>
    <% end %>

    <p class="govuk-body"><%= @planning_application.status_tag %></p>

    <% if @planning_application.closed? %>
      <p class="govuk-body">
        <strong>Reason for being closed:</strong>
        <%= render(FormattedContentComponent.new(text: @planning_application.closed_or_cancellation_comment)) %>
      </p>
    <% end %>

    <p class="govuk-body">
      <%= @planning_application.type_and_work_status %>: <%= @planning_application.description %>
    </p>

    <p class="govuk-body">
      <%= @planning_application.next_relevant_date_tag %>

      <% if @planning_application.in_progress? %>
        <span class="govuk-!-margin-left-1">
          <%= @planning_application.remaining_days_status_tag %>
        </span>
      <% end %>
    </p>

    <% if @planning_application.in_progress? %>
      <p class="govuk-body">
        Assigned to: <strong><%= @planning_application.user&.name || "Unassigned" %></strong>
        <!-- FIXME: make the link explicit and remove the span (i.e "Assign application"/"Change assignee") -->
        <span class="assignment_cta"><%= link_to "Change", assign_planning_application_path(@planning_application), class: "govuk-link" %></span>
      </p>
    <% elsif @planning_application.determined? %>
      <p class="govuk-body">
        <%= link_to "View decision notice", decision_notice_planning_application_path(@planning_application), class: "govuk-link" %>
      </p>
    <% end %>
  </div>
</div>
