<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds" id="planning-application-details">
    <% if local_assigns.fetch(:heading, nil).present? %>
      <h1 class="govuk-heading-l"><%= heading %></h1>
      <% if @planning_application.from_production %>
        <p>
          <span class="govuk-tag govuk-tag--yellow">From production</span>
        </p>
      <% end %>
      <p>
        <strong><%= @planning_application.full_address %></strong>
        <br>
        <%= t(".application_number") %> <strong><%= @planning_application.reference %></strong>
        <% if @planning_application.previous_references.any? %>
          (<%= t(".previously") %>: <strong><%= @planning_application.previous_references.join(", ") %></strong>)
        <% end %>
      </p>
    <% else %>
      <span class="govuk-caption-l"><%= t(".application_number") %><%= @planning_application.reference %></span>
      <h1 class="govuk-heading-l"><%= @planning_application.full_address %></h1>
    <% end %>

    <div id="planning-application-statuses-tags">
      <p>
        <% if @planning_application.appeal&.persisted? %>
          <%= @planning_application.appeal_status_tag %>
        <% end %>
        <%= @planning_application.status_tag %>
        <% if @planning_application.in_progress? %>
          <span class="govuk-!-margin-left-1">
            <%= @planning_application.days_status_tag %>
          </span>
        <% end %>

        <% if @planning_application.environment_impact_assessment_required? %>
          <span class="govuk-!-margin-left-1">
            <span class="govuk-tag govuk-tag--yellow">EIA</span>
          </span>
        <% end %>

        <% if @planning_application.appeals? && controller_path == "planning_applications" %>
          <% translation_key, link_path = appeal_link_and_translation(@planning_application) %>
          <span class="govuk-!-margin-left-1">
            <%= govuk_link_to t(translation_key), link_path %>
          </span>
        <% end %>
      </p>
    </div>

    <% if @planning_application.closed? %>
      <p>
        <strong>Reason for being closed:</strong>
        <%= render(FormattedContentComponent.new(text: @planning_application.closed_or_cancellation_comment)) %>
      </p>
    <% end %>

    <p>
      <%= @planning_application.description %>
    </p>
  </div>
</div>
