<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds" id="planning-application-details">
    <% if local_assigns.fetch(:heading, nil).present? %>
      <h1 class="govuk-heading-l"><%= heading %></h1>
      <% if @planning_application.from_production %>
        <p class="govuk-tag govuk-tag--yellow">From production</p>
      <% end %>
      <p class="govuk-body">
        <strong><%= @planning_application.full_address %></strong>
        <br>
        <%= t(".application_number") %> <strong><%= @planning_application.reference  %></strong>
      </p>
    <% else %>
      <span class="govuk-caption-l"><%= t(".application_number") %> <%= @planning_application.reference %></span>
      <h1 class="govuk-heading-l"><%= @planning_application.full_address %></h1>
    <% end %>

    <p class="govuk-body"><%= @planning_application.status_tag %></p>

    <% if @planning_application.closed? %>
      <p class="govuk-body">
        <strong>Reason for being closed:</strong>
        <%= render(FormattedContentComponent.new(text: @planning_application.closed_or_cancellation_comment)) %>
      </p>
    <% end %>

    <p class="govuk-body">
      <%= @planning_application.type_and_work_status %>: <%= @planning_application.description %>
    </p>
  </div>
</div>
