<p class="govuk-body">
  <% if @planning_application.in_progress? %>
    <strong class="govuk-tag govuk-tag--<%= display_status(@planning_application)[:color] %>">
      <%= display_status(@planning_application)[:decision] %>
    </strong>
    <span class="planning_application_status">Due: <%= @planning_application.target_date.strftime("%d %B %Y") %> - <%= @planning_application.days_left %> days
      remaining
    </span>
  <% elsif @planning_application.determined?%>
    <strong class="govuk-tag govuk-tag--<%= display_status(@planning_application)[:color] %>">
      <%= display_status(@planning_application)[:decision] %>&nbsp;
    </strong>
    <span class="planning_application_status">
      <%= @planning_application.determined_at.strftime("%d %B %Y") %>
    </span>
  <% else %>
    <strong class="govuk-tag govuk-tag--<%= display_status(@planning_application)[:color] %>">
      <%= display_status(@planning_application)[:decision] %>&nbsp;
    </strong>
    <span class="planning_application_status">
      <%= cancelled_at(@planning_application).strftime("%d %B %Y") %>
    </span><br/><br/>
    <%= @planning_application.cancellation_comment %><br/><br/>
  <% end %>
</p>
