<div class="govuk-button-group">
  <% if local_assigns.fetch(:id, nil) %>
    <%= form.submit(
      t("form_actions.save_and_mark_as_complete"),
      class: "govuk-button",
      data: { module: "govuk-button" },
      disabled: local_assigns.fetch(:disabled, false),
      form: id
    ) %>
    <%= form.submit(
      t("form_actions.save_and_come_back_later"),
      class: "govuk-button govuk-button--secondary",
      data: { module: "govuk-button" },
      disabled: local_assigns.fetch(:disabled, false),
      form: id
    ) %>
  <% else %>
    <%= form.submit(
      t("form_actions.save_and_mark_as_complete"),
      class: "govuk-button",
      data: { module: "govuk-button" },
      disabled: local_assigns.fetch(:disabled, false)
    ) %>
    <%= form.submit(
      t("form_actions.save_and_come_back_later"),
      class: "govuk-button govuk-button--secondary",
      data: { module: "govuk-button" },
      disabled: local_assigns.fetch(:disabled, false)
    ) %>
  <% end %>
  <%= back_link %>
</div>
