<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h3 class="govuk-accordion__section-heading">
        <button type="button" id="accordion-default-heading-1" aria-controls="accordion-default-content-2" class="govuk-accordion__section-button" aria-expanded="false">
          Constraints
        </button>
        <span class="govuk-accordion__icon" aria-hidden="true"></span>
      </h3>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <ul class="govuk-list govuk-list--bullet">
        <li>
          Conservation area
        </li>
        <li>
          Permitted development rights: Active
        </li>
        <li>
          Residential area
        </li>
      </ul>
    </div>
  </div>
  <%= render "shared/proposal_documents" %>
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h3 class="govuk-accordion__section-heading">
        <button type="button" id="accordion-default-heading-1" aria-controls="accordion-default-content-3" class="govuk-accordion__section-button" aria-expanded="false">
          Key application dates
        </button>
        <span class="govuk-accordion__icon" aria-hidden="true"></span>
      </h3>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <p class="govuk-body">
        <strong>Application status:</strong>
        <%= t("#{@planning_application.status}.title") %>
      </p>
      <p class="govuk-body">
        <strong>Application received:</strong>
        <%= @planning_application.created_at.strftime("%e %B %Y") %>
      </p>
      <p class="govuk-body">
        <strong>Validation complete:</strong>
        <%= @planning_application.created_at.strftime("%e %B %Y") %>
      </p>
      <p class="govuk-body">
        <strong>Target date:</strong>
        <%= @planning_application.target_date.strftime("%e %B %Y") %>
      </p>
      <p class="govuk-body">
        <strong>Statutory date:</strong>
        <%= @planning_application.target_date.strftime("%e %B %Y") %>
      </p>
    </div>
  </div>
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <button type="button" id="accordion-default-heading-3" aria-controls="accordion-default-content-4" class="govuk-accordion__section-button" aria-expanded="true">
          Contact information
        </button>
        <span class="govuk-accordion__icon" aria-hidden="true"></span>
      </h2>
    </div>
    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
      <% if @planning_application.agent_first_name %>
        <p class='govuk-body'>
          <strong>Agent: </strong><br>
          <%= @planning_application.agent_first_name %>
          <%= @planning_application.agent_last_name %><br>
          <%= @planning_application.agent_phone %><br>
          <%= @planning_application.agent_email %>
        </p>
      <% end %>
      <% if @planning_application.applicant_first_name %>
        <p class='govuk-body'>
          <strong>Agent: </strong><br>
          <%= @planning_application.applicant_first_name %>
          <%= @planning_application.applicant_last_name %><br>
          <%= @planning_application.applicant_phone %><br>
          <%= @planning_application.applicant_email %>
        </p>
      <% end %>
    </div>
  </div>
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <button type="button" id="accordion-default-heading-4" aria-controls="accordion-default-content-5" class="govuk-accordion__section-button" aria-expanded="true">
          Consultation
        </button>
        <span class="govuk-accordion__icon" aria-hidden="true"></span>
      </h2>
    </div>
    <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
      <p class='govuk-body'>Consultation is not applicable for proposed permitted development.</p>
    </div>
  </div>
</div>
