<div class="govuk-button-group govuk-!-padding-top-8">
  <% if show_continue_link = validation_request.active_closed_fee_item? %>
    <% if form %>
      <%= form.govuk_submit "Continue", class: "govuk-button" %>
    <% else %>
      <%= link_to "Continue", planning_application_validation_fee_items_path(planning_application, validate_fee: "yes"), class: "govuk-button" %>
    <% end %>
  <% end %>
  <%= back_link(classname: "govuk-button #{"govuk-button--secondary" if show_continue_link}") %>

  <% if validation_request.open_or_pending? %>
    <% if planning_application.validation_complete? %>
      <%= cancel_confirmation_request_url(planning_application, validation_request, classname: "govuk-button govuk-button--secondary") %>
    <% end %>

    <% if planning_application.not_started? %>
      <% if local_assigns.fetch(:include_edit, true) %>
        <%= edit_request_url(
          planning_application,
          validation_request,
          classname: "govuk-button govuk-button--secondary"
        ) %>
      <% end %>
      <%= delete_confirmation_request_url(planning_application, validation_request, classname: "govuk-button govuk-button--secondary") %>
    <% end %>
  <% end %>
</div>
