<% redirect_path = local_assigns.fetch(:redirect_to, params[:redirect_to]) %>
<div class="govuk-!-margin-top-3">
  <% if validation_request.open_or_pending? %>
    <% if planning_application.not_started? %>
      <%= delete_confirmation_request_link(planning_application, validation_request, classname: "govuk-button govuk-button--secondary", redirect_to: redirect_path) %>
    <% end %>
  <% end %>
</div>

<div class="govuk-button-group govuk-!-margin-top-4">
  <% if show_continue_link = validation_request.active_closed_fee_item? %>
    <% if form %>
      <%= form.govuk_submit (button_text || "Continue"), class: "govuk-button" %>
    <% else %>
      <%= govuk_button_link_to "Continue", planning_application_validation_fee_items_path(planning_application) %>
    <% end %>
  <% end %>

  <% if local_assigns.fetch(:include_back_link, true) %>
    <%= back_link(classname: "govuk-button govuk-button--secondary") %>
  <% end %>

  <% if validation_request.open_or_pending? %>
    <% if planning_application.validation_complete? %>
      <%= govuk_link_to "Cancel request", cancel_confirmation_planning_application_validation_validation_request_path(planning_application, validation_request, redirect_to: redirect_path), class: "govuk-body" %>
    <% end %>
    <% if planning_application.not_started? %>
      <% if local_assigns.fetch(:include_edit, true) %>
        <%= edit_request_link(
              planning_application,
              validation_request,
              classname: "govuk-body",
              redirect_to: redirect_path
            ) %>
      <% end %>
    <% end %>
  <% end %>
</div>
