<%= render "shared/task_header", task: @task %>

<%= govuk_error_summary(@form) %>

<h3>Red line site boundary on submission</h3>

<% if @form.sitemap_documents.none? %>
  <p>No document has been tagged as a sitemap for this application</p>
  <p>
    <%= govuk_link_to "View all documents", main_app.planning_application_documents_path(@planning_application) %>
  </p>
<% elsif @form.sitemap_documents.one? %>
  <p>This digital red line boundary was submitted by the applicant on PlanX.</p>
  <p>
    <%= govuk_link_to "View sitemap document", main_app.edit_planning_application_document_path(@planning_application, @form.sitemap_documents.first) %>
  </p>
<% else %>
  <p>Multiple documents have been tagged as a sitemap for this application</p>
  <p>
    <%= govuk_link_to "View all documents", main_app.planning_application_documents_path(@planning_application) %>
  </p>
<% end %>

<h3>Draw the red line site boundary</h3>

<div data-controller="unsaved-changes"
     data-action="beforeunload@window->unsaved-changes#handleBeforeUnload">
  <%= form_with model: @form, url: @form.url, method: :patch,
        data: {unsaved_changes_target: "form", action: "submit->unsaved-changes#handleSubmit"} do |form| %>
    <%= form.hidden_field :boundary_geojson, value: @planning_application.boundary_geojson.to_json, id: "planning_application_boundary_geojson" %>
    <%= render "shared/location_map", locals: {geojson: @planning_application.boundary_geojson, geojson_field: "planning_application_boundary_geojson"} %>

    <div class="govuk-!-margin-top-4">
      <%= render "shared/task_submit_buttons", form: form, save_draft: false %>
    </div>
  <% end %>
</div>
