<% content_for :page_title do %>
  <%= t(".title") %> - <%= t("page_title") %>
<% end %>

<% add_parent_breadcrumb_link "Home", root_path %>
<% add_parent_breadcrumb_link "GPDO", gpdo_policy_schedules_path %>
<% add_parent_breadcrumb_link "Schedule #{@schedule.number}", gpdo_policy_schedules_path %>

<% content_for :title, t(".title") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      <%= @schedule.full_name %>
    </h1>
    <p class="govuk-body">
      <%= govuk_button_link_to t(".create_new_part"), new_gpdo_policy_schedule_policy_part_path(@schedule.number, @part) %>
    </p>
    <%= render "table" %>
    <%= govuk_button_link_to t("back"), gpdo_policy_schedules_path, secondary: true %>
  </div>
</div>
