<% content_for :page_title do %>
  <%= t(".title") %> - <%= t("page_title") %>
<% end %>

<% add_parent_breadcrumb_link "GPDO", gpdo_policy_schedules_path %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-m">Schedule <%= @schedule.number %></span>
    <h1>
      <%= @schedule.name %>
    </h1>
    <p>
      <%= govuk_button_link_to t(".create_new"), new_gpdo_policy_schedule_policy_part_path(@schedule.number, @part) %>
    </p>
    <%= render "table" %>
    <%= govuk_button_link_to t("back"), gpdo_policy_schedules_path, secondary: true %>
  </div>
</div>
