<%= form_with model: [@planning_application],
              local: true,
              builder: GOVUKDesignSystemFormBuilder::FormBuilder,
              class: "govuk-!-margin-top-7",
              url:,
              method: method.to_sym do |form| %>
  <%= form.govuk_check_boxes_fieldset :conditions, legend: { text: "Suggested conditions" }, multiple: true do %>
    <%= form.govuk_error_summary(presenter: ErrorPresenter) %>
    <%= form.fields_for :conditions, @conditions do |ff| %>
      <%= ff.govuk_check_box :conditions, true, label: { text: ff.object.title }, checked: @planning_application.conditions.where(text: ff.object.text).any? do %>
        <%= ff.hidden_field :id, value: ff.object.id %>
        <%= ff.govuk_text_area :text, value: ff.object.text %>
        <%= ff.govuk_text_area :reason, value: ff.object.reason %>
      <% end %>
    <% end %>
    <div data-controller="add-condition">
      <h2>Other conditions</h2>
      <%= link_to "+ Add condition", "#", class: "govuk-body govuk-link", "data-action": "click->add-condition#handleClick" %>
    </div>
  <% end %>
  <div class="govuk-button-group">
    <%= form.submit(
          t("form_actions.save_and_mark_as_complete"),
          class: "govuk-button",
          data: { module: "govuk-button" }
        ) %>
    <%= form.submit(
          t("form_actions.save_and_come_back_later"),
          class: "govuk-button govuk-button--secondary",
          data: { module: "govuk-button" }
        ) %>
    <%= back_link %>
  </div>
<% end %>
