<% content_for :page_title do %>
  Add conditions - <%= t("page_title") %>
<% end %>

<%= render(
      partial: "shared/assessment_task_breadcrumbs",
      locals: { planning_application: @planning_application }
    ) %>

<% content_for :title, "Add conditions" %>

<%= render(
      partial: "shared/proposal_header",
      locals: { heading: "Add conditions" }
    ) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render(
          AccordionComponent.new(
            planning_application: @planning_application,
            sections: %w[constraints considerations]
          )
        ) %>

    <% if @conditions.present? %>
      <%= render "conditions" %>
    <% else %>
      <%= render "new" %>
    <% end %>
  </div>
</div>
