<% content_for :page_title do %>
  Assign planning application - <%= t('page_title') %>
<% end %>

<% add_parent_breadcrumb_link "Home", planning_applications_path %>
<% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>

<% content_for :title, "Assign planning application" %>

<%= render(
  partial: "shared/proposal_header",
  locals: { heading: "Assign planning application"  }
) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      Please select the officer you wish to assign this application to.
    </p>
    <%= form_with(
      builder: GOVUKDesignSystemFormBuilder::FormBuilder,
			method: :patch,
			url: planning_application_assign_users_path(@planning_application)) do |form| %>

      <%= form.govuk_fieldset(legend: { text: nil }) do %>
				<%= form.govuk_select :user_id, User.menu(scope = @users), label: nil, options: { selected: @planning_application.user_id } %>		
      <% end %>
      <p>
        <%= form.govuk_submit "Confirm" %>
      </p>
    <% end %>
  </div>
</div>
