<%= form_with model: policy_evaluation, url: planning_application_policy_evaluation_path(@planning_application), local: true, class: "policy_evaluation" do |form| %>
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <h2 class="govuk-heading-m">Permitted development requirements</h2>
      <p class="govuk-body">
        The applicant has submitted the following application. Please review each answer to determine whether what they say and their plans align with the policy questions.
      </p>
      <%= render "policy_consideration_list", policy_considerations: @policy_evaluation.policy_considerations %>
      <p class="govuk-body">
        <br><strong>Have permitted development requirements been met?</strong>
      </p>
      <div class="govuk-radios govuk-radios--small">
        <div class="govuk-radios__item">
          <%= form.radio_button :status, "met", class: "govuk-radios__input" %>
          <%= form.label :status_met, "Yes", class: "govuk-radios__label" %>
        </div>
        <div class="govuk-radios__item">
          <%= form.radio_button :status, "unmet", class: "govuk-radios__input" %>
          <%= form.label :status_unmet, "No", class: "govuk-radios__label" %>
        </div>
      </div>
  </fieldset>
  <%= form.submit "Save", class: "govuk-button", data: { module: "govuk-button" } %>
  </div>
<% end%>
