<% content_for :page_title do %>
  Description - <%= t("page_title") %>
<% end %>

<%= render "planning_applications/validation/validation_requests/validation_requests_breadcrumbs" %>
<% content_for :title, "Description" %>

<%= render(
      partial: "shared/proposal_header",
      locals: {heading: "Check description"}
    ) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <%= render(
        AccordionComponent.new(
          planning_application: @planning_application,
          sections: %i[documents]
        )
      ) %>

    <% if @planning_application.valid_description.nil? || params[:edit] == "true" %>
      <%= form_with model: @planning_application, url: validate_planning_application_validation_description_changes_path(@planning_application) do |form| %>
        <%= form.govuk_radio_buttons_fieldset :valid_description, legend: {text: "Does the description match the development or use in the plans?"} do %>
          <%= form.govuk_radio_button :valid_description, true, label: {text: "Yes"} %>
          <%= form.govuk_radio_button :valid_description, false, label: {text: "No"} %>
        <% end %>

        <div class="govuk-button-group">
          <%= form.govuk_submit("Save and mark as complete") do %>
            <%= govuk_button_link_to("Back", planning_application_validation_tasks_path(@planning_application), secondary: true) %>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <p>
        Description was marked as <%= @planning_application.valid_description? ? "valid" : "invalid" %>
      </p>
      <div class="govuk-button-group">
        <%= govuk_button_link_to "Back", planning_application_validation_tasks_path(@planning_application), secondary: true %>
        <%= govuk_link_to "Edit description", planning_application_validation_description_changes_path(@planning_application, edit: true), class: "govuk-body" %>
      </div>
    <% end %>
  </div>
</div>
