<% content_for :page_title do %>
  Check the description - <%= t('page_title') %>
<% end %>

<%= render "planning_applications/validation/validation_requests/validation_requests_breadcrumbs" %>
<% content_for :title, "Check the description" %>

<%= render(
  partial: "shared/proposal_header",
  locals: { heading: "Check the description" }
) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @planning_application, url: validate_planning_application_validation_description_changes_path(@planning_application) do |form| %>
      <%= form.govuk_radio_buttons_fieldset :valid_description, legend: { text: "Does the description match the development or use in the plans?"} do %>
        <%= form.govuk_radio_button :valid_description, true, label: { text: "Yes"} %>
        <%= form.govuk_radio_button :valid_description, false, label: { text: "No" } %>
      <% end %>

      <div class="govuk-button-group">
        <%= form.submit "Save", class: "govuk-button", data: { module: "govuk-button" } %>

        <%= link_to "Back", planning_application_validation_tasks_path(@planning_application), class: "govuk-button govuk-button--secondary" %>
      </div>
    <% end %>
  </div>
</div>
