<%= form_with model: [@planning_application, @review_policy_guidance],
              url: planning_application_review_policy_guidance_path(@planning_application, @review_policy_guidance),
              builder: GOVUKDesignSystemFormBuilder::FormBuilder,
              class: "govuk-!-margin-top-7" do |form| %>
  <%= form.govuk_error_summary(presenter: ErrorPresenter) %>

  <%= form.govuk_radio_buttons_fieldset :accepted, legend: { text: "Actions" } do %>
    <%= form.govuk_radio_button(
      :accepted, true, disabled: !editable, checked: @review_policy_guidance.accepted && !@review_policy_guidance.reviewer_edited, label: { text: "Accept" }
    ) %>

    <%= form.govuk_radio_button(
      :accepted, true, disabled: !editable, checked: @review_policy_guidance.accepted && @review_policy_guidance.reviewer_edited, label: { text: "Edit to accept", id: "edit-to-accept" }
    ) do %>
      <%= form.govuk_text_area(
        :assessment, readonly: !editable, rows: 6, label: { text: "Update officer comment" }, value: @policy_guidance.assessment
      ) %>
    <% end %>

    <%= form.govuk_radio_button(
      :accepted, false, disabled: !editable, checked: !@review_policy_guidance.accepted && @review_policy_guidance.reviewer_comment?, label: { text: "Return to officer with comment" }
    ) do %>
      <%= form.govuk_text_area(
        :reviewer_comment, readonly: !editable, rows: 6, label: { text: "Comment" }
      ) %>
    <% end %>
  <% end %>

  <div class="govuk-button-group">
    <% if editable %>
      <%= form.submit "Save and mark as complete", class: "govuk-button", data: { module: "govuk-button" } %>
      <%= form.submit "Save and come back later", class: "govuk-button govuk-button--secondary", data: { module: "govuk-button" } %>
    <% end %>

    <%= back_link %>

    <% if !editable %>
      <%= link_to "Edit review policy guidance", edit_planning_application_review_policy_guidance_path(@planning_application, @review_policy_guidance), class: "govuk-link" %>
    <% end %>
  </div>
<% end %>
