<% content_for :page_title do %>
  Review informatives - <%= t("page_title") %>
<% end %>

<%= render(
      partial: "shared/review_task_breadcrumbs",
      locals: {planning_application: @planning_application}
    ) %>

<% content_for :title, "Review informatives" %>

<%= render(
      partial: "shared/proposal_header",
      locals: {heading: "Review informatives"}
    ) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <% if @informatives.any? %>
      <ol class="govuk-list">
        <% @informatives.each do |informative| %>
          <%= content_tag :li, id: dom_id(informative) do %>
            <div data-controller="max-lines">
              <span class="govuk-caption-m">Informative <%= informative.position %></span>
              <h2 class="govuk-heading-m"><%= informative.title %></h2>
              <%= render(FormattedContentComponent.new(text: informative.text, classname: "scrollable")) %>
            </div>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
          <% end %>
        <% end %>
      </ol>
    <% else %>
      <p class="govuk-body">
        <strong>No informatives added</strong>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </p>
    <% end %>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-5">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @review, url: planning_application_review_informatives_path(@planning_application), html: {inert: true} do |form| %>
      <%= form.govuk_error_summary %>

      <%= form.govuk_radio_buttons_fieldset :languages, legend: {text: "Do you accept the assessment against informatives?", size: "m"} do %>
        <%= form.govuk_radio_button :action, "accepted", label: {text: "Yes"}, disabled: true %>
        <%= form.govuk_radio_button :action, "rejected", label: {text: "No"}, disabled: true do %>
          <%= form.govuk_text_area :comment, label: {text: "Enter comment"}, disabled: true %>
        <% end %>
      <% end %>
    <% end %>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
      <%= t(".actions.#{@review.action}") %>
    </h2>
    <p class="govuk-body govuk-!-margin-bottom-7">
      <% if @review.reviewer.present? %>
        <%= time_tag(@review.reviewed_at, title: @review.reviewed_at.iso8601) do %>
          <%= t(".review_info", reviewer: @review.reviewer.name, reviewed_on: @review.reviewed_at.to_date.to_fs) %>
        <% end %>
      <% else %>
        Reviewer information not available
      <% end %>
    </p>

    <div class="govuk-button-group">
      <%= govuk_button_link_to(t("back"), planning_application_review_informatives_path(@planning_application), secondary: true) %>
      <%= govuk_link_to("Edit review informatives", edit_planning_application_review_informatives_path(@planning_application), secondary: true) %>
    </div>
  </div>
</div>
