<%= bops_task_accordion(id: "review-conditions-section") do |accordion| %>
  <% accordion.with_heading(text: "Review conditions") %>
  <% if @planning_application.review_heads_of_terms? %>
    <% accordion.with_section(id: "review-heads-of-terms", expanded: @planning_application.heads_of_term.errors.any?) do |section| %>
      <%= section.with_heading(text: "Review heads of terms") %>
      <%= section.with_status do %>
        <%= render(StatusTags::ReviewComponent.new(review_item: @planning_application.heads_of_term.current_review)) %>
      <% end %>
      <% section.with_block do %>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <%= render "planning_applications/review/heads_of_terms/terms_summary" %>

            <h3 class="govuk-heading-s">
              Submitted recommendation
            </h3>
            <p class="govuk-body">
              by <%= @planning_application.user&.name %>, <%= @planning_application.in_assessment_at.to_fs %>
            </p>

            <%= render(ReviewerCommentComponent.new(comment: @planning_application.heads_of_term.current_review)) %>
          </div>
        </div>
      <% end %>
      <%= section.with_footer do %>
        <%= render(partial: "planning_applications/review/heads_of_terms/form",
              locals: {heads_of_term: @planning_application.heads_of_term}) %>
      <% end %>
    <% end %>
  <% end %>

  <% if @planning_application.possibly_immune? && @planning_application.immunity_detail.reviews.evidence.any? %>
    <%= accordion.with_section(id: "review-immunity-details", expanded: @planning_application.immunity_detail.current_evidence_review_immunity_detail.errors.any?) do |section| %>
      <% section.with_heading(text: "Review evidence of immunity") %>

      <% section.with_status do %>
        <%= render(
              StatusTags::ReviewComponent.new(
                review_item: @planning_application.immunity_detail.current_evidence_review_immunity_detail
              )
            ) %>
      <% end %>

      <% section.with_block do %>
        <%= render(PlanningApplications::ImmunityDetailsComponent.new(immunity_details: @planning_application.immune_proposal_details)) %>

        <%= govuk_link_to "Show evidence", planning_application_review_immunity_detail_path(@planning_application, @planning_application.immunity_detail.current_evidence_review_immunity_detail) %>
      <% end %>

      <% section.with_footer(id: "review-immunity-details-form") do %>
        <%= render(partial: "planning_applications/review/immunity_details/form") %>
      <% end %>
    <% end %>
  <% end %>

  <% if @planning_application.possibly_immune? && @planning_application.immunity_detail.reviews.enforcement.any? %>
    <%= accordion.with_section(id: "review-immunity-enforcements", expanded: @planning_application.immunity_detail.current_enforcement_review_immunity_detail.errors.any?) do |section| %>
      <% section.with_heading(text: "Review assessment of immunity") %>

      <% section.with_status do %>
        <%= render(
              StatusTags::ReviewComponent.new(
                review_item: @planning_application.immunity_detail.current_enforcement_review_immunity_detail
              )
            ) %>
      <% end %>

      <% section.with_block do %>
        <%= render(partial: "planning_applications/review/immunity_enforcements/details") %>
      <% end %>

      <% section.with_footer(id: "review-immunity-enforcements-form") do %>
        <%= render(partial: "planning_applications/review/immunity_enforcements/form") %>
      <% end %>
    <% end %>
  <% end %>

  <% if @planning_application.check_permitted_development_rights? &&  @planning_application.permitted_development_right_in_progress? %>
    <% @permitted_development_right ||= @planning_application.permitted_development_right %>
    <% accordion.with_section(id: "review-permitted-development-rights", expanded: @permitted_development_right.errors.any?) do |section| %>
      <%= section.with_heading(text: "Review permitted development rights") %>
      <% section.with_status do %>
        <%= render(
              StatusTags::ReviewComponent.new(
                review_item: @permitted_development_right,
                updated: @permitted_development_right.status == "updated"
              )
            ) %>
      <% end %>
      <% section.with_block do %>
        <%= render(partial: "planning_applications/review/permitted_development_rights/summary") %>
      <% end %>
      <% section.with_footer(id: "review-permitted-development-rights-form") do %>
        <%= render(partial: "planning_applications/review/permitted_development_rights/form") %>
      <% end %>
    <% end %>
  <% end %>

  <% if @planning_application.application_type.planning_conditions? %>
    <% if @planning_application.condition_set&.current_review&.started? %>
      <%= accordion.with_section(id: "review-conditions", expanded: @planning_application.condition_set.errors.any?) do |section| %>
        <% section.with_heading(text: "Review conditions") %>

        <% section.with_status do %>
          <%= render(
                StatusTags::ReviewComponent.new(
                  review_item: @planning_application.condition_set.current_review,
                  updated: @planning_application.condition_set.current_review&.status == "updated"
                )
              ) %>
        <% end %>

        <% section.with_block do %>
          <%= render(partial: "planning_applications/review/conditions/conditions_table") %>
        <% end %>

        <% section.with_footer(id: "review-conditions-form") do %>
          <%= render(partial: "planning_applications/review/conditions/form") %>
        <% end %>
      <% end %>
    <% end %>
    <% if @planning_application.pre_commencement_condition_set&.current_review&.started? %>
      <%= accordion.with_section(id: "review-pre-commencement-conditions", expanded: @planning_application.pre_commencement_condition_set.errors.any?) do |section| %>
        <% section.with_heading(text: "Review pre-commencement conditions") %>

        <% section.with_status do %>
          <%= render(
                StatusTags::ReviewComponent.new(
                  review_item: @planning_application.pre_commencement_condition_set.current_review,
                  updated: @planning_application.pre_commencement_condition_set.current_review&.status == "updated"
                )
              ) %>
        <% end %>

        <% section.with_block do %>
          <%= render(partial: "planning_applications/review/pre_commencement_conditions/table") %>
        <% end %>

        <% section.with_footer(id: "review-pre-commencement-form") do %>
          <%= render(partial: "planning_applications/review/pre_commencement_conditions/form") %>
        <% end %>
      <% end %>
      <%= render(
            TaskListItems::Reviewing::ConditionsComponent.new(
              condition_set: @planning_application.pre_commencement_condition_set
            )
          ) %>
    <% end %>
  <% end %>

  <% if @planning_application.application_type.informatives? %>
    <% if @planning_application.informative_set&.current_review&.started? %>
      <%= render "planning_applications/review/tasks/review_informatives",
            accordion: accordion,
            current_review: @planning_application.informative_set.current_review,
            informatives: @planning_application.informative_set.informatives %>
    <% end %>
  <% end %>

  <% if @planning_application.consideration_set.current_review.started? %>
    <%= render "planning_applications/review/tasks/review_considerations",
          accordion: accordion,
          current_review: @planning_application.consideration_set.current_review,
          considerations: @planning_application.consideration_set.considerations %>
  <% end %>
<% end %>

<ul class="app-task-list__items">
  <% if @planning_application.application_type.assess_against_policies? %>
    <li class="app-task-list__item" id="review-policy-classes">
      <span class="app-task-list__task-name">
        <%= govuk_link_to "Review assessment against legislation", planning_application_review_policy_areas_policy_classes_path(@planning_application) %>
      </span>
    </li>
  <% end %>

  <%= render "planning_applications/review/tasks/sign_off_recommendation" %>
</ul>
