<% content_for :page_title do %>
  Review and sign-off - <%= t("page_title") %>
<% end %>

<% add_parent_breadcrumb_link "Home", root_path %>
<% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>
<% content_for :title, t(".review_and_sign_off") %>

<%= render(
      partial: "shared/proposal_header",
      locals: {heading: t(".review_and_sign_off")}
    ) %>

<%= render "shared/dates_and_assignment_header" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render(
          SiteMapComponent.new(
            planning_application: @planning_application
          )
        ) %>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-0 govuk-!-margin-top-5">
  <div class="govuk-grid-column-full">
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <%= govuk_tabs do |tabs| %>
        <% tabs.with_tab(label: @planning_application.constraints_checked? ? "Constraints (#{@planning_application.planning_application_constraints.count})" : "Constraints (0)", id: "constraints")  do %>
          <h2 class="govuk-heading-m"><%= @planning_application.constraints_checked? ? "Constraints (#{@planning_application.planning_application_constraints.count})" : "Constraints (0)" %></h2>
          <%= render(
                partial: "planning_applications/validation/constraints/table",
                locals: {
                  title: "Identified constraints",
                  identifier: "identified",
                  planning_application_constraints: @planning_application.planning_application_constraints,
                  show_source: true,
                  show_entity: true,
                  show_action: false
                }
              ) %>
        <% end %>
        <% if @planning_application.application_type.consultation? %>
          <% tabs.with_tab(label: (@planning_application.consultation.neighbour_responses&.count.to_i > 0) ? "Neighbours (#{@planning_application.consultation.neighbour_responses.count})" : "Neighbours (0)", id: "neighbours")  do %>
            <h2 class="govuk-heading-m"><%= (@planning_application.consultation.neighbour_responses&.count.to_i > 0) ? "Neighbours (#{@planning_application.consultation.neighbour_responses.count})" : "Neighbours (0)" %></h2>
            <p class="govuk-body">
              <%= govuk_link_to "Show details", planning_application_consultation_neighbour_responses_path(@planning_application) %>
            </p>
          <% end %>
          <% tabs.with_tab(label: (@planning_application.consultation.consultees&.count.to_i > 0) ? "Consultees (#{@planning_application.consultation.consultees.count})" : "Consultees (0)", id: "consultees")  do %>
            <h2 class="govuk-heading-m"><%= (@planning_application.consultation.consultees&.count.to_i > 0) ? "Consultees (#{@planning_application.consultation.consultees.count})" : "Consultees (0)" %></h2>
            <p class="govuk-body">
              <%= govuk_link_to "Show details", planning_application_consultees_responses_path(@planning_application) %>
            </p>
          <% end %>
        <% end %>
        <% tabs.with_tab(label: (@planning_application&.documents&.count.to_i > 0) ? "Documents (#{@planning_application.documents.count})" : "Documents (0)", id: "documents")  do %>
          <h2 class="govuk-heading-m"><%= (@planning_application&.documents&.count.to_i > 0) ? "Documents (#{@planning_application.documents.count})" : "Documents (0)" %></h2>
          <p class="govuk-body">
            <%= govuk_link_to "Show details", planning_application_documents_path(@planning_application) %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<% if @planning_application.application_type.consultation? %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <%= render "review_consultation" %>
    </div>
  </div>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render "review_assessment" %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render(Reviewing::Tasks::AfterSignOffComponent.new(planning_application: @planning_application)) %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-margin-top-5">
      <%= t(".application_details") %>
    </h2>

    <%= render(
          AccordionComponent.new(
            planning_application: @planning_application,
            sections: %w[application_information pre_assessment_outcome proposal_details]
          )
        ) %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render(Reviewing::Tasks::ButtonGroupComponent.new(planning_application: @planning_application)) %>
  </div>
</div>
