<table class="govuk-table">
  <%= render(
    partial: "shared/policy_classes/table_head",
    locals: { policy_class: policy_class }
  ) %>
  <tbody class="govuk-table__body">
    <% policies.each do |policy| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <h3 class="govuk-heading-s">
            <%= "#{policy_class.section}.#{policy.section}" %>
          </h3>
          <p class="govuk-body">
            <%= auto_link_and_simple_format_content(content: policy.description) %>
          </p>
          <%= render(
            partial: local_assigns.fetch(
              :comment_partial,
              "shared/policy_classes/comment"
            ),
            locals: {
              planning_application: planning_application,
              policy_class: policy_class,
              policy: policy,
              comment: policy.comment,
              new_comment: policy.comments.new
            }
          ) %>
        </td>
        <% Policy.statuses.each_key do |status| %>
          <td class="govuk-table__cell">
            <% if policy.status == status %>
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios govuk-radios--small">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" type="radio" checked="checked" disabled="disabled" name=<%= dom_id(policy) %>>
                        <label class="govuk-label govuk-radios__label" for=<%= dom_id(policy) %>>
                        </label>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
