<% content_for :page_title do %>
  <%= t(".title") %> - <%= t("page_title") %>
<% end %>

<% content_for :title, t(".breadcrumb") %>

<%= render(partial: "shared/assessment_task_breadcrumbs", locals: {planning_application: @planning_application}) %>
<%= render(partial: "shared/proposal_header", locals: {heading: t(".title")}) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m"><%= t(".heading") %></h2>

    <%= render(partial: "shared/warning_text", locals: {message: t(".warning")}) %>

    <p class="govuk-body">
      If a neighbour has objected, assess how the proposal may impact on the existing amenity.
    </p>

    <p class="govuk-body">
      You should consider:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Privacy</li>
      <li>Daylight and sunlight</li>
      <li>Outlook</li>
      <li>Noise</li>
    </ul>

    <%= form_with model: [@planning_application, :assessment, @assessment_detail] do |form| %>
      <%= form.govuk_error_summary %>

      <%= form.govuk_text_area(:entry, label: nil, rows: 10) %>
      <%= form.hidden_field(:category, value: @category) %>

      <%= render(partial: "shared/submit_buttons", locals: {form: form}) %>
    <% end %>
  </div>
</div>
