<% if planning_application.user_role? %>
  <p class="govuk-body">
    <strong><%= t(".applicant_role_type") %></strong><br>
    <%= planning_application.user_role %>
  </p>
<% end %>
<% if planning_application.agent? %>
  <p class="govuk-body">
    <strong><%= t(".agent") %></strong><br>
    <% planning_application.agent_contact_details.each do |detail| %>
      <%= detail %><br/>
    <% end %>
  </p>
<% end %>
<% if planning_application.applicant? %>
  <p class="govuk-body">
    <strong><%= t(".applicant") %></strong><br/>
    <% planning_application.applicant_contact_details.each do |detail| %>
      <%= detail %><br/>
    <% end %>
  </p>
<% end %>
