<% if planning_application.result_present? %>
  <% if planning_application.result_flag.present? %>
    <h3>
      <%= planning_application.result_flag %>
    </h3>
  <% end %>
  <% if planning_application.address_or_boundary_or_constraints_updated? %>
    <%= govuk_warning_text(text: t(".this_application_has")) %>
  <% end %>
  <%= render(
        AccordionSections::FeedbackComponent.new(
          feedback: planning_application.feedback["result"],
          warning_message: t(".the_applicant_or")
        )
      ) %>
  <% if planning_application.result_heading.present? %>
    <%= render(
          FormattedContentComponent.new(
            text: planning_application.result_heading,
            classname: "govuk-body govuk-!-font-weight-bold"
          )
        ) %>
  <% end %>
  <% if planning_application.result_description.present? %>
    <%= render(FormattedContentComponent.new(text: planning_application.result_description)) %>
  <% end %>
  <% if planning_application.result_override.present? %>
    <p>
      <%= t(".the_applicant_believes_html") %>
    </p>
    <div class="govuk-inset-text">
      <p>
        <%= planning_application.result_override %>
      </p>
    </div>
  <% end %>
  <% if proposal_details.any? %>
  <p>
    <strong><%= t(".details_identified_as") %></strong>
  </p>
  <ol class="govuk-list">
    <li>
      <% proposal_details.each do |proposal_detail| %>
      <h3>
        <%= proposal_detail.index %>.
        <%= proposal_detail.question %>
      </h3>
      <p>
        <% proposal_detail.response_values.each do |response| %>
          <%= response %>
        <% end %>
      </p>
      <% end %>
    </li>
  </ol>
  <% end %>
<% else %>
  <p>
    <strong><%= t(".no_result") %></strong><br>
    <%= t(".the_application_was") %>
  </p>
<% end %>
