<h4 class="govuk-body policy-class-title">
  <%= link_to(
    t(".policy_class_name", part: part, class: section, name: name),
    default_path,
    class: "govuk-link"
  ) %>
</h4>
<p class="govuk-body"><strong><%= policies_summary %></strong></p>
<% if policies.to_be_determined.none? %>
  <% policies.does_not_comply.each do |policy| %>
    <div class="policy">
      <h5 class="govuk-heading-s"><%= "#{section}.#{policy.section}" %></h5>
      <p class="govuk-body policy-description"><%= policy.description %></p>
      <p class="govuk-body"><strong><%= t(".does_not_comply") %></strong></p>
    </div>
  <% end %>
<% end %>

<% if policies.commented_or_does_not_comply.any? %>
  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        <%= "View commented legislation for class #{section}" %>
      </span>
    </summary>
    <div class="govuk-details__text">
      <%= render(
        partial: "policy_classes/table",
        locals: {
          planning_application: planning_application,
          policy_class: @policy_class,
          policies: @policy_class.policies.commented_or_does_not_comply,
        }
       )
      %>
    </div>
  </details>
<% end %>
