<% content_for :page_title do %>
  Time extension request - <%= t("page_title") %>
<% end %>

<% add_parent_breadcrumb_link "Home", root_path %>
<% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>
<% content_for :title, "Time extension request" %>

<%= render(
      partial: "shared/proposal_header",
      locals: {heading: "Time extension request"}
    ) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group">
      <%= form_with model: [@planning_application, :validation, @validation_request], scope: :validation_request do |form| %>
        <% if @validation_request.errors.any? %>
          <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
              There is a problem
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                <% @validation_request.errors.full_messages.each do |error| %>
                  <li><%= error %></li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
        <%= form.hidden_field(:type, value: "TimeExtensionValidationRequest") %>

        <%= form.govuk_date_field :proposed_expiry_date, legend: {text: "Enter the proposed expiry date"}, hint: {text: "The proposed date must be after the planning application's current expiry date"} %>
        <%= form.govuk_text_area :reason,
              label: {text: "Enter a reason for the request", class: "govuk-label govuk-label--s"},
              rows: 5 %>
        <% if @planning_application.not_started? %>
          <%= form.hidden_field(:return_to, value: planning_application_validation_tasks_path(@planning_application)) %>
        <% else %>
          <%= form.hidden_field(:return_to, value: @back_path) %>
        <% end %>
        <div class="govuk-button-group">
          <%= form.govuk_submit "Send" %>
          <%= back_link %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-4 govuk-!-margin-top-2">
  <hr>
</div>

<%= render(
      partial: "activity_log",
      locals: {validation_requests: @planning_application.time_extension_validation_requests}
    ) %>
