<% content_for :page_title do %>
  Time extension validation request - <%= t('page_title') %>
<% end %>

<% add_parent_breadcrumb_link "Home", root_path %>
<% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>
<% content_for :title, "Time extension request" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Review time extension request
    </h1>
    <p class="govuk-body">
      <strong>At:</strong> <%= @planning_application.full_address  %> <br>
      <strong>Date received:</strong> <%= @planning_application.received_at.to_date.to_fs %> <br>
      <strong>Application number:</strong> <%= @planning_application.reference  %>
    </p>

    <div>
      <p class="govuk-body"> <strong> Previous expiry date:</strong><br>
        <%= @planning_application.expiry_date.strftime("%-d %B %Y")  %>
      </p>
      <p class="govuk-body"> <strong> Proposed expiry date:</strong><br>
        <%= @validation_request.proposed_expiry_date.to_fs %>
      </p>
    </div>
    <p class="govuk-body">
      <% if @validation_request.open? %>
        Sent on <%= @validation_request.created_at.to_date.to_fs %>. Agent or applicant has not yet responded.
      <% else %>
        <%= @validation_request.approved? ? 'Approved' : 'Rejected' %>
      <% end %>
    </p>

    <% if @validation_request.open? %>
      <%= form_with(
        model: [@planning_application, @validation_request],
        url: cancel_planning_application_validation_validation_request_path(
          @planning_application,
          @validation_request
        ),
        scope: :validation_request,
        method: :patch
      ) do |form| %>
        <%= form.hidden_field(:return_to, value: @back_path) %>
        <div class="govuk-button-group">
          <%= link_to("Back", @back_path, class: "govuk-button") %>
          <%= form.submit(
            "Cancel this request",
            class: "govuk-button govuk-button--secondary"
          ) %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
