<% content_for :page_title do %>
  Site visit - <%= t('page_title') %>
<% end %>

<% add_parent_breadcrumb_link "Home", root_path %>
<% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>
<% add_parent_breadcrumb_link "Consultation", planning_application_consultations_path(@planning_application) %>
<% content_for :title, "Site visit" %>

<%= render(
  partial: "shared/proposal_header",
  locals: { heading: "View site visits" }
) %>

<h2 class="govuk-heading-m">Objected neighbour responses</h2>
<%= render "planning_applications/neighbour_responses/responses", neighbour_responses: @objected_neighbour_responses %>

<% if @site_visits.any? %>
  <h2 class="govuk-heading-m">Site visits</h2>
  
  <details class="govuk-details govuk-!-padding-top-5" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        See previous site visit responses
      </span>
    </summary>
    <div class="govuk-details__text">
      <% @site_visits.each do |site_visit| %>
        <p class="govuk-body">Site visit needed: <%= site_visit.decision? ? "Yes" : "No" %></p>
        <p class="govuk-body">Response created by: <%= site_visit.created_by.name %></p>
        <p class="govuk-body">Response created at: <%= site_visit.created_at.to_fs %></p>
        <% if site_visit.neighbour.present? %>
          <p class="govuk-body">Neighbour: <%= site_visit.neighbour.address %></p>
        <% end %>
        <% if site_visit.decision? %>
          <p class="govuk-body">Visited at: <%= site_visit.visited_at&.to_fs %></p>
        <% end %>
        <p class="govuk-body">Comment: <%= site_visit.comment %></p>
        <p class="govuk-body"><%= site_visit.documents.count %> document<%= site_visit.documents.count == 1 ? "" : "s" %> added</p>
        
        <p><%= link_to "View", planning_application_consultation_site_visit_path(@planning_application, @consultation, site_visit), class: "govuk-link" %></p>
        <hr>
      <% end %>
    </div>
  </details>
<% else %>
  <p class="govuk-body">
    No site visit responses have been added yet.
  </p>
<% end %>

<%= link_to "Add site visit response", new_planning_application_consultation_site_visit_path(@planning_application, @consultation), class: "govuk-link" %>

<div class="govuk-button-group govuk-!-padding-top-7">
  <%= back_link %>
</div>
