<%= form_with model: @planning_application.condition_set,
      url: planning_application_review_conditions_path(@planning_application),
      class: "govuk-!-margin-top-7" do |form| %>
  <%= form.govuk_error_summary %>

  <%= form.fields_for :reviews_attributes, @planning_application.condition_set.current_review do |review_form| %>
    <%= review_form.govuk_radio_buttons_fieldset :action, small: true, legend: {size: "s", text: "Actions"} do %>
      <%= review_form.govuk_radio_button(
            :action, :accepted, checked: @planning_application.condition_set&.current_review&.accepted?, label: {text: "Agree"}
          ) %>

      <%= review_form.govuk_radio_button(
            :action, :rejected, checked: @planning_application.condition_set&.current_review&.rejected?, label: {text: "Return with comments"}
          ) do %>
        <%= review_form.govuk_text_area(
              :comment, value: @planning_application.condition_set&.current_review&.comment, rows: 6, label: {text: "Add a comment"}
            ) %>
      <% end %>
    <% end %>
  <% end %>

  <div class="govuk-button-group">
    <%= form.submit "Save and mark as complete", class: "govuk-button", data: {module: "govuk-button"} %>
  </div>
<% end %>
