<%= form_with model: @condition_set,
              url: planning_application_review_conditions_path(@planning_application),
              class: "govuk-!-margin-top-7" do |form| %>
  <%= form.govuk_error_summary(presenter: ErrorPresenter) %>

  <%= form.fields_for :reviews_attributes, @condition_set.current_review do |review_form| %>
    <%= review_form.govuk_radio_buttons_fieldset :action, legend: { text: "Actions" } do %>
      <%= review_form.govuk_radio_button(
        :action, :accepted, disabled: disabled, checked: @condition_set.current_review.accepted?, label: { text: "Accept" }
      ) %>

      <%= review_form.govuk_radio_button(
        :action, :edited_and_accepted, disabled: disabled, checked: @condition_set.current_review.edited_and_accepted?, label: { text: "Edit to accept", id: "edit-to-accept" }
      ) do %>
      <%= form.govuk_check_boxes_fieldset :conditions, multiple: false, legend: { text: "Conditions" } do %>
        <%= form.fields_for :conditions, @condition_set.conditions do |fields| %>
          <div class="condition">
            <%= fields.hidden_field :_destroy, value: true %>
            <%= fields.govuk_check_box :_destroy, false, disabled: disabled, multiple: false, label: { text: fields.object.review_title || "Other condition" }, checked: fields.object.checked? do %>
              <%= fields.hidden_field :id %>
              <%= fields.hidden_field :standard, value: true %>
              <%= fields.hidden_field :title %>
              <%= fields.govuk_text_area :text, disabled: disabled, label: { text: "Condition", size: "s" } %>
              <%= fields.govuk_text_area :reason, disabled: disabled, label: { text: "Reason", size: "s" } %>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <% end %>

      <%= review_form.govuk_radio_button(
        :action, :rejected, disabled: disabled, checked: @condition_set.current_review.rejected?, label: { text: "Return to officer with comment" }
      ) do %>
        <%= review_form.govuk_text_area(
          :comment, value: @condition_set.current_review.comment, readonly: disabled, rows: 6, label: { text: "Comment" }
        ) %>
      <% end %>
    <% end %>
  <% end %>

  <div class="govuk-button-group">
    <% unless disabled %>
      <%= form.submit "Save and mark as complete", class: "govuk-button", data: { module: "govuk-button" } %>
      <%= form.submit "Save and come back later", class: "govuk-button govuk-button--secondary", data: { module: "govuk-button" } %>
    <% end %>

    <%= back_link %>
  </div>
<% end %>
