<% content_for :page_title do %>
  Review conditions - <%= t("page_title") %>
<% end %>

<%= render(
      partial: "shared/review_task_breadcrumbs",
      locals: {planning_application: @planning_application}
    ) %>

<% content_for :title, "Review conditions" %>

<%= render(
      partial: "shared/proposal_header",
      locals: {heading: "Review conditions"}
    ) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <% if @conditions.any? %>
      <ol data-controller="sortable" class="govuk-list sortable-list">
        <% @conditions.each do |condition| %>
          <%= render(Sortable::ListItemComponent.new(
                record: condition,
                record_class: "condition",
                record_controller: "",
                record_sortable_url: planning_application_review_conditions_item_position_path(@planning_application, condition),
                edit_record_url: edit_planning_application_review_conditions_item_path(@planning_application, condition)
              )) %>
        <% end %>
      </ol>
      <p><%= t(".drag_and_drop") %></p>
    <% else %>
      <p>
        <strong>No conditions added</strong>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </p>
    <% end %>

    <%= render "planning_applications/review/shared/review_information" %>

    <%= govuk_button_link_to(t("back"), planning_application_review_tasks_path(@planning_application, anchor: "review-conditions"), secondary: true) %>
  </div>
</div>
