<%= form_with(model: current_local_authority, url: notify_path, id: "notify-form") do |form| %>
  <%= form.govuk_error_summary %>

  <% current_local_authority.with_notify_enabled do %>
    <%= form.govuk_fieldset(legend: {text: t(".settings")}) do %>
      <%= form.govuk_password_field(
            :notify_api_key,
            label: {text: t(".notify_api_key")},
            hint: {text: t(".notify_api_key_hint")},
            value: current_local_authority.notify_api_key
          ) %>

      <%= form.govuk_text_field(
            :email_reply_to_id,
            label: {text: t(".email_reply_to_id")},
            hint: {text: t(".email_reply_to_id_hint")}
          ) %>
    <% end %>

    <%= form.govuk_fieldset(legend: {text: t(".templates")}) do %>
      <p>
        You can find the template IDs in the GOV.UK Notify admin interface.
        Click on the ’Templates’ menu item and then select the template you want to use.
        The template ID can be copied by clicking the ’Copy template ID’ button.
      </p>

      <%= form.govuk_text_field(
            :email_template_id,
            label: {text: t(".email_template_id")}
          ) %>

      <%= form.govuk_text_field(
            :sms_template_id,
            label: {text: t(".sms_template_id")}
          ) %>

      <%= form.govuk_text_field(
            :letter_template_id,
            label: {text: t(".letter_template_id")}
          ) %>
    <% end %>
  <% end %>

  <%= form.govuk_submit(t(".submit")) do %>
    <%= form.govuk_submit("Submit and check settings", name: "check_settings", value: "true", secondary: true) %>
    <%= govuk_button_link_to "Back", profile_path, secondary: true %>
  <% end %>
<% end %>
