<%= render(
  layout: "template",
  locals: { planning_application: @planning_application }
) do %>
  <% if @press_notice.requested_at %>
    <hr>
      <div class="display-flex justify-content-space-between">
        <p class="govuk-body">
          Press notice requested 
        </p>
        <div>
          <div>
            <%= render(StatusTags::BaseComponent.new(status: :emailed)) %>
          </div>
          <p class="govuk-body-s">
            on <%=  @press_notice.requested_at.to_fs(:day_month_year_slashes) %>
          </p>
        </div>
      </div>
      <hr>
  <% end %>

  <div class="background-light-grey govuk-!-padding-3">
    <p class="govuk-body-s"><strong>Reasons selected:</strong></p>
    <ul>
      <% @press_notice.reasons.try(:values).each do |reason| %>
        <li><%= reason %></li>
      <% end %>
    </ul>
  </div>
  
  <%= render "form" %>
<% end %>
