<% content_for :page_title do %>
  Withdraw or cancel application - <%= t('page_title') %>
<% end %>

<% add_parent_breadcrumb_link "Home", planning_applications_path %>
<% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>

<% content_for :title, "Withdraw or cancel application" %>

<%= render(
  partial: "shared/proposal_header",
  locals: { heading: "Withdraw or cancel application"  }
) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "shared/warning_text",
      message: "This information WILL be made public" %>

    <%= form_with model: @planning_application,
      url: planning_application_withdraw_or_cancel_path(@planning_application),
      builder: GOVUKDesignSystemFormBuilder::FormBuilder,
      local: true do |form| %>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <% if @planning_application.determined? %>
            <p class="govuk-body">
              This application has been determined and cannot be withdrawn or cancelled.
            </p>
          <% elsif !@planning_application.in_progress? %>
            <p class="govuk-body">
              This application has already been withdrawn or cancelled.
            </p>
            <p class="govuk-body">
              Comment: <%= @planning_application.closed_or_cancellation_comment %>
            </p>
          <% else %>
            <h2 class="govuk-heading-m">How should this application be finally disposed of?</h2>
            <span class="govuk-hint">The application status will change based on your selection</span>
            <div class="govuk-form-group <%= form.object.errors.any? ? 'govuk-form-group--error' : '' %>">
              <% if form.object.errors.any? %>
                <% form.object.errors.each do |error| %>
                  <span id="status-error" class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span><%= error.message %></span>
                <% end %>
              <% end %>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios" style="margin-bottom: 20px;">
                <div class="govuk-radios govuk-radios--small">
                  <div class="govuk-radios__item">
                    <%= form.radio_button :status, "withdrawn", class: "govuk-radios__input", id:"withdrawn", "aria-controls": "conditional-status-withdrawn-conditional", "aria-expanded": "false" %>
                    <%= form.label :withdrawn, "Withdrawn by applicant", class: "govuk-label govuk-radios__label", for: "withdrawn" %>
                  </div>
                  <div class="govuk-radios__item">
                    <%= form.radio_button :status, "returned", class: "govuk-radios__input", id: "returned", "aria-controls": "conditional-status-returned-conditional", "aria-expanded": "false" %>
                    <%= form.label :returned, "Returned as invalid", class: "govuk-label govuk-radios__label", for: "returned" %>
                  </div>
                  <div class="govuk-radios__item">
                    <%= form.radio_button :status, "closed", class: "govuk-radios__input", id: "closed", "aria-controls": "conditional-status-closed-conditional", "aria-expanded": "false" %>
                    <%= form.label :closed, "Cancelled for other reason", class: "govuk-label govuk-radios__label", for: "closed" %>
                  </div>
                </div>
              </div>
            </div>

            <div class="govuk-grid-column-two-thirds govuk-!-padding-left-0">
              <div class="govuk-form-group">
                <%= form.label :closed_or_cancellation_comment, "Provide a reason", class: "govuk-label govuk-label--s" %>
                <%= form.text_area :closed_or_cancellation_comment, class: "govuk-textarea", rows: "5", "aria-describedby": "cancellation-comment-hint" %>
              </div>

              <%= form.fields_for :documents, @planning_application.documents.new do |document_attributes| %>
                <%= document_attributes.hidden_field :redacted, value: true %>
                <%= document_attributes.govuk_file_field(
                  :file,
                  label: { text: t(".upload_label"), class: "govuk-label--m" },
                  hint: { text: t(".upload_hint_html"), class: "govuk-hint govuk-!-padding-top-2" },
                  direct_upload: true
                ) %>
              <% end %>
            </div>
          <% end %>
        </fieldset>

        <div class="govuk-button-group govuk-!-padding-top-7">
          <% if @planning_application.in_progress? %>
            <%= form.submit "Withdraw or cancel application", class: "govuk-button govuk-button--warning" %>
          <% end %>

          <%= back_link %>
        </div>
      </div>
    <% end %>
  </div>
</div>
