<%= render "shared/task_header", task: @task %>

<% unless @planning_application.determined? %>
  <%= render ErrorSummaryComponent.new(errors: @planning_application.consultation.errors) %>
<% end %>

<% add_consultees_task = @task.case_record.find_task_by_slug_path!("consultees/add-and-assign-consultees") %>

<%= render "shared/consultees_table",
      planning_application: @planning_application,
      consultation: @planning_application.consultation,
      show_assign: true,
      use_preapps_routes: true,
      task_slug: @task.full_slug %>

<p>
  <%= govuk_link_to "Add consultees", task_path(@planning_application, add_consultees_task), secondary: true %>
</p>

<%= render "shared/task_submit_form" %>
