<%= render "shared/task_header", task: @task %>

<% unless @planning_application.determined? %>
  <%= render ErrorSummaryComponent.new(errors: @planning_application.consultation.errors) %>
<% end %>

<%= render "shared/consultees_table",
      planning_application: @planning_application,
      consultation: @planning_application.consultation,
      show_assign: true %>

<p>
  <%= govuk_link_to "Add consultees", main_app.planning_application_consultees_path(@planning_application), secondary: true %>
</p>

<%= render "shared/task_submit_form" %>
