<table class="govuk-table current-documents">
  <tbody class="govuk-table__body">
    <% documents.each do |document| %>
      <tr class="govuk-table__row" id="<%= dom_id(document) %>">
        <td class="govuk-table__cell govuk-!-width-one-quarter">
          <%= render(
                partial: "documents/document_row_image",
                locals: {
                  planning_application: @planning_application,
                  document: document,
                  resize: "500x500",
                  width: 180,
                  height: 120,
                  edit_and_archive: false
                }
              ) %>
        </td>

        <td class="govuk-table__cell govuk-!-width-one-half">
          <%= render "documents/document_row_info", document: document %>
        </td>

        <% unless action_name == "validation_documents" %>
          <td class="govuk-table__cell">
            <% if @planning_application.can_edit_documents? %>
              <% if document.representable? %>
                <p class="govuk-body govuk-!-margin-right-2 govuk-!-text-align-right">
                  <%= govuk_link_to "Edit", edit_planning_application_document_path(@planning_application, document) %><br>
                  <%= govuk_link_to "Archive", planning_application_document_archive_path(document_id: document.id) %><br>
                  <%= govuk_link_to "Request replacement", new_planning_application_validation_validation_request_path(planning_application_reference: @planning_application.reference, document: document, type: "replacement_document") %>
                </p>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
