<% if document.representable? %>
  <% if document.tags.present? %>
    <p class="govuk-body">
      <% document.tags.each do |tag| %>
        <% if drawing_tag?(tag) %>
          <strong class="govuk-tag govuk-tag--turquoise"><%= I18n.t(:"#{tag}", scope: :document_tags) %></strong>
        <% end %>
      <% end %>
    </p>
    <% document.tags.each do |tag| %>
      <% if evidence_tag?(tag) %>
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--turquoise">EVIDENCE</strong> <strong class="govuk-tag govuk-tag--turquoise"><%= I18n.t(:"#{tag}", scope: :document_tags) %></strong><br>
        </p>
      <% end %>
    <% end %>
    <% document.tags.each do |tag| %>
      <% if supporting_document_tag?(tag) %>
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--turquoise"><%= I18n.t(:"#{tag}", scope: :document_tags) %></strong><br>
        </p>
      <% end %>
    <% end %>
  <% end %>
  <% if document.invalidated_document_reason %>
    <p class="govuk-body govuk-!-margin-bottom-1">
      Invalid: <strong><%= render(FormattedContentComponent.new(text: document.invalidated_document_reason)) %></strong>
    </p>
  <% end %>
  <p class="govuk-body govuk-!-margin-bottom-1">
    <% if document.numbers? %>
      Reference: <strong><%= document.numbers %></strong>
    <% else %>
      File name: <strong><%= document.name %></strong>
    <% end %>
  </p>
  <p class="govuk-body govuk-!-margin-bottom-1">
    Date received: <strong><%= document.received_at_or_created %></strong>
  </p>
  <% if document.numbers.present? %>
    <p class="govuk-body govuk-!-margin-bottom-1">
      Document reference(s): <strong><%= document.numbers %></strong>
    </p>
  <% end %>
  <p class="govuk-body govuk-!-margin-bottom-1">
    Included in decision notice: <strong><%= document.referenced_in_decision_notice? ? "Yes" : "No" %></strong>
  </p>
  <p class="govuk-body govuk-!-margin-bottom-1">
    Public: <strong><%= document.publishable? ? "Yes" : "No" %></strong>
  </p>
  <p class="govuk-body govuk-!-margin-bottom-1">
    Redacted: <strong><%= document.redacted? ? "Yes" : "No" %></strong>
  </p>
<% else %>
  <p class="govuk-body">
    <strong>This document has been removed due to a security issue</strong>
  </p>
  <p class="govuk-body">
    Error: Infected file found
  </p>
  <p class="govuk-body">
    File name: <%= document.name %>
  </p>
  <p class="govuk-body">
    Date received: <%= document.received_at_or_created %>
  </p>
<% end %>
