<% if document.representable? %>
  <% if document.tags.present? %>
    <p class="govuk-body">
      <% document.tags.each do |tag| %>
        <% if is_plan_tag(tag) %>
          <strong class="govuk-tag govuk-tag--turquoise"><%= tag %></strong>
        <% end %>
      <% end %>
    </p>
    <% document.tags.each do |tag| %>
      <% if is_evidence_tag(tag) %>
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--turquoise">EVIDENCE</strong> <strong class="govuk-tag govuk-tag--turquoise"><%= tag  %></strong><br/>
        </p>
      <% end %>
    <% end %>
  <% end %>
  <% if document.invalidated_document_reason %>
    <p class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
      Invalid: <%= document.invalidated_document_reason %>
    </p>
  <% end %>
  <p class="govuk-body govuk-!-margin-bottom-1">
    File name: <%= document.name %>
  </p>
  <% if document.applicant_description.present? %>
    <p class="govuk-body govuk-!-margin-bottom-1">
      Applicant description: <%= document.applicant_description %>
    </p>
  <% end %>
  <p class="govuk-body govuk-!-margin-bottom-1">
    Date received: <%= document.received_at_or_created %>
  </p>
  <% if document.numbers.present? %>
    <p class="govuk-body govuk-!-margin-bottom-1">
      Document reference(s): <%= document.numbers %>
    </p>
  <% end %>
  <p class="govuk-body govuk-!-margin-bottom-1">
    Included in decision notice: <%= document.referenced_in_decision_notice? ? "Yes" : "No" %>
  </p>
  <p class="govuk-body govuk-!-margin-bottom-1">
    Public: <%= document.publishable? ? "Yes" : "No" %>
  </p>
<% else %>
  <p class="govuk-body">
    <strong>This document has been removed due to a security issue</strong>
  </p>
  <p class="govuk-body">
    Error: Infected file found
  </p>
  <p class="govuk-body">
    File name: <%= document.name %>
  </p>
  <p class="govuk-body">
    Date received: <%= document.received_at_or_created %>
  </p>
<% end %>
