<% if document.representable? %>
  <%= document_thumbnail_link document, thumbnail_args: {resize: resize}, image_args: {style: "max-width: 100%"} %>
  <p class="govuk-body">
    <%= link_to_document(t(".view_in_new"), document) %>
  </p>
  <% if edit_and_archive %>
    <p class="govuk-body">
      <%= govuk_link_to t(".edit"), edit_planning_application_document_path(planning_application, document) %>
    </p>
    <p class="govuk-body">
      <%= govuk_link_to t(".archive"), planning_application_document_archive_path(planning_application, document) %>
    </p>
    <p class="govuk-body">
      <% if document.replacement_document_validation_request %>
        <%= govuk_link_to "Cancel replacement request", show_validation_request_url(planning_application, document.replacement_document_validation_request) %>
      <% else %>
        <%= govuk_link_to "Request replacement", new_planning_application_validation_validation_request_path(planning_application_reference: planning_application.reference, document: document, type: "replacement_document") %>
      <% end %>
    </p>
  <% end %>
<% else %>
  <div class="govuk-grid-column-one-third">
    <%= image_tag("placeholder/blank_image.png", alt: "Blank image", width: width, height: height) %>
  </div>
<% end %>
