<%= form_with model: [@planning_application, @document], local: true, class: "document", builder: GOVUKDesignSystemFormBuilder::FormBuilder do |form| %>
  <%= render partial: 'documents/form_partials/upload', locals: {form: form} %>

  <div class="govuk-form-group <%= @document.errors.any? ? 'govuk-form-group--error' : '' %>">
    <% if @document.errors[:numbers].any? %>
      <% @document.errors[:numbers].each do |error| %>
            <span id="status-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span><%= error %></span>
      <% end %>
    <% end %>
    <%= render partial: 'documents/form_partials/tags', locals: {form: form} %>
    <%= render partial: 'documents/form_partials/privacy', locals: {form: form} %>

    <div class="govuk-form-group govuk-!-padding-top-3">
      <%= form.submit "Save", class: "govuk-button", data: { module: "govuk-button" } %>
    </div>
  </div>
<% end %>
