<% add_parent_breadcrumb_link "Home", planning_applications_path %>
<% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>
<% add_parent_breadcrumb_link "Documents", planning_application_documents_path(@planning_application) %>

<% content_for :title, "Edit document" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l" style="margin-bottom: 7px;">
      <%= @planning_application.reference %>
    </h1>

    <p class="govuk-body">
      <%= display_address(@site) %>
    </p>

    <h2 class="govuk-heading-m"><%= @document.name %></h2>

    <p class="govuk-body" style="line-height: 1.6;">
      If you add one or more numbers to this document, it will be published in the decision notice. Only documents with numbers will appear on the decision notice.
    </p>

    <%= link_to image_tag(@document.file.representation(resize: "500x500")),
                api_v1_planning_application_document_url(@planning_application, @document), target: :_blank %>
    <p class="govuk-body">
      <%= link_to "View in new window", api_v1_planning_application_document_url(@planning_application, @document), target: :_new %>
    </p>

    <%= form_with model: [ @planning_application, @document ], local: true do |form| %>
      <%= render partial: 'documents/form_partials/upload.html.erb', locals: {form: form} %>
      <div class="govuk-form-group <%= @document.errors[:numbers].any? ? 'govuk-form-group--error' : '' %>">
        <% if @document.errors[:numbers].any? %>
          <% @document.errors[:numbers].each do |error| %>
            <span id="status-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span><%= error %></span>
          <% end %>
        <% end %>
        <%= form.label :numbers, "Document number(s)", class: "govuk-label", for: "numbers" %>
        <div id="event-name-hint" class="govuk-hint">
          If there are multiple numbers, please provide a comma-separated list.
        </div>
        <%= form.text_area :numbers, class: "govuk-input govuk-input--width-20", id: "numbers" %>
      </div>

      <%= render partial: 'documents/form_partials/tags.html.erb', locals: {form: form} %>

      <div class="govuk-form-group">
        <%= form.submit "Save and return", class: "govuk-button", data: { module: "govuk-button" } %>
        <%= link_to 'Cancel', planning_application_documents_path(@planning_application), class: "govuk-button govuk-button--secondary" %>
      </div>
    <% end %>
  </div>
</div>
