<% add_parent_breadcrumb_link "Home", planning_applications_path %>
<% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>
<% content_for :title, "Attach document numbers" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l" style="margin-bottom: 7px;">
      <%= @planning_application.reference %>
    </h1>
    <h2 class="govuk-heading-m" style="margin-bottom: 75px;">
      <%= display_address(@site) %>
    </h2>

    <h2 class="govuk-heading-m">Attach document numbers</h2>

    <% if @documents_list.documents.none? %>
      <div class="govuk-form-group govuk-form-group--error">
        <span id="status-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span>
            No documents are available
        </span>

        <p class="govuk-body">This could be because the proposed files:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>have not been submitted</li>
          <li>are not tagged with proposed document tags</li>
          <li>were archived</li>
        </ul>

        <p class="govuk-body">
          Please <%= link_to "upload proposal documents", new_planning_application_document_path(@planning_application), class: "govuk-link" %> and tag with <span class="govuk-tag govuk-tag--turquoise">PROPOSED</span> to add document numbers.
        </p>
      </div>
      <%= link_to "Back", planning_application_path(@planning_application), class: "govuk-button", data: { module: "govuk-button" } %>
    <% else %>
      <p class="govuk-body">
        Attach document numbers to all proposed documents. These will be published in the decision notice.
      </p>
      <%= form_with model: @documents_list, scope: "documents_list", url: update_numbers_planning_application_documents_path, method: :put, local: true do |f| %>
        <fieldset class="govuk-fieldset">
          <% @documents_list.documents.each do |document| %>
            <%= f.fields_for "documents[#{document.id}]", document do |ff| %>
              <div class="thumbnail">
                <p class="govuk-body doc-names govuk-!-margin-bottom-1">
                  <%= document.name %>
                </p>
                <ul class="govuk-list">
                  <% document.tags.each do |tag| %>
                    <li><strong class="govuk-tag govuk-tag--turquoise"><%= tag %></strong></li>
                  <% end %>
                </ul>
                <p class="govuk-body">
                  <%= document.created_at.strftime("%e %B %Y") %>
                  <br/>
                  <%= link_to "View in new window", api_v1_planning_application_document_url(@planning_application, document.id), target: :_blank %>
                </p>
                <%= link_to image_tag(document.file.representation(resize: "300x212")),
                            api_v1_planning_application_document_url(@planning_application, document.id), target: :_blank %>          <br/>

                <div class="govuk-form-group <%= document.errors[:numbers].any? ? 'govuk-form-group--error' : '' %>">
                  <% if document.errors[:numbers].any? %>
                    <% document.errors[:numbers].each do |error| %>
                      <span id="status-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span><%= error %></span>
                    <% end %>
                  <% end %>

                  <%= ff.label :numbers, "Document number:", class: "govuk-label", for: "numbers" %>
                  <%= ff.text_area :numbers, class: "govuk-input govuk-input--width-20", id: "numbers" %>
                </div>
                <br/>
                <br/>
              </div>
            <% end %>
          <% end%>
        </fieldset>
        <div class="govuk-form-group">
          <%= submit_tag "Save", class: "govuk-button", data: { module: "govuk-button" } %>
        </div>
      <% end %>
    <% end%>
  </div>
</div>
