<% add_parent_breadcrumb_link "Home", planning_applications_path %>
<% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>
<% if @validate_document %>
  <% add_parent_breadcrumb_link "Validation tasks", planning_application_validation_tasks_path(@planning_application) %>
  <% content_for :title, "Validate document" %>
  <% content_for :page_title do %>
    Validate document - <%= t('page_title') %>
  <% end %>
<% else %>
  <% add_parent_breadcrumb_link "Documents", planning_application_documents_path(@planning_application) %>
  <% content_for :title, "Edit document" %>
  <% content_for :page_title do %>
    Edit document - <%= t('page_title') %>
  <% end %>
<% end %>

<% if @validate_document %>
  <h1 class="govuk-heading-l">Check document</h1>
<% else %>
  <h1 class="govuk-heading-l">Edit document</h1>
<% end %>

<%= render "shared/planning_application_address_and_reference" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <%= link_to image_tag(@document.file.representation(resize: "500x500"), style: 'max-width:100%'),
                url_for_document(@document), target: :_blank %>
    <p class="govuk-body">
      <%= link_to "View in new window", url_for_document(@document), target: :_new, class: "govuk-link" %>
    </p>
  </div>
  <div class="govuk-grid-column-one-half">
    <p class="govuk-body">
      <strong>File name:</strong> <%= @document.name %>
    </p>

    <p class="govuk-body">
      <strong>Date received:</strong> <%= @document.received_at_or_created %>
    </p>

    <% if @replacement_document_validation_request %>
      <p class="govuk-body">
        <strong>This document replaced:</strong>
        <%= link_to @replacement_document_validation_request.old_document.name, edit_planning_application_document_path(@planning_application, @replacement_document_validation_request.old_document), target: :_new, class: "govuk-link" %>
      </p>

      <p class="govuk-body">
        <strong>Reason this replacement document was requested:</strong> <%= simple_format(@replacement_document_validation_request.invalidated_document_reason) %>
      </p>

      <p class="govuk-body">
        <strong>Applicant accepted request and uploaded this document.</strong>
      </p>
    <% else %>
      <p class="govuk-body">
        <strong>Applicant reason for submitting document:</strong>

        <% if @document.applicant_description.present? %>
          <%= simple_format(@document.applicant_description) %>
        <% else %>
          No reason submitted
        <% end %>
      </p>
    <% end %>

    <p class="govuk-body">
      <%= created_by(@document)  %>
    </p>
  </div>
  <div class="govuk-grid-column-full">
    <%= render 'edit_and_upload' %>
  </div>
</div>
