<% add_parent_breadcrumb_link "Home", planning_applications_path %>
<% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>
<% add_parent_breadcrumb_link "Documents", planning_application_documents_path(@planning_application) %>

<% content_for :title, "Edit document" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <%= link_to image_tag(@document.file.representation(resize: "500x500"), style: 'max-width:100%'),
                url_for_document(@document), target: :_blank %>
    <p class="govuk-body">
      <%= link_to "View in new window", url_for_document(@document), target: :_new, class: "govuk-link" %>
    </p>
  </div>
  <div class="govuk-grid-column-one-half">
    <p class="govuk-body">
      <strong>File name:</strong> <%= @document.name %>
    </p>

    <p class="govuk-body">
      <strong>Date received:</strong> <%= @document.received_at_or_created %>
    </p>

    <p class="govuk-body">
      <strong>Applicant reason for submitting document:</strong>
      <% if @document.applicant_description.present? %>
        <%= @document.applicant_description %>
      <% else %>
        No reason submitted
      <% end %>
    </p>

    <p class="govuk-body">
      <%= created_by(@document)  %>
    </p>
  </div>
  <div class="govuk-grid-column-full">
    <%= render 'edit_and_upload' %>
  </div>
</div>
