<% add_parent_breadcrumb_link "Home", planning_applications_path %>
<% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>

<% content_for :title, "Documents" %>

<h1 class="govuk-heading-l" style="margin-bottom: 7px;">
  <%= @planning_application.reference %>
</h1>
<p class="govuk-body">
  <%= @planning_application.site.full_address %>
</p>

<%= render "success_flash" %>

<h2 class="govuk-heading-m">
  Proposal documents
</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body" style="line-height: 1.6;">
      Check all documents to ensure they support the information provided by the applicant and add tags to indicate the document contents. Please note, only documents with document numbers will be be listed on the decision notice and made publicly available.
    </p>
  </div>
  <div class="govuk-grid-column-one-third" style="text-align: right">
    <% if current_user.assessor? && (@planning_application.in_progress? && !@planning_application.awaiting_determination?) %>
      <%= link_to "Upload documents", new_planning_application_document_path(@planning_application), role: "button", class: "govuk-button", data: { module: "govuk-button" } %>
    <% elsif current_user.assessor? %>
      <%= tag.button "Upload documents", disabled: "disabled", "aria-disabled": true, class: "govuk-button govuk-button--disabled", data: { module: "govuk-button" } %>
    <% end %>
  </div>
</div>

<ul class="app-task-list current-documents" style="margin-bottom: 2em;">
  <% unless @documents.nil? %>
  <% filter_current(@documents).each do |document| %>
    <li class="app-task-list__item">
      <div class="govuk-grid-column-one-quarter">
        <%= link_to image_tag(document.file.representation(resize: "300x212"), class: "govuk-!-width-full"),
                    url_for_document(document), target: :_blank %>
        <p class="govuk-body">
          <%= link_to "View in new window", url_for_document(document), target: :_new %>
        </p>
      </div>

      <div class="govuk-grid-column-one-half">
        <p class="govuk-body">
          <strong><%= document.name %></strong><br/>
          Date received: <%= document.created_at.strftime("%e %B %Y") %><br/>
          <% if document.numbers.present? %>
            Document number(s): <%= document.numbers %>
          <% end %>
        </p>

        <p class="govuk-body">
          <% document.tags.each do |tag| %>
            <strong class="govuk-tag govuk-tag--turquoise"><%= tag %></strong>
          <% end %>
        </p>
      </div>

      <div class="govuk-grid-column-one-quarter">
        <p style="text-align: right" class="govuk-body">
          <%= link_to "Edit", edit_planning_application_document_path(@planning_application, document) %><br />
          <%= link_to "Archive document", planning_application_document_archive_path(document_id: document.id) if current_user.assessor? && @planning_application.in_assessment? %>
        </p>
      </div>
    </li>
    <% end %>
  <% end %>
</ul>

<% unless @documents.nil? %>
  <div class="govuk-grid-row">
  <table class="govuk-table archived-documents">
    <caption class="govuk-table__caption">Archived documents</caption>
    <thead class="govuk-table__head">
      <tr>
        <% if filter_archived(@documents).present? %>
          <th scope="col" class="govuk-table__header">Document name</th>
          <th scope="col" class="govuk-table__header">Tags </th>
          <th scope="col" class="govuk-table__header">Date uploaded</th>
          <th scope="col" class="govuk-table__header">Officer's comment</th>
        <% else %>
          <th scope="row" class="govuk-table__cell" style="font-weight: 100">No documents archived</th>
        <% end %>
      </tr>
    </thead>
    <% if filter_archived(@documents).present? %>
      <tbody class="govuk-table__body">
        <% filter_archived(@documents).each do |document| %>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell archive-data"><%= link_to document.name, url_for_document(document), target: :_new %></td>
            <td class="govuk-table__cell archive-data tags">
              <p class="govuk-body">
                <% document.tags.each do |tag| %>
                  <strong class="govuk-tag govuk-tag--turquoise"><%= tag %></strong>
                <% end %>
              </p>
            </td>
            <td class="govuk-table__cell archive-data"><%= document.created_at.strftime("%e %b %Y") %></td>
            <td class="govuk-table__cell archive-data"><%= t(document.archive_reason) %></td>
          </tr>
        <% end %>
      </tbody>
    <% end %>
  </table>
  </div>
</div>
<% end %>
