<% add_parent_breadcrumb_link "Home", planning_applications_path %>
<% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>

<% content_for :title, "Documents" %>

<h1 class="govuk-heading-l" style="margin-bottom: 7px;">
  <%= @planning_application.reference %>
</h1>
<p class="govuk-body">
  <%= @planning_application.full_address %>
</p>

<%= render "success_flash" %>

<h2 class="govuk-heading-m">
  Proposal documents
</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body" style="line-height: 1.6;">
      Check all documents to ensure they support the information provided by the applicant and add tags to indicate the document contents.
    </p>
  </div>
  <div class="govuk-grid-column-one-third" style="text-align: right">
    <% if @planning_application.can_validate? %>
      <%= link_to "Upload documents", new_planning_application_document_path(@planning_application), role: "button", class: "govuk-button", data: { module: "govuk-button" } %>
    <% else %>
      <%= tag.button "Upload documents", disabled: "disabled", "aria-disabled": true, class: "govuk-button govuk-button--disabled", data: { module: "govuk-button" } %>
    <% end %>
  </div>
</div>

<ul class="app-task-list current-documents" style="margin-bottom: 2em;">
  <% unless @documents.nil? %>
  <% filter_current(@documents).each do |document| %>
    <li class="app-task-list__item govuk-!-padding-6">
        <div class="govuk-grid-column-one-quarter">
            <%= link_to image_tag(document.file.representation(resize: "300x212"), class: "govuk-!-width-full"),
                        url_for_document(document), target: :_blank %>
            <p class="govuk-body">
              <%= link_to "View in new window", url_for_document(document), target: :_new %>
            </p>
        </div>
        <div class="govuk-grid-column-one-half">
          <% if document.tags.present? %>
            <p class="govuk-body">
              <% document.tags.each do |tag| %>
                <strong class="govuk-tag govuk-tag--turquoise"><%= tag %></strong>
              <% end %>
            </p>
          <% end %>
          <p class="govuk-body govuk-!-margin-bottom-1">
            File name: <%= document.name %>
          </p>
          <p class="govuk-body govuk-!-margin-bottom-1">
            Date received: <%= document.created_at.strftime("%e %B %Y") %>
          </p>
          <% if document.numbers.present? %>
            <p class="govuk-body govuk-!-margin-bottom-1">
              Document reference(s): <%= document.numbers %>
            </p>
          <% end %>
            <p class="govuk-body govuk-!-margin-bottom-1">
              Included in decision notice: <%= document.referenced_in_decision_notice? ? "Yes" : "No" %>
            </p>
            <p class="govuk-body govuk-!-margin-bottom-1">
              Public: <%= document.publishable? ? "Yes" : "No" %>
            </p>
        </div>
      <% if @planning_application.can_validate? %>
        <div class="govuk-grid-column-one-quarter">
          <p style="text-align: right" class="govuk-body">
            <%= link_to "Edit", edit_planning_application_document_path(@planning_application, document) %><br />
            <%= link_to "Archive document", planning_application_document_archive_path(document_id: document.id) %>
          </p>
        </div>
      <% end %>
    </li>
    <% end %>
  <% end %>
</ul>

<% if @documents.present? %>
  <div class="govuk-grid-row govuk-!-padding-left-6">
    <table class="govuk-table archived-documents">
      <caption class="govuk-table__caption">Archived documents</caption>
      <thead class="govuk-table__head">
        <tr>
          <% if filter_archived(@documents).present? %>
            <th scope="col" class="govuk-table__header">Document name</th>
            <th scope="col" class="govuk-table__header">Tags </th>
            <th scope="col" class="govuk-table__header">Date uploaded</th>
            <th scope="col" class="govuk-table__header">Officer's comment</th>
          <% else %>
            <th scope="row" class="govuk-table__cell" style="font-weight: 100">No documents archived</th>
          <% end %>
        </tr>
      </thead>
      <% if filter_archived(@documents).present? %>
        <tbody class="govuk-table__body">
          <% filter_archived(@documents).each do |document| %>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell archive-data"><%= link_to document.name, url_for_document(document), target: :_new %></td>
              <td class="govuk-table__cell archive-data tags">
                <p class="govuk-body">
                  <% document.tags.each do |tag| %>
                    <strong class="govuk-tag govuk-tag--turquoise"><%= tag %></strong>
                  <% end %>
                </p>
              </td>
              <td class="govuk-table__cell archive-data"><%= document.created_at.strftime("%e %b %Y") %></td>
              <td class="govuk-table__cell archive-data"><%= document.archive_reason %></td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </table>
  </div>
<% end %>
