<% add_parent_breadcrumb_link "Home", planning_applications_path %>
<% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>
<% add_parent_breadcrumb_link "Documents", planning_application_documents_path(@planning_application) %>

<% content_for :title, "Upload document" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l" style="margin-bottom: 7px;">
      Documents: <%= @planning_application.reference %>
    </h1>

    <h2 class="govuk-heading-m" style="margin-bottom: 75px;">
      <%= @planning_application.site.full_address %>
    </h2>

    <h2 class="govuk-heading-m">Upload new document</h2>

    <%= form_with model: [@planning_application, @document], local: true, class: "document", builder: GOVUKDesignSystemFormBuilder::FormBuilder do |form| %>
      <%= render partial: 'documents/form_partials/upload.html.erb', locals: {form: form} %>

      <div class="govuk-form-group <%= @document.errors[:numbers].any? ? 'govuk-form-group--error' : '' %>">
        <% if @document.errors.any? %>
          <% @document.errors.each do |error| %>
            <span id="status-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span><%= error %></span>
          <% end %>
        <% end %>
        <%= form.label :numbers, "Document number(s)", class: "govuk-label", for: "numbers" %>
        <div id="event-name-hint" class="govuk-hint">
          Where documents contain multiple drawings, enter multiple numbers separated by a comma (e.g. "25A-V2, 25B-V2").
        </div>
        <div class="numbers">
          <%= form.text_area :numbers, class: "govuk-input govuk-input--width-20", id: "numbers" %>
        </div>
        <%= render partial: 'documents/form_partials/tags.html.erb', locals: {form: form} %>
        <%= render partial: 'documents/form_partials/privacy.html.erb', locals: {form: form} %>
      </div>

      <div class="govuk-form-group">
        <%= form.submit "Save", class: "govuk-button", data: { module: "govuk-button" } %>
      </div>
    <% end %>
  </div>
</div>
