<div class="govuk-!-padding-left-2 govuk-!-padding-right-2">
  <div class="scroll-docs">
    <% documents.each do |document| %>
      <hr>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body govuk-!-margin-bottom-1">
            <strong>Document reference: <%= document.numbers %></strong>
          </p>
          <p class="govuk-body">
            File name: <%= document.name %>
          </p>
          <p class="govuk-body">
            Date received: <%= document.received_at_or_created %>
          </p>
        </div>
        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-6">
          <%= link_to "View document", url_for_document(document), target: :_new %><br>
          <%= link_to "Edit", edit_planning_application_document_path(document.planning_application, document), class: "govuk-link" %><br>
          <%= link_to "Archive", planning_application_document_archive_path(document_id: document.id), class: "govuk-link" %><br>
          <%= link_to "Request replacement", new_planning_application_replacement_document_validation_request_path(planning_application_id: document.planning_application.id, document: document), class: "govuk-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
