<div class="govuk-accordion" data-module="govuk-accordion">
  <% sections.each_with_index do |section, index| %>
    <div class="govuk-accordion__section">
      <div class="govuk-accordion__section-header display-flex">
        <h3 class="govuk-accordion__section-heading">
          <button type="button" class="govuk-accordion__section-button" id="accordion-default-heading-<%= "#{section}" %>">
            <%= section.tag.humanize.pluralize %> (<%= section.documents.count %>)<br>
            <% if section.start_date.present? && section.end_date.present? %>
              <%= section.start_date&.to_formatted_s(:day_month_year_slashes) %> to <%= section.end_date&.to_formatted_s(:day_month_year_slashes) %>
            <% else %>
              <%= section.start_date&.to_formatted_s(:day_month_year_slashes) %>
            <% end %>
          </button>
          <span class="govuk-accordion__icon"></span>
        </h3>
        <% if section.missing_evidence? %>
          <div class="govuk-warning-text govuk-!-margin-left-6 govuk-!-margin-top-2">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          </div>
        <% end %>
      </div>
      <div class="govuk-accordion__section-content">
        <% if section.start_date.present? %>
          <p class="govuk-body">Starts from: <%= section.start_date.to_formatted_s(:day_month_year_slashes) %></p>
        <% end %>

        <% if section.end_date.present? %>
          <p class="govuk-body">Runs until: <%= section.end_date.to_formatted_s(:day_month_year_slashes) %></p>
        <% end %>

        <% if section.missing_evidence? %>
          <p class="govuk-body"><strong>Missing evidence (gap in time): <%= section.missing_evidence_entry %></strong></p>
        <% end %>

        <p class="govuk-body">
          <strong>Applicant comment:</strong>
          <%= section.applicant_comment %>
        </p>

        <%= render(
          EvidenceGroups::DocumentsComponent.new(
            documents: section.documents.with_file_attachment
          )
        ) %>

        <hr>

        <%= render(
          partial: "planning_applications/review/review_immunity_details/comment",
          locals: {
            planning_application: @planning_application,
            evidence_group: section,
            comment: section.comment,
            new_comment: section.comments.new
          }
        ) %>

        <%= render(
          partial: "shared/policy_classes/previous_comments",
          locals: { previous_comments: section.previous_comments }
        ) %>
      </div>
    </div>
  <% end %>
  <hr>
  <div class="govuk-!-padding-top-6">
    <%= link_to "Manage documents", planning_application_documents_path(@planning_application), class: "govuk-button govuk-button--secondary" %>
  </div>
</div>
