<% content_for :page_title do %>
  <%= t(".validate_application") %> -  <%= t("page_title") %>
<% end %>

<% add_parent_breadcrumb_link "Home", root_path %>
<% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>
<% content_for :title, t(".validate_application") %>

<%= render(
      partial: "shared/proposal_header",
      locals: {heading: t(".validate_application")}
    ) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p>
      When all parts of the application have been checked and are correct, mark the application as valid.
    </p>
    <%= form_with model: @planning_application, url: planning_application_validation_path(@planning_application), method: :post, local: true do |form| %>
      <%= render ErrorSummaryComponent.new(errors: @planning_application.errors) %>

      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Valid from</legend>
      <div class="govuk-hint" id="planning-application-validated-at-hint">
        Will be marked as valid from <%= @planning_application.valid_from_date.to_date.to_fs %>
      </div>
      <% if @planning_application.publishable? %>
        <%= form.govuk_radio_buttons_fieldset :make_public, legend: {text: "Publish application on BOPS Public Portal?"} do %>
          <%= form.govuk_radio_button :make_public, true, label: {text: "Yes"} %>
          <%= form.govuk_radio_button :make_public, false, label: {text: "No"} %>
        <% end %>
      <% else %>
        <%= form.hidden_field :make_public, value: false %>
      <% end %>
      <%= form.govuk_submit "Mark the application as valid" do %>
        <%= govuk_button_link_to "Back", validation_decision_planning_application_path(@planning_application), secondary: true %>
      <% end %>
    <% end %>
  </div>
</div>
