<% if @audit.activity_type.include?("request") || @audit.activity_type.include?("document_received_at_changed") %>
  <% if @audit.activity_type.match("/*_validation_request_cancelled") %>
    <%= render "audits/types/validation_request_cancelled", locals: { item: @audit } %>
  <% else %>
    <%= render "audits/types/#{@audit.activity_type}", locals: { item: @audit } %>
  <% end %>
<% else %>
  <%= render "audits/types/generic_audit_entry", locals: { item: @audit } %>
<% end %>
<p class="govuk-body">
  <% if @audit.api_user %>
    <%= define_user(@audit) %>
  <% elsif @audit.user %>
    <%= @audit.user.name %>
  <% else %>
    User deleted
  <% end %>
</p>
<p class="govuk-body">
  <%= @audit.created_at.to_date %> at <%= @audit.created_at.strftime("%H:%M") %> 
</p>

