<% add_parent_breadcrumb_link "Home", planning_applications_path %>
<% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>

<% content_for :title, "Audit log" %>

<%= render "planning_applications/proposal_header" %>

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Activity log</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">User</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Activity</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% @audits.each do |audit_item| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= audit_item.created_at.strftime("%d-%m-%Y %H:%M") %></td>
        <% if audit_item.api_user %>
          <td class="govuk-table__cell"><%= define_user(audit_item) %></td>
        <% elsif audit_item.user %>
          <td class="govuk-table__cell"><%= audit_item.user.name %></td>
        <% else %>
          <td class="govuk-table__cell"> User deleted </td>
        <% end %>
        <td colspan="2" class="govuk-table__cell">
          <% if ("request"||"document_received_at_changed").in?(audit_item.activity_type) %>
            <% if audit_item.activity_type.match("/*_validation_request_cancelled") %>
              <%= render "audits/types/validation_request_cancelled", locals: { item: audit_item } %>
            <% else %>
              <%= render "audits/types/#{audit_item.activity_type}", locals: { item: audit_item } %>
            <% end %>
          <% else %>
            <%= render "audits/types/generic_audit_entry", locals: { item: audit_item } %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
</table>
