<% add_parent_breadcrumb_link "Home", planning_applications_path %>
<% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>

<% content_for :title, "Audit log" %>

<%= render "planning_applications/proposal_header" %>

<table class="govuk-table">
  <h2 class="govuk-heading-m govuk-!-margin-top-6">Activity Log</h2>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">User</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Activity</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% @audits.each do |audit_item| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= audit_item.created_at.strftime("%d-%m-%Y %H:%M") %></td>
        <% if audit_item.user %>
          <td class="govuk-table__cell"><%= audit_item.user.name %></td>
        <% elsif audit_item.api_user %>
          <td class="govuk-table__cell"><%= audit_item.api_user.name %></td>
        <% elsif audit_item.activity_type.include?("received") %>
          <td class="govuk-table__cell"> Agent / Applicant via API </td>
        <% else %>
          <td class="govuk-table__cell"> User deleted </td>
        <% end %>
        <td colspan="2" class="govuk-table__cell">
            <%= activity(audit_item.activity_type, audit_item.activity_information) %>
          <% if audit_item.activity_type.include?("request") %>
            <%= render "audits/types/#{audit_item.activity_type}", locals: { comment: audit_item.audit_comment } %>
          <% else %>
            <%= audit_item.audit_comment if audit_item.audit_comment.present? %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
</table>
