<% add_parent_breadcrumb_link "Home", planning_applications_path %>
<% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>

<% content_for :title, "Audit log" %>

<%= render "planning_applications/proposal_header" %>

<table class="govuk-table">
  <h2 class="govuk-heading-m govuk-!-margin-top-6">Activity Log</h2>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">User</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Activity</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"> <%= @planning_application.created_at.strftime("%d-%m-%Y %H:%M") %></td>
      <td class="govuk-table__cell"> API </td>
      <td class="govuk-table__cell"> Application created </td>
    </tr>
    <% @audits.each do |audit_item| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= audit_item.created_at.strftime("%d-%m-%Y %H:%M") %></td>
        <td class="govuk-table__cell"><%= audit_item.user.name %></td>
        <td colspan="2" class="govuk-table__cell">
          <%= activity(audit_item.activity_type, audit_item.activity_information) %> <br>
          <i> <%= audit_item.audit_comment if audit_item.audit_comment.present? %> </i>
        </td>
      </tr>
    <% end %>
    </tbody>
</table>
