<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default" >

  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h3 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Application information
                </span>
      </h3>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

      <table class="govuk-table">
        <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><b>Type: </b></td>
          <td class="govuk-table__cell">Proposed permitted development: <%= @planning_application.application_type %>	</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><strong>Application status: </strong></td>
          <td class="govuk-table__cell"><%= @planning_application.status %></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><strong>Validation complete: </strong></td>
          <td class="govuk-table__cell"><%= Date.today %></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><strong>Summary of proposal: </strong></td>
          <td class="govuk-table__cell">
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <%= @planning_application.description %>
              </li>
            </ul>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--  Documents        -->

  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h3 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Proposal documents
                </span>
      </h3>
    </div>

    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
      <div style="float: none; clear: both">
        <div style="float: left; margin-left: 20px;">
          <p class='govuk-body'>Existing floorplan</p>
          <%= image_tag "placeholder/floorplan_1.png", width: "200px" %>
          <p class='govuk-body'><a href="">Download</a></p>
        </div>
        <div style="float: left; margin-left: 20px;">
          <p class='govuk-body'>Proposed floorplan</p>
          <%= image_tag "placeholder/floorplan_2.png", width: "200px" %>
          <p class='govuk-body'><a href="">Download</a></p>
        </div>
      </div>
      <div style="float: none; clear: both">
        <div style="float: left; margin-left: 20px;">
          <p class='govuk-body'><br>Existing section</p>
          <%= image_tag "placeholder/section_1.png", width: "200px" %>
          <p class='govuk-body'><a href="">Download</a></p>
        </div>
        <div style="float: left; margin-left: 20px;">
          <p class='govuk-body'><br>Proposed section</p>
          <%= image_tag "placeholder/section_2.png", width: "200px" %>
          <p class='govuk-body'><a href="">Download</a></p>
        </div>
      </div>

    </div>
  </div>
  <! -- Map -->

  <div class="govuk-accordion__section " style="float: none; clear: both;">
    <div class="govuk-accordion__section-header">
      <h3 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                  Site details
                </span>
      </h3>
    </div>

    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
      <div style="float:left; margin-bottom: 10px;">
        <div class="govuk-checkboxes__item govuk-checkboxes--small" >
          <input class="govuk-checkboxes__input " id="map" name="map" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="map">
            Conservation areas
          </label>
        </div>
      </div>
      <div style="float:right; margin-right: 60px;">
        <div class="govuk-checkboxes__item govuk-checkboxes--small" >
          <input class="govuk-checkboxes__input" id="map-2" name="map" type="checkbox" value="mines">
          <label class="govuk-label govuk-checkboxes__label" for="map-2">
            Listed buildings
          </label>
        </div>
      </div>
      <div style="float:none; margin: 20px 0 20px 0;">
        <div class="govuk-checkboxes__item govuk-checkboxes--small" >
          <input class="govuk-checkboxes__input" id="map-3" name="map" type="checkbox" value="farm">
          <label class="govuk-label govuk-checkboxes__label" for="map-3">
            Trees (TPOs)
          </label>
        </div>
      </div>
      <%= image_tag "placeholder/map.png", width: "600px" %>
      <p class="govuk-body">
        <a href="#" class="govuk-link">
          Street view on Google Map
        </a>
      </p>
    </div>

  </div>

</div>