<h2 class="govuk-accordion__section-heading govuk-heading-m" style="float: none; clear: both;">
  <span class="app-task-list__section-number">Supporting information</span>
</h2>
<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h3 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Property details
                </span>
      </h3>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <strong>Address: </strong>  <%= @planning_application.site.address_1 %>, <%= @planning_application.site.town %>, <%= @planning_application.site.postcode %>
        </li>
        <li>
          <strong>Property type: </strong>Residential
        </li>
        <li>
          <strong>Listed building: </strong> No
        </li>
        <li>
          <strong>Conservation area: </strong> No
        </li>
      </ul>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h3 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Property history
                </span>
      </h3>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <ul class="govuk-list govuk-list--bullet">
        <li>
          Permitted development rights: Active
        </li>
        <li>
          Residential area
        </li>
      </ul>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h3 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Constraints
                </span>
      </h3>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <ul class="govuk-list govuk-list--bullet">
        <li>
          Urban density zone
        </li>
        <li>
          Controlled parking zone
        </li>
        <li>
          Air quality management area
        </li>
      </ul>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                  Contact information
                </span>
      </h2>
    </div>
    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
      <p class='govuk-body'>
        <% if @planning_application.agent_id? %>
          <strong>Agent:</strong><br><%= @planning_application.agent.name %><br><%= @planning_application.agent.phone %><br><a href=""><%= @planning_application.agent.email %></a></p>
        <% end %>
      <p class='govuk-body'>
        <% if @planning_application.applicant_id? %>
          <strong>Applicant:</strong><br><%= @planning_application.applicant.name %><br><%= @planning_application.applicant.phone %><br><a href=""><%= @planning_application.applicant.email %></a></p>
        <% end %>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                  Consultation
                </span>
      </h2>
    </div>
    <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
      <p class='govuk-body'>Consultation is not applicable for proposed permitted development.</p>
    </div>
  </div>
</div>
</div>