<% content_for :page_title do %>
  Site notice - <%= t('page_title') %>
<% end %>

<% add_parent_breadcrumb_link "Home", root_path %>
<% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>
<% add_parent_breadcrumb_link "Consultation", planning_application_consultations_path(@planning_application) %>
<% content_for :title, "Site notice" %>

<%= render(
  partial: "shared/proposal_header",
  locals: { heading: "Site notice" }
) %>

<hr>
<div class="proposal-details-sub-heading govuk-!-margin-top-3 govuk-!-margin-bottom-3">
  <p class="govuk-body govuk-!-margin-top-1">
    <%= @planning_application.last_site_notice_audit.audit_comment %>
  </p>
  <div class="consultation-letter-status">
    <div>
      <%= render(StatusTags::BaseComponent.new(status: :complete)) %>
    </div>
    <p class="govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-0">
      on <%= @planning_application.last_site_notice_audit.created_at.to_fs(:day_month_year_slashes) %>
    </p>
  </div>
</div>
<hr>

<p class="govuk-body"><strong>Displayed on:</strong> <%= @site_notice.displayed_at.to_date.to_fs %></p>

<% if @site_notice.document %>
  <%= link_to image_tag(@site_notice.document.file.representation(resize: "300x212")),
                                          url_for_document(@site_notice.document), target: :_blank %>

  <p class="govuk-body">
    <%= truncate(@site_notice.document.name.to_s, length: 50) %><br>
    <%= link_to "View in new window", url_for_document(@site_notice.document), target: :_new %>
  </p>
<% end %>

<%= back_link %>
