<% content_for :page_title do %>
  <%= page_title(@planning_application) %> - <%= t('page_title') %>
<% end %>

<%= render(
  partial: "shared/review_task_breadcrumbs",
  locals: { planning_application: @planning_application  }
) %>

<% content_for :title, page_title(@planning_application) %>

<%= render(
  partial: "shared/proposal_header",
  locals: { heading: page_heading(@planning_application) }
) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-!-margin-top-7">
      Constraints and history
    </h1>

    <section id="constraints-section">
      <h2 class="govuk-heading-m">
        Constraints
      </h2>

      <%= render "shared/constraints" %>
    </section>

    <%= render "planning_history" %>

    <% if @planning_application.possibly_immune? %>
      <%= render "immunity_details", planning_application: @planning_application %>
    <% end %>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <%= render "planning_application/permitted_development_rights/previous", permitted_development_rights: @permitted_development_rights %>

    <%= render "form", editable: true %>
  </div>
</div>
