<% content_for :page_title do %>
  Confirm all consultees have been consulted - <%= t("page_title") %>
<% end %>

<%= render(
      partial: "shared/assessment_task_breadcrumbs",
      locals: {planning_application: @planning_application}
    ) %>

<% content_for :title, "Confirm all consultees have been consulted" %>

<%= render(
      partial: "shared/proposal_header",
      locals: {heading: "Confirm all consultees have been consulted"}
    ) %>

<div class="govuk-grid-row">
  <%= content_tag :div, class: "govuk-grid-column-full", data: {} do %>
    <% unless @planning_application.determined? %>
      <%= render ErrorSummaryComponent.new(errors: @consultation.errors) %>
    <% end %>

    <h3 class="govuk-body">Assign consultees to each constraint</h3>
    <%= render "shared/consultees_table", planning_application: @planning_application, consultation: @consultation, show_assign: true %>

    <% if @planning_application.determined? %>
      <%= govuk_button_link_to "Back", planning_application_assessment_tasks_path(@planning_application), secondary: true %>
    <% else %>
      <%= form_with model: @planning_application,
            url: check_planning_application_assessment_consultees_path do |form| %>
        <div class="govuk-button-group">

          <%= form.submit "Confirm as checked", class: "govuk-button" %>
          <%= govuk_button_link_to "Add consultees", planning_application_consultees_path(@planning_application), secondary: true %>

          <%= govuk_button_link_to "Back", planning_application_assessment_tasks_path(@planning_application), secondary: true %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
