<% content_for :page_title do %>
  <%= t(".add_token") %> - <%= t("page_title") %>
<% end %>

<% add_parent_breadcrumb_link "Home", root_path %>
<% add_parent_breadcrumb_link "API tokens", tokens_path %>

<% content_for :title, t(".add_token") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <%= render "side_navigation", current: "tokens" %>
  </div>
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-l">
      <%= t(".add_token") %>
    </h1>

    <%= form_with model: @token, scope: :token, url: tokens_path do |form| %>
      <%= form.govuk_error_summary %>
      <%= form.govuk_fieldset(legend: {text: nil}) do %>
        <%= form.govuk_text_field :name, hint: {text: t(".hints.name")} %>
        <%= form.govuk_text_field :service, hint: {text: t(".hints.service")} %>
      <% end %>

      <%= form.govuk_check_boxes_fieldset(:permissions,
            multiple: false,
            legend: {text: "Permissions to be granted to this key"}) do %>
        <% ApiUser::VALID_PERMISSIONS.each do |permission| %>
          <%= form.govuk_check_box :permissions, permission,
                label: {text: tag.code(permission)} %>
        <% end %>
      <% end %>

      <%= render "file_downloader", form: form, file_downloader: @token.file_downloader %>

      <%= form.govuk_submit(t(".submit")) do %>
        <%= govuk_button_link_to t("back"), tokens_path, secondary: true %>
      <% end %>
    <% end %>
  </div>
</div>
