<%= render "task_header", task: @task %>

<% if flash[:sent_neighbour_letters].present? %>
  <%= govuk_notification_banner(title_text: "Success", success: true) do |nb| %>
    <p class="govuk-notification-banner__heading">
      Your application was successful
    </p>
    <p>
      Contact
      <a class="govuk-notification-banner__link" href="https://www.notifications.service.gov.uk/support">GOV.UK Notify</a>
      if you think there’s a problem.
    </p>
  <% end %>
<% end %>

<% if @form.consultation.neighbour_review&.to_be_reviewed? %>
  <%= govuk_inset_text do %>
    <h3>
      Reviewer requested changes
    </h3>

    <p><%= @form.consultation.neighbour_review.comment %></p>
  <% end %>
<% end %>

<%= form_with model: @form, url: @form.url do |form| %>
  <%= form.govuk_error_summary %>

  <%= render "#{@form.partial_path}/list", planning_application: @planning_application, consultation: @form.consultation, form: form %>

  <%= render "#{@form.partial_path}/letter_template", planning_application: @planning_application, consultation: @form.consultation, form: form %>

  <div class="govuk-button-group govuk-!-margin-top-5 align-buttons">
    <%= form.govuk_task_button "Send letters", action: :send_letters %>
  </div>
<% end %>
