<div class="govuk-!-margin-left-4">
  <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">
    <%= t(".user_marked_this", user: comment.user.name) %>
  </p>
  <p class="govuk-body govuk-!-margin-top-1"><%= comment.created_at %></p>
  <%= render(FormattedContentComponent.new(text: comment.text)) %>
</div>
<hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">
  <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">
    <%= description %>
  </p>
  <p class="govuk-body govuk-!-margin-top-0">
    <%= assessment_detail.created_at %>
  </p>
  <%= render(FormattedContentComponent.new(text: assessment_detail.entry)) %>
<hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">
