<% base_id = "assess-against-legislation-tasks" %>
<% list_id = local_assigns[:id_prefix].present? ? "#{local_assigns[:id_prefix]}-#{base_id}" : base_id %>

<li id="<%= list_id %>">
  <h2 class="app-task-list__section">
    Assess against legislation
  </h2>
  <ul class="app-task-list__items">
    <%= render(
          TaskListItems::Assessment::DevelopmentTypeComponent.new(
            planning_application: @planning_application
          )
        ) %>

    <% if @planning_application.no_policy_classes_after_assessment? %>
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          No policy classes were added.
        </span>
      </li>
    <% else %>
      <% @planning_application.planning_application_policy_classes.order(:policy_class_id).each do |pa_policy_class| %>
        <%= render(
              TaskListItems::Assessment::PlanningApplicationPolicyClassComponent.new(
                planning_application_policy_class: pa_policy_class,
                planning_application: @planning_application
              )
            ) %>
      <% end %>
    <% end %>

    <% if @planning_application.section_55_development? %>
      <li class="app-task-list__item" id="add-new-assessment-area">
        <span class="app-task-list__task-name">
          <%= link_to_if(
                @planning_application.can_assess?,
                "Add new assessment area",
                planning_application_assessment_policy_areas_parts_path(@planning_application),
                class: "govuk-link"
              ) %>
        </span>
      </li>
    <% else %>
      <li class="govuk-task-list__item" id="add-new-assessment-area">
        <div class="govuk-task-list__name-and-hint">
          <div class="govuk-task-list__hint">
            Add new assessment area
          </div>
        </div>
        <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet">
          <%= @planning_application.section_55_development.nil? ? "Cannot start yet" : "Not required" %>
        </div>
      </li>
    <% end %>
  </ul>
</li>
