<li id="assessment-information-tasks">
  <h2 class="app-task-list__section">
    Assessment summaries
  </h2>

  <ul class="app-task-list__items">
    <% if @planning_application.pre_application? %>
      <%= render(
            TaskListItems::Assessment::AssessmentDetailComponent.new(
              planning_application: @planning_application,
              category: "site_description"
            )
          ) %>
      <%= render(
            TaskListItems::Assessment::ConsiderationsComponent.new(
              planning_application: @planning_application,
              link_text: "Planning considerations and advice",
              link_path: planning_application_assessment_consideration_guidances_path(@planning_application)
            )
          ) %>
      <% if @planning_application.heads_of_terms? %>
        <%= render(
              TaskListItems::Assessment::HeadsOfTermsComponent.new(
                planning_application: @planning_application
              )
            ) %>
      <% end %>
      <%= render(
            TaskListItems::Assessment::AssessmentDetailComponent.new(
              planning_application: @planning_application,
              category: "summary_of_advice"
            )
          ) %>
    <% else %>
      <% @planning_application.application_type.assessor_remarks.each do |category| %>
        <%= render(
              TaskListItems::Assessment::AssessmentDetailComponent.new(
                planning_application: @planning_application,
                category:
              )
            ) %>
      <% end %>

      <% if @planning_application.site_visits? %>
        <%= render(
              TaskListItems::Assessment::SiteVisitComponent.new(
                planning_application: @planning_application
              )
            ) %>
      <% end %>
    <% end %>

  </ul>
</li>
