<li id="check-consistency-assessment-tasks">
  <h2 class="app-task-list__section">
    <%= t(".check_application") %>
  </h2>
  <ul class="app-task-list__items">
    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
        <%= link_to(
        t(".description_documents_and"),
        consistency_checklist_path(consistency_checklist),
        class: "govuk-link"
        ) %>
      </span>
      <%= render(
        StatusTags::ConsistencyChecklistComponent.new(
          consistency_checklist: consistency_checklist
        )
      ) %>
    </li>
    <%= render(
      TaskListItems::Assessment::AssessmentDetailComponent.new(
        planning_application: @planning_application,
        category: :past_applications
      )
    ) %>
    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
        <%= link_to(
        "Check ownership certificate",
        edit_planning_application_assessment_ownership_certificate_path(@planning_application),
        class: "govuk-link"
        ) %>
      </span>
      <%= render(
        StatusTags::OwnershipCertificateComponent.new(
          planning_application: @planning_application
        )
      ) %>
    </li>
    <% if @planning_application.planning_history_enabled? %>
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <%= link_to(
            t(".history"),
            planning_application_assessment_planning_history_path(@planning_application),
            class: "govuk-link"
          ) %>
        </span>
      </li>
    <% end %>
    <% if @planning_application.possibly_immune? %>
      <%= render(
        TaskListItems::Assessment::ImmunityDetailsComponent.new(
          planning_application: @planning_application
        )
      ) %>
    <% end %>
    <% if @planning_application.check_permitted_development_rights? %>
      <% if @planning_application.possibly_immune? %>
        <%= render(
          TaskListItems::Assessment::AssessImmunityDetailPermittedDevelopmentRightComponent.new(
            planning_application: @planning_application
          )
        ) %>
      <% else %>
        <%= render(
          TaskListItems::Assessment::PermittedDevelopmentRightComponent.new(
            planning_application: @planning_application
          )
        ) %>
      <% end %>
    <% end %>
  </ul>
</li>
