<li id="check-consistency-assessment-tasks">
  <h2 class="app-task-list__section">
    <%= t(".check_application") %>
  </h2>
  <ul class="app-task-list__items">
    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
        <%= govuk_link_to t(".description_documents_and"), consistency_checklist_path(consistency_checklist) %>
      </span>
      <div class="govuk-task-list__status app-task-list__task-tag">
      <%= render(
            StatusTags::ConsistencyChecklistComponent.new(
              consistency_checklist: consistency_checklist
            )
          ) %>
      </div>
    </li>
    <% if @planning_application.check_publicity? && !@planning_application.pre_application? %>
      <%= render(
            TaskListItems::Assessment::AssessmentDetailComponent.new(
              planning_application: @planning_application,
              category: :check_publicity
            )
          ) %>
    <% end %>
    <% if @planning_application.ownership_details? %>
      <%= render(
            TaskListItems::Assessment::OwnershipCertificateComponent.new(
              planning_application: @planning_application
            )
          ) %>
    <% end %>
    <% if @planning_application.consultation? %>
      <%= render(
            TaskListItems::Assessment::ConsulteesConsultedComponent.new(
              planning_application: @planning_application
            )
          ) %>
    <% end %>
    <%= render(
          TaskListItems::Assessment::SiteHistoryComponent.new(
            planning_application: @planning_application
          )
        ) %>
    <% if @planning_application.check_permitted_development_rights? %>
      <% if !@planning_application.possibly_immune? %>
        <%= render(
              TaskListItems::Assessment::PermittedDevelopmentRightComponent.new(
                planning_application: @planning_application
              )
            ) %>
      <% end %>
    <% end %>
  </ul>
</li>
