<li id="complete-assessment-tasks">
  <h2 class="app-task-list__section">
    Complete assessment
  </h2>
  <ul class="app-task-list__items">
    <%= render(
      TaskListItems::Reviewing::DocumentsComponent.new(
        planning_application: @planning_application
      )
    ) %>
    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
        <%= link_to_if(
          @planning_application.can_assess?,
          "Make draft recommendation",
          new_planning_application_assessment_recommendation_path(@planning_application),
          class: "govuk-link"
        ) %>
      </span>
      <%= render(
        StatusTags::AssessRecommendationComponent.new(
          planning_application: @planning_application
        )
      ) %>
    </li>
    <% if @planning_application.application_type.planning_conditions? %>
      <%= render(
        TaskListItems::Assessment::ConditionsComponent.new(
          condition_set: @planning_application.condition_set
        )
      ) %>
    <% end %>
    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
        <% if @planning_application.can_submit_recommendation? %>
          <%= link_to "Review and submit recommendation", submit_recommendation_planning_application_path(@planning_application), aria: { describedby: "submit_recommendation-completed" }, class: "govuk-link" %>
        <% else %>
          Review and submit recommendation
        <% end %>
      </span>
      <%= render(
        StatusTags::SubmitRecommendationComponent.new(
          planning_application: @planning_application
        )
      ) %>
    </li>
  </ul>
</li>
