<li id="complete-assessment-tasks">
  <h2 class="app-task-list__section">
    Complete assessment
  </h2>
  <ul class="app-task-list__items">
    <%= render(
          TaskListItems::Reviewing::DocumentsComponent.new(
            planning_application: @planning_application
          )
        ) %>
    <li class="app-task-list__item" id="make-draft-recommendation">
      <span class="app-task-list__task-name">
        <%= link_to_if(
              @planning_application.can_assess?,
              "Make draft recommendation",
              new_planning_application_assessment_recommendation_path(@planning_application),
              class: "govuk-link"
            ) %>
      </span>
      <div class="govuk-task-list__status app-task-list__task-tag">
      <%= render(
            StatusTags::AssessRecommendationComponent.new(
              planning_application: @planning_application
            )
          ) %>
      </div>
    </li>
    <% if @planning_application.pre_application? %>
      <%= render(
            TaskListItems::Assessment::RecommendedApplicationTypeComponent.new(
              planning_application: @planning_application
            )
          ) %>
    <% end %>
    <% if @planning_application.application_type.planning_conditions? %>
      <%= render(
            TaskListItems::Assessment::ConditionsComponent.new(
              condition_set: @planning_application.condition_set
            )
          ) %>
      <%= render(
            TaskListItems::Assessment::ConditionsComponent.new(
              condition_set: @planning_application.pre_commencement_condition_set
            )
          ) %>
    <% end %>
    <% if @planning_application.application_type.informatives? %>
      <%= render(
            TaskListItems::Assessment::InformativesComponent.new(
              planning_application: @planning_application
            )
          ) %>
    <% end %>
    <!-- >Only show if it's a minor application<!-->
    <li class="app-task-list__item" id="check-add-requirements">
      <span class="app-task-list__task-name">
        <%= govuk_link_to "Check and add requirements", planning_application_assessment_requirements_path(@planning_application) %>
      </span>
      <div class="govuk-task-list__status app-task-list__task-tag">
      <%= render(
            StatusTags::RequirementsComponent.new(
              planning_application: @planning_application,
              requirements: @planning_application.requirements
            )
          ) %>
      </div>
    </li>
    <li class="app-task-list__item" id="add-heads-of-terms">
      <span class="app-task-list__task-name">
        <%= govuk_link_to "Add heads of terms", planning_application_assessment_terms_path(@planning_application) %>
      </span>
      <div class="govuk-task-list__status app-task-list__task-tag">
      <%= render(
            StatusTags::HeadsOfTermsComponent.new(
              heads_of_term: @planning_application.heads_of_term
            )
          ) %>
      </div>
    </li>
    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
        <% if @planning_application.can_submit_recommendation? %>
          <%= govuk_link_to "Review and submit recommendation", submit_recommendation_planning_application_path(@planning_application), aria: {describedby: "submit_recommendation-completed"} %>
        <% else %>
          Review and submit recommendation
        <% end %>
      </span>
      <div class="govuk-task-list__status app-task-list__task-tag">
      <%= render(
            StatusTags::SubmitRecommendationComponent.new(
              planning_application: @planning_application
            )
          ) %>
      </div>
    </li>
  </ul>
</li>
