<% content_for :page_title do %>
  Assess the application - <%= t('page_title') %>
<% end %>

<% add_parent_breadcrumb_link "Home", root_path %>
<% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>
<% content_for :title, "Assess application" %>

<%= render(
  partial: "shared/proposal_header",
  locals: { heading: "Assess the application"  }
) %>

<%= render "shared/dates_and_assignment_header" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-margin-top-5">
      <%= t(".application_details") %>
    </h2>
    <%= render(
      AccordionComponent.new(planning_application: @planning_application)
    ) %>
    <ol class="app-task-list govuk-!-margin-top-8">
      <%= render(
        partial: "check_consistency",
        locals: {
          consistency_checklist: @planning_application.consistency_checklist
        }
      ) %>
      <%= render "assessment_information" %>

      <%= render "assess_against_legislation" %>

      <%= render "complete_assessment" %>
    </ol>

    <%= link_to "Back", planning_application_path(@planning_application), class: "govuk-button govuk-button--secondary" %>
  </div>
</div>
