<% content_for :page_title do %>
  <%= t(".determination_period") %> - <%= t("page_title") %>
<% end %>

<% add_parent_breadcrumb_link "Home", root_path %>
<% add_parent_breadcrumb_link "Application Types", application_types_path %>

<% content_for :title, t(".determination_period") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= form_with model: @application_type, url: [@application_type, :determination_period] do |form| %>
      <%= form.govuk_error_summary(presenter: ErrorPresenter) %>

      <%= form.govuk_text_field :determination_period_days, width: 5,
        label: {text: t(".set_determination_period"), tag: "h1", size: "l"},
        hint: {text: t(".hint")},
        suffix_text: t(".days") %>

      <%= form.govuk_submit(t(".continue")) do %>
        <%= back_link %>
      <% end %>
    <% end %>
  </div>
</div>
