<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds" id="<%= @task.slug %>">
    <h1 class="govuk-heading-l">Check breach report</h1>
    <p class="govuk-body">
      <strong><%= @enforcement.address %></strong>
      <br>
      Case reference <strong><%= @enforcement.case_record.id %></strong>
    </p>

    <div id="planning-application-statuses-tags">
      <p class="govuk-body">
        <span class="govuk-!-margin-left-1">
          <span class="govuk-tag"><%= @enforcement.status %></span>
        </span>
        <% if @enforcement.urgent? %>
          <span class="govuk-!-margin-left-1">
            <span class="govuk-tag govuk-tag--orange">urgent</span>
          </span>
        <% end %>
      </p>
    </div>

    <p class="govuk-body">
      <%= @enforcement.description || "No description" %>
    </p>
  </div>
</div>

<%= govuk_task_list(id_prefix: "breach-report") do |task_list| %>
  <% @task.tasks.each do |task| %>
      <%= task_list.with_item(
            title: task.name,
            href: edit_task_path(@case_record, task),
            status: task_status_tag(task)
          ) %>
    <% end %>
  <% end %>

<%= form_with model: @enforcement, url: "#", local: true do |form| %>
  <%= form.govuk_submit "Close the case", class: "govuk-button govuk-button--warning" do %>
    <%= govuk_button_link_to "Back", enforcement_path(@enforcement), secondary: true %>
  <% end %>
<% end %>
