<% content_for(:page_title) do %>
  <%= t(".page_title", id: @planning_application.id) %> - <%= page_title %>
<% end %>

<% if @validation_request.cancelled? %>
  <%= render "cancelled",
        validation_request: @validation_request,
        heading: "Cancelled fee change request on your application" %>
<% else %>
  <h1 class="govuk-heading-l">
    Response to fee change request
  </h1>

  <div id="fee-change-reason">
    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
      Officer’s reason for invalidating application:
    </h2>

    <%= render(FormattedContentComponent.new(text: @validation_request.reason)) %>
  </div>

  <div id="fee-change-suggestion">
    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
      How you can make your application valid:
    </h2>

    <%= render(FormattedContentComponent.new(text: @validation_request.suggestion)) %>
  </div>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div id="fee-change-response">
    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
      Your response to this request
    </h2>

    <%= render(FormattedContentComponent.new(text: @validation_request.response)) %>

    <% if @documents.any? %>
      <ul id="supporting-documents" class="govuk-list govuk-!-margin-top-7">
        <% @documents.each do |document| %>
          <li>
            <p class="govuk-body">
              <%= govuk_link_to(url_for_document(document), new_tab: "", class: "govuk-!-display-inline-block") do %>
                <%= image_tag(url_for_representation(document, resize_to_fill: [360, 240, gravity: "North"]), size: "360x240", class: "govuk-!-display-inline-block", style: "border: 1px solid #080;") %>
              <% end %>
            </p>

            <p class="govuk-body">
              <%= govuk_link_to document.name, url_for_document(document), new_tab: true %>
            </p>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>
