<%= render(
  partial: "shared/proposal_header",
  locals: { heading: "Request a validation change #{'(Fee)' if @validate_fee}"  }
) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "planning_applications/validation/fee_items/fee_item_table" if @validate_fee %>

    <%= form_with model: [@planning_application, :validation, @validation_request] do |form| %>
      <%= form.govuk_text_area(
        :summary,
        label: {
          size: "s",
          class: "govuk-label govuk-label--s",
          # text: (t(".labels.summary") if @validate_fee)
        },
        hint: { class: ("make-invisible" if @validate_fee) },
        rows: 5,
        readonly: @planning_application.validated?
      ) %>

      <%= form.govuk_text_area(
        :suggestion,
        label: {
          size: "s",
          class: "govuk-label govuk-label--s",
          # text: (t(".labels.suggestion") if @validate_fee)
        },
        rows: 5,
        readonly: @planning_application.validated?
      ) %>

      <%= render "shared/validation_request_form_actions", form: form, allow_submit: true %>
    <% end %>
  </div>
</div>
