<table class="govuk-table validation-requests-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">
        Request
      </th>
      <th scope="col" class="govuk-table__header">
        Detail
      </th>
      <th scope="col" class="govuk-table__header">
        Status
      </th>
      <th scope="col" class="govuk-table__header">
        View <%= "and update" unless @planning_application.invalidated? %> request
      </th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    <% requests.each do |request| %>
      <tr class="govuk-table__row">
        <%= content_tag(:tr, id: dom_id(request)) do %>
          <td class="govuk-table__cell change-request-list">
            <%= request.request_type.humanize %>
          </td>
          <% if request.cancelled_at? %>
            <td class="govuk-table__cell change-request-list">
              <%= request.reason %>
            </td>
          <% else %>
            <td class="govuk-table__cell change-request-list">
              <%#%>= request.specific_attributes %>
            </td>
          <% end %>

          <td class="govuk-table__cell">
            <% case request.state %>
            <% when "pending" %>
              <strong class="govuk-tag govuk-tag--yellow">
                Not sent yet
              </strong>
            <% when "open" %>
              <strong class="govuk-tag govuk-tag--<%= display_request_date_state(request) %>">
                <%= request.overdue? ? "overdue" : "sent" %>
              </strong>
            <% when "closed" %>
              <strong class="govuk-tag">
                Responded
              </strong>
            <% end %>
          </td>

          <td class="govuk-table__cell">
            <%= show_validation_request_link(@planning_application, request) %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
