<% content_for :page_title do %>
  Add new description change validation request - <%= t('page_title') %>
<% end %>

<% add_parent_breadcrumb_link "Home", planning_applications_path %>
<% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>
<% content_for :title, "Description change" %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Description change
    </h1>

    <%= render "shared/planning_application_address_and_reference" %>

    <div class="govuk-form-group">
      <h2 class="govuk-heading-m">
        Description of work
      </h2>
      <p class="govuk-body">
        <strong>
          Previous description
        </strong>
      </p>
      <p class="govuk-body">
        <%= @planning_application.description  %>
      </p>
      <%= form_with model: [@planning_application, @description_change_request], local: true, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |form| %>
        <% if @description_change_request.errors.any? %>
          <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
              There is a problem
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                <% @description_change_request.errors.full_messages.each do |error| %>
                  <li><%= error %></li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
        <% if @planning_application.latest_rejected_description_change.present? %>
          <p class="govuk-body">
            <strong>
              Rejected proposed description
            </strong>
          </p>
          <p class="govuk-body">
            <%= @planning_application.latest_rejected_description_change.proposed_description %>
          </p>
          <p class="govuk-body">
            <span class="govuk-caption-m">
              Applicant rejected this description because: <%= @planning_application.latest_rejected_description_change.rejection_reason %>
            </span>
          </p>
        <% end %>
        <%= form.govuk_text_area :proposed_description,
      label: { text: 'Please suggest a new application description', class: 'govuk-label govuk-label--s'},
      rows: 5 %>
        <div class="govuk-button-group">
          <%= form.govuk_submit "Send" %>
          <%= link_to(
            "Back",
            :back,
            class: "govuk-button govuk-button--secondary"
          ) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
