<% add_parent_breadcrumb_link "Home", planning_applications_path %>
<% add_parent_breadcrumb_link "Application", validate_form_planning_application_path(@planning_application) %>
<% content_for :title, "Description change" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">
      Request approval to a description change
    </h2>
    <p class="govuk-body">
      <strong>At:</strong> <%= @planning_application.full_address  %> <br>
      <strong>Date received:</strong> <%= @planning_application.created_at.strftime("%e %B %Y") %> <br>
      <strong>Application number:</strong> <%= @planning_application.reference  %>
    </p>

    <div>
      <p class="govuk-body"> <strong> Previous description:</strong><br>
        <%= @description_change_request.previous_description  %>
      </p>
      <p class="govuk-body"> <strong> Proposed description:</strong><br>
        <%= @description_change_request.proposed_description  %>
      </p>
    </div>
    <p class="govuk-body">
      <% if @description_change_request.open? %>
        Sent on <%= @description_change_request.created_at.strftime("%e %B %Y") %>. Agent or applicant has not yet responded.
      <% else %>
        <%= @description_change_request.approved? ? 'Approved' : 'Rejected' %>
      <% end %>
    </p>
    <%= link_to "Back", validate_form_planning_application_path(@planning_application), class: "govuk-button" %>
    <% if @description_change_request.open? %>
      <%= link_to "Cancel this request", planning_application_description_change_validation_request_cancel_path(@planning_application, @description_change_request), class: "govuk-button govuk-button--secondary", method: :patch  %>
    <% end %>
  </div>
</div>
