<%= render "change_requests/change_requests_breadcrumbs" %>

<% content_for :title, "Red line boundary change" %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l govuk-!-padding-top-6">
      Proposed red line boundary change
    </h2>
    <p class="govuk-body govuk-!-margin-bottom-1">
      <strong>At:</strong> <%= @planning_application.full_address  %>
    </p>
    <p class="govuk-body govuk-!-margin-bottom-1">
      <strong>Date received:</strong> <%= @planning_application.created_at.strftime("%e %B %Y") %>
    </p>
    <p class="govuk-body govuk-!-margin-bottom-8">
      <strong>Application number:</strong> <%= @planning_application.reference  %>
    </p>

    <%= form_with model: [@planning_application, @red_line_boundary_change_request], local: true, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |form| %>
      <% if @red_line_boundary_change_request.errors.any? %>
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
          <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <% @red_line_boundary_change_request.errors.each do |error| %>
                <li><%= error.message %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>

      <%= form.govuk_text_area :new_geojson,
                               label: { text: "Applicant's original red line boundary", size: 's', class: 'govuk-label govuk-label--s govuk-!-padding-bottom-4'},
                               class: "govuk-visually-hidden" %>

      <%= render "shared/interactive_map", locals: { div_id: "interactive_map", geojson: @planning_application.boundary_geojson } %>
      <h2 class="govuk-heading-s govuk-!-padding-top-6">
        Red line drawings shown on map
      </h2>
      <div class="govuk-grid-row govuk-!-margin-left-1 govuk-!-padding-bottom-2">
      <p class="govuk-body">
          <img src="/images/filled_square.png" alt-text="filled boundary square" width="60px" style="float:left; padding-right:20px" />
          Applicant submitted red line boundary
      </p>
      </div>
      <div class="govuk-grid-row govuk-!-padding-bottom-4">
        <p class="govuk-body govuk-!-margin-left-4">
          <img src="/images/dotted_square.png" alt-text="square with dotted border" width="60px" style="float:left; padding-right:20px" />
          Proposed red line boundary
      </p>
      </div>

      <%= form.govuk_text_area :reason,
                               label: { text: 'Explain to the applicant why changes are proposed to the red line boundary', size: 's', class: 'govuk-label govuk-label--s govuk-!-padding-bottom-4'},
                               rows: 5 %>
      <%= form.govuk_submit "Send" %>
      <%= link_to "Back", new_planning_application_change_request_path(@planning_application), class: "govuk-button govuk-button--secondary" %>
    <% end %>
  </div>
</div>
