<% content_for :page_title do %>
  <%= t(".title") %> - <%= t("page_title") %>
<% end %>

<% content_for :title, t(".breadcrumb") %>

<%= render(partial: "shared/assessment_task_breadcrumbs", locals: {planning_application: @planning_application}) %>
<%= render(partial: "shared/proposal_header", locals: {heading: t(".title")}) %>

<div class="govuk-grid-row">
  <%= render "planning_applications/assessment/assessment_details/summary_of_advice/tabs" %>

  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Check pre-application outcome</h2>
    <p>This is a suggested outcome based on your assessment. If you'd like to change it, you can select the outcome.</p>

    <%= render "planning_applications/assessment/assessment_details/summary_of_advice/form" %>
  </div>
</div>
