<%= form_with(
  model: [planning_application, consultation],
  builder: GOVUKDesignSystemFormBuilder::FormBuilder,
  data: { action: "submit->submit-form#handleSubmit" }
) do |form| %>
  <%= form.govuk_error_summary(presenter: ErrorPresenter) %>
  <%= form.fields_for :neighbours, @consultation.neighbours.new do |ff| %>
    <div>
      <label for="address-autocomplete" class="govuk-heading-s">Add neighbours by address</label>
      <div id="address-autocomplete-container">
    </div>

    <%= ff.hidden_field :consultation_id, value: consultation.id %>
  <% end %>
  <br>
  <%= form.submit(
    "Add neighbour",
    class: "govuk-button govuk-button--secondary"
  ) %>
<% end %>

