<h3 class="govuk-heading-s govuk-!-margin-top-8">Neighbour letter preview</h3>

<div>
<h3>Public consultation</h3>
<p>Town and country planning act</p>
<p><strong>Application received</strong></p>
<p><%= planning_application.received_at %></p>
<p><strong>Application expiry</strong></p>
<p><%= planning_application.expiry_date %></p>
<p><strong>Site address</strong></p>
<p><%= planning_application.full_address %></p>
<p><strong>Proposal of work</strong></p>
<p><%= planning_application.description %></p>

<h4>If you wish to comment on the application</h4>
<p><strong>View plans and documents here</strong></p>
<p></p>

<p><strong>Application number</strong></p>
<p><%= planning_application.reference %></p>

<p><strong>Consultation closing date</strong></p>
<p>closing date</p>
</div>
