<% content_for :page_title do %>
  Send letters to neighbours - <%= t('page_title') %>
<% end %>

<% add_parent_breadcrumb_link "Home", root_path %>
<% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>
<% add_parent_breadcrumb_link "Publicity", planning_application_path(@planning_application) %>
<% content_for :title, "Send letters to neighbours" %>

<%= render(
  partial: "shared/proposal_header",
  locals: { heading: "Send letters to neighbours" }
) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full" data-controller="address-fill">
    <%= render(
      partial: "shared/location_map",
      locals: {
        locals: {
          in_accordion: false,
          geojson: @planning_application.boundary_geojson
        }
      }
    ) %>

    <%= render "neighbours_added", planning_application: @planning_application, consultation: @consultation %>
    
    <%= render "form", planning_application: @planning_application, consultation: @consultation %>

    <%= render "selected_list", planning_application: @planning_application, consultation: @consultation %>
  </div>
</div>
