<% content_for :page_title do %>
  Send letters to neighbours - <%= t('page_title') %>
<% end %>

<% add_parent_breadcrumb_link "Home", root_path(filter_options: PlanningApplication::FILTER_OPTIONS) %>
<% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>
<% add_parent_breadcrumb_link "Consultation", planning_application_path(@planning_application) %>
<% content_for :title, "Send letters to neighbours" %>

<%= render(
  partial: "shared/proposal_header",
  locals: { heading: "Send letters to neighbours" }
) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full" data-controller="address-fill">
    <%= render(
      partial: "shared/location_map",
      locals: {
        locals: {
          in_accordion: false,
          geojson: @planning_application.boundary_geojson
        }
      }
    ) %>

    <%= render "form", planning_application: @planning_application, consultation: @consultation %>

    <%= render "selected_list", planning_application: @planning_application, consultation: @consultation %>

    <div class="govuk-button-group">
      <%= form_with model: [@planning_application, @consultation], url:
  planning_application_consultation_send_neighbour_letters_path(planning_application: @planning_application, consultation_id: @consultation.id), method: 'post' do |form| %>
        <%= form.submit "Print and send letters", class: "govuk-button govuk-button--primary", style: "margin-inline-end: 2rem;" %>
      <% end %>

      <%= form_with(
          model: [@planning_application, @consultation],
          builder: GOVUKDesignSystemFormBuilder::FormBuilder,
          class: "govuk-!-margin-top-5"
        ) do |form| %>
        <%= form.hidden_field :consultation_id %>
        <%= form.submit "Save and come back later", class: "govuk-button govuk-button--secondary", data: { module: "govuk-button" } %>
        <%= link_to "Back", planning_application_path(@planning_application), class: "govuk-button govuk-button--secondary" %>
      <% end %>
    </div>
  </div>
</div>
