<% content_for :page_title do %>
  Consultation
<% end %>

<% add_parent_breadcrumb_link "Home", root_path %>
<% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>
<% content_for :title, "Consultation" %>

<%= render(
  partial: "shared/proposal_header",
  locals: { heading: "Consultation" }
) %>

<%= render "shared/dates_and_assignment_header" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <ol class="app-task-list govuk-!-margin-top-8">
      <h2 class="govuk-heading-m">Neighbours</h2>
      <ul class="app-task-list__items" id="neighbour-section">
        <%= render(
          TaskListItems::SendLettersToNeighboursComponent.new(
            planning_application: @planning_application
          )
        ) %>
        <%= render(
          TaskListItems::NeighbourResponsesComponent.new(
            planning_application: @planning_application
          )
        ) %>
        <%= render(
          TaskListItems::SiteNoticeComponent.new(
            planning_application: @planning_application
          )
        ) %>
        <% if @planning_application.site_notices.any? && @planning_application.site_notices.last.required %>
          <%= render(
            TaskListItems::ConfirmSiteNoticeComponent.new(
              planning_application: @planning_application
            )
          ) %>
        <% end %>
        <% if consultation = @planning_application.consultation %>
          <% if consultation.site_visits.any? || consultation.neighbour_responses.objection.any? %>
            <%= render(
              TaskListItems::SiteVisitComponent.new(
                planning_application: @planning_application
              )
            ) %>
          <% end %>
        <% end %>
      </ul>

      <h2 class="govuk-heading-m">Consultees</h2>
      <ul class="app-task-list__items" id="consultation-section">
        <li class="app-task-list__item" id="send-letters-to-neighbours">
          <span class="app-task-list__task-name">
            <a class="govuk-link" href="#">Email consultees</a>
          </span>
        </li>
        <li class="app-task-list__item" id="send-letters-to-neighbours">
          <span class="app-task-list__task-name">
            <a class="govuk-link" href="#">Consultee responses</a>
          </span>
        </li>
      </ul>

      <h2 class="govuk-heading-m">Publicity</h2>
      <ul class="app-task-list__items" id="publicity-section">
        <li class="app-task-list__item" id="send-letters-to-neighbours">
          <span class="app-task-list__task-name">
            <a class="govuk-link" href="#">Send site notice</a>
          </span>
        </li>
        <li class="app-task-list__item" id="send-letters-to-neighbours">
          <span class="app-task-list__task-name">
            <a class="govuk-link" href="#">Confirm site notice</a>
          </span>
        </li>
        <%= render(
          TaskListItems::PressNoticeComponent.new(
            planning_application: @planning_application
          )
        ) %>
        <li class="app-task-list__item" id="confirm-press-notice">
          <span class="app-task-list__task-name">
            <a class="govuk-link" href="#">Confirm press notice</a>
          </span>
        </li>
      </ul>
    <ol>

    <%= link_to "Back", planning_application_path(@planning_application), class: "govuk-button govuk-button--secondary" %>
  </div>
</div>
