<% content_for :page_title do %>
  Send letters to neighbours - <%= t('page_title') %>
<% end %>

<% add_parent_breadcrumb_link "Home", root_path %>
<% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>
<% add_parent_breadcrumb_link "Consultation", planning_application_path(@planning_application) %>
<% content_for :title, "Send letters to neighbours" %>

<%= render(
  partial: "shared/proposal_header",
  locals: { heading: "Send letters to neighbours" }
) %>

<% if flash[:sent_neighbour_letters].present? %>
  <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
    aria-labelledby="govuk-notification-banner-title"
    data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Success
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <h3 class="govuk-notification-banner__heading">
        Letters have been sent to neighbours and a copy of the letter has been sent to the applicant.
      </h3>
      <p class="govuk-body">Contact <a class="govuk-notification-banner__link" href="https://www.notifications.service.gov.uk/support">GOV.UK Notify</a> if you think there’s a problem.</p>
    </div>
  </div>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full" data-controller="address-fill">
    <%= render(
      partial: "shared/location_map",
      locals: {
        locals: {
          in_accordion: false,
          geojson: @planning_application.boundary_geojson
        }
      }
    ) %>

    <%= render "form", planning_application: @planning_application, consultation: @consultation %>

    <%= render "selected_list", planning_application: @planning_application, consultation: @consultation %>
    
    <%= render "contacted_list", planning_application: @planning_application, consultation: @consultation %>

    <%= render "letter_template", planning_application: @planning_application, consultation: @consultation %>

    <%= render "form_actions", planning_application: @planning_application, consultation: @consultation %>
  </div>
</div>
