<% content_for :page_title do %>
  Two-factor authentication log in - <%= t('page_title') %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
        Enter your phone number
    </h1>
    <p class="govuk-body"> To use two-factor authentication we need a UK mobile phone number for your account.</p>
    <div class=" govuk-form-group">
      <%= form_for(
        @mobile_number_form,
        as: :user,
        url: user_session_path,
        method: :post
      ) do |form| %>
        <%= form.govuk_error_summary(presenter: ErrorPresenter) %>
        <%= form.govuk_text_field(:mobile_number) %>
        <div class="govuk-button-group">
          <%= form.govuk_submit(t(".send_code")) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
