<%= form_with model: @planning_application, local: true, url: planning_application_validation_reporting_type_url(@planning_application) do |form| %>
  <%= form.govuk_error_summary %>

  <%= form.govuk_radio_buttons_fieldset(:reporting_type, legend: {size: "m"}) do %>
    <% if @planning_application.application_type.selected_reporting_types? %>
      <% @planning_application.application_type.selected_reporting_types.each do |reporting_type| %>
        <%= form.govuk_radio_button(:reporting_type_code, reporting_type.code, label: {text: reporting_type.full_description}, disabled: action_name == "show") do %>
          <% if reporting_type.guidance? %>
            <%= render FormattedContentComponent.new(text: reporting_type.guidance, classname: "govuk-hint") %>
            <% if reporting_type.guidance_link? %>
              <p class="govuk-hint"><%= govuk_link_to(t(".read_more"), reporting_type.guidance_link, new_tab: true) %></p>
            <% end %>
          <% end %>
          <% if reporting_type.legislation? %>
            <p class="govuk-body"><strong><%= t(".legislation") %></strong></p>
            <p class="govuk-hint"><%= reporting_type.legislation %></p>
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      <p class="govuk-body"><%= t(".no_applicable_reporting_types") %></p>
    <% end %>
  <% end %>

  <%= form.govuk_radio_buttons_fieldset(:regulation, legend: {size: "m", text: "Is the local planning authority the owner of this land?"}) do %>
    <%= form.govuk_radio_button :regulation, true, label: {text: "Yes"}, link_errors: true, disabled: action_name == "show", checked: @planning_application.regulation_3 || @planning_application.regulation_4 do %>
      <%= form.govuk_radio_buttons_fieldset(:regulation, legend: {size: "s", text: "Is the local planning authority carrying out the works proposed?"}) do %>
        <%= form.govuk_radio_button :regulation_3, true, label: {text: "Yes"}, link_errors: true, disabled: action_name == "show", checked: @planning_application.regulation_3 %>
        <%= form.govuk_radio_button :regulation_3, false, label: {text: "No"}, disabled: action_name == "show", checked: @planning_application.regulation_4 %>
      <% end %>
    <% end %>
    <%= form.govuk_radio_button :regulation, false, label: {text: "No"}, disabled: action_name == "show", checked: !@planning_application.regulation_3 && !@planning_application.regulation_4 %>
  <% end %>

  <% if action_name == "show" %>
    <div class="govuk-button-group">
      <%= govuk_button_link_to "Back", planning_application_validation_tasks_path(@planning_application), secondary: true %>
      <%= govuk_link_to "Edit reporting details", edit_planning_application_validation_reporting_type_path(@planning_application), class: "govuk-body" %>
    </div>
  <% else %>
    <%= form.govuk_submit(t("form_actions.save_and_mark_as_complete")) do %>
      <%= govuk_button_link_to "Back", planning_application_validation_tasks_path(@planning_application), secondary: true %>
    <% end %>
  <% end %>
<% end %>
