<%= form_with model: @planning_application, local: true, url: planning_application_validation_reporting_type_url(@planning_application) do |form| %>
  <%= form.govuk_error_summary(presenter: ErrorPresenter) %>

  <%= form.govuk_radio_buttons_fieldset(
      :reporting_type,
      legend: { size: "m" }
    ) do %>
      <% reporting_types(@planning_application.application_type.name.to_sym).each do | category, description, guidance, guidance_link, legislation| %>
        <%= form.govuk_radio_button(:reporting_type, category, label: { text: "#{category} - #{description}" }, data: { "aria-controls": "conditional-#{category}" }) %>

        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id=<%="conditional-#{category}"%>>
          <% if guidance.present? %>
            <p class="govuk-body"><strong>Guidance</strong></p>
            <p class="govuk-hint"><%= guidance %></p>
            <% if guidance_link.present? %>
              <%= link_to("Read more guidance GOV.UK (opens in new tab)", guidance_link, target: '_blank', class: "govuk-link") %>
            <% end %>
          <% end %>
          <% if legislation.present? %>
            <p class="govuk-body"><strong>Legislation</strong></p>
            <p class="govuk-hint"><%= legislation %></p>
          <% end %>
        </div>
      <% end %>
  <% end %>

  <div class="govuk-button-group">
    <%= form.submit(
      t("form_actions.save_and_mark_as_complete"),
      class: "govuk-button",
      data: { module: "govuk-button" }
    ) %>
    <%= back_link %>
  </div>
<% end %>
