<% content_for :page_title do %>
  CIL Liability - <%= t("page_title") %>
<% end %>

<%= render(
      partial: "planning_applications/validation/validation_requests/validation_requests_breadcrumbs",
      locals: {planning_application: @planning_application}
    ) %>

<% content_for :title, "CIL Liability" %>

<%= render(
      partial: "shared/proposal_header",
      locals: {heading: "Confirm Community Infrastructure Levy (CIL)"}
    ) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m">Check CIL</h3>
    <p class="govuk-body">
      <% if @planning_application.cil_liability_details? %>
        According to PlanX
        <% if (area = @planning_application.cil_liability_details&.dig(:proposedTotalArea, :squareMetres)) %>
          the new floor area being added is:
          <strong><%= area %>m²</strong>.
          <br>
          This might mean that
        <% end %>
        the application is
        <% if @planning_application.likely_cil_exempt? %>
          exempt from CIL.
        <% elsif @planning_application.likely_cil_liable? %>
            liable for CIL.
        <% else %>
          not liable for CIL.
        <% end %>
      <% else %>
        No information on potential CIL liability from PlanX.
      <% end %>
    </p>

    <%= render partial: "form" %>
  </div>
</div>
