<%= wrapper_tag do %>
  <div class="govuk-inset-text">
    <p class="govuk-body-s govuk-!-margin-bottom-2">
      <%= received_on %>
    </p>

    <p>
      <%= response_status %>
      <%= published_status %>
    </p>

    <p>
      <%= response_text %>
    </p>

    <% if documents.present? %>
      <ul class="govuk-list govuk-body-s">
        <% documents.each do |document| %>
          <li><%= helpers.link_to_document(document.name, document) %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <% if redact_and_publish %>
    <p class="govuk-!-margin-top-2">
      <%= redact_and_publish_link_tag %>
    </p>

    <%= section_break_tag %>
  <% end %>
<% end %>
