<% content_for :page_title do %>
  Notify neighbours of committee meeting - <%= t("page_title") %>
<% end %>

<%= render(
      partial: "shared/review_task_breadcrumbs",
      locals: {planning_application: @planning_application}
    ) %>

<% content_for :title, "Notify neighbours of committee meeting" %>

<%= render(
      partial: "shared/proposal_header",
      locals: {heading: "Notify neighbours of committee meeting"}
    ) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">
      Application going to committee
    </h2>

    <p>
      The case officer has marked this application as requiring decision by Committee for the following reasons:
    </p>

    <div class="grey-box">
      <h3 class="govuk-heading-s">
        Reasons selected:
      </h3>

      <ul class="govuk-list">
        <% @committee_decision.reasons.each do |reason| %>
          <li><%= reason %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<%= form_with(
      model: @committee_decision,
      url: planning_application_review_committee_decision_notifications_path(@planning_application, @committee_decision)
    ) do |form| %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">1. Enter committee meeting details</h2>
      <div class="govuk-!-margin-bottom-3">
        <span class="govuk-hint">These details will be included in the notification.</span>
      </div>

      <%= form.govuk_error_summary %>
      <%= form.govuk_date_field :date_of_committee, legend: {text: "Enter date of meeting", size: "s"} %>
      <%= form.govuk_text_field :location, label: {text: "Enter location"}, hint: {text: "Enter the address where the meeting will be held. Include the name of the room, building number or hame, street, town and postcode."} %>
      <%= form.govuk_text_field :link, label: {text: "Enter link"}, hint: {text: "Add a URL where neighbours can view agendas and more information about committee meetings, such as a link to join online."} %>
      <%= form.govuk_text_field :time, label: {text: "Enter time of meeting"}, hint: {text: "For example, 10:30am or 7pm. For midday enter 12pm."}, width: 5 %>
      <%= form.govuk_date_field :late_comments_deadline, legend: {text: "Enter deadline for late comments to be received by", size: "s"} %>
    </div>
  </div>

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">2. Check and send notification</h2>
      <p>This will be sent to the selected neighbours and anyone who submitted a comment on this application. A copy will be sent to the applicant and agent.</p>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            View/edit letter template
          </span>
        </summary>
        <div class="govuk-details__text">
          <%= form.label :notification_content, "Neighbour letter", class: "govuk-!-display-none" %>
          <div class="govuk-inset-text">
            <p>Text marked with a # (hashtag) will appear as a header in the printed letter.</p>
            <p>Text marked with a * (asterisk) will appear as a bullet point in the printed letter.</p>
          </div>
          <%= form.text_area :notification_content, value: I18n.t("neighbour_letter_template.committee"), rows: 25, class: "govuk-body neighbour-letter-template" %>
        </div>
      </details>
      <div class="govuk-button-group">
        <%= form.submit "Send notification", class: "govuk-button" %>
        <%= govuk_button_link_to "Back", planning_application_review_tasks_path(@planning_application), secondary: true %>
      </div>
    </div>
  </div>
<% end %>
