<% content_for :page_title do %>
  Add new description change validation request - <%= t("page_title") %>
<% end %>

<% add_parent_breadcrumb_link "Home", root_path %>
<% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>
<% if @planning_application.not_started? %>
  <% add_parent_breadcrumb_link "Validation tasks", planning_application_validation_tasks_path(@planning_application) %>
<% end %>
<% content_for :title, "Description change" %>

<%= render(
      partial: "shared/proposal_header",
      locals: {heading: "Description change"}
    ) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if @planning_application.application_type.description_change_requires_validation? %>
      <h2 class="govuk-heading-m govuk-!-margin-top-3">
        Suggest a new description to the applicant
      </h2>

      <p>
        This will be sent to the applicant immediately. If the applicant does not respond within 5 days, the amended description will be automatically accepted.
      </p>
    <% else %>
      <h2 class="govuk-heading-m govuk-!-margin-top-3">
        Update description
      </h2>

      <p>
        This will be applied immediately.
      </p>
    <% end %>

    <div class="govuk-inset-text">
      <h3 class="govuk-heading-s">
        Existing description
      </h3>
      <%= render(FormattedContentComponent.new(text: @planning_application.description)) %>
    </div>

    <%= form_with model: [@planning_application, :validation, @validation_request], scope: :validation_request do |form| %>
      <%= form.govuk_error_summary %>

      <% if @planning_application.latest_rejected_description_change.present? %>
        <p>
          <strong>
            Rejected proposed description
          </strong>
        </p>
        <%= render(FormattedContentComponent.new(text: @planning_application.latest_rejected_description_change.proposed_description)) %>
        <p>
          <span class="govuk-caption-m">
            Applicant rejected this description because: <%= @planning_application.latest_rejected_description_change.rejection_reason %>
          </span>
        </p>
      <% end %>
      <%= form.hidden_field(:type, value: "DescriptionChangeValidationRequest") %>
      <%= form.govuk_text_area :proposed_description,
            label: {size: "s", text: "Enter an amended description" + (@planning_application.application_type.description_change_requires_validation? ? " to send to the applicant" : "")},
            rows: 5 %>
      <% if @planning_application.not_started? %>
        <%= form.hidden_field(:return_to, value: planning_application_validation_tasks_path(@planning_application)) %>
      <% else %>
        <%= form.hidden_field(:return_to, value: @back_path) %>
      <% end %>
      <div class="govuk-button-group">
        <%= form.govuk_submit @planning_application.application_type.description_change_requires_validation? ? "Send request" : "Save and mark as complete" %>
        <%= back_link %>
      </div>
    <% end %>
  </div>
</div>
