<% if @consultation.neighbours.select(&:persisted?).any? %>
  <div id="selected-neighbours-list" class="govuk-!-margin-top-5 govuk-!-margin-bottom-8">
    <div class="bops-accordion" data-module="bops-accordion" data-remember-expanded="false" id="accordion-default">
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Neighbours already selected
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content govuk-!-padding-bottom-0" aria-labelledby="accordion-default-heading-1">
          <% @consultation.neighbours.select(&:persisted?).sort_by(&:id).each do |neighbour| %> 
          <hr>
          <div class="proposal-details-sub-heading" data-controller="edit-form">
            <div class="govuk-!-width-three-quarters govuk-!-margin-top-1">
              <p class="govuk-body">
                <%= neighbour.address %>
              </p>
            </div>

            <%= form_with(
              model: neighbour,
              data: { action: "submit->submit-form#handleSubmit" },
              url: planning_application_consultation_neighbour_path(planning_application, neighbour),
              class: "govuk-!-display-none"
            ) do |form| %>
              <%= form.govuk_error_summary(presenter: ErrorPresenter) %>
              <%= form.govuk_text_field :address %>
              <br>
              <%= form.submit(
                "Save",
                class: "govuk-button govuk-button--secondary"
              ) %>
            <% end %>

            <div class="neighbour-action-links">
              <%= link_to(
                  "Edit",
                  "#",
                  class: "govuk-link",
                  data: { action: "click->edit-form#handleClick" }
                )
              %>

              <%= link_to(
                    "Remove",
                    planning_application_consultation_neighbour_path(
                        @planning_application,
                        neighbour
                    ),
                    method: :delete,
                    class: "govuk-link"
              ) %>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
