<% if @consultation.neighbours.select(&:persisted?).any? %>
  <div id="selected-neighbours-list" class="govuk-!-margin-top-5 govuk-!-margin-bottom-8">
    <%= govuk_accordion do |accordion| %>
      <% accordion.with_section(heading_text: "Neighours already selected") do %>
        <% @consultation.neighbours.select(&:persisted?).sort_by(&:id).each do |neighbour| %>
        <hr>
        <div class="flex-between" data-controller="edit-form">
          <div class="govuk-!-width-three-quarters govuk-!-margin-top-1">
            <p class="govuk-body">
              <%= neighbour.address %>
            </p>
          </div>

          <%= form_with(
                model: neighbour,
                data: {action: "submit->submit-form#handleSubmit"},
                url: planning_application_consultation_neighbour_path(planning_application, neighbour),
                class: "govuk-!-display-none"
              ) do |form| %>
            <%= form.govuk_error_summary %>
            <%= form.govuk_text_field :address %>
            <br>
            <%= form.submit(
                  "Save",
                  class: "govuk-button govuk-button--secondary"
                ) %>
          <% end %>

          <div class="neighbour-action-links">
            <%= govuk_link_to(
                  "Edit",
                  "#",
                  data: {action: "click->edit-form#handleClick"}
                ) %>

            <%= govuk_link_to(
                  "Remove",
                  planning_application_consultation_neighbour_path(
                    @planning_application,
                    neighbour
                  ),
                  method: :delete
                ) %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
