<%= render "shared/task_header", task: @task %>

<% if @planning_application.meetings.present? %>
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">
      Meeting history
    </caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Meeting date</th>
        <th scope="col" class="govuk-table__header">Case officer</th>
        <th scope="col" class="govuk-table__header">Notes (optional)</th>
      </tr>
    </thead>
    <% @planning_application.meetings.all.find_each do |meeting| %>
      <% if meeting.persisted? %>
        <%= render "planning_applications/assessment/meetings/overview", meeting: meeting %>
      <% end %>
    <% end %>
  </table>
<% else %>
  <div class="govuk-!-padding-3 govuk-!-margin-bottom-6 background-light-grey">
    <p class="govuk-!-margin-bottom-2 govuk-!-margin-top-3">
      <strong>No meetings have been recorded yet.</strong>
    </p>
    <p>Add new meeting to start recording meeting history.</p>
  </div>
<% end %>

<% unless @planning_application.determined? %>
  <%= govuk_details(summary_text: "Add a new meeting") do %>
    <div id="add-meeting-details">
      <%= render "bops_preapps/tasks/check-and-assess/additional-services/meeting/form" %>
    </div>
  <% end %>
<% end %>

<%= render "shared/task_submit_buttons", save_draft: true %>
