<table class="govuk-table" id="additional-document-validation-requests-table">
  <tbody class="govuk-table__body">
    <% validation_requests.each do |validation_request| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-width-one-third">
          <%= image_pack_tag("placeholder/blank_image.png", alt: "Blank image", width: 180, height: 220) %>
        </td>
        <td class="govuk-table__cell govuk-!-width-one-half">
          <p class="govuk-body">
            <strong>New document requested</strong>
          </p>
          <p class="govuk-body">
            Document requested: <%= validation_request.document_request_type %>
          </p>
          <p class="govuk-body">
            Reason: <%= validation_request.document_request_reason %>
          </p>
          <p class="govuk-body">
            Requested at: <%= validation_request.created_at.to_formatted_s(:day_month_year) %>
          </p>
        </td>
        <td class="govuk-table__cell govuk-!-width-one-sixth">
          <% if validation_request.open_or_pending? %>
            <% if @planning_application.invalidated? %>
              <%= cancel_confirmation_request_url(@planning_application, validation_request, classname: "govuk-link govuk-!-display-block") %>
            <% end %>

            <% if @planning_application.not_started? %>
              <%= edit_request_url(@planning_application, validation_request, classname: "govuk-link govuk-!-display-block") %>
              <%= delete_confirmation_request_url(@planning_application, validation_request, classname: "govuk-link govuk-!-display-block") %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
