<ul class="govuk-list">
  <h2 class="govuk-heading-m govuk-!-padding-top-5">Case officer's assessment</h2>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <% local_policy_areas.each_with_index do |local_policy_area, i| %>
    <%= content_tag :li, id: dom_id(local_policy_area) do %>
      <section aria-labelledby="policy-area-<%= local_policy_area.id %>">
        <h2 class="govuk-heading-m"><%= i + 1 %>: <%= local_policy_area.area.humanize %></h2>
        <p class="govuk-body"><strong>Relevant policies</strong></p>
        <p class="govuk-body"><%= local_policy_area.policies %></p>

        <% if local_policy_area.guidance.present? %>
          <p class="govuk-body"><strong>Guidance</strong></p>
          <p class="govuk-body"><%= local_policy_area.guidance %></p>
        <% end %>

        <p class="govuk-body"><strong>Assessment</strong></p>
        <%= render(FormattedContentComponent.new(text: local_policy_area.assessment)) %>

        <p class="govuk-body"><strong>Conclusion</strong></p>
        <% if local_policy_area.conclusion %>
          <%= render(FormattedContentComponent.new(text: local_policy_area.conclusion)) %>
        <% else %>
          <p class="govuk-body">-</p>
        <% end %>

        <%= govuk_link_to "Edit", edit_planning_application_assessment_local_policy_area_path(@planning_application, local_policy_area) %>
      </section>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <% end %>
  <% end %>
</ul>
