<% content_for :page_title do %>
  Review assessment against policies and guidance - <%= t("page_title") %>
<% end %>

<%= render(
      partial: "shared/review_task_breadcrumbs",
      locals: {planning_application: @planning_application}
    ) %>

<% content_for :title, "Review assessment against policies and guidance" %>

<%= render(
      partial: "shared/proposal_header",
      locals: {heading: "Review assessment against policies and guidance"}
    ) %>

<hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p class="govuk-heading-s"><%= t(".what_you_need") %></p>
    <ul class="govuk-list govuk-list--bullet">
      <li><%= t(".check_the_assessment") %></li>
      <li><%= t(".make_minor_changes") %></li>
      <li><%= t(".select_yes_to_accept") %></li>
      <li><%= t(".if_you_want") %></li>
    </ul>

    <%= render "comment" %>

    <%= render "form" %>

    <%= render "local_policy_areas", local_policy_areas: @local_policy.local_policy_areas %>
  </div>
</div>
