<% content_for :page_title do %>
  Review assessment against policies and guidance - <%= t("page_title") %>
<% end %>

<%= render(
      partial: "shared/review_task_breadcrumbs",
      locals: {planning_application: @planning_application}
    ) %>

<% content_for :title, "Review assessment against policies and guidance" %>

<%= render(
      partial: "shared/proposal_header",
      locals: {heading: "Review assessment against policies and guidance"}
    ) %>

<%= render "comment" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render "local_policy_areas", local_policy_areas: @local_policy.local_policy_areas %>

    <div class="govuk-button-group">
      <%= govuk_button_link_to("Back", planning_application_review_tasks_path(@planning_application), secondary: true) %>
      <%= govuk_link_to "Edit review policy guidance", edit_planning_application_review_local_policy_path(@planning_application, @review_local_policy) %>
    </div>
  </div>
</div>
