<%= render "validation_requests/validation_requests_breadcrumbs" %>

<% content_for :title, "Red line boundary change" %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l govuk-!-padding-top-6">
      Proposed red line boundary change
    </h2>
    <p class="govuk-body govuk-!-margin-bottom-1">
      <strong>At:</strong> <%= @planning_application.full_address  %>
    </p>
    <p class="govuk-body govuk-!-margin-bottom-1">
      <strong>Date received:</strong> <%= @planning_application.created_at.strftime("%e %B %Y") %>
    </p>
    <p class="govuk-body govuk-!-margin-bottom-8">
      <strong>Application number:</strong> <%= @planning_application.reference  %>
    </p>
    <h2 class="govuk-heading-m">
      Reason change is requested
    </h2>
    <p class="govuk-body">
      <%= @red_line_boundary_change_validation_request.reason  %>
    </p>
    <%= render "shared/location_map", locals: { div_id: "current_map", geojson: @planning_application.boundary_geojson } %>

    <h2 class="govuk-heading-m govuk-!-padding-top-6">
     Proposed red line boundary
    </h2>
    <%= render "shared/proposal_map", locals: { div_id: "proposed_map", geojson: @red_line_boundary_change_validation_request.new_geojson } %>
    <div class="govuk-!-padding-top-8">
     <%= link_to "Back", new_planning_application_validation_request_path(@planning_application), class: "govuk-button govuk-button--primary" %>
    </div>
  </div>
</div>
