<% content_for :page_title do %>
  <%= t(".title") %> - <%= t("page_title") %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-margin-bottom-5">
    <h1>
      Pre-applications
    </h1>
    <p class="govuk-body-m">
      <strong><%= current_user.name %>,</strong> <%= role_name %>
    </p>
    <p>
      <%= govuk_link_to "Add new application", main_app.new_planning_application_path %>
    </p>
  </div>
  <div class="govuk-grid-column-full">
    <%= govuk_tabs do |tabs|
          tabs.with_tab(label: "Cases assigned to you", id: "my_pre_apps") {
            render PlanningApplications::PanelComponent.new(
              planning_applications: @search.filtered_planning_applications(:pre_applications).for_current_user,
              type: :my_pre_apps,
              search: @search
            )
          }
          tabs.with_tab(label: "Unassigned cases", id: "unassigned_pre_apps") {
            render PlanningApplications::PanelComponent.new(
              planning_applications: @search.filtered_planning_applications(:pre_applications).for_null_users,
              type: :unassigned_pre_apps,
              search: @search
            )
          }
          tabs.with_tab(label: "Closed", id: "closed_pre_apps") {
            render PlanningApplications::PanelComponent.new(
              planning_applications: @search.closed_planning_applications.pre_applications,
              type: :closed_pre_apps,
              search: @search
            )
          }
          tabs.with_tab(label: "All", id: "all_pre_apps") {
            render PlanningApplications::PanelComponent.new(
              planning_applications: @search.filtered_planning_applications(:pre_applications),
              type: :all_pre_apps,
              search: @search
            )
          }
        end %>
  </div>
</div>
