<p class="govuk-body-s">
  <%= t(".requested_a_new", name: request&.user&.name) %><br>
  <%= request.document_request_type %><br>
  <%= t(".reason", reason: request.reason) %><br>
  <%= t(".requested", time: request.created_at.to_fs) %><br>
  <% if request.cancelled? %>
    <%= t(".cancelled", time: request.cancelled_at.to_fs) %><br>
  <% elsif request.additional_documents.any? %>
    <% document = request.additional_documents.last %>
    <%= t(".responded", time: document.created_at.to_fs) %><br>
    <%= link_to(
      t(".view_new_document"),
      planning_application_documents_path(
        planning_application,
        anchor: dom_id(document)
      ),
      class: "govuk-link"
    ) %>
  <% end %>
</p>
<% if request.open? %>
  <%= link_to(
    t(".view_and_edit"),
    planning_application_documents_path(
      planning_application,
      anchor: dom_id(request)
    ),
    class: "govuk-link"
  ) %>
<% end %>
