<%= form.govuk_radio_buttons_fieldset(
      :site_map_correct,
      legend: {text: t(".is_the_red"), size: "s", id: "site-map-title-field"}
    ) do %>
  <%= render "shared/location_map", locals: {in_accordion: true, geojson: @planning_application.boundary_geojson} %>
  <br>

  <% if can_edit %>
    <%= form.govuk_radio_button(
          :site_map_correct,
          :yes,
          label: {text: t(".yes")},
          link_errors: true,
          disabled: consistency_checklist.open_red_line_boundary_change_requests?
        ) %>
    <%= form.govuk_radio_button(
          :site_map_correct,
          :no,
          label: {text: t(".no")},
          checked: consistency_checklist.default_site_map_correct_to_no?
        ) do %>
      <% if planning_application.pre_application? %>
        <%= form.govuk_text_area :site_map_correct_comment, label: {text: "Add a comment"} %>
      <% elsif !consistency_checklist.open_red_line_boundary_change_requests? && !planning_application.pre_application? %>
        <%= govuk_link_to t(".request_red_line_boundary_change"), new_planning_application_validation_validation_request_path(
              planning_application,
              type: "red_line_boundary_change"
            ) %>
      <% end %>
    <% end %>
  <% else %>
    <%= form.govuk_radio_button(
          :site_map_correct,
          consistency_checklist.site_map_correct,
          label: {text: t(".#{consistency_checklist.site_map_correct}")},
          disabled: true
        ) %>
  <% end %>

  <% if !planning_application.pre_application? %>
    <%= render(
          partial: "/planning_applications/assessment/consistency_checklists/red_line_boundary_change_validation_request",
          locals: {
            request: planning_application.red_line_boundary_change_validation_request,
            planning_application: planning_application,
            task_slug: @task&.full_slug,
            redirect_to: local_assigns[:redirect_to]
          }
        ) %>
  <% end %>
<% end %>

<% if !can_edit && consistency_checklist.site_map_correct_comment %>
  <h4 class="govuk-heading-s">Comment</h4>
  <p>
    <%= render(FormattedContentComponent.new(text: consistency_checklist.site_map_correct_comment)) %>
  </p>
<% end %>
