<% content_for :page_title do %>
  <%= t(".disclaimer") %> - <%= t("page_title") %>
<% end %>

<% add_parent_breadcrumb_link "Home", root_path %>
<% add_parent_breadcrumb_link "Application Types", application_types_path %>

<% content_for :title, t(".disclaimer") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <%= render "side_navigation" %>
  </div>
  <div class="govuk-grid-column-three-quarters">
    <%= form_with model: @application_type, url: [@application_type, :disclaimer] do |form| %>
      <%= form.govuk_error_summary %>

      <%= form.govuk_text_area :disclaimer,
            label: {text: t(".set_disclaimer_html", description: @application_type.description)},
            hint: {text: t(".hint")} %>

      <%= form.govuk_submit(t(".continue")) do %>
        <%= govuk_button_link_to t("back"), @application_type, secondary: true %>
      <% end %>
    <% end %>
  </div>
</div>
