<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds" id="planning-application-details">
    <h1>Edit description</h1>
    <p class="govuk-body">
      <strong><%= @enforcement.address %></strong>
      <br>
      Case reference <strong><%= @enforcement.case_record.id %></strong>
    </p>

    <div id="planning-application-statuses-tags">
      <p class="govuk-body">
        <span class="govuk-!-margin-left-1">
          <span class="govuk-tag"><%= @enforcement.status %></span>
        </span>
        <% if @enforcement.urgent? %>
          <span class="govuk-!-margin-left-1">
            <span class="govuk-tag govuk-tag--orange">urgent</span>
          </span>
        <% end %>
      </p>
    </div>
  </div>
</div>

<div class="govuk-inset-text">
  <h3 class="govuk-heading-small">Existing description</h3>
  <p class="govuk-body">
    <%= @enforcement.description %>
  </p>
</div>

<%= form_with model: [@task, @enforcement], url: task_path(@case_record, @task), method: :patch do |form| %>
  <div id="edit-description">
    <%= form.govuk_text_area :description, label: {text: "Enter an amended description", tag: "h3", size: "m"}, rows: 5 %>
  </div>

  <%= form.govuk_submit "Save" do %>
    <%= govuk_button_link_to "Back", edit_task_path(@case_record, @task.parent), secondary: true %>
  <% end %>
<% end %>
