<%= render(
  "planning_application/assessment_details/#{category}/information",
  category: category,
  read_only: false
) %>

<%= form_with model: [@planning_application, @assessment_detail], local: true, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |form| %>
  <%= form.govuk_error_summary(
    presenter: assessment_detail_error_presenter(category)
  ) %>

  <%= render(
    partial: "#{assessment_detail_fields_partial_path(category)}/form_fields",
    locals: { form: form }
  ) %>

  <%= form.hidden_field :category, value: category %>

  <div class="govuk-button-group">
    <%= form.submit "Save and mark as complete", class: "govuk-button", data: { module: "govuk-button" } %>
    <%= form.submit "Save and come back later", class: "govuk-button govuk-button--secondary", data: { module: "govuk-button" } %>

    <%= back_link %>
  </div>
<% end %>
