<% content_for :page_title do %>
  <%= new_assessment_detail_title(category: @category, update: @rejected_assessment_detail.present?) %> - <%= t("page_title") %>
<% end %>

<%= render(
  partial: "shared/assessment_task_breadcrumbs",
  locals: { planning_application: @planning_application  }
) %>

<% content_for :title, t("assessment_details.#{@category}") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-top-7">
      <%= new_assessment_detail_title(
        category: @category,
        update: @rejected_assessment_detail.present?
      ) %>
    </h1>

    <%= render "shared/planning_application_address_and_reference" %>
    <%= render(
      "form",
      planning_application: @planning_application,
      category: @category,
      rejected_assessment_detail: @rejected_assessment_detail
    ) %>
  </div>
</div>
