<% content_for :page_title do %>
  <%= t("assessment_details.show_#{@assessment_detail.category}") %> - <%= t('page_title') %>
<% end %>

<%= render(
  partial: "shared/assessment_task_breadcrumbs",
  locals: { planning_application: @planning_application  }
) %>

<% content_for :title, t("assessment_details.#{@assessment_detail.category}") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-top-7">
      <%= t("assessment_details.show_#{@assessment_detail.category}") %>
    </h1>

    <%= render "shared/planning_application_address_and_reference" %>

    <div class="govuk-body">
      <%= render "planning_application/assessment_details/#{@assessment_detail.category}/information", category: @assessment_detail.category %>

      <p><%= simple_format(@assessment_detail.entry) %></p>
    </div>

    <div class="govuk-button-group">
      <%= back_link %>

      <%= link_to t("assessment_details.edit_#{@assessment_detail.category}"), edit_planning_application_assessment_detail_path(@planning_application, @assessment_detail), class: "govuk-link" %>
    </div>
  </div>
</div>

