<% form_url = if local_authority
     @user.persisted? ? local_authority_user_path(local_authority, @user) : local_authority_users_path(local_authority)
   end %>

<%= form_with model: @user, url: form_url do |form| %>
  <%= form.govuk_error_summary %>
  <%= form.govuk_fieldset(legend: {text: nil}) do %>
    <%= form.govuk_text_field :name, class: "govuk-input--width-30" %>
    <%= form.govuk_text_field :email, class: "govuk-input--width-30" %>
    <%= form.govuk_text_field :mobile_number, class: "govuk-input--width-30" %>
    <%= form.govuk_collection_select(
          :otp_delivery_method,
          otp_delivery_method_options,
          :first,
          :last
        ) %>
    <% if show_role && @user != current_user %>
      <%= form.govuk_collection_select(
            :role,
            User.local_roles,
            :itself,
            :capitalize
          ) %>
    <% end %>
  <% end %>

  <div class="govuk-button-group">
    <%= form.govuk_submit(t("shared.users.form.submit")) %>
    <%= back_link %>
    <% if @user.persisted? && @user != current_user %>
      <% if @user.discarded? %>
        <% reactivate_path = local_authority ? reactivate_local_authority_user_path(local_authority, @user) : reactivate_user_path(@user) %>
        <%= govuk_button_link_to(t("shared.users.form.reactivate_user"), reactivate_path,
              warning: true,
              method: :patch, data: {confirm: "Are you sure?"}) %>
      <% else %>
        <% destroy_path = local_authority ? local_authority_user_path(local_authority, @user) : user_path(@user) %>
        <%= govuk_button_link_to(t("shared.users.form.deactivate_user"), destroy_path,
              warning: true,
              method: :delete, data: {confirm: "Are you sure?"}) %>
      <% end %>
    <% end %>
  </div>
<% end %>
