<%= form_with model: @application_type do |form| %>
  <%= form.govuk_error_summary %>

  <div data-controller="autocomplete-select">
    <%= form.govuk_select :code, ApplicationType.code_menu,
          label: {text: t(".code_label"), tag: "h2", size: "m"},
          hint: {text: t(".code_hint")},
          options: {include_blank: true} %>
  </div>

  <%= form.govuk_text_field :suffix, width: 5,
        label: {text: t(".suffix_label"), tag: "h2", size: "m"},
        hint: {text: t(".suffix_hint")} %>

  <%= form.govuk_submit(t(".continue")) do %>
    <% if @application_type.new_record? %>
      <%= link_to(t("back"), :application_types, class: "govuk-button govuk-button--secondary") %>
    <% else %>
      <%= link_to(t("back"), @application_type, class: "govuk-button govuk-button--secondary") %>
    <% end %>
  <% end %>
<% end %>
