<table class="govuk-table application-types-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">
        <%= t(".suffix") %>
      </th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-half">
        <%= t(".name") %>
      </th>
      <th scope="col" class="govuk-table__header">
        <%= t(".status") %>
      </th>
      <th scope="col" class="govuk-table__header">
        <%= t(".action") %>
      </th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    <% application_types.each do |application_type| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <%= application_type.suffix %>
        </td>
        <td class="govuk-table__cell govuk-!-text-wrap-balance">
          <%= application_type.description %>
        </td>
        <td class="govuk-table__cell">
          <%= tag.span(class: "govuk-tag govuk-tag--#{tag_colour(application_type.status)}") do %>
            <%= application_type.status.humanize %>
          <% end %>
        </td>
        <td class="govuk-table__cell">
          <%= link_to t(".view_and_or_edit"), application_type_path(application_type) , class: "govuk-link" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
