<% content_for :page_title do %>
  <%= t(".review_application_type") %> - <%= t("page_title") %>
<% end %>

<% add_parent_breadcrumb_link "Home", root_path %>
<% add_parent_breadcrumb_link "Application Types", application_types_path %>

<% content_for :title, t(".review_application_type") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      <%= t(".review_application_type") %>
    </h1>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t(".name") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @application_type.description %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <% if @application_type.inactive? %>
            <%= link_to [:edit, @application_type], class: "govuk-link" do %>
              <%= t(".change") %><span class="govuk-visually-hidden"> <%= t(".name") %></span>
            <% end %>
          <% end %>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t(".suffix") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @application_type.suffix %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <% if @application_type.inactive? %>
            <%= link_to [:edit, @application_type], class: "govuk-link" do %>
              <%= t(".change") %><span class="govuk-visually-hidden"> <%= t(".suffix") %></span>
            <% end %>
          <% end %>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t(".category") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <% if @application_type.category? %>
            <%= t(".categories.#{@application_type.category}") %>
          <% end %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <%= link_to [:edit, @application_type, :category], class: "govuk-link" do %>
            <%= t(".change") %><span class="govuk-visually-hidden"> <%= t(".category") %></span>
          <% end %>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t(".legislation") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <% if @application_type.legislation %>
            <%= @application_type.legislation.title %>
          <% end %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <%= link_to [:edit, @application_type, :legislation], class: "govuk-link" do %>
            <%= t(".change") %><span class="govuk-visually-hidden"> <%= t(".legislation") %></span>
          <% end %>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t(".determination_period") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <% if @application_type.determination_period_days %>
            <%= t(".determination_period_including_bank_holidays", count: @application_type.determination_period_days) %>
          <% end %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <%= link_to [:edit, @application_type, :determination_period], class: "govuk-link" do %>
            <%= t(".change") %><span class="govuk-visually-hidden"> <%= t(".determination_period") %></span>
          <% end %>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t(".features") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body"><strong>Application details</strong></p>
          <ul class="govuk-list govuk-list--bullet">
            <% if @application_type.permitted_development_rights? %>
              <li>Check permitted development rights</li>
            <% end %>
            <% if @application_type.planning_conditions? %>
              <li>Check planning conditions</li>
            <% end %>
          </ul>

          <% if @application_type.consultation? %>
            <p class="govuk-body"><strong>Consultation</strong></p>
            <ul class="govuk-list govuk-list--bullet">
              <% @application_type.consultation_steps.each do |step| %>
                <li><%= step.humanize %></li>
              <% end %>
            </ul>
          <% end %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <%= link_to [:edit, @application_type, :features], class: "govuk-link" do %>
            <%= t(".change") %><span class="govuk-visually-hidden"> <%= t(".features") %></span>
          <% end %>
        </dd>
      </div>

      <% @application_type.document_tags.tag_groups.each do |group| %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= t(".tags") %> – <%= t(".groups.#{group}") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body max-lines max-lines--clamped" data-controller="max-lines" data-action="click->max-lines#toggle">
              <% group.translated_tags.each do |tag| %>
                <span class="govuk-tag govuk-tag--grey govuk-!-margin-left-0 govuk-!-margin-right-1 govuk-!-margin-top-1 govuk-!-margin-bottom-1"><%= tag %></span>
              <% end %>
            </p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <%= link_to [:edit, @application_type, :document_tags, anchor: "#{group}-tags"], class: "govuk-link" do %>
              <%= t(".change") %><span class="govuk-visually-hidden"> <%= t(".links.#{group}") %></span>
            <% end %>
          </dd>
        </div>
      <% end %>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t(".status") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <span class="govuk-tag <%= "govuk-tag--#{tag_colour(@application_type.status)}" %>">
            <%= @application_type.status.humanize %>
          </span>
        </dd>
        <dd class="govuk-summary-list__actions">
          <%= link_to [:edit, @application_type, :status], class: "govuk-link" do %>
            <%= t(".change") %><span class="govuk-visually-hidden"> <%= t(".status") %></span>
          <% end %>
        </dd>
      </div>
    </dl>

    <div class="govuk-button-group">
      <%= link_to t(".continue"), :application_types, class: "govuk-button" %>
    </div>
  </div>
</div>
