<% content_for :page_title do %>
  <%= t(".review_application_type") %> - <%= t("page_title") %>
<% end %>

<% add_parent_breadcrumb_link "Home", root_path %>
<% add_parent_breadcrumb_link "Application Types", application_types_path %>

<% content_for :title, t(".review_application_type") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      <%= t(".review_application_type") %>
    </h1>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t(".name") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @application_type.description %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <% if @application_type.inactive? %>
            <%= link_to [:edit, @application_type], class: "govuk-link" do %>
              <%= t(".change") %><span class="govuk-visually-hidden"> <%= t(".name") %></span>
            <% end %>
          <% end %>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t(".suffix") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @application_type.suffix %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <% if @application_type.inactive? %>
            <%= link_to [:edit, @application_type], class: "govuk-link" do %>
              <%= t(".change") %><span class="govuk-visually-hidden"> <%= t(".suffix") %></span>
            <% end %>
          <% end %>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t(".legislation") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <% if @application_type.legislation %>
            <%= @application_type.legislation.title %>
          <% end %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <%= link_to [:edit, @application_type, :legislation], class: "govuk-link" do %>
            <%= t(".change") %><span class="govuk-visually-hidden"> <%= t(".legislation") %></span>
          <% end %>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t(".determination_period") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <% if @application_type.determination_period_days %>
            <%= t(".determination_period_including_bank_holidays", count: @application_type.determination_period_days) %>
          <% end %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <%= link_to [:edit, @application_type, :determination_period], class: "govuk-link" do %>
            <%= t(".change") %><span class="govuk-visually-hidden"> <%= t(".determination_period") %></span>
          <% end %>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t(".status") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <span class="govuk-tag <%= "govuk-tag--#{tag_colour(@application_type.status)}" %>">
            <%= @application_type.status.humanize %>
          </span>
        </dd>
        <dd class="govuk-summary-list__actions">
          <%= link_to [:edit, @application_type, :status], class: "govuk-link" do %>
            <%= t(".change") %><span class="govuk-visually-hidden"> <%= t(".status") %></span>
          <% end %>
        </dd>
      </div>
    </dl>

    <div class="govuk-button-group">
      <%= link_to t(".continue"), :application_types, class: "govuk-button" %>
    </div>
  </div>
</div>
