<%= render "shared/task_header", task: @task, heading: "Cancel fee change request" %>

<h3 class="govuk-heading-m">Payment information</h3>
<%= render "bops_preapps/shared/payment_information", planning_application: @planning_application %>

<h2 class="govuk-heading-m">Request to be cancelled</h2>

<div class="govuk-inset-text">
  <p>
    <strong>Reason fee is invalid:</strong>
    <%= render(FormattedContentComponent.new(text: @form.validation_request.reason)) %>
  </p>
  <p>
    <strong>What the applicant needs to do:</strong>
    <%= render(FormattedContentComponent.new(text: @form.validation_request.suggestion)) %>
  </p>
  <p>
    <%= @form.validation_request.created_at.to_fs %>
  </p>
</div>

<%= form_with model: @form, url: @form.url do |form| %>
  <%= form.govuk_error_summary %>

  <%= form.hidden_field :validation_request_id %>

  <%= form.govuk_text_area :cancel_reason,
        label: {size: "m", text: "Explain to the applicant why this request is being cancelled"},
        rows: 5 %>

  <div class="govuk-button-group">
    <%= form.govuk_submit "Confirm cancellation", name: "task_action", value: "cancel_request" %>
    <%= govuk_link_to "Back", @form.url %>
  </div>
<% end %>
