<%= render "change_requests/change_requests_breadcrumbs.html.erb" %>

<% content_for :title, "Replacement documents" %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l govuk-!-padding-top-6">
      Request replacement documents
    </h2>
    <p class="govuk-body govuk-!-padding-bottom-3">
      The following documents have been marked as invalid.
    </p>
    <%= form_with model: [@planning_application, @document_change_request], local: true, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |form| %>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header app-custom-class">Document</th>
            <th scope="col" class="govuk-table__header app-custom-class">File name</th>
            <th scope="col" class="govuk-table__header app-custom-class">Invalid reason</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <% @planning_application.invalid_documents_without_change_request.each do |document| %>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <% if document.tags.present? %>
                  <% document.tags.each do |tag| %>
                    <%= tag.upcase %>
                  <% end %>
                <% end %>
              </td>
              <td class="govuk-table__cell"><%= document.name %></td>
              <td class="govuk-table__cell"><%= document.invalidated_document_reason %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <p class="govuk-body govuk-!-padding-top-6 govuk-!-padding-bottom-8">
        If you want to make any changes to the requests, return to <%= link_to "documents", planning_application_documents_path(@planning_application) %>
      </p>
      <%= form.govuk_submit "Send" %>
      <%= link_to "Back", new_planning_application_change_request_path(@planning_application), class: "govuk-button govuk-button--secondary" %>
    <% end %>
  </div>
</div>
