<%= render(
      partial: "shared/proposal_header",
      locals: {heading: "Request other validation change"}
    ) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div data-controller="unsaved-changes"
         data-action="beforeunload@window->unsaved-changes#handleBeforeUnload">
      <%= form_with model: [@planning_application, :validation, @validation_request], scope: :validation_request,
            data: {unsaved_changes_target: "form", action: "submit->unsaved-changes#handleSubmit"} do |form| %>
      <%= form.govuk_error_summary %>

      <%= form.hidden_field(
            :return_to,
            value: local_assigns[:return_to]
          ) %>

      <%= form.govuk_text_area(
            :reason,
            label: {
              size: "m",
              text: "Tell the applicant another reason why the application is invalid"
            },
            rows: 5,
            readonly: @planning_application.validated?
          ) %>

      <%= form.govuk_text_area(
            :suggestion,
            label: {
              size: "m",
              text: "Explain to the applicant how the application can be made valid"
            },
            hint: {
              text: "Add all information that they will need to complete this action"
            },
            rows: 5,
            readonly: @planning_application.validated?
          ) %>

      <%= form.hidden_field :type, value: "OtherChangeValidationRequest" %>

      <%= render "shared/validation_request_form_actions", form: form, allow_submit: true %>
      <% end %>
    </div>
  </div>
</div>
