<% content_for :page_title do %>
  Accessibility statement - <%= page_title %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1>
      Accessibility statement
    </h1>

    <p>
      <%= current_local_authority.council_name %> is committed to making its
      websites accessible, in accordance with the Public Sector Bodies (Websites
      and Mobile Applications) (No. 2) Accessibility Regulations 2018.
    </p>

    <p>
      This accessibility statement applies to publicly
      available pages of the Back Office Planning System.
    </p>

    <p>
      This website is run by <%= current_local_authority.council_name %>.
      We want as many people as possible to be able to use this website.
      For example, that means you should be able to:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>change colours, contrast levels and fonts</li>
      <li>zoom in up to 300% without the text spilling off the screen</li>
      <li>navigate most of the website using just a keyboard</li>
      <li>navigate most of the website using speech recognition software</li>
      <li>
        listen to most of the website using a screen reader
        (including the most recent versions of JAWS, NVDA and VoiceOver)
      </li>
    </ul>

    <p>
      We've also made the website text as simple as possible to understand.
    </p>

    <p>
      <a href="https://mcmw.abilitynet.org.uk" class="govuk-link">AbilityNet</a>
      has advice on making your device easier to use if you have a disability.
    </p>

    <h2>
      How accessible this website is
    </h2>

    <p>
      We know some parts of this website are not fully accessible:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Interactive map content for red line boundary changes</li>
      <li>No validation on submission, impacting those with motor impairments</li>
    </ul>

    <% if accessibility = current_local_authority.accessibility %>
      <h2>
        Feedback and contact information
      </h2>

      <p>
        If you need information on this website in a different format like accessible
        PDF, large print, easy read, audio recording or braille:
      </p>

      <p>
        Email <strong><%= accessibility.email_address %></strong><br>
        Call <strong><%= accessibility.phone_number %></strong>
      </p>

      <p>
        We’ll consider your request and get back to you in 5 working days.
      </p>

      <p>
        If you cannot view the map on our ‘contact us’ page, call or email us for directions.
      </p>
    <% end %>

    <h2>
      Reporting accessibility problems with this website
    </h2>

    <p>
      We’re always looking to improve the accessibility of this website.
      If you find any problems not listed on this page or think we're not
      meeting accessibility requirements, contact:
    </p>

    <p>
      <%= simple_format(accessibility.postal_address, {}, wrapper_tag: "strong") %>
    </p>

    <h2>
      Enforcement procedure
    </h2>

    <p>
      The Equality and Human Rights Commission (EHRC) is responsible for
      enforcing the Public Sector Bodies (Websites and Mobile Applications)
      (No. 2) Accessibility Regulations 2018 (the 'accessibility regulations').
      If you're not happy with how we respond to your complaint,
      <a href="https://www.equalityadvisoryservice.com" class="govuk-link">contact the Equality Advisory and Support Service (EASS)</a>.
    </p>

    <h2>
      Contacting us by phone or visiting us in person
    </h2>

    <p>
      We provide a text relay service for people who are D/deaf,
      hearing impaired or have a speech impediment.
    </p>

    <p>
      Our offices have audio induction loops, or if you contact us before your
      visit we can arrange a British Sign Language (BSL) interpreter.
    </p>

    <h2>
      Technical information about this website's accessibility
    </h2>

    <p>
      <%= current_local_authority.council_name %> is committed to making its
      websites accessible, in accordance with the Public Sector Bodies (Websites
      and Mobile Applications) (No. 2) Accessibility Regulations 2018.
    </p>

    <h2>
      Compliance status
    </h2>

    <p>
      This website is fully compliant with the
      <a href="https://www.w3.org/TR/WCAG21" class="govuk-link">Web Content Accessibility Guidelines version 2.1</a>
      A standard.
    </p>

    <h2>
      Content that's not within the scope of the accessibility regulations
    </h2>

    <h3 class="govuk-!-margin-bottom-1">
      PDFs and other documents
    </h3>

    <p>
      We aim to not use PDFs and use HTML or other accessible formats wherever possible.
    </p>

    <h3 class="govuk-!-margin-bottom-1">
      Maps
    </h3>

    <p>
      We use maps to show the digital red line boundary you have submitted
      and suggested changes to the boundary that may be necessary. You can
      find out more about our plan to improve the accessibility of this
      <a href="https://github.com/theopensystemslab/map/issues/142" class="govuk-link">webpage</a>.
    </p>

    <h2>
      Preparation of this accessibility statement
    </h2>

    <p>
      This statement was prepared on 24th June 2025. This website was last tested on
      1st February 2024. The test was carried out by the Digital Accessibility Centre.
    </p>

    <p>
      We used this approach to deciding on a sample of pages to test two journeys,
      one covering the responding to requests for changes to a planning application
      and another relating to finding and viewing information about how to correctly
      prepare plans and drawings.
    </p>
  </div>
</div>
