<% content_for :page_title do %>
  Application information - <%= @planning_application.reference %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Overview</h1>
    <h2 class="govuk-heading-m">Application details</h2>

    <%= render(AccordionSections::ApplicationInformationComponent.new(planning_application: @planning_application, show_edit_link: false)) %>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <h2 class="govuk-heading-m">Submission form</h2>
    <%= govuk_table do |table| %>
      <% table.with_head do |head| %>
        <% head.with_row do |row| %>
          <% row.with_cell(text: "Question", classes: "govuk-!-width-one-half") %>
          <% row.with_cell(text: "Answer") %>
        <% end %>
      <% end %>
      <% table.with_body do |body| %>
        <% @planning_application.proposal_details.each do |proposal_detail| %>
          <% body.with_row do |row| %>
            <%= row.with_cell(text: proposal_detail.question.to_s) %>
            <%= row.with_cell(text: proposal_detail.response_values.join(", ").to_s, classes: "govuk-!-font-weight-bold") %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
