<% content_for :page_title do %>
  Review conditions - <%= t("page_title") %>
<% end %>
<%= render(
      partial: "shared/review_task_breadcrumbs",
      locals: {planning_application: @planning_application}
    ) %>
<% content_for :title, "Review heads of terms" %>
<%= render(
      partial: "shared/proposal_header",
      locals: {heading: "Review heads of terms"}
    ) %>

<%= render "banner" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render "terms_summary" %>
    <%= render "form", editable: true %>
  </div>
</div>
