<h2 class="govuk-heading-m"><%= title %></h2>

<%= render(
      Enforcements::SearchComponent.new(
        panel_type: type,
        search: @search
      )
    ) %>

<% if enforcements.empty? %>
  <p><%= t(".no_enforcements") %></p>
<% else %>
  <%= govuk_table(id: "enforcements") do |table| %>
    <% table.with_head do |head| %>
      <% head.with_row do |row| %>
        <% default_attributes.each do |attribute| %>
          <% if attribute == :full_address %>
            <% row.with_cell(text: t(".#{attribute}"), width: "three-quarters") %>
          <% else %>
            <% row.with_cell(text: t(".#{attribute}")) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% table.with_body do |body| %>
      <% enforcements.each do |enforcement| %>
        <% body.with_row do |row| %>
          <% default_attributes.each do |attribute| %>
            <%= row.with_cell do %>
              <%= render_attribute(enforcement, attribute) %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <% if type == :all %>
    <%= pagination %>
  <% end %>
<% end %>
