<% content_for :page_title do %>
  <%= t(".title") %> - <%= t("page_title") %>
<% end %>

<% content_for :title, t(".breadcrumb") %>

<%= render(partial: "shared/assessment_task_breadcrumbs", locals: {planning_application: @planning_application}) %>
<%= render(partial: "shared/proposal_header", locals: {heading: t(".title")}) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      <%= govuk_link_to t(".view_site_on_map"), map_link(@planning_application.full_address), target: "_blank" %>
    </p>

    <h2 class="govuk-heading-m"><%= t(".heading") %></h2>

    <%= govuk_warning_text(text: t(".warning")) %>

    <p class="govuk-body">
      <%= render(FormattedContentComponent.new(text: @assessment_detail.entry)) %>
    </p>

    <div class="govuk-button-group">
      <%= back_link %>
      <%= govuk_link_to t(".edit"), [:edit, @planning_application, :assessment, @assessment_detail, category: @category] %>
    </div>
  </div>
</div>
