<% content_for :page_title do %>
  Assess - <%= t("page_title") %>
<% end %>
<% render(
     partial: "shared/assessment_task_breadcrumbs",
     locals: {
       planning_application: @planning_application,
       current_page: "Add classes to assess"
     }
   ) %>

<%= render(
      partial: "shared/proposal_header",
      locals: {heading: "Add classes to assess"}
    ) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(
          url: planning_application_assessment_policy_areas_policy_classes_path(@planning_application),
          html: {data: unsaved_changes_data}
        ) do |form| %>
      <%= form.hidden_field :part, value: @part.number %>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div id="policy-class-hint" class="govuk-hint">
            <p class="govuk-body">
              Select the relevant class(es) to assess. Classes are defined
              in The Town and Country Planning (General Permitted
              Development) (England) Order 2015 (GPDO), Schedule 2, Part <%= @part.number %>.
            </p>

            <p class="govuk-body">
              <%= govuk_link_to "Open the Town and Country Planning (General Permitted Development) (England) Order 2015 in a new window",
                    "https://www.legislation.gov.uk/uksi/2015/596/schedule/2",
                    new_tab: "" %>
            </p>
          </div>
          <div class="govuk-checkboxes">
            <%= form.collection_check_boxes(
                  :policy_classes,
                  @part.policy_classes.menu,
                  :first,
                  :last
                ) do |b| %>
              <div class="govuk-checkboxes__item">
                <% if b.object.first.in?(@planning_application.planning_application_policy_classes.pluck(:policy_class_id)) %>
                  <%= b.check_box(class: "govuk-checkboxes__input", disabled: true, checked: true) %>
                <% else %>
                  <%= b.check_box(class: "govuk-checkboxes__input") %>
                <% end %>
                <%= b.label(class: "govuk-label govuk-checkboxes__label") do %>
                  <p class="govuk-body">
                    <strong>Class <%= b.object.second %></strong>
                    - <%= b.text %>
                  </p>
                <% end %>
              </div>
            <% end %>
          </div>
        </fieldset>
      </div>

      <div class="govuk-button-group">
        <%= form.submit "Add classes", class: "govuk-button" %>
        <%= govuk_button_link_to "Back", planning_application_assessment_policy_areas_parts_path(@planning_application, part: @part), secondary: true %>
      </div>
    <% end %>
  </div>
</div>
