<% content_for :page_title do %>
  Download your site notice - <%= page_title %>
<% end %>

<div class="govuk-!-margin-bottom-7">
  <h1>
    Download site notice
  </h1>

  <h2>
    <span class="govuk-caption-m">Address</span>
    <%= formatted_address(@planning_application) %>
  </h2>

  <h2>
    <span class="govuk-caption-m">Reference number</span>
    <%= @planning_application.reference %>
  </h2>
</div>

<%= stimulus_tag("site-notice", values: {context: @site_notice.pdf_context}) do %>
  <div style="width: 0px; height: 0px; overflow: hidden;" aria-hidden="true">
    <% if @config.logo.present? %>
      <%= tag.img \
            src: data_uri("image/svg+xml", @config.logo),
            style: "height: 120px;",
            data: {site_notice_target: "logo"} %>
    <% end %>
  </div>

  <div style="width: 0px; height: 0px; overflow: hidden;" aria-hidden="true">
    <%= tag.my_map \
          osProxyEndpoint: main_app.applicants_os_proxy_url,
          latitude: @planning_application.latitude,
          longitude: @planning_application.longitude,
          geojsonData: @planning_application.boundary_geojson.to_json,
          staticMode: true, hideResetControl: true,
          style: "width: 550px; height: 400px;",
          data: {site_notice_target: "map"} %>
  </div>

  <%= govuk_button "Download printable PDF", data: {action: "click->site-notice#downloadPdf"} %>
<% end %>
