<% content_for :page_title do %>
  <%= t(".application_settings") %> - <%= t("page_title") %>
<% end %>

<% add_parent_breadcrumb_link "Home", root_path %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <%= render "side_navigation" %>
  </div>
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-l"><%= t(".application_settings") %></h1>

    <h2 class="govuk-heading-m"><%= t(".determination_period") %></h2>
    <%= govuk_summary_list do |summary_list|
          summary_list.with_row do |row|
            row.with_key { t(".pre_app_determination_period") }
            row.with_value { t(".determination_period_including_bank_holidays", count: @application_type_overrides.map(&:determination_period_days).join(" ")) if @application_type_overrides.map(&:determination_period_days).join(" ") }
            row.with_action(text: t(".change"), href: url_for([:edit, :setting, :determination_period]), visually_hidden_text: t(".determination_period"))
          end
        end %>
  </div>
</div>
