<% content_for :page_title do %>
  <%= t(".title") %> - <%= t("page_title") %>
<% end %>

<% add_parent_breadcrumb_link "Home", root_path %>
<% add_parent_breadcrumb_link "Application Types", application_types_path %>

<% content_for :title, t(".title") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= form_with model: @application_type, url: [@application_type, :reporting] do |form| %>
      <%= form.govuk_error_summary(presenter: ErrorPresenter) %>

      <%= form.govuk_collection_check_boxes :reporting_types,
            @application_type.all_reporting_types, :code, :full_description,
            legend: {text: t(".reporting_legend_html", description: @application_type.description)},
            hint: {text: t(".reporting_hint"), size: "l"},
            small: false, class: "govuk-!-column-count-2 govuk-!-margin-top-5" %>

      <%= form.govuk_submit(t(".continue")) do %>
        <%= link_to(t("back"), @application_type, class: "govuk-button govuk-button--secondary") %>
      <% end %>
    <% end %>
  </div>
</div>
