<% content_for :page_title do %>
  Development type - <%= t("page_title") %>
<% end %>

<%= render(
      partial: "shared/assessment_task_breadcrumbs",
      locals: {planning_application: @planning_application}
    ) %>

<% content_for :title, "Check if the proposal is development" %>

<%= render(
      partial: "shared/proposal_header",
      locals: {heading: "Check if the proposal is development"}
    ) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if @planning_application.section_55_development? && @planning_application.planning_application_policy_classes.any? %>
      <%= govuk_warning_text(text: "This application has already been marked as development and has classes added to it. If you now mark it as not development these classes will be removed. Any assessments made for the classes will be lost.") %>
    <% end %>
    <%= render "form" %>
  </div>
</div>
