<% content_for :page_title do %>
  Reporting details - <%= t("page_title") %>
<% end %>

<%= render(
      partial: "shared/assessment_task_breadcrumbs",
      locals: {planning_application: @planning_application}
    ) %>

<% content_for :title, "Choose application type" %>

<%= render(
      partial: "shared/proposal_header",
      locals: {heading: "Choose application type"}
    ) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">What application type would the applicant need to apply for next?</h2>
    <p class="govuk-body"><%= @planning_application.recommended_application_type.description %></p>

    <div class="govuk-button-group">
      <%= govuk_button_link_to "Back", planning_application_assessment_tasks_path(@planning_application), secondary: true %>
      <%= govuk_link_to "Edit application type", edit_planning_application_assessment_recommended_application_type_path(@planning_application), class: "govuk-body" %>
    </div>
  </div>
</div>
