<table class="govuk-table">
  <%= render(
    partial: "shared/policy_classes/table_head",
    locals: { policy_class: policy_class }
  ) %>
  <tbody class="govuk-table__body">
    <%= form.fields_for(:policies) do |policy_form| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <h3 class="govuk-heading-s">
            <%= "#{form.object.section}.#{policy_form.object.section}" %>
          </h3>
          <p class="govuk-body">
            <%= simple_format(policy_form.object.description) %>
          </p>
          <%= render(
            partial: "policy_classes/comment_form",
            locals: {
              planning_application: planning_application,
              policy_class: policy_class,
              policy: policy_form.object,
              comment: policy_form.object.existing_or_new_comment,
              policy_index: policy_form.options[:child_index]
            }
          ) %>
        </td>
        <% Policy.statuses.each_key do |status| %>
          <td class="govuk-table__cell">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios govuk-radios--small">
                    <div class="govuk-radios__item">
                      <%= policy_form.radio_button(
                        :status,
                        status,
                        class: "govuk-radios__input",
                        disabled: planning_application.assessment_complete?
                      ) %>
                      <%= policy_form.label(
                        :status,
                        "&nbsp;".html_safe,
                        class: "govuk-label govuk-radios__label"
                      ) %>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
