<% content_for :page_title do %>
  <%= t(".assess") %> - <%= t("page_title") %>
<% end %>
<% render(
  partial: "shared/assessment_task_breadcrumbs",
  locals: {
    planning_application: planning_application,
    current_page: t(
      ".assess_policy_class",
      part: policy_class.part,
      class: policy_class.section
    )
  }
) %>
<%= render(
  partial: "shared/proposal_header",
  locals: { heading: t(".assess_policy_class", part: policy_class.part, class: policy_class.section) }
) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m govuk-!-padding-bottom-3">
      <%= policy_class.name.upcase_first %>
    </h2>

    <% if policy_class&.review_policy_class&.comment %>
      <div class="govuk-inset-text" id="reviewer_comment">
        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">
          Reviewer comment:
        </p>
        <p class="govuk-body govuk-!-margin-top-1"><%= policy_class.review_policy_class.created_at.to_fs %></p>
        <p class="govuk-body italic"><%= policy_class.review_policy_class.comment %></p>
      </div>
    <% end %>
    <%= button_to(
        t(".remove_class_from"),
        planning_application_policy_class_path(planning_application, policy_class),
        method: :delete,
        data: { confirm: "This action cannot be undone.\nAre you sure you want to remove this class?" },
        class: "govuk-button govuk-button--warning",
        disabled: planning_application.submit_recommendation_complete?
    ) %>
    <p class="govuk-body">
      <%= t(
        ".please_indicate_if",
        part: policy_class.part,
        class: policy_class.section
      ) %>
    <p class="govuk-body">
      <%= link_to(
        t(".open_legislation_in"),
        policy_class.url,
        class: "govuk-link",
        target: "_blank"
      ) %>
    </p>
    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <%= render "shared/accordian_section", heading: "Constraints", content: "shared/constraints" %>
    </div>
  </div>
</div>
