<% content_for :page_title do %>
  Assess - <%= t('page_title') %>
<% end %>

<% add_parent_breadcrumb_link "Home", planning_applications_path %>
<% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>

<% content_for :title, "Assess" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(url: new_planning_application_policy_class_path(@planning_application), method: :get) do |form| %>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-heading-l">
              Select the part to assess
            </h1>
            <p class="govuk-body">
              Select the relevant part. Parts are defined in The Town and Country
              Planning (General Permitted Development) (England) Order 2015
              (GPDO), Schedule 2.
            </p>
            <p class="govuk-body">
              <%= link_to "Open legislation in new window", "https://www.legislation.gov.uk/uksi/2015/596/schedule/2/made", class: "govuk-link", target: "_blank" %>
            </p>
          </legend>
          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <% PolicyClass.all_parts.each do |part_number, part| %>
              <div class="govuk-radios__item">
                <%= form.radio_button :part, part_number, class: "govuk-radios__input" %>
                <%= form.label :part, value: part_number, class: "govuk-label govuk-radios__label" do %>
                  <strong>Part <%= part_number %></strong> - <%= part[:name] %>
                <% end %>
              </div>
            <% end %>
          </div>
        </fieldset>
      </div>

      <div class="govuk-button-group">
        <%= form.submit "Continue", class: "govuk-button" %>
        <%= link_to "Back", @planning_application, class: "govuk-button govuk-button--secondary" %>
      </div>
    <% end %>
  </div>
</div>
