<% content_for :page_title do %>
  <%= t(".review") %> - <%= t("page_title") %>
<% end %>
<% render(
     partial: "shared/review_task_breadcrumbs",
     locals: {
       planning_application: planning_application,
       current_page: t(
         ".review_policy_class",
         part: policy_class.policy_part_number,
         class: policy_class.section
       )
     }
   ) %>
<%= render(
      partial: "shared/proposal_header",
      locals: {heading: t(".review_policy_class", part: policy_class.policy_part_number, class: policy_class.section)}
    ) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m govuk-!-padding-bottom-3">
      <%= policy_class.name.upcase_first %>
    </h2>

    <p>
      <%= t(".complete_the_assessment") %>
    <p>
      <%= govuk_link_to(
            t(".open_legislation_in"),
            policy_class.url,
            new_tab: ""
          ) %>
    </p>
    <%= govuk_accordion do |accordion|
          accordion.with_section(heading_text: "Constraints") do
            render(partial: "shared/constraints")
          end
        end %>
  </div>
</div>
