<%= render(
      partial: "summary",
      locals: {
        planning_application: @planning_application,
        planning_application_policy_class: @planning_application_policy_class,
        policy_class: @planning_application_policy_class.policy_class
      }
    ) %>

<% if @planning_application_policy_class.policy_class.policy_sections.any? %>
  <%= govuk_error_summary(@review) %>
  <%= form_with url: planning_application_review_policy_areas_policy_class_path(@planning_application, @planning_application_policy_class), method: :patch, html: {data: unsaved_changes_data} do |form| %>
    <% @policy_sections.each do |title, policy_sections| %>
      <div class="govuk-summary-card" id="<%= title.parameterize %>">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title"><%= title %></h2>
        </div>

        <div class="govuk-summary-card__content">
          <% policy_sections.each_with_index do |policy_section, index| %>
            <div id="<%= dom_id(policy_section.policy_section) %>">
              <% if index > 0 %>
                <%= govuk_section_break(visible: true, size: "l") %>
              <% end %>

              <h3 class="govuk-!-margin-bottom-1">
                <%= policy_section.full_section %>
              </h3>

              <p><%= policy_section.description %></p>

              <%= form.govuk_text_area "planning_application_policy_sections[#{policy_section.policy_section.id}][comments_attributes][0][text]",
                    label: {text: "Add comment", class: "govuk-label govuk-label--s"},
                    value: policy_section&.last_comment&.text,
                    class: "govuk-textarea govuk-!-margin-bottom-2",
                    rows: 2 %>

              <%= render(
                    partial: "shared/policy_classes/previous_comments",
                    locals: {previous_comments: policy_section.previous_comments}
                  ) %>

              <div class="display-flex">
                <% PlanningApplicationPolicySection.statuses.keys.each do |status| %>
                  <div class="govuk-radios govuk-radios--small">
                    <%= form.govuk_radio_button(
                          "planning_application_policy_sections[#{policy_section.policy_section.id}][status]",
                          status,
                          checked: policy_section.status == status,
                          label: {text: status.humanize},
                          disabled: true,
                          class: "govuk-radios__input"
                        ) %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <fieldset class="govuk-fieldset govuk-!-padding-bottom-5">
      <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
        <%= form.govuk_radio_button(:action, "accepted", label: {text: "Agree"}, name: "review[action]", checked: @planning_application_policy_class.current_review.accepted?) %>
        <%= form.govuk_radio_button(
              :action, "rejected", label: {text: "Return with comments"}, name: "review[action]", checked: @planning_application_policy_class.current_review.rejected?
            ) do %>
          <%= form.govuk_text_area(
                :comment,
                label: {text: "Add a comment"},
                rows: 6,
                name: "review[comment]",
                value: @planning_application_policy_class.current_review.comment
              ) %>
        <% end %>
      </div>
    </fieldset>

    <%= form.govuk_submit "Save and mark as complete", name: "review[review_status]", value: "review_complete" do %>
      <%= form.govuk_submit "Save and come back later", name: "review[review_status]", value: "review_in_progress", secondary: true %>
      <%= govuk_button_link_to(t("back"), planning_application_review_tasks_path(@planning_application), secondary: true) %>
    <% end %>
  <% end %>
<% else %>
  <%= govuk_button_link_to(t("back"), planning_application_review_policy_areas_policy_classes_path(@planning_application), secondary: true) %>
<% end %>
