<%= render(
      partial: "summary",
      locals: {
        planning_application: @planning_application,
        planning_application_policy_class: @planning_application_policy_class,
        policy_class: @planning_application_policy_class.policy_class
      }
    ) %>

<% if @planning_application_policy_class.policy_class.policy_sections.any? %>
  <%= govuk_error_summary(@review) %>

  <%= form_with url: planning_application_review_policy_areas_policy_class_path(@planning_application, @planning_application_policy_class), method: :patch, html: {data: unsaved_changes_data} do |form| %>
    <%= govuk_table(id: "policy-sections") do |table| %>
      <% table.with_head do |head| %>
        <% head.with_row do |row| %>
          <% row.with_cell(text: "Policy reference") %>
          <% PlanningApplicationPolicySection.statuses.keys.each do |status| %>
            <% row.with_cell(text: status.humanize) %>
          <% end %>
        <% end %>
      <% end %>

      <% table.with_body do |body| %>
        <% @planning_application_policy_class.planning_application_policy_sections.each do |pa_policy_section| %>
          <% policy_section = pa_policy_section.policy_section %>
          <% body.with_row(html_attributes: {id: "policy-section-#{policy_section.id}"}) do |row| %>
            <% row.with_cell do %>
              <p><strong><%= @planning_application_policy_class.policy_class.section %>.<%= policy_section.section %></strong></p>
              <%= render(FormattedContentComponent.new(text: pa_policy_section&.description || policy_section.description)) %>

              <%= form.govuk_text_area "planning_application_policy_sections[#{policy_section.id}][comments_attributes][0][text]",
                    label: {text: "Add comment", class: "govuk-label govuk-label--s"},
                    value: pa_policy_section&.last_comment&.text,
                    class: "govuk-textarea govuk-!-margin-bottom-2",
                    rows: 2 %>

              <% if pa_policy_section %>
                <%= render(
                      partial: "shared/policy_classes/previous_comments",
                      locals: {previous_comments: pa_policy_section.previous_comments}
                    ) %>
              <% end %>
            <% end %>
            <% PlanningApplicationPolicySection.statuses.keys.each do |status| %>
              <% row.with_cell do %>
                <div class="govuk-radios govuk-radios--small">
                  <%= form.govuk_radio_button(
                        "planning_application_policy_sections[#{policy_section.id}][status]",
                        status,
                        checked: pa_policy_section.status == status,
                        label: {hidden: true},
                        disabled: true,
                        class: "govuk-radios__input"
                      ) %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <fieldset class="govuk-fieldset govuk-!-padding-bottom-5">
      <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
        <%= form.govuk_radio_button(:action, "accepted", label: {text: "Agree"}, name: "review[action]", checked: @planning_application_policy_class.current_review.accepted?) %>
        <%= form.govuk_radio_button(
              :action, "rejected", label: {text: "Return with comments"}, name: "review[action]", checked: @planning_application_policy_class.current_review.rejected?
            ) do %>
          <%= form.govuk_text_area(
                :comment,
                label: {text: "Add a comment"},
                rows: 6,
                name: "review[comment]",
                value: @planning_application_policy_class.current_review.comment
              ) %>
        <% end %>
      </div>
    </fieldset>

    <%= form.govuk_submit "Save and mark as complete", name: "review[review_status]", value: "review_complete" do %>
      <%= form.govuk_submit "Save and come back later", name: "review[review_status]", value: "review_in_progress", secondary: true %>
      <%= govuk_button_link_to(t("back"), planning_application_review_tasks_path(@planning_application), secondary: true) %>
    <% end %>
  <% end %>
<% else %>
  <%= govuk_button_link_to(t("back"), planning_application_review_policy_areas_policy_classes_path(@planning_application), secondary: true) %>
<% end %>
