<% content_for :page_title do %>
  Review and sign-off - <%= t("page_title") %>
<% end %>

<% add_parent_breadcrumb_link "Home", root_path %>
<% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>
<% add_parent_breadcrumb_link "Review and sign-off", planning_application_review_tasks_path(@planning_application) %>
<% content_for :title, "Review assessment against legislation" %>

<%= render(
      partial: "shared/proposal_header",
      locals: {heading: "Review assessment against legislation"}
    ) %>

<%= render "shared/dates_and_assignment_header" %>

<ul class="app-task-list__items" id="review-policy-classes">
  <% @planning_application.planning_application_policy_classes.order(:policy_class_id).each do |policy_class| %>
    <% next if policy_class.current_review.not_started? || policy_class.current_review.in_progress? %>

    <%= render TaskListItems::Reviewing::Component.new do |c| %>
      <% c.with_link do %>
        <%= render(Reviewing::PlanningApplicationPolicyClass::LinkComponent.new(planning_application_policy_class: policy_class)) %>
      <% end %>

      <% c.with_tag do %>
        <div class="govuk-task-list__status app-task-list__task-tag">
        <%= render(
              StatusTags::ReviewComponent.new(
                review_item: policy_class.current_review,
                updated: policy_class.current_review.updated?
              )
            ) %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</ul>

<%= govuk_button_link_to("Back", planning_application_review_tasks_path(@planning_application), secondary: true) %>
