<%= render(
      partial: "summary",
      locals: {
        planning_application: @planning_application,
        planning_application_policy_class: @planning_application_policy_class,
        policy_class: @planning_application_policy_class.policy_class
      }
    ) %>

  <%= form_with(
        model: [@planning_application, @planning_application_policy_class],
        url: planning_application_review_policy_areas_policy_class_path(@planning_application, @planning_application_policy_class)
      ) do |form| %>
    <fieldset class="govuk-fieldset govuk-!-padding-bottom-5">
      <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
        <%= form.govuk_radio_button(:action, "accepted", label: {text: "Agree"}, disabled: true, checked: @planning_application_policy_class.current_review.accepted?) %>
        <%= form.govuk_radio_button(
              :action, "rejected", label: {text: "Return with comments"}, disabled: true, checked: @planning_application_policy_class.current_review.rejected?
            ) do %>
          <%= form.govuk_text_area(
                :comment,
                label: {text: "Explain to the assessor why this needs reviewing"},
                rows: 6,
                disabled: true,
                value: @planning_application_policy_class.current_review.comment
              ) %>
        <% end %>
      </div>
    </fieldset>
  <% end %>

<div class="govuk-button-group">
  <%= govuk_button_link_to("Back", planning_application_review_policy_areas_policy_classes_path(@planning_application), secondary: true) %>
  <%= govuk_link_to "Edit review of Part #{@planning_application_policy_class.policy_class.policy_part_number}, Class #{@planning_application_policy_class.policy_class.section}", edit_planning_application_review_policy_areas_policy_class_path(@planning_application, @planning_application_policy_class) %>
</div>
