<% accordion.with_section(id: "review-considerations", expanded: current_review.errors.any?) do |section| %>
  <% section.with_heading(text: "Review assessment against policies and guidance") %>

  <% section.with_status do %>
    <%= render(
          StatusTags::ReviewComponent.new(
            review_item: current_review,
            updated: current_review.updated?
          )
        ) %>
  <% end %>

  <% section.with_block do %>
    <% if current_local_authority.planning_policy_and_guidance? %>
      <p class="govuk-body">
        <%= govuk_link_to "Check your local policies and guidance",
              current_local_authority.planning_policy_and_guidance,
              new_tab: true %>
      </p>
    <% end %>

    <% if considerations.any? %>
      <ol class="govuk-list">
        <% considerations.each do |consideration| %>
          <%= content_tag :li, id: dom_id(consideration) do %>
            <div class="govuk-!-margin-bottom-6">
              <span class="govuk-caption-m">Consideration <%= consideration.position %></span>
              <h2 class="govuk-heading-m govuk-!-margin-bottom-3"><%= consideration.policy_area %></h2>

              <div data-controller="summary">
                <div class="bops-summary" data-summary-target="content">
                  <h3 class="govuk-heading-s">
                    Policy
                  </h3>

                  <p class="govuk-body">
                    <%= consideration.policy_references.map(&:code_and_description).join("; ") %>
                  </p>

                  <% if consideration.policy_guidance.present? %>
                    <h3 class="govuk-heading-s">
                      Guidance
                    </h3>
                    <p class="govuk-body">
                      <%= consideration.policy_guidance.map(&:description).join("; ") %>
                    </p>
                  <% end %>

                  <h3 class="govuk-heading-s">
                    Assessment
                  </h3>
                  <%= render(FormattedContentComponent.new(text: consideration.assessment)) %>

                  <h3 class="govuk-heading-s">
                    Conclusion
                  </h3>
                  <%= render(FormattedContentComponent.new(text: consideration.conclusion)) %>
                </div>

                <nav class="nav-links" data-summary-target="navigation">
                  <%= govuk_link_to "Edit to accept", edit_planning_application_review_considerations_item_path(@planning_application, consideration) %>
                </nav>
              </div>
            </div>
          <% end %>
        <% end %>
      </ol>

      <p class="govuk-body-s govuk-!-margin-bottom-0">
        <%= govuk_link_to "Rearrange assessments against policies and guidance", edit_planning_application_review_considerations_path(@planning_application) %>
      </p>
    <% else %>
      <p class="govuk-body">
        There are no assessments against policies and guidance.
      </p>
    <% end %>
  <% end %>

  <% section.with_footer(id: "review-considerations-form") do %>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= form_with model: current_review, scope: "review_considerations",
              url: planning_application_review_considerations_path(@planning_application, anchor: "review-considerations-form") do |form| %>

          <%= form.govuk_radio_buttons_fieldset :action, small: true, legend: nil do %>
            <%= form.govuk_radio_button :action, :accepted, label: {text: "Agree"} %>
            <%= form.govuk_radio_button :action, :rejected, label: {text: "Return with comments"} do %>
              <%= form.govuk_text_area(:comment, rows: 3, label: {text: "Add a comment"}) %>
            <% end %>
          <% end %>

          <%= form.govuk_submit "Save and mark as complete", name: "review_considerations[review_status]", value: "review_complete" %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
