<% content_for :page_title do %>
  Ownership certificate - <%= t('page_title') %>
<% end %>

<%= render(
      partial: "shared/assessment_task_breadcrumbs",
      locals: { planning_application: @planning_application }
    ) %>

<% content_for :title do %>
  Check ownership certificate
<% end %>

<%= render(
  partial: "shared/proposal_header",
  locals: { heading: "Check the ownership certificate" }
) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render "shared/location_map", locals: { geojson: @planning_application.boundary_geojson } %>

    <%= render "relevant_documents_accordion" %>
  </div>

  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-6">
    <table class="govuk-table govuk-!-margin-bottom-6">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Certificate type</th>
          <td class="govuk-table__cell">
            <%= @planning_application.ownership_certificate.present? ? @planning_application.ownership_certificate.certificate_type.upcase : "Not specified" %>
          </td>
        </tr>
        <% if @planning_application.ownership_certificate.present? && @planning_application.ownership_certificate.land_owners.any? %>
          <% @planning_application.ownership_certificate.land_owners.each_with_index do |owner, i| %>
            <div class="govuk-margin-bottom-3">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" style="font-weight: normal;">Owner <%= i + 1 %></th>
                <td class="govuk-table__cell">&nbsp</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Name</th>
                <td class="govuk-table__cell"><%= owner.name %></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Address</th>
                <td class="govuk-table__cell"><%= owner.address %></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Notice given</th>
                <td class="govuk-table__cell"><%= owner.notice_given? ? "Yes" : "No" %></td>
              </tr>
              <% if owner.notice_given? %>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Notice date</th>
                  <td class="govuk-table__cell"><%= owner.notice_given_at&.to_fs(:day_month_year_slashes) %></td>
                </tr>
              <% else %>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Reason no notice given</th>
                  <td class="govuk-table__cell"><%= owner.notice_reason %></td>
                </tr>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="govuk-grid-column-full">
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Activity log</caption>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Completed actions</th>
          <td scope="row" class="govuk-table__header">Status</td>
          <td scope="row" class="govuk-table__header">User</td>
          <td scope="row" class="govuk-table__header">Date</td>
        </tr>
        <% if @planning_application.ownership_certificate.present? && @validation_requests.any? %>
          <% @validation_requests.sort_by(&:created_at).reverse.each do |request| %>
            <% if request.cancel_reason.present? %>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">Request was cancelled</td>
                <td scope="row" class="govuk-table__cell">Cancelled</td>
                <td scope="row" class="govuk-table__cell"><%= request.user.name %></td>
                <td scope="row" class="govuk-table__cell"><%= request.cancelled_at.to_fs(:day_month_year_slashes) %></td>
              </tr>
            <% end %>
            <% if request.approved.nil? %>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">Applicant has not responded</td>
                <td scope="row" class="govuk-table__cell">&nbsp</td>
                <td scope="row" class="govuk-table__cell">&nbsp</td>
                <td scope="row" class="govuk-table__cell">&nbsp</td>
              </tr>
            <% else %>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell"><%= request.approved? ? "Certificate submitted by applicant" : "Request rejected by applicant" %></td>
                <td class="govuk-table__cell"><%= request.approved? ? "Submitted" : "Rejected" %></td>
                <td class="govuk-table__cell">Applicant</td>
                <td class="govuk-table__cell"><%= request.created_at.to_fs(:day_month_year_slashes) %></td>
              </tr>
            <% end %>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">New ownership certificate requested</td>
              <td class="govuk-table__cell">Status</td>
              <td class="govuk-table__cell"><%= request.user.name %></td>
              <td class="govuk-table__cell"><%= request.created_at.to_fs(:day_month_year_slashes) %></td>
            </tr>
          <% end %>
        <% else %>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">No validation requests were made</td>
            <td scope="row" class="govuk-table__cell">&nbsp</td>
            <td scope="row" class="govuk-table__cell">&nbsp</td>
            <td scope="row" class="govuk-table__cell">&nbsp</td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= form_with model: @planning_application,
      url: planning_application_assessment_ownership_certificate_path(@planning_application),
      method: :patch do |form| %>
      <div class="govuk-button-group">
        <%= form.hidden_field :ownership_certificate_valid %>

        <%= form.submit "Save and mark as complete", class: "govuk-button", data: { module: "govuk-button" } %>
        <%= form.submit "Request a new ownership certificate", class: "govuk-button govuk-button--secondary", data: { module: "govuk-button" } %>

        <%= link_to "Back", planning_application_validation_tasks_path(@planning_application), class: "govuk-button govuk-button--secondary" %>
      </div>
    <% end %>
  </div>
</div>
