<% content_for :page_title do %>
  <%= "Letter preview" %> - <%= t("page_title", default: "BOPS Admin") %>
<% end %>

<% add_parent_breadcrumb_link "Home", root_path %>
<% add_parent_breadcrumb_link "GOV.UK Notify settings", edit_notify_path %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Letter preview</h1>

    <section class="govuk-!-margin-bottom-6">
      <p class="govuk-body">
        <%= @personalisation["address_line_1"] %><br>
        <%= @personalisation["address_line_2"] || "" %><br>
        <%= @personalisation["address_line_3"] %><br>
        <%= @personalisation["address_line_4"] || "" %><br>
        <%= @personalisation["address_line_5"] || "" %>
        <% if @personalisation["address_line_6"].present? %>
          <%= @personalisation["address_line_6"] %><br>
        <% end %>
      </p>
    </section>

    <section class="govuk-!-margin-bottom-6">
      <p class="govuk-body">
        <%= @personalisation["heading"] || "Heading" %><br>
      </p>
      <p class="govuk-body">
        <%= @personalisation["message"] || "Message" %><br>
      </p>
    </section>

    <%= back_link %>
  </div>
</div>
