<%= form_with model: [@planning_application, @planning_application.immunity_detail, @planning_application.immunity_detail.current_evidence_review_immunity_detail],
      url: planning_application_review_immunity_detail_path(@planning_application, @planning_application.immunity_detail.current_evidence_review_immunity_detail),
      class: "govuk-!-margin-top-7" do |form| %>
  <%= form.govuk_error_summary %>

  <div class="govuk-form-group <%= form.object.errors.any? ? "govuk-form-group--error" : "" %>">
    <fieldset class="govuk-fieldset">
      <% if form.object.errors.any? %>
        <% form.object.errors.each do |error| %>
          <p id="status-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span><%= error.message %>
          </p>
        <% end %>
      <% end %>

      <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
        <%= form.govuk_radio_button(
              :action,
              "accepted",
              checked: @planning_application.immunity_detail.current_evidence_review_immunity_detail.accepted? && !@planning_application.immunity_detail.current_evidence_review_immunity_detail.reviewed_at.nil?,
              label: {text: "Agree"}
            ) %>
        <%= form.govuk_radio_button(
              :action,
              "rejected",
              checked: @planning_application.immunity_detail.current_evidence_review_immunity_detail.rejected? && !@planning_application.immunity_detail.current_evidence_review_immunity_detail.reviewed_at.nil?,
              label: {text: "Return with comments"}
            ) do %>
          <%= form.govuk_text_area(
                :comment,
                placeholder: @planning_application.immunity_detail.current_evidence_review_immunity_detail.comment,
                label: {
                  text: "Add a comment"
                },
                rows: 6
              ) %>
        <% end %>
      </div>
    </fieldset>
  </div>

  <div class="govuk-button-group">
    <%= form.submit "Save and mark as complete", class: "govuk-button", data: {module: "govuk-button"} %>
  </div>
<% end %>
