<% content_for :title, "Validation requests" %>
<% add_parent_breadcrumb_link "Home", planning_applications_path %>
<% add_parent_breadcrumb_link "Application", validate_form_planning_application_path(@planning_application) %>
<div class="govuk-grid-column-full">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column govuk-!-padding-top-6">
      <% if @planning_application.validation_requests.any? %>
        <table class="govuk-table change-requests">
          <caption class="govuk-table__caption govuk-table__caption--l">Validation requests</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">
                Request
              </th>
              <th scope="col" class="govuk-table__header">
                Sent
              </th>
              <th scope="col" class="govuk-table__header">
                Detail
              </th>
              <th scope="col" class="govuk-table__header">
                Reason
              </th>
              <th scope="col" class="govuk-table__header">
                Status
              </th>
              <th scope="col" class="govuk-table__header">
                Response received
              </th>
              <th scope="col" class="govuk-table__header">
                Response
              </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <% @planning_application.validation_requests.each do |validation_request| %>
              <tr class="govuk-table__row">
                <%= render validation_request %>
                <td class="govuk-table__cell">
                  <% case validation_request.state %>
                  <% when "pending" %>
                    <strong class="govuk-tag govuk-tag--yellow">
                      Not sent
                    </strong>
                  <% when "open" %>
                    <strong class="govuk-tag govuk-tag--<%= display_request_date_state(validation_request) %>">
                      <%= validation_request.days_until_response_due %> days
                    </strong>
                  <% when "closed" %>
                    <strong class="govuk-tag govuk-tag--<%= display_request_status(validation_request) %>">
                      <%= request_state(validation_request) %>
                    </strong>
                  <% end %>
                </td>
                <td class="govuk-table__cell limit-column-width">
                  <%= request_closed_at(validation_request)  %>
                </td>
                <td class="govuk-table__cell limit-column-width">
                  <%= applicant_response(validation_request) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
      <% if @planning_application.invalidated? %>
        <p class="govuk-body">
          Send further requests for this application. Any new requests will be immediately sent.
        </p>
      <% elsif @planning_application.can_invalidate? %>
        <p class="govuk-body">
          Add all required validation requests for this application. Once all requests have been added, you can invalidate the application and notify the applicant that the application is invalid and they can see all validation requests.
        </p>
      <% end %>

      <% if @planning_application.can_invalidate? %>
        <p class="govuk-body">
          <%= link_to "Add new request", new_planning_application_validation_request_path(@planning_application), class: "govuk-button govuk-button--secondary" %>
        </p>

        <p class="govuk-body">
          <strong>
            <%= "The application has not yet been marked as valid or invalid" if @planning_application.not_started? %>
          </strong>
        </p>
      <% end %>
    </div>
    <% if @planning_application.not_started? %>
      <% if @planning_application.errors.any? %>
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
          <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <% @planning_application.errors.full_messages.each do |error| %>
                <li><%= error %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>

      <%= form_with model: @planning_application, url: invalidate_planning_application_path(@planning_application), local:true, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |form| %>
        <p>
          <%= form.submit "Invalidate application", class: "govuk-button", data: { module: "govuk-button"} %> <%= link_to "Back", validate_form_planning_application_path(@planning_application), class: "govuk-button govuk-button--secondary" %>
        </p>
      <% end%>
    <% else%>
      <%= link_to "Back", planning_application_path(@planning_application), class: "govuk-button govuk-button--secondary" %>
    <% end%>
  </div>
</div>
