<% content_for :page_title do %>
  <% if post_validation_requests_index? %>
    Post validation requests - <%= t('page_title') %>
  <% else %>
    Validation requests - <%= t('page_title') %>
  <% end %>
<% end %>

<% content_for :title, post_validation_requests_index? ? "Post-validation requests" : "Validation requests" %>
<% add_parent_breadcrumb_link "Home", root_path %>
<% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>
<% add_parent_breadcrumb_link "Validation tasks", planning_application_validation_tasks_path(@planning_application) unless post_validation_requests_index? %>

<%= render(
  partial: "shared/proposal_header",
  locals: { heading: "Review validation requests"  }
) %>

<%= render "shared/dates_and_assignment_header" if post_validation_requests_index? %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <% if @active_validation_requests.any? %>
      <% if @planning_application.not_started? %>
        <p class="govuk-body">
          The following requests will be sent when the application is invalidated.
        </p>
      <% end %>
      <% if post_validation_requests_index? %>
        <p class="govuk-body"><%= t(".for_redline_and") %></p>
        <p class="govuk-body"><%= t(".for_new_document") %></p>
      <% end %>
      <%= render "validation_requests/table", requests: @active_validation_requests %>

    <% else %>
      <p class="govuk-body">There are no active validation requests.</p>
    <% end %>

    <% if @cancelled_validation_requests.any? %>
      <%= render "validation_requests/cancelled_requests", requests: @cancelled_validation_requests %>
    <% end %>

    <% if @planning_application.not_started? %>
      <p class="govuk-body">
        <strong>
          The application has not been marked as valid or invalid yet.
        </strong>
      </p>
      <p class="govuk-body">
        When all parts of the application have been checked and are correct, mark the application as valid.
      </p>
    <% end %>

    <% if post_validation_requests_index? %>
      <%= link_to "Back", @planning_application, class: "govuk-button" %>
    <% else %>
      <%= link_to "Back", planning_application_validation_tasks_path(@planning_application), class: "govuk-button" %>
    <% end %>
  </div>
</div>
