<% add_parent_breadcrumb_link "Home", planning_applications_path %>
<% add_parent_breadcrumb_link "Application", validate_documents_form_planning_application_path(@planning_application) %>
<% add_parent_breadcrumb_link "Requests for changes", planning_application_validation_requests_path(@planning_application) %>

<% content_for :title, "Send a validation request" %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-padding-top-6">
    <fieldset class="govuk-fieldset">
      <h2 class="govuk-heading-l">
        Send a validation request
      </h2>
      <%= form_with url: planning_application_validation_requests_path, local: true, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |form| %>
        <% if flash["error"].present? %>
          <span id="status-error" class="govuk-error-message">
            <%= flash["error"] %>
          </span>
        <% end %>
        <div class="govuk-form-group <%= flash["error"].present? ? 'govuk-form-group govuk-form-group--error' : '' %>">
          <%= form.govuk_radio_buttons_fieldset(:planning_application, legend: { size: 's', text: '' }) do %>
            <%= form.govuk_radio_button :validation_request, 'description_change', label: { text: 'Request approval to a description change'} %>
            <%= form.govuk_radio_button :validation_request, 'replacement_document', label: { text: 'Request replacement documents' } %>
            <%= form.govuk_radio_button :validation_request, 'create_document', label: { text: 'Request a new document' } %>
            <%= form.govuk_radio_button :validation_request, 'red_line_boundary', label: { text: 'Request approval to a red line boundary change' } %>
          <% end %>
        </div>
      </fieldset>
      <div class="govuk-!-padding-top-4">
        <%= form.submit "Next", class: "govuk-button", data: { module: "govuk-button" } %>
        <%= link_to "Back", planning_application_validation_requests_path(@planning_application), class: "govuk-button govuk-button--secondary" %>
      </div>
    <% end %>
  </div>
</div>
