<%= form_with(
  model: @form,
  url: planning_application_review_assessment_details_path(planning_application),
  method: :put,
  builder: GOVUKDesignSystemFormBuilder::FormBuilder
) do |form| %>
  <%= form.govuk_error_summary(presenter: ErrorPresenter) %>
  <% planning_application.application_type.assessment_details.each_with_index do |assessment_detail, index| %>
    <% unless index == 0 %>
      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">
    <% end %>
    <%= form.govuk_radio_buttons_fieldset(
      "#{assessment_detail}_reviewer_verdict".to_sym,
      legend: { text: t(".#{assessment_detail}") }
    ) do %>
      <%= render(
        StatusTags::Reviewing::AssessmentDetailComponent.new(
          planning_application: planning_application,
          assessment_detail: form.object.send(assessment_detail)
        )
      ) %>
      <% if assessment_detail == "site_description" %>
        <p><%= link_to 'View site on Google Maps', map_link(@planning_application.full_address), target: '_blank', class: "govuk-link" %></p>
      <% end %>
      <% if assessment_detail == "consultation_summary" %>
        <%= render(
          partial: "consultees",
          locals: { consultees: @consultation&.consultees }
        ) %>
        <h3><%= t(".summary_of_consultee") %><h3>
      <% end %>
      <% if assessment_detail == "amenity" || assessment_detail == "publicity_summary" %>
        <% if consultation = @planning_application.consultation %>
          <p>View neighbour responses: <%= neighbour_responses_summary_text(consultation.neighbour_responses_by_summary_tag) %></p>
          <p><%= link_to "View neighbour responses", new_planning_application_consultation_neighbour_response_path(@planning_application) %></p>
        <% else %>
          <p>There is no existing consultation for this planning application.</p>
        <% end %>
      <% end %>
      <% if assessment_detail == "past_applications" %>
        <p class="govuk-body govuk-!-margin-top-2">
          <%= planning_application.past_applications&.additional_information %>
        </p>
      <% end %>
      <%= render(
        FormattedContentComponent.new(
          text: form.object.send("#{assessment_detail}_entry"),
          classname: "govuk-body govuk-!-margin-top-2"
        )
      ) %>
      <%= render(
        Reviewing::AssessmentDetails::PreviousSummariesComponent.new(
          planning_application: planning_application,
          category: assessment_detail
        )
      ) %>
      <%= form.govuk_radio_button(
        "#{assessment_detail}_reviewer_verdict",
        :accepted,
        label: { text: t(".accept") },
        disabled: disabled
      ) %>
      <%= form.govuk_radio_button(
        "#{assessment_detail}_reviewer_verdict",
        :edited_and_accepted,
        label: { text: t(".edit_to_accept") },
        disabled: disabled
      ) do %>
        <%= form.govuk_text_area(
          "#{assessment_detail}_entry".to_sym,
          label: { text: t(".update_#{assessment_detail}") },
          disabled: disabled
        ) %>
      <% end %>
      <%= form.govuk_radio_button(
        "#{assessment_detail}_reviewer_verdict",
        :rejected,
        label: { text: t(".return_to_officer") },
        disabled: disabled
      ) do %>
        <%= form.govuk_text_area(
          "#{assessment_detail}_comment_text".to_sym,
          label: { text: t(".explain_to_the") },
          disabled: disabled
        ) %>
      <% end %>
    <% end %>
  <% end %>
  <% if disabled %>
    <div class="govuk-button-group">
      <%= back_link %>
      <%= link_to(
        t(".edit_review"),
        edit_planning_application_review_assessment_details_path(
          planning_application
        ),
        class: "govuk-link"
      ) %>
    </div>
  <% else %>
    <%= render(partial: "shared/submit_buttons", locals: { form: form }) %>
  <% end %>
<% end %>
