<% content_for :page_title do %>
  Legislation - <%= t("page_title") %>
<% end %>

<%= render "planning_applications/validation/validation_requests/validation_requests_breadcrumbs" %>
<% content_for :title, "Check legislative requirements" %>

<%= render(
      partial: "shared/proposal_header",
      locals: {heading: "Check legislative requirements"}
    ) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      <%= link_to_if(@planning_application.application_type.legislation_link.present?,
            @planning_application.application_type.legislation_title,
            @planning_application.application_type.legislation_link,
            class: govuk_link_classes,
            target: "_blank", rel: :noopener) %>
    </p>

    <% if @planning_application.application_type.legislation_description %>
      <p class="govuk-body"><%= @planning_application.application_type.legislation_description %></p>
    <% end %>

    <%= render(
          AccordionComponent.new(planning_application: @planning_application, sections: ["proposal_details"])
        ) %>

    <%= form_with model: @planning_application, url: planning_application_validation_legislation_path(@planning_application), method: :patch do |form| %>
      <div class="govuk-button-group">
        <%= form.submit "Save and mark as complete", class: "govuk-button", data: {module: "govuk-button"} unless @planning_application.legislation_checked? %>
        <%= govuk_button_link_to "Back", planning_application_validation_tasks_path(@planning_application), secondary: true %>
      </div>
    <% end %>
  </div>
</div>
