<h2><%= title %></h2>
<%= render(
      PlanningApplications::SearchComponent.new(
        panel_type: type,
        search: search,
        tab_route: tab_route,
        pre_application: pre_application?
      )
    ) %>
<% if planning_applications.empty? %>
  <p><%= t(".no_planning_applications") %></p>
<% else %>
  <table class="govuk-table planning-applications-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <% attributes.each do |attribute| %>
          <th scope="col" class="govuk-table__header">
            <% if attribute == :formatted_expiry_date %>
              <%= render(PlanningApplications::SortComponent.new(attribute: pre_application? ? "target_date" : "expiry_date", direction: params[:direction])) %>
            <% else %>
              <%= t(".#{attribute}") %>
            <% end %>
          </th>
        <% end %>
      </tr>
    </thead>

    <tbody class="govuk-table__body">
      <% planning_applications.each do |planning_application| %>
        <%= render(
              PlanningApplications::RowComponent.new(
                planning_application: planning_application,
                attributes: attributes
              )
            ) %>
      <% end %>
    </tbody>
  </table>

  <%= pagination %>
<% end %>
