<% if @planning_application.local_policy&.local_policy_areas&.any? %>
  <table class="govuk-table govuk-!-margin-top-5">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Topic name</th>
      <th scope="col" class="govuk-table__header">Policies consulted</th>
      <th scope="col" class="govuk-table__header">Guidance</th>
      <th scope="col" class="govuk-table__header">Assessment</th>
      <th scope="col" class="govuk-table__header">Actions</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <% @planning_application.local_policy.local_policy_areas.each do |policy_area| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <%= policy_area.area %>
        </td>
        <td class="govuk-table__cell">
          <%= policy_area.policies %>
        </td>
        <td class="govuk-table__cell">
          <%= policy_area.guidance.presence %>
        </td>
        <td class="govuk-table__cell">
          <%= policy_area.assessment %>
        </td>
        <td class="govuk-table__cell">
          <%= link_to "Edit", edit_planning_application_assessment_local_policy_area_path(@planning_application, policy_area) %>
          <%= link_to "Remove", planning_application_assessment_local_policy_area_path(@planning_application, policy_area), method: :delete %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p class="govuk-body govuk-!-margin-top-3">You have not added any considerations</p>
  <%= govuk_link_to "+ Add new consideration", new_planning_application_assessment_local_policy_area_path(@planning_application, @local_policy), class: "govuk-body" %>
<% end %>
