<% content_for :page_title do %>
  Assess against policies and guidance - <%= t("page_title") %>
<% end %>

<%= render(
      partial: "shared/assessment_task_breadcrumbs",
      locals: {planning_application: @planning_application}
    ) %>

<% content_for :title, "Assess against policies and guidance" %>

<%= render(
      partial: "shared/proposal_header",
      locals: {heading: "Assess against policies and guidance"}
    ) %>

<%= render "comment" %>

<%= render "table" %>

<%= govuk_link_to "+ Add new consideration", new_planning_application_assessment_local_policy_area_path(@planning_application), class: "govuk-body" %>

<div class="govuk-button-group govuk-!-margin-top-6">
  <%= form_with(
        model: [@planning_application, @local_policy],
        url: planning_application_assessment_local_policy_path(@planning_application, @local_policy)
      ) do |form| %>
    <%= form.submit(
          t("form_actions.save_and_mark_as_complete"),
          class: "govuk-button",
          data: {module: "govuk-button"},
          disabled: local_assigns.fetch(:disabled, false)
        ) %>
    <%= link_to "Back", planning_application_assessment_tasks_path(@planning_application), class: "govuk-button govuk-button--secondary" %>
  <% end %>
</div>
