<% content_for :page_title do %>
  Assess against policies and guidance - <%= t("page_title") %>
<% end %>

<%= render(
      partial: "shared/assessment_task_breadcrumbs",
      locals: {planning_application: @planning_application}
    ) %>

<% content_for :title, "Assess against policies and guidance" %>

<%= render(
      partial: "shared/proposal_header",
      locals: {heading: "Assess against policies and guidance"}
    ) %>

<%= render partial: "informational_links" %>

<%= render "table" %>

<div class="govuk-button-group govuk-!-margin-top-3">
  <%= govuk_button_link_to "Back", planning_application_assessment_tasks_path(@planning_application), secondary: true %>
</div>
