<%= render "task_header", task: @task, heading: "Upload consultee response" %>

<h2 class="govuk-!-margin-top-7">Add a new response</h2>

<%= form_with(
      model: @consultee_response,
      class: "govuk-!-margin-top-5",
      url: planning_application_consultation_consultee_responses_path(@planning_application, @consultee, task_slug: @task.full_slug),
      method: :post
    ) do |form| %>
  <%= form.govuk_error_summary %>
  <%= form.govuk_text_field :name %>
  <%= form.govuk_text_field :email %>
  <%= form.govuk_date_field :received_at, legend: {text: "Response received on", size: "s", tag: "p"} %>
  <%= form.govuk_radio_buttons_fieldset :summary_tag, legend: {text: "Is the response", size: "m"} do %>
    <% Consultee::Response.all_summary_tags.each do |label, value| %>
      <%= form.govuk_radio_button :summary_tag, value, label: {text: label} %>
    <% end %>
  <% end %>
  <%= form.govuk_text_area :response, hint: {text: "This won't be made public"} %>
  <%= form.govuk_text_area :redacted_response, label: {text: "Redacted response"}, hint: {text: "This will be made public"} %>
  <%= form.govuk_file_field :documents,
        label: {text: "Upload documents"},
        hint: {text: "Add any documents that the consultee sent."},
        multiple: true %>
  <div class="govuk-button-group">
    <%= form.submit(
          "Save response",
          class: "govuk-button govuk-button--primary govuk-!-margin-top-5"
        ) %>
    <%= govuk_button_link_to "Back", @task.url, secondary: true, class: "govuk-!-margin-top-5" %>
  </div>
<% end %>
