<div id="outcome-form">
  <h2>Check pre-application outcome</h2>

  <p>
    This is a suggested outcome based on your assessment. If you'd like to
    change it, you can select the outcome.
  </p>

  <div data-controller="unsaved-changes"
       data-action="beforeunload@window->unsaved-changes#handleBeforeUnload">
    <%= form_with model: @form, url: @form.url, action: :patch,
          data: {unsaved_changes_target: "form", action: "submit->unsaved-changes#handleSubmit"} do |form| %>
    <%= form.govuk_error_summary %>

    <%= return_to_hidden_field %>
    <% outcome = @planning_application.consideration_set.suggested_outcome %>
    <%= form.govuk_radio_buttons_fieldset :summary_tag, legend: {text: "Select pre-application outcome", size: "s"}, small: true do %>
      <% AssessmentDetail.summary_tags.each do |label, value| %>
        <% key = (value == outcome) ? "#{label}_recommended_html" : label %>
        <% label_text = t(".#{key}") %>
        <%= form.govuk_radio_button :summary_tag, value, label: {text: label_text}, checked: value.to_sym == @planning_application.assessment_details.find_or_initialize_by(category: :summary_of_advice).summary_tag&.to_sym %>
      <% end %>
    <% end %>

    <h3>Add summary of advice</h3>

    <%= form.govuk_text_area(:entry, value: @planning_application
              .assessment_details
              .find_or_initialize_by(category: :summary_of_advice)
              .entry, label: {text: t(".label")}, rows: 10) %>
    <%= form.hidden_field(:category, value: @category) %>

      <%= render "task_submit_buttons", form: form %>
    <% end %>
  </div>
</div>
