<%= render "shared/task_header", task: @task %>

<%= govuk_tabs do |tabs| %>
  <% tabs.with_tab(label: "Considerations") do %>
    <h2>Considerations</h2>
    <hr
      class="
        govuk-section-break govuk-section-break--s
        govuk-section-break--visible
      ">

    <div class="govuk-!-margin-bottom-5">
      <% @planning_application.consideration_set.considerations.active.each do |consideration| %>
        <%= bops_status_detail(
              id: "consideration-#{consideration.id}"
            ) do |component| %>
          <% component.with_title { "#{consideration.policy_area}: #{consideration.proposal}" } %>
          <% component.with_body { consideration.policy_references.map(&:code_and_description).join("; ") } %>
          <% component.with_status do %>
            <% case consideration.summary_tag %>
            <% when "needs_changes" %>
              <%= tag.span(t(".needs_changes"), class: "govuk-tag govuk-tag--yellow") %>
            <% when "does_not_comply" %>
              <%= tag.span(t(".does_not_comply"), class: "govuk-tag govuk-tag--red") %>
            <% when "complies" %>
              <%= tag.span(t(".complies"), class: "govuk-tag govuk-tag--green") %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <%= govuk_link_to "View considerations", task_path(slug: "/check-and-assess/assessment-summaries/planning-considerations-and-advice", reference: @planning_application.reference), new_tab: true %>
  <% end %>
<% end %>

<% if @task.not_started? %>
  <%= render "bops_preapps/tasks/check-and-assess/assessment-summaries/summary-of-advice/form" %>
<% else %>
  <% if @planning_application.assessment_details.find_or_initialize_by(category: :summary_of_advice).summary_tag %>
    <% content = I18n.t("summary_advice.#{@planning_application.assessment_details.find_or_initialize_by(category: :summary_of_advice).summary_tag}") %>
    <%= bops_notification_banner(title: "Outcome", **content) %>
  <% end %>
  <p>
    <%= render(FormattedContentComponent.new(text: @planning_application.assessment_details.find_or_initialize_by(category: :summary_of_advice).entry)) %>
  </p>
  <div class="govuk-button-group">
    <% unless @planning_application.determined? %>
      <%= govuk_button_link_to "Edit summary of advice", edit_task_path(slug: @task.full_slug, reference: @planning_application.reference), secondary: true %>
    <% end %>
  </div>
  <%= render "shared/task_submit_form" %>
<% end %>
