<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p>
      The recommended application type is:<br>
      <strong> <%= @application_type.description %>. </strong>
    </p>

    <% unless @requirements.any? %>
      <p>
        Any pre-configured requirements for this application type have been pre-selected.
      </p>
    <% end %>

    <p>
      This section is to select requirements for any subsequent application.
    </p>

    <%= form_with method: :post, url: planning_application_assessment_requirements_path do |form| %>
      <%= govuk_tabs do |tabs| %>
        <% if @requirements.any? %>

          <% current_local_authority.requirements.by_category do |category, requirements| %>
            <% tabs.with_tab(label: t(".categories.#{category}")) do %>
              <% if requirements.empty? %>
                <p>There are no requirements of this type available.</p>
              <% else %>
                <%= form.govuk_check_boxes_fieldset :new_requirement_ids, small: true, legend: nil do %>
                  <% requirements.each do |requirement| %>
                    <% if @requirements.has?(requirement) %>
                      <%= form.govuk_check_box :new_requirement_ids, requirement.id, label: {text: requirement.description}, disabled: true, checked: true %>
                    <% else %>
                      <%= form.govuk_check_box :new_requirement_ids, requirement.id, label: {text: requirement.description}, checked: false %>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>

        <% else %>

          <% current_local_authority.requirements.by_category do |category, requirements| %>
            <% tabs.with_tab(label: t(".categories.#{category}")) do %>
              <% if requirements.empty? %>
                <p>There are no requirements of this type available.</p>
              <% else %>
                <%= form.govuk_check_boxes_fieldset :new_requirement_ids, small: true, legend: nil do %>
                  <% requirements.each do |requirement| %>
                    <% if @application_type.requirements.has?(requirement) %>
                      <%= form.govuk_check_box :new_requirement_ids, requirement.id, label: {text: requirement.description}, checked: true %>
                    <% else %>
                      <%= form.govuk_check_box :new_requirement_ids, requirement.id, label: {text: requirement.description}, checked: false %>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>

        <% end %>
      <% end %>

      <% if @requirements.any? %>
        <%= form.govuk_submit("Add requirements", secondary: true, class: "govuk-!-margin-bottom-2") %>
      <% else %>
        <%= form.govuk_submit("Add requirements") do %>
          <%= govuk_button_link_to t("back"), planning_application_assessment_tasks_path(@planning_application), secondary: true %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
