<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p class="govuk-body">
       The recommended application type is:
        <strong> <%= @planning_application.recommended_application_type.description %>. </strong>
      <% if @application_type_requirements.any? && !@existing_requirements.any? %>
        Any pre-configured requirements for <%= @planning_application.recommended_application_type.description %> have been pre-selected.
      <% end %>
    </p>
    <p class="govuk-body">
      This section is to select requirements for any subsequent application.
    </p>
    <div class="govuk-tabs" data-module="govuk-tabs">
    <%= form_with method: :post, url: planning_application_assessment_requirements_path do |form| %>
      <%= govuk_tabs do |tabs| %>
        <% @categories.each do |category| %>
          <% tabs.with_tab(label: category.humanize) do %>
            <% if @requirements.where(category: category).length > 0 && @application_type_requirements.any? %>
                <div class="govuk-checkboxes govuk-checkboxes--small">
                  <%= form.collection_check_boxes :requirement_ids,
                        @requirements.where(category: category),
                        :id,
                        :description,
                        legend: {text: category.humanize},
                        small: true do |b| %>
                    <div class="govuk-checkboxes__item">
                      <% if @existing_requirements.any? %>
                          <% requirement_added = @existing_requirements.include?(b.object.description) %>
                          <%= b.check_box(class: "govuk-checkboxes__input", checked: requirement_added, disabled: requirement_added) %>
                          <%= b.label(class: "govuk-label govuk-checkboxes__label") do %>
                          <%= b.object.description %>
                        <% end %>
                      <% else %>
                        <% application_type_requirement = @application_type_requirements.include?(b.object.description) %>
                        <%= b.check_box(class: "govuk-checkboxes__input", checked: application_type_requirement) %>
                        <%= b.label(class: "govuk-label govuk-checkboxes__label") do %>
                        <%= b.object.description %>
                      <% end %>
                    <% end %>
                    </div>
                  <% end %>
                </div>
            <% else %>
              <p class="govuk-body">There are no requirements of this type available.</p>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <div class="govuk-!-margin-top-4">
        <% if @existing_requirements.any? %>
          <%= form.govuk_submit("Add requirements", class: "govuk-button--secondary") %>
        <% else %>
          <%= form.govuk_submit("Add requirements") %>
        <% end %>
        <%= govuk_button_link_to t("back"), planning_application_assessment_requirements_path, secondary: true %>
      </div>
    <% end %>
    </div>
  </div>
</div>
