<% content_for :page_title do %>
  Check and add requirements - <%= t("page_title") %>
<% end %>

<%= render "shared/assessment_task_breadcrumbs", planning_application: @planning_application %>

<% content_for :title, "Check and add requirements" %>

<%= render "shared/proposal_header", heading: "Check and add requirements" %>

<% if @requirements.any? %>
  <% @requirements.by_category do |category, requirements| %>
    <%= tag.div(id: "#{category}-card", class: "govuk-summary-card") do %>
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          <%= t(".categories.#{category}") %>
        </h2>
      </div>

      <%= render("table", requirements: requirements) %>
    <% end %>
  <% end %>

  <% unless @planning_application.determined? %>
    <hr>
    <details class="govuk-details govuk-!-margin-top-5">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Add another requirement
        </span>
      </summary>
      <div class="govuk-details__text">
        <%= render("tabs") %>
      </div>
    </details>

    <div class="govuk-button-group">
      <%= govuk_button_link_to "Save and mark as complete", return_to_path %>

      <% if @requirements.any? %>
        <%= govuk_button_link_to t("back"), return_to_path, secondary: true %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <%= render("tabs") %>
<% end %>
