<% content_for :page_title do %>
  Check and add requirements - <%= t("page_title") %>
<% end %>

<%= render(
      partial: "shared/assessment_task_breadcrumbs",
      locals: {planning_application: @planning_application}
    ) %>

<% content_for :title, "Check and add requirements" %>

<%= render(
      partial: "shared/proposal_header",
      locals: {heading: "Check and add requirements"}
    ) %>

<% if @planning_application.requirements.length > 0 %>
  <% @categories.each do |category| %>
    <div id="<%= category %>-card" class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          <%= category.humanize %>
        </h2>
      </div>
          <%= render("table", requirements: @planning_application.requirements.where(category: category)) %>
    </div>
  <% end %>
  <% unless @planning_application.determined? %>
    <hr>
    <details class="govuk-details govuk-!-margin-top-5">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Add another requirement
        </span>
      </summary>
      <div class="govuk-details__text">
        <%= render("tabs") %>
      </div>
    </details>
    <div class="govuk-button-group">
      <%= govuk_button_link_to "Save and mark as complete", planning_application_assessment_tasks_path(@planning_application) %>
      <% if @existing_requirements.any? %>
        <%= govuk_button_link_to t("back"), planning_application_assessment_tasks_path(@planning_application), secondary: true %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <%= render("tabs") %>
<% end %>
