<%= render "shared/task_header", task: @task %>

<div class="govuk-grid-row govuk-!-margin-top-6 govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-two-thirds">
    <h2>Add, remove and save constraints</h2>
    <p>
      Check the constraints for this application. Add any constraints that are
      relevant. When all relevant constraints have been added, save and mark as
      complete.
    </p>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-6 govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-full">
    <h2>Identified constraints</h2>

    <p>
      <%= govuk_link_to "View map on Planning Data", planning_data_map_url(@form.planning_application_constraints.flat_map(&:dataset).compact, @planning_application), new_tab: true %>
    </p>

    <%= render(
          partial: "bops_preapps/tasks/check-and-validate/check-application-details/check-constraints/table",
          locals: {
            title: "Identified constraints",
            identifier: "identified",
            planning_application_constraints: @form.planning_application_constraints,
            show_source: true,
            show_entity: true,
            show_action: true
          }
        ) %>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-6 govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-full">
    <details class="govuk-details" <%= "open" if params[:q].present? %>>
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text"> Add constraints </span>
      </summary>
      <div>
        <%= form_with url: main_app.planning_application_validation_constraints_path(@planning_application), method: :get do |form| %>
          <div class="search-form-inputs">
            <%= form.govuk_text_field :q, value: params[:q], style: "width: 30rem;", class: "govuk-input--width-30", label: {text: "Find a constraint", size: "m"}, hint: {text: "Search by name or category"} %>
            <%= form.govuk_submit "Search", class: "govuk-button--secondary" %>
          </div>
        <% end %>

        <%= render(
              partial: "bops_preapps/tasks/check-and-validate/check-application-details/check-constraints/table",
              locals: {
                title: "",
                identifier: "other",
                planning_application_constraints: @form.other_constraints(search_param: params.fetch(:q, "")),
                show_source: false,
                show_entity: false,
                show_action: true
              }
            ) %>
      </div>
    </details>
  </div>
</div>

<%= form_with model: @form, url: @form.url do |form| %>
  <%= render "shared/task_submit_buttons", form: form %>
<% end %>
