<% if comment.present? %>
  <div data-controller="show-hide submit-form">
    <div data-show-hide-target="toggleable" class=<%= "display-none" unless comment.valid? %>>
      <h4 class="govuk-heading-s policy-comment-title">
        <%= existing_policy_comment_label(comment) %>
      </h4>
      <%= simple_format(comment.text, { class:"govuk-body" }) %>
      <%= button_tag(
        t(".edit_comment"),
        class: "button-as-link",
        type: "button",
        data: {
          action: "click->show-hide#handleEvent",
          show_hide_target: "toggleable"
        }
      ) %>
    </div>
    <div data-show-hide-target="toggleable" class=<%= "display-none" if comment.valid? %>>
      <%= form_with(
        model: [planning_application, policy_class, policy, comment],
        builder: GOVUKDesignSystemFormBuilder::FormBuilder,
        data: { action: "submit->submit-form#handleSubmit" }
      ) do |form| %>
        <%= form.govuk_error_summary(presenter: ErrorPresenter) %>
        <%= form.govuk_text_area(
          :text,
          label: {
            text: existing_policy_comment_label(comment),
            tag: "h4",
            size: "s"
          }
        ) %>
        <%= form.submit(
          t(".update"),
          class: "govuk-button govuk-button--secondary"
        ) %>
      <% end %>
    </div>
  </div>
<% end %>
