<% content_for :page_title do %>
  <%= t(".review") %> - <%= t("page_title") %>
<% end %>
<% add_parent_breadcrumb_link(t(".home"), planning_applications_path) %>
<% add_parent_breadcrumb_link(
     t(".application"),
     planning_application_path(@planning_application)
   ) %>
<% content_for(:title, t(".review")) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <%= t(
            ".review_heading",
            part: @policy_class.part,
            class: @policy_class.section
          ) %>
    </h1>
    <h2 class="govuk-heading-m govuk-!-padding-bottom-3">
      <%= @policy_class.name.upcase_first %>
    </h2>
    <%= render "shared/planning_application_address_and_reference" %>
    <p class="govuk-body">
      <%= t(
            ".please_indicate_if",
            part: @policy_class.part,
            class: @policy_class.section
          ) %>
    <p class="govuk-body">
      <%= link_to(
            t(".open_legislation_in"),
            @policy_class.url,
            class: "govuk-link",
            target: "_blank"
          ) %>
    </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= form_with(
          model: [@planning_application, @policy_class],
          url: planning_application_review_policy_class_path(@planning_application, @policy_class),
          html: { data: unsaved_changes_data },
          builder: GOVUKDesignSystemFormBuilder::FormBuilder
        ) do |form| %>
      <%= form.govuk_error_summary %>
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--l">
          <%= t(
                ".table_caption",
                part: @policy_class.part,
                class: @policy_class.section,
                name: @policy_class.name
              ) %>
        </caption>
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-half">
            <%= t(".policy_reference") %>
          </th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter-width">
            <%= t(".complies") %>
          </th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter-width">
            <%= t(".does_not_comply") %>
          </th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter-width">
            <%= t(".to_be_determined") %>
          </th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        <%= form.fields_for(:policies, @policies) do |policy_form| %>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <h3 class="govuk-heading-s">
                <%= "#{form.object.section}.#{policy_form.object.section}" %>
              </h3>
              <p class="govuk-body">
                <%= simple_format(policy_form.object.description) %>
              </p>
                <% comment = policy_form.object.comment.presence %>
                <h4 class="govuk-heading-s policy-comment-title">
                  <%= existing_policy_comment_label(comment) if comment %>
                </h4>
                <p class="govuk-body"><%= simple_format(comment.text) if comment %></p>
            </td>
            <% Policy.statuses.each_key do |status| %>
              <td class="govuk-table__cell">
                <% if policy_form.object.status == status %>
                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                      <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios govuk-radios--small">
                          <div class="govuk-radios__item">
                            <%= policy_form.radio_button(
                                  :status,
                                  status,
                                  class: "govuk-radios__input",
                                  disabled: @planning_application.assessment_complete?
                                ) %>
                            <%= policy_form.label(
                                  :status,
                                  "&nbsp;".html_safe,
                                  class: "govuk-label govuk-radios__label"
                                ) %>
                          </div>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>

      <%= form.govuk_radio_button(
        :policy_class_status, true, checked: @policy_class.status, label: { text: "Accept" }
      ) %>

      <%= form.govuk_radio_button(
            :policy_class_status, false, checked: @policy_class.status, label: { text: "Return to officer with comment" }
          ) do %>
        <%= form.govuk_text_area(
              :removed_reason, rows: 6
            ) %>
      <% end %>

      <div class="govuk-button-group">
        <%= form.submit "Save and mark as complete", class: "govuk-button", data: { module: "govuk-button" } %>
        <%= form.submit "Save and come back later", class: "govuk-button govuk-button--secondary", data: { module: "govuk-button" } %>

        <%= back_link %>
      </div>
    <% end %>
  </div>
</div>
