<% content_for :page_title do %>
  <%= t(".review") %> - <%= t("page_title") %>
<% end %>
<% add_parent_breadcrumb_link(t(".home"), planning_applications_path) %>
<% add_parent_breadcrumb_link(
     t(".application"),
     planning_application_path(@planning_application)
   ) %>
<% content_for(:title, t(".review")) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <%= t(
            ".review_heading",
            part: @policy_class.part,
            class: @policy_class.section
          ) %>
    </h1>
    <h2 class="govuk-heading-m govuk-!-padding-bottom-3">
      <%= @policy_class.name.upcase_first %>
    </h2>
    <%= render "shared/planning_application_address_and_reference" %>
    <p class="govuk-body">
      <%= t(
            ".please_indicate_if",
            part: @policy_class.part,
            class: @policy_class.section
          ) %>
    <p class="govuk-body">
      <%= link_to(
            t(".open_legislation_in"),
            @policy_class.url,
            class: "govuk-link",
            target: "_blank"
          ) %>
    </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= form_with(
        model: [@planning_application, @policy_class],
        url: planning_application_review_policy_class_path(@planning_application, @policy_class),
        html: { data: unsaved_changes_data },
        builder: GOVUKDesignSystemFormBuilder::FormBuilder
      ) do |form| %>
      <%= form.fields_for :review_policy_class, @policy_class.review_policy_class do |review_form| %>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <%= review_form.radio_button :mark, true, class: "govuk-radios__input", "aria-controls": "conditional-mark-#{@policy_class.review_policy_class.mark}-conditional", "aria-expanded": "false", disabled: true, checked: "checked" %>
                <%= review_form.label :show, @policy_class.review_policy_class.mark.humanize , class: "govuk-label govuk-radios__label", for: "show" %>
              </div>
              </div>
            </div>
          </fieldset>
        </div>
      <% end %>
    <% end %>

    <div class="govuk-button-group">
      <%= back_link %>
      <%= link_to(
            "Edit review of Part #{@policy_class.part}, Class #{@policy_class.section}",
            edit_planning_application_review_policy_class_path(@policy_class.planning_application, @policy_class),
            class: "govuk-link"
          ) %>
    </div>
  </div>
</div>
