<head>
  <meta charset="utf-8"/>
  <title><%= content_for?(:page_title) ? yield(:page_title) : t("page_title") %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="theme-color" content="blue"/>

  <%= favicon_link_tag("b-favicon.ico") %>
  <%= favicon_link_tag("b-apple-touch-icon.png", rel: "apple-touch-icon", type: "image/png") %>
  <%= favicon_link_tag("b-mask-icon.svg", rel: "mask-icon") %>
  <link rel="stylesheet" href="https://use.typekit.net/zmv8alo.css">

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <% if feedback_fish_id = Rails.configuration.feedback_fish_id %>
    <%= tag.script(src: "https://feedback.fish/ff.js?pid=#{feedback_fish_id}", defer: "defer", nonce: request.content_security_policy_nonce) %>
  <% end %>

  <% if gtmid = Rails.configuration.google_tag_manager_id %>
    <!-- Google Tag Manager -->
    <%= javascript_tag nonce: true do %>
      (function(w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          'gtm.start': new Date().getTime(),
          event: 'gtm.js'
        });

        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s),
            dl = l != 'dataLayer' ? '&l=' + l : '';

        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', '<%= gtmid %>');
    <% end %>
    <!-- End Google Tag Manager -->
  <% end %>

  <meta property="og:image" content="&lt;YOUR-DOMAIN&gt;/images/govuk-opengraph-image.png">
</head>
