<header class="govuk-header" role="banner" data-module="govuk-header">
  <div class="govuk-header__container">
    <div class="govuk-width-container">
      <%= link_to(
            home_path,
            class: "govuk-header__link govuk-header__link--homepage"
          ) do %>
        <% if current_local_authority %>
          <span class="govuk-header__service-name">
            <%= current_local_authority.short_name %>
          </span>
          <span class="govuk-header__product-name">
            <%= t(".back_office_planning") %>
          </span>
        <% else %>
          <span class="govuk-header__service-name">
            <%= t(".back_office_planning") %>
          </span>
        <% end %>
      <% end %>
      <% if current_user.present? %>
        <div class="header-session-info">
         <div class="govuk-header__navigation-item">
           <strong><%= current_user.name %></strong>
         </div>
          <div class="govuk-header__navigation-item">
            <%= link_to(
                  t(".log_out"),
                  main_app.destroy_user_session_path,
                  method: :delete,
                  class: "govuk-header__link",
                  rel: "nofollow"
                ) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</header>

<% if nav_items.any? %>
  <%= govuk_service_navigation do |nav| %>
    <% nav_items.each { |item| nav.with_navigation_item(**item) } %>
  <% end %>
<% end %>
