<head>
  <meta charset="utf-8"/>
  <title><%= content_for?(:page_title) ? yield(:page_title) : t("page_title") %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="theme-color" content="blue"/>

  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

  <%= favicon_link_tag(asset_pack_url("media/images/b-favicon.ico")) %>
  <%= favicon_link_tag(
    asset_pack_url("media/images/b-apple-touch-icon.png"),
    rel: "apple-touch-icon",
    type: "image/png"
  ) %>
  <%= favicon_link_tag(
    asset_pack_url("media/images/b-mask-icon.svg"),
    rel: "mask-icon"
  ) %>
  <link rel="stylesheet" href="https://use.typekit.net/zmv8alo.css">
  <script>L_DISABLE_3D = true;</script>
  <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload', media: 'all' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <meta property="og:image" content="&lt;YOUR-DOMAIN&gt;/images/govuk-opengraph-image.png">
</head>
