<h1 class="govuk-heading-l">2. Assessment</h1>
<ul class="app-task-list__items" id="assess-section">
  <li class="app-task-list__item">
    <span class="app-task-list__task-name">
      <%= link_to_if(@planning_application.validated?, "Review non-validation requests", post_validation_requests_planning_application_validation_requests_path(@planning_application), class: "govuk-link") %>
    </span>
  </li>
  <li class="app-task-list__item">
    <span class="app-task-list__task-name">
      <%= link_to_if(
        @planning_application.can_assess?,
        t(".assess_recommendation"),
        new_planning_application_recommendation_path(@planning_application),
        class: "govuk-link"
      ) %>
    </span>
    <%= render(
      AssessRecommendationStatusTagComponent.new(
        planning_application: @planning_application
      )
    ) %>
  </li>
  <li class="app-task-list__item">
    <span class="app-task-list__task-name">
      <%= link_to_if(
        @planning_application.validated?,
        t(".check_and_assess"),
        planning_application_assessment_tasks_path(@planning_application),
        class: "govuk-link"
      ) %>
    </span>
    <%= render(
      CheckAndAssessStatusTagComponent.new(
        planning_application: @planning_application
      )
    ) %>
  </li>
  <li class="app-task-list__item">
    <span class="app-task-list__task-name">
      <% if @planning_application.can_submit_recommendation? %>
        <%= link_to "Submit recommendation", submit_recommendation_planning_application_path(@planning_application), aria: { describedby: "submit_recommendation-completed" }, class: "govuk-link" %>
      <% else %>
        Submit recommendation
      <% end %>
    </span>
    <%= render(
      SubmitRecommendationStatusTagComponent.new(
        planning_application: @planning_application
      )
    ) %>
  </li>
</ul>
