<h1 class="govuk-heading-l">Assessment</h1>
<ul class="app-task-list__items" id="assess-section">
  <li class="app-task-list__item">
    <span class="app-task-list__task-name">
      <%= link_to_if(@planning_application.validated?, "Review non-validation requests", post_validation_requests_planning_application_validation_requests_path(@planning_application), class: "govuk-link") %>
    </span>
  </li>
  <li class="app-task-list__item">
    <span class="app-task-list__task-name">
      <% if @planning_application.can_assess? %>
        <%= link_to "Assess proposal", recommendation_form_planning_application_path(@planning_application), aria: { describedby: "assessment-completed" }, class: "govuk-link" %>
      <% else %>
        Assess proposal
      <% end %>
    </span>
    <% if @planning_application.assessment_complete? %>
      <%= tag.strong "Completed", id: "validation-completed", class: "govuk-tag app-task-list__task-tag" %>
    <% elsif @planning_application.assessment_in_progress? %>
      <%= tag.strong "In progress", id: "assessment-in-progress", class: "govuk-tag app-task-list__task-tag" %>
    <% end %>
  </li>
  <li class="app-task-list__item">
    <span class="app-task-list__task-name">
      <% if @planning_application.can_submit_recommendation? %>
        <%= link_to "Submit recommendation", submit_recommendation_planning_application_path(@planning_application), aria: { describedby: "submit_recommendation-completed" }, class: "govuk-link" %>
      <% else %>
        Submit recommendation
      <% end %>
    </span>
    <% if @planning_application.submit_recommendation_complete? %>
      <%= tag.strong "Completed", id: "submit_recommendation-completed", class: "govuk-tag app-task-list__task-tag" %>
    <% end %>
  </li>
</ul>
