<div id="review-section">
  <h1 class="govuk-heading-l">3. Review</h1>
  <ul class="app-task-list__items">
    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
        <% if @planning_application.can_review_assessment? && current_user.reviewer? %>
          <%= link_to "Review assessment", edit_planning_application_recommendations_path(@planning_application), aria: { describedby: "review_assessment-completed" }, class: "govuk-link" %>
        <% elsif @planning_application.awaiting_determination? && !current_user.reviewer? %>
          <%= link_to "View recommendation", view_recommendation_planning_application_path(@planning_application), aria: { describedby: "review_assessment-completed" }, class: "govuk-link" %>
        <% else %>
          Review assessment
        <% end %>
      </span>
      <% if @planning_application.recommendation_review_complete? %>
        <%= complete_tag %>
      <% elsif current_user.reviewer? && @planning_application.recommendation_review_in_progress? %>
        <%= in_progress_tag %>
      <% elsif current_user.reviewer? && @planning_application.awaiting_determination? %>
        <%= not_started_tag %>
      <% elsif current_user.assessor? && @planning_application.awaiting_determination? %>
        <%= tag.strong(
          t(".awaiting_determination"),
          class: "govuk-tag app-task-list__task-tag"
        ) %>
      <% end %>
    </li>
    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
        <% if @planning_application.can_publish? && current_user.reviewer? %>
          <%= link_to "Publish determination", publish_planning_application_path(@planning_application), aria: { describedby: "publish-completed" }, class: "govuk-link" %>
        <% else %>
          Publish determination
        <% end %>
      </span>
      <% if @planning_application.publish_complete? %>
        <%= complete_tag %>
      <% elsif @planning_application.can_publish? && current_user.assessor? %>
        <%= tag.strong "Waiting", id: "review_assessment-waiting", class: "govuk-tag app-task-list__task-tag" %>
      <% end %>
    </li>
  </ul>
</div>
