<div id="review-section">
  <h2 class="govuk-heading-m application-step-heading">Review</h2>
  <ul class="app-task-list__items">
    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
        <% if current_user.reviewer? %>
          <% if @planning_application.awaiting_determination? %>
            <%= link_to "Review and sign-off", planning_application_review_tasks_path(@planning_application), aria: { describedby: "review_assessment-completed" }, class: "govuk-link" %>
          <% else %>
            Review and sign-off
          <% end %>
        <% else %>
          <% if @planning_application.awaiting_determination? %>
            <%= link_to "View recommendation", view_recommendation_planning_application_path(@planning_application), aria: { describedby: "review_assessment-completed" }, class: "govuk-link" %>
          <% else %>
            View recommendation
          <% end %>
        <% end %>
      </span>
      <%= render(
        StatusTags::Review::RecommendationComponent.new(
          planning_application: @planning_application,
          user: current_user
        )
      )%>
    </li>
    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
        <% if @planning_application.can_publish? && current_user.reviewer? %>
          <%= link_to "Publish determination", publish_planning_application_path(@planning_application), aria: { describedby: "publish-completed" }, class: "govuk-link" %>
        <% else %>
          Publish determination
        <% end %>
      </span>
      <%= render(
        StatusTags::PublishDeterminationComponent.new(
          planning_application: @planning_application,
          user: current_user
        )
      ) %>
    </li>
  </ul>
</div>
