<div id="review-section">
  <h1 class="govuk-heading-l">3. Review</h1>
  <ul class="app-task-list__items">
    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
        <% if @planning_application.can_review_assessment? && current_user.reviewer? %>
          <%= link_to "Review assessment", edit_planning_application_recommendations_path(@planning_application), aria: { describedby: "review_assessment-completed" }, class: "govuk-link" %>
        <% elsif @planning_application.awaiting_determination? && !current_user.reviewer? %>
          <%= link_to "View recommendation", view_recommendation_planning_application_path(@planning_application), aria: { describedby: "review_assessment-completed" }, class: "govuk-link" %>
        <% else %>
          Review assessment
        <% end %>
      </span>
      <% if @planning_application.review_assessment_complete? %>
        <%= tag.strong "Completed", id: "review_assessment-completed", class: "govuk-tag app-task-list__task-tag" %>
      <% elsif @planning_application.awaiting_determination? && current_user.assessor? %>
        <%= tag.strong "Awaiting determination", id: "review_assessment-waiting", class: "govuk-tag app-task-list__task-tag govuk-tag--grey" %>
      <% end %>
    </li>
    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
        <% if @planning_application.can_publish? && current_user.reviewer? %>
          <%= link_to "Publish determination", publish_planning_application_path(@planning_application), aria: { describedby: "publish-completed" }, class: "govuk-link" %>
        <% else %>
          Publish determination
        <% end %>
      </span>
      <% if @planning_application.publish_complete? %>
        <%= tag.strong "Completed", id: "publish-completed", class: "govuk-tag app-task-list__task-tag" %>
      <% elsif @planning_application.can_publish? && current_user.assessor? %>
        <%= tag.strong "Waiting", id: "review_assessment-waiting", class: "govuk-tag app-task-list__task-tag" %>
      <% end %>
    </li>
  </ul>
</div>
