<% content_for :page_title do %>
  Create a description of the site &mdash;
  <%= t("page_title") %>
<% end %>

<h1>Create a description of the site</h1>

<%= render "shared/proposal_header" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p>
      <%= govuk_link_to t(".view_site_on_map"), map_link(@planning_application.full_address), new_tab: true %>
    </p>

    <%= form_with model: @task, url: task_path(@planning_application, @task), action: :patch do |form| %>
      <%= form.govuk_error_summary %>

      <%= form.govuk_text_area(:entry, rows: 10,
            value: @planning_application.assessment_details.where(category: :site_description)&.last&.entry,
            label: {text: t(".heading"), tag: "h2", size: "m"}) do %>
        <% if @planning_application.publishable? %>
          <%= govuk_warning_text(text: t(".warning")) %>
        <% end %>

        <%= render(ReviewerCommentComponent.new(comment: @rejected_assessment_detail&.comment)) %>

        <p>You can include:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            Describe buildings already on the site
          </li>
          <li>Relationships to neighbouring buildings</li>
          <li>Relevant constraints, such as trees or classified roads</li>
          <li>Main uses of land in the surrounding area</li>
        </ul>
      <% end %>

      <%= form.hidden_field(:category, value: @category) %>

      <%= form.govuk_submit "Save" %>
    <% end %>
  </div>
</div>
