<% if review = @condition_set.current_review %>
  <%= render "comment", review: review %>
<% end %>

<h2 class="govuk-heading-m">Conditions</h2>
<ol class="govuk-list govuk-list--number">
  <% @condition_set.conditions.sorted.each do |condition| %>
    <li>
      <p class="govuk-body govuk-!-margin-bottom-2">
        <% if condition.title? %>
          <span class="govuk-!-font-weight-bold"><%= condition.title %></span><br>
          <%= condition.text %><br>
        <% else %>
          <span class="govuk-!-font-weight-bold"><%= condition.text %></span>
        <% end %>
      </p>
      <p class="govuk-body">
        <%= condition.reason %>
      </p>
    </li>
  <% end %>
</ol>

<div class="govuk-button-group">
  <%= back_link %>
  <%= link_to "Edit conditions", edit_planning_application_assessment_conditions_path(@planning_application, pre_commencement: @condition_set.pre_commencement), class: "govuk-link govuk-body" %>
</div>
