<% if review = @condition_set.current_review %>
  <%= render "comment", review: review %>
<% end %>

<h2 class="govuk-heading-m govuk-!-margin-bottom-0">Conditions</h2>

<ul id="conditions-list" class="govuk-list">
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  <% @conditions.each_with_index do |condition, i| %>
    <%= next unless condition.persisted? %>
    <%= content_tag(:li, id: dom_id(condition), class: "govuk-!-margin-bottom-7") do %>
      <span class="govuk-caption-m">Condition <%= i + 1 %></span>
      <h2 class="govuk-heading-m"><%= condition.title %></h2>

      <p class="govuk-body">
        <strong>Condition</strong><%= render(FormattedContentComponent.new(text: condition.text)) %>
      </p>
      <p class="govuk-body">
        <strong>Reason</strong><%= render(FormattedContentComponent.new(text: condition.reason)) %>
      </p>
    <% end %>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  <% end %>
</ul>

<div class="govuk-button-group">
  <%= back_link %>
  <%= govuk_link_to "Edit conditions", edit_planning_application_assessment_conditions_path(@planning_application) %>
</div>
