<%= render(ReviewerCommentComponent.new(comment: @condition_set.current_review)) %>

<h2 class="govuk-heading-m govuk-!-margin-bottom-0">Conditions</h2>

<ul id="conditions-list" class="govuk-list" data-controller="conditions">
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  <% @conditions.select(&:persisted?).each_with_index do |condition, i| %>
    <%= content_tag(:li, id: dom_id(condition), class: "govuk-!-margin-bottom-7") do %>
      <span class="govuk-caption-m"><%= "#{condition.standard? ? "Suggested condition" : "Condition"}  #{i + 1}" %></span>
      <% unless condition.title.blank? %>
        <h2 class="govuk-heading-m"><%= condition.title %></h2>
      <% end %>

      <div data-controller="show-more-text">
        <p class="govuk-body">
          <strong>Condition</strong>
          <% if condition.text.length > 300 %>
            <div class="truncated-comment">
              <%= render(FormattedContentComponent.new(text: condition.text[0..300] + "…")) %>
            </div>
            <div class="govuk-!-display-none hidden-comment">
              <%= render(FormattedContentComponent.new(text: condition.text)) %>
            </div>
            <a href="#" class="govuk-link show-more" data-action="click->show-more-text#replaceText">View more</a>
          <% else %>
              <%= render(FormattedContentComponent.new(text: condition.text)) %>
          <% end %>
        </p>
      </div>

      <div data-controller="show-more-text">
        <p class="govuk-body">
          <strong>Reason</strong>
          <% if condition.reason.length > 300 %>
            <div class="truncated-comment">
              <%= render(FormattedContentComponent.new(text: condition.reason[0..300] + "…")) %>
            </div>
            <div class="govuk-!-display-none hidden-comment">
              <%= render(FormattedContentComponent.new(text: condition.reason)) %>
            </div>
            <a href="#" class="govuk-link show-more" data-action="click->show-more-text#replaceText">View more</a>
          <% else %>
              <%= render(FormattedContentComponent.new(text: condition.reason)) %>
          <% end %>
        </p>
      </div>

      <%= form_with model: condition,
            url: planning_application_assessment_condition_path(@planning_application, condition),
            scope: :condition,
            method: :delete do |form| %>
        <%= govuk_link_to "Edit", edit_planning_application_assessment_condition_path(@planning_application, condition) %>
        <%= form.button "Remove", class: "button-as-link govuk-link", data: {action: "conditions#confirmDeletion"} %>
      <% end %>
    <% end %>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  <% end %>
</ul>

<%= govuk_details(summary_text: "Add condition") do %>
  <%= render("form") %>
<% end %>

<%= form_with model: @condition_set, url: mark_as_complete_planning_application_assessment_conditions_path(@planning_application) do |form| %>
  <%= form.submit "Save and mark as complete", class: "govuk-button", data: {module: "govuk-button"} %>
  <%= govuk_link_to("Back", planning_application_assessment_tasks_path(@planning_application), class: "govuk-button govuk-button--secondary") %>
<% end %>
