<%= form_with model: @condition,
      url: planning_application_assessment_conditions_path(@planning_application),
      html: {data: {controller: "reset-text"}},
      scope: :condition do |form| %>

    <%= form.govuk_error_summary if @condition.present? %>

  <%= content_tag :div, class: "govuk-!-margin-bottom-5" do %>
    <%= form.hidden_field :id %>
    <%= form.hidden_field :standard, value: false %>
    <%= form.hidden_field :title, value: @condition&.title if @condition&.standard %>
    <%= form.hidden_field :text_source, value: @condition&.text, data: {reset_text_target: "source"} %>
    <%= form.govuk_text_area :text, label: {text: "Enter condition"}, data: {reset_text_target: "destination"} %>
    <%= button_tag "Reset condition", type: "button", class: "govuk-body button-as-link govuk-!-margin-bottom-6", value: "text", data: {action: "click->reset-text#reset"} %>
    <%= form.hidden_field :reason_source, value: @condition&.reason, data: {reset_text_target: "source"} %>
    <%= form.govuk_text_area :reason, label: {text: "Enter a reason for this condition"}, data: {reset_text_target: "destination"} %>
    <%= button_tag "Reset reason", type: "button", class: "govuk-body button-as-link govuk-!-margin-bottom-6", value: "reason", data: {action: "click->reset-text#reset"} %><br>
  <% end %>

  <div class="govuk-button-group">
    <%= form.submit(
          "Add condition to list",
          class: "govuk-button #{"govuk-button--secondary" if local_assigns[:submit_button_is_secondary]}",
          data: {module: "govuk-button"}
        ) %>
    <%= back_link if @condition.present? && @condition.persisted? %>
  </div>
<% end %>
