<%= form_with model: @condition_set,
              class: "govuk-!-margin-top-7",
              url: planning_application_assessment_conditions_path(@planning_application, pre_commencement: @condition_set.pre_commencement),
              html: { data: { controller: "conditions" } },
              method: :patch do |form| %>

  <%= form.govuk_error_summary(presenter: ErrorPresenter) %>
  <% unless @pre_commencement %>
    <div id="standard-conditions">
      <%= form.govuk_check_boxes_fieldset :conditions, multiple: false, legend: { text: "Suggested conditions" } do %>
        <%= form.fields_for :conditions, @conditions.standard do |fields| %>
          <div class="condition">
            <%= fields.hidden_field :_destroy, value: true %>
            <%= fields.govuk_check_box :_destroy, false, multiple: false, label: { text: fields.object.title }, checked: fields.object.checked? do %>
              <%= fields.hidden_field :id %>
              <%= fields.hidden_field :standard, value: true %>
              <%= fields.hidden_field :title, label: { text: "Enter a title" } %>
              <%= fields.govuk_text_area :text, label: { text: "Enter condition" } %>
              <%= fields.govuk_text_area :reason, label: { text: "Enter a reason for this condition" } %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <div class="govuk-!-margin-bottom-7">
    <h2 class="govuk-heading-m"><%= @pre_commencement ? "Add pre-commencement condition" : "Other conditions" %></h2>
    <div id="other-conditions" data-conditions-target="conditions">
      <%= form.fields_for :conditions, (@pre_commencement ? @conditions : @conditions.other) do |fields| %>
        <%= content_tag :div, class: "condition govuk-!-margin-bottom-5", data: { index: fields.index } do %>
          <%= fields.hidden_field :_destroy, value: false %>
          <%= fields.hidden_field :id %>
          <%= fields.hidden_field :standard, value: false %>
          <% if @pre_commencement %>
            <%= fields.govuk_text_field :title, label: { text: "Enter a title" } %>
          <% else %>
            <%= fields.hidden_field :title, value: "" %>
          <% end %>
          <%= fields.govuk_text_area :text, label: { text: "Enter condition" } %>
          <%= fields.govuk_text_area :reason, label: { text: "Enter a reason for this condition" } %>
          <%= link_to "Remove condition", "#", class: "govuk-body govuk-link", data: { action: "click->conditions#removeCondition" } %>
        <% end %>
      <% end %>
    </div>

    <%= link_to "+ Add condition", "#", class: "govuk-body govuk-link", data: { action: "click->conditions#addCondition" } %>
  </div>

  <template id="condition-template" data-conditions-target="template">
    <div class="condition govuk-!-margin-bottom-5">
      <input value="false" autocomplete="off" type="hidden" id="_destroyInput">
      <input value="false" autocomplete="off" type="hidden" id="standardInput">
      <% if @pre_commencement %>
        <input value="true" autocomplete="off" type="hidden" id="condition_set_pre_commencement" name="condition_set[pre_commencement]">
        <div class="govuk-form-group">
          <label class="govuk-label" id="titleLabel">Etner a title</label>
          <input class="govuk-input" rows="5" id="titleInput">
        </div>
      <% else %>
        <input value="" autocomplete="off" type="hidden" id="titleInput">
      <% end %>
      <div class="govuk-form-group">
        <label class="govuk-label" id="textLabel">Enter condition</label>
        <textarea class="govuk-textarea" rows="5" id="textInput"></textarea>
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" id="reasonLabel">Enter a reason for this condition</label>
        <textarea class="govuk-textarea" rows="5" id="reasonInput"></textarea>
      </div>
      <a class="govuk-body govuk-link" href="#">
        Remove condition
      </a>
    </div>
  </template>

  <div class="govuk-button-group">
    <%= form.submit(
          t("form_actions.save_and_mark_as_complete"),
          class: "govuk-button",
          data: { module: "govuk-button" }
        ) %>
    <%= back_link %>
  </div>
<% end %>
