<%= form_with model: @condition,
      url: planning_application_assessment_conditions_path(@planning_application),
      html: {data: {controller: "reset-text"}},
      scope: :condition do |form| %>

    <%= form.govuk_error_summary if @condition.present? %>
    <%= form.hidden_field(:return_to, value: @back_path) %>

  <%= content_tag :div, class: "govuk-!-margin-bottom-5" do %>
    <%= form.hidden_field :id %>
    <%= form.govuk_text_field :title, value: @condition&.title, label: {text: "Enter title"} %>
    <%= form.govuk_text_area :text, label: {text: "Enter condition"}, data: {reset_text_target: "destination"} %>
    <%= form.govuk_text_area :reason, label: {text: "Enter a reason for this condition"}, data: {reset_text_target: "destination"} %>
  <% end %>

  <div class="govuk-button-group">
    <%= form.submit(
          "Add condition to list",
          class: "govuk-button #{"govuk-button--secondary" if local_assigns[:submit_button_is_secondary]}",
          data: {module: "govuk-button"}
        ) %>
    <%= back_link if @condition.present? && @condition.persisted? %>
  </div>
<% end %>
