<%= form_with model: @condition_set,
              class: "govuk-!-margin-top-7",
              url: planning_application_assessment_conditions_path(@planning_application),
              html: { data: { controller: "conditions" } },
              method: :patch do |form| %>

  <%= form.govuk_error_summary(presenter: ErrorPresenter) %>

  <div id="standard-conditions">
    <%= form.govuk_check_boxes_fieldset :conditions, multiple: false, legend: { text: "Suggested conditions" } do %>
      <%= form.fields_for :conditions, @conditions.standard do |fields| %>
        <div class="condition">
          <%= fields.hidden_field :_destroy, value: true %>
          <%= fields.govuk_check_box :_destroy, false, multiple: false, label: { text: fields.object.title }, checked: fields.object.checked? do %>
            <%= fields.hidden_field :id %>
            <%= fields.hidden_field :standard, value: true %>
            <%= fields.hidden_field :title %>
            <%= fields.govuk_text_area :text, label: { text: "Condition", size: "s" } %>
            <%= fields.govuk_text_area :reason, label: { text: "Reason", size: "s" } %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="govuk-!-margin-bottom-7">
    <h2 class="govuk-heading-m">Other conditions</h2>
    <div id="other-conditions" data-conditions-target="conditions">
      <%= form.fields_for :conditions, @conditions.other do |fields| %>
        <%= content_tag :div, class: "condition govuk-!-margin-bottom-5", data: { index: fields.index } do %>
          <%= fields.hidden_field :_destroy, value: false %>
          <%= fields.hidden_field :id %>
          <%= fields.hidden_field :standard, value: false %>
          <%= fields.hidden_field :title, value: "" %>
          <%= fields.govuk_text_area :text, label: { text: "Condition", size: "s" } %>
          <%= fields.govuk_text_area :reason, label: { text: "Reason", size: "s" } %>
          <%= link_to "Remove condition", "#", class: "govuk-body govuk-link", data: { action: "click->conditions#removeCondition" } %>
        <% end %>
      <% end %>
    </div>

    <%= link_to "+ Add condition", "#", class: "govuk-body govuk-link", data: { action: "click->conditions#addCondition" } %>
  </div>

  <template id="condition-template" data-conditions-target="template">
    <div class="condition govuk-!-margin-bottom-5">
      <input value="false" autocomplete="off" type="hidden" id="_destroyInput">
      <input value="false" autocomplete="off" type="hidden" id="standardInput">
      <input value="" autocomplete="off" type="hidden" id="titleInput">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" id="textLabel">Condition</label>
        <textarea class="govuk-textarea" rows="5" id="textInput"></textarea>
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" id="reasonLabel">Reason</label>
        <textarea class="govuk-textarea" rows="5" id="reasonInput"></textarea>
      </div>
      <a class="govuk-body govuk-link" href="#">
        Remove condition
      </a>
    </div>
  </template>

  <div class="govuk-button-group">
    <%= form.submit(
          t("form_actions.save_and_mark_as_complete"),
          class: "govuk-button",
          data: { module: "govuk-button" }
        ) %>
    <%= back_link %>
  </div>
<% end %>
