  <h2 class="govuk-heading-m">Officer request</h2>

  <div class="govuk-inset-text">
    <p class="govuk-body">
      Please read and agree to the following pre-commencement conditions:
    <p>
    <% @conditions.each_with_index do |condition, index| %>
      <% next if condition.current_validation_request.cancelled? %>
      <p class="govuk-body"> 
        <strong>Condition <%= index + 1 %></strong><br>
        <%= condition.title %>
      </p>
    <% end %>
  </div>
</div>

<div class="govuk-grid-column-full">
  <table class="govuk-table govuk-!-margin-bottom-1">
    <caption class="govuk-table__caption govuk-table__caption--m">Applicant response</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-width-one-half">Condition</th>
        <th scope="col" class="govuk-table__header">Applicant comment</th>
        <th scope="col" class="govuk-table__header">Status</th>
        <th scope="col" class="govuk-table__header">Action</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @conditions.each do |condition| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <strong>
              <%= condition.title %>
            </strong><br>
            <div data-controller="show-more-text">
              <span class="truncated-comment">
                <%= simple_format(condition.truncated_comment) %>
              </span>

              <% if response_been_truncated?(condition, (condition.text + condition.reason + "Reason: \n\n")) %>
                <span class="govuk-!-display-none hidden-comment">
                  <%= condition.text[truncated_length(condition)..-1] %><br><br><%= "Reason: #{condition.reason}" %>
                </span>
                <a href="#" class="show-more" data-action="click->show-more-text#handleClick">View more</a>
              <% end %>
            </div>
          </td>
          <td class="govuk-table__cell">
            <%= condition.current_validation_request.approved? ? "No comment" : condition.current_validation_request.rejection_reason %>
          </td>
          <td class="govuk-table__cell">
            <% status = if condition.current_validation_request.cancelled? %>
              <% "cancelled" %>
            <% elsif condition.current_validation_request.approved.nil? %>
              <% "awaiting_response" %>
            <% else %>
              <% if condition.current_validation_request.approved? %>
                <% if condition.current_validation_request.auto_closed? %>
                  <% "auto_approved" %>
                <% else %>
                  <% "approved" %>
                <% end %>
              <% else %>
                <% "rejected" %>
              <% end %>
            <% end %>
            <div style="float: left">
              <%= render(StatusTags::BaseComponent.new(status:)) %>
            </div>
          </td>
          <td class="govuk-table__cell">
            <% if condition.current_validation_request.approved == false %>
              <%= link_to "Update condition", planning_application_assessment_condition_edit_path(@planning_application, condition, pre_commencement: true) %>
            <% elsif condition.current_validation_request.approved.nil? && !condition.current_validation_request.cancelled? %>
              <%= link_to "Cancel", cancel_confirmation_planning_application_validation_validation_request_path(@planning_application, condition.current_validation_request) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "+ Add condition", new_planning_application_assessment_condition_path(@planning_application.id, pre_commencement: true), class: "govuk-body govuk-link" %>

  <p class="govuk-body govuk-!-margin-top-5">
    Updated conditions will be sent to the applicant immediately
  </p>

  <div class="govuk-button-group align-items-center">
    <% if @condition_set.current_review.status != "complete" && @condition_set.latest_active_validation_requests.all?(&:approved?) %>
      <%= form_with model: @condition_set,
              url: planning_application_assessment_conditions_path(@planning_application, pre_commencement: @condition_set.pre_commencement),
              html: { data: { controller: "conditions" } },
              method: :patch do |form| %>
        <%= form.hidden_field :id, value: @condition_set.id %>
        <%= form.submit(
              t("form_actions.save_and_mark_as_complete"),
              class: "govuk-button",
              data: { module: "govuk-button" }
            ) %>
      <% end %>
    <% end %>
    <%= back_link %>
  </div>
</div>
