<% content_for :page_title do %>
  Add <%= "pre-commencement" if @condition_set.pre_commencement? %> conditions - <%= t("page_title") %>
<% end %>

<%= render(
      partial: "shared/assessment_task_breadcrumbs",
      locals: { planning_application: @planning_application }
    ) %>

<% content_for :title, "Add #{"pre-commencement" if @condition_set.pre_commencement?} conditions" %>

<%= render(
      partial: "shared/proposal_header",
      locals: { heading: "Add #{"pre-commencement" if @condition_set.pre_commencement?} conditions" }
    ) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render(
          AccordionComponent.new(
            planning_application: @planning_application,
            sections: %w[constraints considerations]
          )
        ) %>

    <% if @conditions.present? %>
      <% if @condition_set.pre_commencement? %>
        <%= render "conditions_table" %>
      <% else %>
        <%= render "conditions" %>
      <% end %>
    <% else %>
      <%= render "new" %>
    <% end %>
  </div>
</div>
