<% content_for :page_title do %>
  Copy of neighbour letters - <%= t("page_title") %>
<% end %>

<% add_parent_breadcrumb_link "Home", root_path %>
<% add_parent_breadcrumb_link "Application", planning_application_path(@planning_application) %>
<% add_parent_breadcrumb_link "Consultation", planning_application_consultation_path(@planning_application) %>
<% content_for :title, "Copy of neighbour letters" %>

<%= render(
      partial: "shared/proposal_header",
      locals: {heading: "Copy of neighbour letters"}
    ) %>

<h3 class="govuk-heading-s">Letters sent to neighbours</h3>

<p class="govuk-body govuk-!-margin-bottom-6">
  <%= govuk_link_to "Download all as CSV", planning_application_consultation_neighbour_letter_batches_path(@planning_application, format: "csv") %>
</p>

<% if @planning_application.consultation.neighbour_letter_batches.present? %>
  <%= bops_task_accordion(id: "neighbour-letter-batches") do |accordion| %>
    <% accordion.with_heading(text: "Neighbour letters") %>
    <% @planning_application.consultation.neighbour_letter_batches.each_with_index do |batch, i| %>
      <% accordion.with_section(id: "neighbour-letter-#{i + 1}") do |section| %>
        <% section.with_heading(text: "Neighbour letter #{i + 1}") %>
        <% section.with_status do %>
          Date sent: <%= batch.created_at.to_date.to_fs %>
        <% end %>
        <% section.with_footer do %>
          <div class="display-flex" style="justify-content: space-between">
            <p class="govuk-body">
              Response period: <%= @planning_application.consultation.consultee_response_period %> days
            </p>
            <p class="govuk-body" data-controller="pdf">
              <%= govuk_link_to "Download letter", "#",
                    "data-action": "click->pdf#handleClick",
                    "data-pdf-element-selector-param": "#neighbour-letter-#{i + 1} .neighbour-letter-export",
                    "data-pdf-filename-param": "neighbour-letter-#{batch.created_at}.pdf" %>
            </p>
          </div>
          <div class="govuk-!-display-none">
            <div class="neighbour-letter-export">
              <div class="govuk-body govuk-!-text-align-right govuk-!-margin-bottom-6">
                [address]
              </div>
              <div class="govuk-body govuk-!-margin-bottom-6">
                <%= batch.created_at.to_date.to_fs %>
              </div>
              <div class="govuk-body govuk-!-margin-bottom-6">
                <%= markdown batch.text %>
              </div>
            </div>
          </div>
          <%= govuk_table do |table|
                table.with_head do |head|
                  head.with_row do |row|
                    row.with_cell(text: "Address")
                    row.with_cell(text: "Sent by", numeric: true)
                  end
                end

                table.with_body do |body|
                  batch.neighbour_letters.each do |letter|
                    body.with_row do |row|
                      row.with_cell(text: letter.neighbour.address)
                      row.with_cell(text: govuk_tag(text: "post", colour: "orange"), numeric: true)
                    end
                  end
                end
              end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <p class="govuk-body">No letters have yet been sent</p>
<% end %>
