<% content_for :page_title do %>
  <%= t(".manage_policy_references") %> - <%= t("page_title") %>
<% end %>

<% add_parent_breadcrumb_link "Home", root_path %>
<% add_parent_breadcrumb_link "Considerations", policy_areas_path %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <%= render "side_navigation", current: "policy_references" %>
  </div>
  <div class="govuk-grid-column-three-quarters">
    <% content_for :title, t(".manage_policy_references") %>

    <h1 class="govuk-heading-l">
      <%= t(".manage_policy_references") %>
    </h1>

    <%= form_with url: policy_references_path, method: :get do |form| %>
      <%= form.govuk_text_field :q, value: params[:q], width: "two-thirds", label: {text: t(".find_policy_references"), hidden: true} %>
      <%= form.govuk_submit t(".find_policy_references") do %>
        <%= govuk_link_to t(".add_policy_reference"), new_policy_reference_path, no_visited_state: true %>
      <% end %>
    <% end %>

    <%= govuk_table(id: "policy-references") do |table| %>
      <% table.with_head do |head| %>
        <% head.with_row do |row| %>
          <% row.with_cell(text: t(".headings.code")) %>
          <% row.with_cell(text: t(".headings.description")) %>
          <% row.with_cell(text: t(".headings.policy_areas")) %>
          <% row.with_cell(text: t(".headings.actions"), classes: %w[govuk-!-text-align-right]) %>
        <% end %>
      <% end %>

      <% table.with_body do |body| %>
        <% if @policy_references.present? %>
          <% @policy_references.each do |policy_reference| %>
            <% body.with_row do |row| %>
              <% row.with_cell(text: policy_reference.code) %>
              <% row.with_cell do %>
                <% if policy_reference.url? %>
                  <%= govuk_link_to(policy_reference.description, policy_reference.url, no_visited_state: true, no_underline: true, new_tab: "") %>
                <% else %>
                  <%= policy_reference.description %>
                <% end %>
              <% end %>
              <% row.with_cell(text: policy_reference.human_policy_areas) %>
              <% row.with_cell(classes: %w[govuk-!-text-align-right govuk-!-text-wrap-nowrap]) do |cell| %>
                <%= govuk_link_to t(".actions.edit"), edit_policy_reference_path(policy_reference), no_visited_state: true, no_underline: true %>
                <%= govuk_link_to t(".actions.delete"), policy_reference_path(policy_reference), no_visited_state: true, no_underline: true, class: "govuk-!-margin-left-1", method: :delete, data: {confirm: t(".are_you_sure")} %>
              <% end %>
            <% end %>
          <% end %>
        <% else %>
          <% body.with_row do |row| %>
            <% row.with_cell(text: t(".no_policy_references_found"), colspan: 3) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <%= govuk_pagination(pagy: @pagy) if @pagy.pages > 1 %>
  </div>
</div>
