<% content_for :page_title do %>
  <%= t(".add_policy_reference") %> - <%= t("page_title") %>
<% end %>

<% add_parent_breadcrumb_link "Home", root_path %>
<% add_parent_breadcrumb_link "Considerations", policy_areas_path %>
<% add_parent_breadcrumb_link t(".policy_references"), policy_references_path %>

<% content_for :title, t(".add_policy_reference") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <%= render "side_navigation", current: "policy_references" %>
  </div>
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-l">
      <%= t(".add_policy_reference") %>
    </h1>

    <%= form_with model: @policy_reference, url: policy_references_path, scope: :policy_reference do |form| %>
      <%= render "form", form: form %>
    <% end %>
  </div>
</div>
