<div class="govuk-form-group <%= form.object.errors[:file].any? ? 'govuk-form-group--error' : '' %>">
  <% if current_page?(new_planning_application_document_path(@planning_application)) %>
    <%= form.label :file, "Upload a file", class: "govuk-label" %>
  <% else %>
    <%= form.label :file, "Upload a replacement file", class: "govuk-label" %>
  <% end %>

  <% if form.object.errors[:file].any? %>
    <% form.object.errors[:file].each do |error| %>
      <span id="status-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span><%= error %></span>
    <% end %>
  <% end %>

  <%= form.file_field :file, direct_upload: true, class: "govuk-file-upload" %>
</div>
