<div class="govuk-form-group" id="validate-document">
  <% if form.object.errors[:document_validation].any? %>
    <span class="govuk-error-message">
    <span class="govuk-visually-hidden">Error:</span><%= form.object.errors[:document_validation].join(" ") %></span>
  <% end %>

  <%= hidden_field_tag(:validate, "yes") %>

  <%= form.govuk_radio_buttons_fieldset(:validated, legend: { size: 's', text: 'Is the document valid?' }) do %>
    <%= form.govuk_radio_button :validated, 'true', label: { text: 'Yes'} %>
    <%= form.govuk_radio_button :validated, 'false', label: { text: 'No' } %>
  <% end %>
</div>

