<div class="govuk-form-group" data-controller="local-policies">
  <div data-local-policies-array-value="<%= I18n.t("local_policies.custom_areas").to_json %>"></div>

  <%= form_with(model: @local_policy_area,
        url: planning_application_assessment_local_policy_areas_path(@planning_application),
        class: "govuk-!-margin-top-5") do |form| %>
    <%= form.govuk_error_summary %>
    <h3 class="govuk-heading-m">Choose policy area from a list</h3>
    <label class="govuk-label">
      <strong>
        Start typing to choose a policy area from a list
      </strong>
    </label>
    <div id="considerations-container" data-local-policies-target="select" class="govuk-body">
    </div>
    <div class="govuk-label govuk-!-padding-top-3 govuk-!-padding-bottom-3">
      or
    </div>
    <h3 class="govuk-heading-m">Add a custom policy area</h3>
    <%= form.govuk_text_field :area, label: {text: "Add a custom policy area if it does not appear in the list above", size: "s"}, id: "manual-policy-input" %>
    <%= form.govuk_text_field :policies, label: {text: "Which policies are relevant", size: "s"}, hint: {text: "Enter the policy reference"} %>
    <%= form.govuk_radio_buttons_fieldset(:policy, legend: {size: "s", text: "Is there relevant guidance?"}) do %>
      <%= form.govuk_radio_button :policy, "Yes", label: {text: "Yes"}, checked: false do %>
        <%= form.govuk_text_field :guidance, label: {text: "Which guidance? (e.g. the design code)", size: "s"} %>
      <% end %>
      <%= form.govuk_radio_button :policy, "No", label: {text: "No"}, checked: false %>
    <% end %>
    <%= form.govuk_text_area :assessment, label: {text: "Enter your assessment", size: "s"} %>

    <div class="govuk-button-group">
      <%= form.hidden_field :area, value: "", id: "hidden-field" %>
      <%= form.hidden_field :local_policy_id, value: @local_policy.id %>
      <button class="govuk-button govuk-button--primary" data-action="click->local-policies#addArea" type="button">
        Add consideration
      </button>
      <% if @planning_application.local_policy.present? %>
        <%= link_to "Back", edit_planning_application_assessment_local_policy_path(@planning_application, @planning_application.local_policy), class: "govuk-button govuk-button--secondary" %>
      <% else %>
        <%= link_to "Back", new_planning_application_assessment_local_policy_path(@planning_application), class: "govuk-button govuk-button--secondary" %>
      <% end %>
    </div>
  <% end %>
</div>
