<% content_for :page_title do %>
  Assess against policies and guidance - <%= t("page_title") %>
<% end %>

<%= render(
      partial: "shared/assessment_task_breadcrumbs",
      locals: {planning_application: @planning_application}
    ) %>

<% content_for :title, "Consideration: #{@local_policy_area.area}" %>

<%= render(
      partial: "shared/proposal_header",
      locals: {heading: "Consideration: #{@local_policy_area.area}"}
    ) %>

<div class="govuk-!-margin-top-6">
    <h2 class="govuk-heading-m"><%= @local_policy_area.area %></h2>
    <p class="govuk-body"><strong>Policies:</strong> <%= @local_policy_area.policies %></p>
    <% if @local_policy_area.guidance.present? %>
      <p class="govuk-body"><strong>Guidance</strong> <%= @local_policy_area.guidance %></p>
    <% end %>
    <p class="govuk-body"><strong>Assessment:</strong> <%= @local_policy_area.assessment %></p>
</div>

<div class="govuk-button-group">
  <%= link_to "Back", planning_application_assessment_tasks_path(@planning_application), class: "govuk-button govuk-button--secondary" %>
  <%= govuk_link_to "Edit consideration", edit_planning_application_assessment_local_policy_area_path(@planning_application, @local_policy_area), class: "govuk-body" %>
</div>
