<!DOCTYPE html>
<html lang="en" class="govuk-template app-html-class">
  <%= render partial: "/layouts/head" %>

  <body class="govuk-template__body app-body-class" data-test="My value" data-other="report:details">
    <script>
      document.body.className = (
        (document.body.className)
          ? document.body.className + ' js-enabled'
          : 'js-enabled'
      );
    </script>

    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
    <%= render partial: "/layouts/header" %>

    <div class="govuk-width-container app-width-container--wide">
      <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
          <strong class="govuk-tag govuk-phase-banner__content__tag">
            alpha
          </strong>
          <span class="govuk-phase-banner__text">
            This is a new service – your
            <a class="govuk-link" href="#">feedback</a>
            will help us to improve it.
          </span>
        </p>
      </div>

      <main class="govuk-main-wrapper app-main-class" id="main-content" role="main">
        <%= yield %>
      </main>
    </div>
    <%= render partial: "/layouts/footer" %>
    <%= javascript_pack_tag 'govuk', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
