<!DOCTYPE html>
<html lang="en" class="govuk-template app-html-class">
  <%= render "head" %>

  <body class="govuk-template__body js-enabled" data-test="My value" data-other="report:details">
    <script>
      document.body.className = (
        (document.body.className)
          ? document.body.className + ' js-enabled'
          : 'js-enabled'
      );
    </script>

    <% unless @blank_layout == true %>
      <%= link_to "Skip to main content", "#main-content", class: "govuk-skip-link" %>
      <%= render "flashes" unless @disable_flash_header %>
      <%= render(EnvironmentBannerComponent.new(display: @current_local_authority.staging?)) %>
      <%= render "header" %>
    <% end %>

    <div class="govuk-width-container app-width-container--wide">
      <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
          <strong class="govuk-tag govuk-phase-banner__content__tag">
            beta
          </strong>
          <span class="govuk-phase-banner__text">
            This is a new service – your
            <%= mail_to current_local_authority.feedback_email, "feedback", class: "govuk-link" %>
            will help us to improve it.
          </span>
        </p>
      </div>

      <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
        <%= render_navigation unless @blank_layout == true %>
        <%= yield %>
      </main>
    </div>
    <%= javascript_include_tag 'govuk', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
