<!DOCTYPE html>
<html lang="en" class="govuk-template app-html-class">
  <%= render "application/head" %>

  <body class="govuk-template__body app-body-class" data-test="My value" data-other="report:details">
    <%= javascript_tag nonce: true do %>
      document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
    <% end %>

    <% if gtmid = Rails.configuration.google_tag_manager_id  %>
      <!-- Google Tag Manager (noscript) -->
      <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=<%= gtmid %>"
                height="0"
                width="0"
                style="display:none;visibility:hidden">
        </iframe>
      </noscript>
      <!-- End Google Tag Manager (noscript) -->
    <% end %>

    <% unless @blank_layout == true %>
      <%= link_to "Skip to main content", "#main-content", class: "govuk-skip-link", 'data-module': 'govuk-skip-link' %>
      <%= render(EnvironmentBannerComponent.new(display: Bops.env.staging?)) %>
      <%= render "application/header" %>
    <% end %>

    <div class="govuk-width-container app-width-container--wide">
      <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
          <strong class="govuk-tag govuk-phase-banner__content__tag">
            Beta
          </strong>

          <% if Rails.configuration.feedback_fish_id %>
            <span class="govuk-phase-banner__text">
              This is a new service – your
              <a class="govuk-link" href="#"
                data-feedback-fish
                data-feedback-fish-userid="<%= current_user.try(:email) %>"
              >
                feedback
              </a>

              will help us to improve it.
            </span>
          <% end %>
        </p>
      </div>

      <%= render_navigation unless @blank_layout == true %>

      <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing app-main-class" id="main-content" role="main">
        <%= render "application/flash_content" %>
        <%= yield %>
      </main>
    </div>
    <%= javascript_include_tag 'govuk' %>
  </body>
</html>
