<%= render(
      partial: "shared/proposal_header",
      locals: {heading: "Check the digital red line boundary"}
    ) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p>This digital red line boundary was submitted by the applicant.</p>

    <%= render "shared/location_map", locals: {in_accordion: true, record: @planning_application, geojson: @planning_application.boundary_geojson} %><br>

    <%= form_with model: @planning_application, url: validate_planning_application_validation_sitemap_path(@planning_application) do |form| %>
      <%= form.govuk_radio_buttons_fieldset(:valid_red_line_boundary) do %>
        <%= form.govuk_radio_button :valid_red_line_boundary, true, label: {text: "Yes"} %>
        <%= form.govuk_radio_button :valid_red_line_boundary, false, label: {text: "No"} %>
      <% end %>

      <div class="govuk-button-group">
        <%= form.submit "Save and mark as complete", class: "govuk-button", data: {module: "govuk-button"} %>

        <%= govuk_button_link_to "Back", planning_application_validation_tasks_path(@planning_application), secondary: true %>
      </div>
    <% end %>
  </div>
</div>
